﻿@using Garage.Utils
@{
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gems Garage - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />
</head>
<body>
    <div id="cover-spin"></div>
    @RenderSection("header")
    <!--main-->
    <div class="wrapper">
        @RenderSection("sidemenu")
        <!-- Page Content Holder -->
        <div id="content">
            @RenderBody()
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
    <div class="modal fade" id="product-view-modal">
    </div>
    <div class="modal fade" id="product-post-modal">
    </div>
    <!-- javaScript libraries -->
    <script src="~/Content/assets/bootstrap/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/popper.min.js"></script>
    <script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/fileinput.min.js"></script>
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/js/js.cookie.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>
    <script>

            $(document).ready(function () {

                $(".product-view-pop").click(function (e) {
                    e.preventDefault();
                    var viewUrl = $(this).attr('data-url');
                    $.get(viewUrl, function (data) {
                        $('#product-view-modal').html(data);
                        $('#product-view-modal').modal('show');
                    });
                });

                $(".product-add-pop").click(function (e) {
                    e.preventDefault();
                    var url = $(this).data('url');
                    $.get(url, function (data) {
                        $('#product-post-modal').html(data);
                        $('#product-post-modal').modal('show');
                    });
                });

                var addedToCart = JSON.parse('@Json.Encode(TempData["AddedToCart"])');

                if (addedToCart) {
                    $.notify({
                            icon: "fa fa-shopping-cart",
                            message: "Product Added to Cart"
                        },
                        {
                            type: "success",
                            placement: {
                                align: 'center'
                            }
                        });
                }


                var addedToWishList = JSON.parse('@Json.Encode(TempData["AddedToWishList"])');

                if (addedToWishList) {
                    $.notify({
                            icon: "fa fa-star",
                            message: "Product Added to Wish List"
                        },
                        {
                            type: "success",
                            placement: {
                                align: 'center'
                        }
                    });
                }

            });

             @if (currentUser!= null && (currentUser.user.NIRole != (int)AppEnumeration.NIUserRole.MSOASSISTANT))
             {
                  @:var endpoint = '@Url.Action("cart-item-count","NILanding")'
             }

        if (endpoint !== undefined && endpoint !== null && endpoint !== '') {
            var url = endpoint;
            $.ajax(url,
            {
                dataType: 'json',
                success: function (data, status, xhr) {   // success callback function 3
                    debugger;
                    var count = 0;
                    if (data.cartItemCount != null && data.cartItemCount != []) {
                        count = data.cartItemCount.length;
                    }
                        $('#cartItemCount').text(count);
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    //Error catch
                }
            });
        }


    </script>
    @RenderSection("footerscript", false)
</body>
</html>