﻿@using Garage.Utils
@using Garage.ViewModels.ShoppingCart
<!--header-->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
       
            $('textarea').each(function () {
                $(this).on('keypress', function (e) {
                    if (e.which === 60 || e.which === 62 || e.which === 59 || e.which === 58 ||
                        e.which === 47 || e.which === 92 || e.which === 46 || e.which === 42 ||
                        e.which === 37 || e.which === 36) {
                        e.preventDefault();
                    }
                });

              
            });
        });
</script>
<div class="header_set">
    @{
        var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
        var isAuthenticated = currentUser == null ? false : true;
    }
    <div class="header_logo">
        @if (isAuthenticated)
        {
            <a href="@Url.Action("HomePage","NILanding")"><img src="~/Content/assets/images/garage_logo.svg"></a>
        }
        else
        {
            <a href="@Url.Action("","")"><img src="~/Content/assets/images/garage_logo.svg"></a>
        }
    </div>
    <div class="account_set">
        <!--Profile-->
        <nav class="navbar navbar-expand-sm">
            <!-- Links -->
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    @using (Html.BeginForm("SearchProducts", "NILanding", FormMethod.Post))
                    {
                        <div class="search">
                            <input type="text" class="searchTerm" name="SearchString" placeholder="Enter keyword">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    }
                </li>
                <li class="nav-item">
                    &nbsp;
                    @*<a class="nav-link click_knowmore" href="#">Know more</a>*@
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="margin-top: -5px;">
                        <img src="~/Content/assets/images/profile_img.svg">
                    </a>
                    @{
                        var adminMenuName = (currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GCOREALM) ? "Administration" : "Approvals";

                    }
                    <input type="hidden" value="@currentUser.user.NIRole.Value" id="hdnrole" />
                    <div class="dropdown-menu in-down">
                        <div class="username">@currentUser.user.FullName</div>

                        @if (currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GCOREALM)
                        {
                            @Html.ActionLink("Approvals", "ApprovalRequest", "NISchoolAdmin", null, new { @class = "dropdown-item" })
                        }
                        else
                        {
                            if (currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GEMSADMINROLE)
                            {
                                @Html.ActionLink("Administration", "ApprovalRequest", "NISchoolAdmin", null, new { @class = "dropdown-item" })
                            }
                            else
                            {
                                @Html.ActionLink(adminMenuName, "ApprovedAsset", "NIProduct", null, new { @class = "dropdown-item" })
                            }
                        }

                        @if ((
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.MSOASSISTANT ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.ACCOUNTS ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.GCOREALM ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.MSO ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.ACCOUNTS ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.HOS ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.SSCFINANCE ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.SSCINTERNALAUDIT ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.CFO ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.SVPTreasury ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GEMSADMINROLE ||
                           currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.PROCUREMENT)
                           && currentUser.user.Role.HasValue && currentUser.user.IsITAccess)
                        {
                            @Html.ActionLink("Switch to IT Asset", "Selection", "NILanding", null, new { @class = "dropdown-item" })
                        }
                        @*@Html.ActionLink("Help", "HelpPage", "NILanding", null, new { @class = "dropdown-item" })*@
                        <a href="/NIAuth/Logout" class="dropdown-item">Sign Out</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>