﻿@using Garage.Utils
@using Garage.Models
@{
    var productTrackList = (List<Garage.Areas.Non_IT.Models.NIProductPostTrack>)ViewBag.ProductTrack;
    var userListMap = (Dictionary<int, Garage.Areas.Non_IT.Models.NIUserRegistration>)ViewBag.UserListMap;
    var trackUserRoles = productTrackList.Select(t => t.UserRole).ToList();
    var product = (Garage.Areas.Non_IT.Models.NIProduct)ViewBag.Product;
    var currentUserRole = Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole;
    var publisheduser = (Garage.Areas.Non_IT.Models.NIUserRegistration)ViewBag.PublishedUser;
    var publishedUserRole = publisheduser.NIRole;
    var lastRoleId = productTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().UserRole;
    var currentRoleEnum = ((AppEnumeration.NIUserRole)lastRoleId);
    var currentRole = Enum.IsDefined(typeof(AppEnumeration.NIUserRole), (int)currentRoleEnum) ? EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(currentRoleEnum) : "";
    bool HasShown = false;
}
<style type="text/css">

    .no-drop {
        cursor: no-drop;
    }

    .approver-name-track {
        color: #808080;
    }
</style>
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName
            <div class="right_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="alert alert-primary" id="mail-send-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong id="message">Email has been send Successfully.</strong>
            </div>
            <ul class="timeline">
                @foreach (AppEnumeration.NIUserRole userRoleValue in Enum.GetValues(typeof(AppEnumeration.NIUserRole)))
                {

                    var productTrack = productTrackList.Where(t => t.UserRole == (int)userRoleValue).FirstOrDefault();
                    if (productTrack == null && userRoleValue == AppEnumeration.NIUserRole.MSOASSISTANT)
                    {
                        continue;
                    }
                    if(product.CategoryId == Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["ProcurementCategoryID"].ToString()) && userRoleValue == AppEnumeration.NIUserRole.GCOREALM)
                    {
                        continue;
                    }
                    if (productTrack != null)
                    {

                        var role = EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(userRoleValue);
                        var approvedDate = productTrack.CreatedDate.ToLongDateString();
                        var approvedTime = productTrack.CreatedDate.ToShortTimeString();

                        if (HasShown == false)
                        {
                            if (userRoleValue == AppEnumeration.NIUserRole.MSOASSISTANT || userRoleValue == AppEnumeration.NIUserRole.MSO)
                            {
                                HasShown = true;
                            <li class="track_list track_done">
                                <div class="timeline_title">
                                    POST -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                                </div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                            }
                        }

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                @role.ToUpper() -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@approvedDate</div>
                            <div class="time">@approvedTime</div>


                            @if (!string.IsNullOrEmpty(product.PrincipalNote) && userRoleValue == AppEnumeration.NIUserRole.HOS)
                            {
                                <div> <strong>Remarks : </strong> @product.PrincipalNote</div>
                            }
                            @if (!string.IsNullOrEmpty(product.MsoNote) && userRoleValue == AppEnumeration.NIUserRole.MSO)
                            {
                                <div><strong>Remarks : </strong> @product.MsoNote</div>
                            }
                            @if (!string.IsNullOrEmpty(product.FinanceNote) && userRoleValue == AppEnumeration.NIUserRole.ACCOUNTS)
                            {
                                <div><strong>Remarks : </strong> @product.FinanceNote</div>
                            }
                            @if (!string.IsNullOrEmpty(product.MsoNote) && (userRoleValue == AppEnumeration.NIUserRole.GCOREALM || userRoleValue == AppEnumeration.NIUserRole.PROCUREMENT))
                            {
                                <div><strong>Remarks : </strong> @product.ApprovalRemarks</div>
                            }
                        </li>


                        if (userRoleValue == AppEnumeration.NIUserRole.GCOREALM)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">
                                    PUBLISHED -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                                </div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }
                    }
                    else
                    {
                        var role = EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(userRoleValue);
                        if (userRoleValue == currentRoleEnum)
                        {
                            <li class="track_list track_current">
                                <div class="timeline_title">@role.ToUpper()</div>
                                @if (currentUserRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT)
                                {
                                    var userRoleValueId = (int)userRoleValue;
                                    <a href="#" class="product-approval-mail" id="sendRemainderButton" data-url="@Url.Action("ApprovalMail","NIProduct", new { productId = product.Id, userRole = userRoleValueId})">Send Reminder</a>
                                }
                            </li>
                            if (userRoleValue == AppEnumeration.NIUserRole.GCOREALM || userRoleValue == AppEnumeration.NIUserRole.PROCUREMENT)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">PUBLISHED</div>
                                </li>
                            }
                        }
                        else if (product.CategoryId == Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["ProcurementCategoryID"].ToString()))
                        {
                            <li class="track_list track_next">
                                <div class="timeline_title">@role.ToUpper()</div>
                            </li>
                            if (userRoleValue == AppEnumeration.NIUserRole.PROCUREMENT)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">PUBLISHED</div>
                                </li>

                            }
                        }
                        else
                        {
                            <li class="track_list track_next">
                                <div class="timeline_title">@role.ToUpper()</div>
                            </li>
                            if (userRoleValue == AppEnumeration.NIUserRole.GCOREALM)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">PUBLISHED</div>
                                </li>

                            }
                        }
                    }
                }
            </ul>
            @if (product.Status == (int)AppEnumeration.ProductStatus.Published && publishedUserRole == (int)(AppEnumeration.AdminRole.CorpIT))
            {
                <div>
                    <label class="text-danger">
                        Approved For Disposal : This Asset has been moved to Reuse
                    </label>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(".product-approval-mail").click(function (e) {
            e.preventDefault();
            //prevent click url
            $("#sendRemainderButton").removeClass("product-approval-mail");
            $("#sendRemainderButton").addClass("no-drop");

            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.isSend) {
                    //alert("Email has been sent");
                    $("#sendRemainderButton").addClass("product-approval-mail");
                    $("#sendRemainderButton").removeClass("no-drop");
                    $("#sendRemainderButton").text("Reminder Email Sent");

                    $("#mail-send-alert").hide();
                    $("#mail-send-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#mail-send-alert").slideUp(500);
                    });

                }
                //restore click url
            });
        });

        $("#sendRemainderButton").on("contextmenu", function () {
            return false;
        });

    });
</script>
