﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@using Garage.ViewModels.ShoppingCart
@model Garage.ViewModels.AddToCartForm
@{
    var product = (Garage.Areas.Non_IT.ViewModel.NIProductDetail)ViewBag.productDetail;
    //var productImage = (ProductImage)ViewBag.productImage;
    var isAvailable = false;
    Garage.Areas.Non_IT.ViewModels.ShoppingCart.NIShoppingCart wishList = null;
    if (Session["NIWishList"] != null)
    {
        wishList = (Garage.Areas.Non_IT.ViewModels.ShoppingCart.NIShoppingCart)Session["NIWishList"];
        isAvailable = wishList.CartItems.ContainsKey(Convert.ToInt32(product.Id));
    }
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();

}

<style>
    table.product_details_list td {
        padding: 5px;
        vertical-align: top;
    }

    .fix-carousel-container {
        margin-top: 10px;
    }

    .product_details_list{
        margin-top: 0px !important;
    }
</style>

<!-- The Modal product detail -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName

            <div class="right_header">
                @if (currentUser != null && !currentUser.isNISuperAdmin && currentUser.school.Id != product.SchoolId && (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO))
                {


                    using (Html.BeginForm("AddToWishList", "NIOrder", FormMethod.Post, new { role = "form", id = "AddToWishListForm" }))
                    {
                        @Html.HiddenFor(m => m.ProductId, new { @Value = product.Id })
                    }

                    using (Html.BeginForm("RemoveFromWishList", "NIOrder", FormMethod.Post, new { role = "form", id = "RemoveWishListForm" }))
                    {
                        @Html.HiddenFor(m => m.ProductId, new { @Value = product.Id })
                    }

                    if (isAvailable)
                    {
                        <a class="wish_list" href="#" onclick="document.getElementById('RemoveWishListForm').submit();">Remove from wish list</a>
                    }
                    else
                    {
                        <a class="wish_list" href="#" onclick="document.getElementById('AddToWishListForm').submit();">Move to wish list</a>
                    }

                }
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>


        </div>

        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="row">
                <div class="col-xl-6 col-md-12 fix-carousel-container" id="slider">
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner gallery_height">

                            @foreach (var image in product.imageIdList.Select((id, index) => new { index, id }))
                            {
                                <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                    <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid">
                                </div>
                            }

                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div>
                        <!-- main slider carousel nav controls -->


                        <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                            @foreach (var image in product.imageIdList.Select((id, index) => new { index, id }))
                            {
                                <li class="list-inline-item@(image.index==0?" active":"")">
                                    <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                        <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid_small">
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="col-xl-6 col-md-12">
                    <table class="product_details_list">
                        <tr>
                            <td class="product_lable">Unit Book Value </td>
                            <td>AED @product.UnitValue</td>
                        </tr>

                        @if (currentUser != null && !currentUser.isNISuperAdmin && currentUser.school.Id == product.SchoolId)
                        {
                            <tr>
                                <td class="product_lable">Quantity</td>
                                <td>@product.Quantity</td>
                            </tr>
                        }
                        <tr>
                            <td class="product_lable">In Stock</td>
                            <td>@product.InStock</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Location</td>
                            <td>@product.Location</td>
                        </tr>
                        <tr>
                            <td class="product_lable">City</td>
                            <td>@product.City</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Age / Year</td>
                            <td>
                                @if (product.age != null && product.age.Equals("0", StringComparison.OrdinalIgnoreCase))
                                {
                                    <span>Less than a year</span>
                                }
                                else if (product.age == null)
                                {
                                    <span> </span>
                                }
                                else
                                {
                                    <span>@product.age</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="product_lable">Condition</td>
                            <td>@product.Condition</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Category</td>
                            <td>@product.CategoryId</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Sub Category</td>
                            <td>@product.SubCategoryId</td>
                        </tr>
                        @if (product.PublishedDate.HasValue)
                        {
                            <tr>
                                <td class="product_lable">Published Date</td>
                                <td>@(product.PublishedDate.HasValue ? product.PublishedDate.Value.ToString("dd-MMM-yyyy") : "")</td>
                            </tr>
                        }
                        <tr>
                            <td class="product_lable">Notes</td>
                            <td>@product.Note</td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="description_head">Description / Specification</div>
            <p>@product.Description</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer mytheme_footer">
            @if (currentUser != null && !currentUser.isNISuperAdmin && currentUser.school.Id == product.SchoolId)
            {
                <div class="product_postby">Posted by: @product.UserName</div>
            }
            else
            {
                <div class="product_postby">Posted by: @product.SchoolName</div>
            }


            @if (product.InStock == 0)
            {
                <div class="text-danger text-right">Out of Stock</div>
            }
            else
            {
                if (currentUser != null && !currentUser.isNISuperAdmin && currentUser.school.Id != product.SchoolId && (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO))
                {
                    using (Html.BeginForm("AddToCart", "NIOrder", FormMethod.Post, new { role = "form", id = "AddToCartForm" }))
                    {
                        @Html.HiddenFor(m => m.ProductId, new { @Value = product.Id })
                        <ul class="product_buy">
                            <li>Quantiy Required  @Html.TextBoxFor(m => m.UserQuantity, new { @class = "quantiy_input", type = "number", @Value = product.InStock })</li>
                            <li><button type="submit" class="btn btn-primary">BUY</button></li>
                        </ul>
                    }
                }

            }

        </div>

    </div>
</div>
<script src="~/Scripts/js/jquery.validate.min.js"></script>
<script type="text/javascript">

    var instock = '@product.InStock';
    var maxquantity = Number(instock);
    var instockmsg = "Only " + instock + " available in stock.";

    $("#AddToCartForm").validate({
        ignore: 'input[type=hidden]', // ignore hidden fields
        errorClass: 'text-danger',
        successClass: 'success',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        },
        rules: {
            UserQuantity: {
                min: 1,
                max: maxquantity
            }
        },
        messages: {
            UserQuantity: {
                min:"Please Enter Minmum Quantity",
                max: instockmsg
            }
        }
    });


</script>
