﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@using Garage.ViewModels.ShoppingCart
@model Garage.ViewModels.AddToCartForm
@{
    var product = (Garage.Areas.Non_IT.ViewModel.NIProductDetail)ViewBag.ProductDetail;
    var NIProductInfo = (Garage.Areas.Non_IT.Models.NIProduct)ViewBag.Product;
    var NIProductOrder = (Garage.Areas.Non_IT.Models.NIProductOrder)ViewBag.ProductOrder;


    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();

    var OrderDetail = new Garage.Areas.Non_IT.Models.NIOrderVouchersDetail();
    if (ViewBag.OrderDetail != null)
    {
        OrderDetail = (Garage.Areas.Non_IT.Models.NIOrderVouchersDetail)ViewBag.OrderDetail;
    }
    var PurchaseValue = 0;
    var TotalAccDep = 0;
    var NetBook = 0;
    var TotalNetBook = 0;
    var Realized = 0;
    if (OrderDetail.UnitDepValue.HasValue) {
        PurchaseValue = Decimal.ToInt32(NIProductOrder.Quantity.Value) * Convert.ToInt32(Math.Round(Convert.ToDouble(product.UnitValue)));
        TotalAccDep = Decimal.ToInt32(OrderDetail.UnitDepValue.Value) * Convert.ToInt32(Math.Round(Convert.ToDouble(NIProductOrder.Quantity)));
        NetBook = Convert.ToInt32(Math.Round(Convert.ToDouble(product.OriginalUnitValue))) - Convert.ToInt32(OrderDetail.UnitDepValue);

        TotalNetBook = NetBook * Convert.ToInt32(NIProductOrder.Quantity);
        if (string.IsNullOrEmpty(product.ExpectedRealisable))
        {
            product.ExpectedRealisable = "0";
        }
        Realized = Convert.ToInt32(NIProductOrder.Quantity) * Convert.ToInt32(Math.Round(Convert.ToDouble(product.ExpectedRealisable)));
    }
}
<style>

    table.product_edit_list td {
        padding: 5px;
        vertical-align: top;
    }

    .hide_finance_fields {
        visibility: hidden !important;
    }
</style>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName
            <div class="right_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="row">
                <div class="col-xl-6 col-md-12" id="slider">
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            @foreach (var image in product.imageIdList.Select((id, index) => new { index, id }))
                            {
                                <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                    <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid">
                                </div>
                            }
                            @if (product.imageIdList.Count > 1)
                            {
                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            }

                        </div>
                        <!-- main slider carousel nav controls -->
                        @if (product.imageIdList.Count > 1)
                        {
                            <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                                @foreach (var image in product.imageIdList.Select((id, index) => new { index, id }))
                                {
                                    <li class="list-inline-item@(image.index==0?" active":"")">
                                        <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                            <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid_small">
                                        </a>
                                    </li>
                                }
                            </ul>
                        }

                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <table class="product_edit_list">
                        @*<tr>
                                <td class="product_lable">Unit Price</td>
                                <td>AED  @product.UnitValue</td>
                            </tr>*@
                        @if (!currentUser.isNISuperAdmin)
                        {
                            <tr>
                                <td class="product_lable">In Stock</td>
                                <td>@product.InStock</td>
                            </tr>
                        }
                        @if (currentUser.isNISuperAdmin || currentUser.school.Id == product.SchoolId)
                        {
                            <tr>
                                <td class="product_lable">Quantity</td>
                                <td>@product.Quantity</td>
                            </tr>
                        }
                        <tr>
                            <td class="product_lable">Location</td>
                            <td>@product.Location</td>
                        </tr>
                        <tr>
                            <td class="product_lable">City</td>
                            <td>@product.City</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Age / Year</td>
                            <td>
                                @if (product.age != null && product.age.Equals("0", StringComparison.OrdinalIgnoreCase))
                                {
                                    <span>Less than a year</span>
                                }
                                else if (product.age == null)
                                {
                                    <span> </span>
                                }
                                else
                                {
                                    <span> @product.age Years</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="product_lable">Condition</td>
                            <td>@product.Condition</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Category</td>
                            <td>@product.CategoryId</td>
                        </tr>
                        <tr>
                            <td class="product_lable">Sub Category</td>
                            <td>@product.SubCategoryId</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="description_head">Description / Specification</div>
                    <p>@product.Description</p>
                    @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>*@
                    <div class="description_head">Reason</div>
                    <p>@product.ReasonForSelling</p>
                    @if (!string.IsNullOrEmpty(product.Note))
                    {
                        <div class="description_head">Remark</div>
                        <p>@product.Note</p>
                    }
                    @if (!string.IsNullOrEmpty(product.FinanceNote))
                    {
                        <div class="description_head">Remark (Finance)</div>
                        <p>@product.Product.FinanceNote</p>
                    }
                    @if (!string.IsNullOrEmpty(product.MsoNote))
                    {
                        <div class="description_head">Remark (MSO)</div>
                        <p>@product.Product.MsoNote</p>
                    }
                    @if (!string.IsNullOrEmpty(product.PrinicipalNote))
                    {
                        <div class="description_head">Remark (Principal)</div>
                        <p>@product.Product.PrincipalNote</p>
                    }
                </div>

                <div class="col-xl-12 col-md-12 @((product.UnitValue.Length>0)? "":"hide_finance_fields")">
                    <table class="table_edit_bg">
                        <tr>
                            <td class="product_lable">Date of Purchase</td>
                            <td>
                                @if (product.DateOfPurchase.HasValue)
                                {
                                    <span>@product.DateOfPurchase.Value.ToString("dd-MMM-yyyy")</span>
                                }
                            </td>
                        </tr>
                           
                        <tr>
                            <td class="product_lable">Asset Transferred Quantity</td>
                             

                            <td>  @Decimal.ToInt32(Convert.ToDecimal(NIProductOrder.Quantity.Value))  </td>
                        </tr>
                         


                       
                        <tr>
                            <td class="product_lable">Original Unit Price</td>
                            <td>AED @Decimal.ToInt32(Convert.ToDecimal(product.OriginalUnitValue))  </td>

                            @*<td class="product_lable">Total Purchase Value:</td>
                            <td>AED  @PurchaseValue</td>*@
                        </tr>
                        <tr>
                            <td class="product_lable">Per unit Acc. Dep Value at the time of transfer</td>
                            <td>AED @(OrderDetail.UnitDepValue.HasValue ? OrderDetail.UnitDepValue : 0)</td>

                            @*<td class="product_lable">Total Acc.Dep Value:(Amount at the transfer date)</td>
                            <td>AED @TotalAccDep</td>*@
                        </tr>
                        <tr>
                            <td class="product_lable">Per Unit Net Book Value</td>
                            <td>AED @NetBook</td>
                            </tr><tr>
                                     <td class="product_lable">Total Net Book Value</td>
                            <td>AED @TotalNetBook</td>
                        </tr>
                        @if (NIProductInfo.AssetType == (int)AppEnumeration.AssetType.Dispose)
                        {
                            <tr>
                                <td class="product_lable">Realized Unit Value:(Amount at the Sale/Disposal date)</td>
                                <td>AED @product.ExpectedRealisable</td>
                            </tr>
                            <tr>
                                <td class="product_lable">Realized Unit Value:(Amount at the Sale/Disposal date)</td>
                                <td>AED @Realized</td>
                            </tr>
                        }

                        @*<tr>
            <td class="product_lable">Gross Purchase Value</td>
            <td>AED @product.GrossPurchaseValue</td>
        </tr>*@
                    </table>
                    <br />
                </div>
                @if (OrderDetail != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Voucher Numbers</th>
                                <th scope="col">Details of Transfer/Narration</th>
                                @*<th scope="col">Asset ID at transferring unit:</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@OrderDetail.VouchersNumber</td>
                                <td>@OrderDetail.Narration</td>
                                @*<td>@product.DAXAssestItemTag</td>*@
                            </tr>
                        </tbody>
                    </table>
                }
            </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer mytheme_footer">
            <div class="product_postby">Posted by: @product.UserName / @product.UserRole &#64; @product.Location</div>
            @*<ul class="product_buy">
                    <li>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary">Approve</button>
                    </li>
                </ul>*@
        </div>
    </div>
</div>
