﻿@using Garage.Utils
@{
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
    var approvalMenuName = (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT) ? "Asset Posted" : "Reuse/Disposal Approval";
    var orderMenuName = (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT) ? "Asset Order" : "Order Approval";
}
<nav id="sidebar">

    <div class="toggle_button">
        <div id="sidebarCollapse">
            <img src="~/Content/assets/images/sidebar_menu1.svg" class="expanded_button">
            <img src="~/Content/assets/images/sidebar_menu2.svg" class="collapse_button">
        </div>
    </div>
    <ul class="main_menu">
        <li class="menu_li menu5" style="border-bottom:3px solid #f7f7f7">
            <a class="sidemenu_hover" href="@Url.Action("HomePage", "NILanding")" id="collapseli_hover5" style="font-weight: bolder;"><img src="~/Content/images/asset-catalogue.svg"> <span>Asset Catalogue</span></a>
        </li>

        @if (currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GEMSADMINROLE)
        {
            <li class="menu_li menu1">
                <a class="sidemenu_hover" href="@Url.Action("Draft", "NISchoolAdmin")" id="collapseli_hover1"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Drafted products.svg"> <span>Asset Draft</span> @*<span class="badge_menu">9</span>*@</a>
            </li>
            <li class="menu_li menu2">
                <a class="sidemenu_hover" href="@Url.Action("ApprovalRequest", "NISchoolAdmin")" id="collapseli_hover2"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Posted products.svg"> <span>Approval Request</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Sold", "NIProduct")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Sale</span></a>
            </li>
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("Orders", "NIOrder")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Orders</span></a>
            </li>
            <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                <a class="sidemenu_hover" href="@Url.Action("Dispatched", "NISchoolAdmin")" id="collapseli_hover5"><img src="~/Content/images/admin_menu-ic-Transfered products.svg"> <span>Asset Transfer</span></a>
            </li>
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("DisposedAsset", "NISchoolAdmin")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Completed", "NISchoolAdmin")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Purchased</span></a>
            </li>

        }
        else
        {
            if (currentUser.user.Role == (int)AppEnumeration.Role.CorpIT)
            {
                <li class="menu_li menu3"> <a class="sidemenu_hover" href="@Url.Action("List", "NICategory")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Manage categories.svg"> <span>Manage Categories</span></a> </li>
                <li class="menu_li menu4">
                    <a class="sidemenu_hover" href="@Url.Action("List", "NIUserRegistration")" id="collapseli_hover4"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Manage stakeholders.svg"> <span>Manage Stakeholders</span></a>
                </li>
            }

            if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT)
            {
                <li class="menu_li menu1">
                    <a class="sidemenu_hover" href="@Url.Action("Draft", "NISchoolAdmin")" id="collapseli_hover1"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Drafted products.svg"> <span>Asset Draft</span> @*<span class="badge_menu">9</span>*@</a>
                </li>
                if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT)
                {
                    <li class="menu_li menu3"> <a class="sidemenu_hover" href="@Url.Action("List", "NICategory")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Manage categories.svg"> <span>Manage Categories</span></a> </li>
                }
            }
            <li class="menu_li menu2">
                <a class="sidemenu_hover" href="@Url.Action("ApprovalRequest", "NISchoolAdmin")" id="collapseli_hover2"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Posted products.svg"> <span>@approvalMenuName</span></a>
            </li>
            if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS)
            {
                <li class="menu_li menu5">
                    <a class="sidemenu_hover" href="@Url.Action("Sold", "NIProduct")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Sale</span></a>
                </li>
            }
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("Orders", "NIOrder")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>@orderMenuName</span></a>
            </li>
            if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT)
            {

                <li class="menu_li menu4">
                    <a class="sidemenu_hover" href="@Url.Action("Cart", "NILanding")" id="collapseli_hover4"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Cart.svg"> <span>Cart</span></a>
                </li>

                <li class="menu_li menu5">
                    <a class="sidemenu_hover" href="@Url.Action("WishList", "NILanding")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Wishlist.svg"> <span>Wish List</span></a>
                </li>
            }
            if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.PROCUREMENT || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.GCOREALM || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO)
            {
                if (currentUser.user.NIRole != (int)AppEnumeration.NIUserRole.GCOREALM && currentUser.user.NIRole != (int)AppEnumeration.NIUserRole.PROCUREMENT)
                {
                    <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                        <a class="sidemenu_hover" href="@Url.Action("Dispatched", "NISchoolAdmin")" id="collapseli_hover5"><img src="~/Content/images/admin_menu-ic-Transfered products.svg"> <span>Asset Transfer</span></a>
                    </li>
                }
                <li class="menu_li menu3">
                    <a class="sidemenu_hover" href="@Url.Action("DisposedAsset", "NISchoolAdmin")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
                </li>
                <li class="menu_li menu5">
                    <a class="sidemenu_hover" href="@Url.Action("Completed", "NISchoolAdmin")" id="collapseli_hover5">
                        <img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg">  
                            @if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.GCOREALM || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.PROCUREMENT)
                            {
                                <span>Asset Transfered</span>
                            }
                            else
                            {
                                <span>Asset Purchased</span>
                            }
                    </a>
                </li>
            }
        }
    </ul>
</nav>