﻿@using Garage.Utils
@{
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
}
<nav id="sidebar">
    <div class="toggle_button">
        <div id="sidebarCollapse">
            <img src="~/Content/assets/images/sidebar_menu1.svg" class="expanded_button">
            <img src="~/Content/assets/images/sidebar_menu2.svg" class="collapse_button">
        </div>
    </div>
    <ul class="main_menu">
        <li class="menu_li menu5" style="border-bottom:3px solid #f7f7f7">
            <a class="sidemenu_hover" href="@Url.Action("HomePage", "NILanding")" id="collapseli_hover5" style="font-weight: bolder;"><img src="~/Content/images/asset-catalogue.svg"> <span>Asset Catalogue</span></a>
        </li>
        <li class="menu_li menu5">
            <a class="sidemenu_hover" href="@Url.Action("ApprovedAsset", "NIProduct")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Disposal Approval</span></a>
        </li>



        @if (currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GEMSADMINROLE)
        {
            <li class="menu_li menu1">
                <a class="sidemenu_hover" href="@Url.Action("Draft", "NISchoolAdmin")" id="collapseli_hover1"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Drafted products.svg"> <span>Asset Draft</span> @*<span class="badge_menu">9</span>*@</a>
            </li>
            <li class="menu_li menu2">
                <a class="sidemenu_hover" href="@Url.Action("ApprovalRequest", "NISchoolAdmin")" id="collapseli_hover2"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Posted products.svg"> <span>Approval Request</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Sold", "NIProduct")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Sale</span></a>
            </li>
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("Orders", "NIOrder")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Orders</span></a>
            </li>
            <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                <a class="sidemenu_hover" href="@Url.Action("Dispatched", "NISchoolAdmin")" id="collapseli_hover5"><img src="~/Content/images/admin_menu-ic-Transfered products.svg"> <span>Asset Transfer</span></a>
            </li>
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("DisposedAsset", "NISchoolAdmin")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Completed", "NISchoolAdmin")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Purchased</span></a>
            </li>
          

        }
        else if (currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.SSCINTERNALAUDIT || currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GCOREALM)
        {
            <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                <a class="sidemenu_hover" href="@Url.Action("DisposedAssets", "NIProduct")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Dispatched", "NIProduct")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Transferred</span></a>
            </li>
            @*<li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("CompletedOrders", "Order")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Purchased</span></a>
            </li>*@
        }
    </ul>
</nav>