/* ---------------------------------------------------
  general section
----------------------------------------------------- */


/*font*/

@font-face {
    font-family: ProximaNova-Regular;
    src: url(../font/ProximaNova-Regular.otf);
}

@font-face {
    font-family: ProximaNova-Medium;
    src: url(../font/ProximaNova-Medium.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: ProximaNova-Regular !important;
    letter-spacing: 0.4px;
    background: #f2f2f2;
}

.button_blue {
    color: #fff;
    background-color: #038803;
    border-color: #038803;
    outline: o;
}

/* scrollbar */

/*::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #d9e0e8 !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-track {
    background: #f5f8fb !important;
}*/

/*table*/

table.table-radius {
    border-radius: 5px;
    overflow: hidden;
}

/*box-shadow*/

.box-shadow {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 10px;
}


/* ---------------------------------------------------
  index section
----------------------------------------------------- */

.full_bg {
    background-image: url("../images/banner_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

    .full_bg .banner_logo {
        text-align: center;
        padding-top: 10%;
    }

        .full_bg .banner_logo img {
            width: 500px;
            height: 180px;
        }

    .full_bg .tag_line {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: #038803;
    }

        .full_bg .tag_line span {
            padding: 8px;
        }

        .full_bg .tag_line i {
            font-size: 12px;
        }

.enter_btn {
    margin-top: 25px;
}

    .enter_btn a {
        background: #038803;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }

        .enter_btn a:hover {
            background: #045804;
            color: #fff;
            text-decoration: none;
        }

/* ---------------------------------------------------
  home section
----------------------------------------------------- */


/*header*/

.header_set {
    border-bottom: 1px solid #d9e0e8;
    background: #eaeaea;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 999;
}

.header_logo {
    float: left;
    display: flex;
    padding-left: 20px;
    padding-top: 8px;
}

    .header_logo img {
        width: 170px;
    }

.account_set {
    float: right;
    margin-top: 6px;
}

a.notification {
    position: relative;
}

.notification .badgeNo {
    position: absolute;
    top: 18px;
    right: 9px;
    border-radius: 50%;
    background-color: #038803;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
}

a.wishCount {
    position: relative;
}

.wishCount .badgeNo {
    position: absolute;
    top: 18px;
    right: 9px;
    border-radius: 50%;
    background-color: #038803;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
}

.header_set .username {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

/*search*/

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 350px;
    border-right: none;
    padding: 0 10px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #111;
    border: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.09);
}

.searchData {
    width: 100%;
    border: 1px solid #038803;
    border-right: none;
    padding: 17px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #111;
}

.searchTerm:focus {
    color: #111;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #038803;
    background: #038803;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.09);
}


/*post button*/

a.post_button {
    background: #038803;
    padding: 6px 15px;
    color: #fff !important;
    border-radius: 5px;
    cursor: pointer;
}

    a.post_button:hover {
        background: #026108;
        color: #fff;
    }


/*main content*/

.wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*sliderbar*/

.sidebar .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    z-index: 998;
    background: #fff;
    -webkit-box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    color: #fff !important;
    padding-top: 75px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    #sidebar .category_text {
        color: #038803;
        position: absolute;
        padding-left: 14px;
        padding-top: 4px;
    }

    #sidebar.active {
        margin-left: -200px;
    }

.toggle_button {
    margin-left: 235px;
}

    .toggle_button img {
        width: 28px;
        height: auto;
        cursor: pointer;
    }

#sidebar #sidebarCollapse img.expanded_button {
    display: none;
}

#sidebar.active #sidebarCollapse img.expanded_button {
    display: inline-block;
}

#sidebar.active #sidebarCollapse img.collapse_button {
    display: none;
}

#sidebar ul.main_menu {
    padding: 10px 0;
    list-style: none;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}


    /*expanded-menu*/

    #sidebar ul.main_menu li a img {
        width: 20px;
        height: 20px;
        color: #fff;
        margin-left: 2px;
    }

    #sidebar ul.main_menu li a {
        padding: 10px;
        font-size: 15px;
        display: block;
        color: #111;
        text-decoration: none;
        border-bottom: 1px solid #e7e7e7;
    }

        #sidebar ul.main_menu li a span {
            padding-left: 8px;
        }

#sidebar ul li a {
    color: #111;
    opacity: 1;
    transition: all 0.3s;
}

    #sidebar ul li a:hover {
        color: #111;
        background: #eaeaea;
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

#sidebar ul li.active a {
    color: #111;
    background: #eaeaea;
    opacity: 1;
}

#sidebar ul li .main_submenu a:hover {
    color: #fff;
}


/*collapse-menu*/

#sidebar.active ul.main_menu li a img {
    margin-left: 202px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar.active ul li a span {
    display: none;
}

#sidebar.active ul li.menu_li.open a span {
    display: block;
    position: absolute;
    background: #eaeaea;
    margin-left: 240px;
    padding: 10px;
    width: 250px;
    margin-top: -35px;
}

#sidebar.active ul li.inbox .main_submenu {
    display: none;
}

#sidebar.active ul li.inbox.open .main_submenu {
    display: none;
}

#sidebar.active ul li.inbox.open.active .main_submenu {
    display: block;
    position: absolute;
    background: #0088e2;
    margin-left: 250px;
    padding: 10.8px;
    width: 190px;
    padding-left: 0;
}

#sidebar.active ul li .main_submenu a {
    padding-left: 12px;
}


/*footer*/

.footer_content {
    padding: 10px;
    color: #71858e;
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}


/*content common style*/

#content {
    width: calc(100% - 300px);
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    margin: 85px 22px 0 0;
}

.page_content {
    height: auto;
    color: #111;
    min-height: 500px;
    overflow:hidden;
}

#content.active {
    width: calc(100% - 100px);
}

.page_section {
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #d9e0e8;
}


/*home page*/


/*banner*/

.banner_image img {
    width: 100%;
}


/*category list*/

.title_name {
    font-size: 24px;
    color: #038803;
    padding-top: 18px;
    font-family: ProximaNova-Medium, ProximaNova-Regular;
}

.product_box {
    width: 100%;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

    .product_box .product_img {
        padding: 10px;
        width: auto;
        height: 175px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }


.product_img img {
    max-height: 150px !important;
    max-width: 100%;
}

.img_fluid {
    max-height: 200px !important;
}

.product_box .product_details {
    border-top: 1px solid #e7e7e7;
    padding: 5px 15px 0 15px;
    display: flex;
}

.product_box .product_info {
    display: flex;
    padding: 5px 15px;
}

.product_box .product_info {
    color: #888888;
    font-size: 14px;
}

    .product_box .product_info .product_info_line1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60px;
        text-align: left;
    }

    .product_box .product_info .product_info_line2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
        text-align: center;
    }

    .product_box .product_info .product_info_line3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        text-align: right;
    }

        .product_box .product_info .product_info_line3 img {
            width: 20px;
            height: 20px;
        }

.product_box .product_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 61%;
}

.product_price span {
    font-size: 10px;
}

.product_box .product_price {
    color: #038803;
    width: 100px;
    text-align: right;
    font-size: 14px;
}

.show_all {
    padding: 15px;
    text-align: right;
    width: 100%;
}


/* ---------------------------------------------------
  popup products details section
----------------------------------------------------- */


/*popup head*/

.mytheme_header {
    background: #038803;
    color: #fff;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 10px;
    font-size: 18px;
}

    .mytheme_header a.wish_list {
        color: #fff;
        opacity: 0.8;
        font-size: 14px;
        text-decoration: underline;
    }

        .mytheme_header a.wish_list:hover {
            opacity: 1;
        }

.right_header {
    float: right;
}

.mytheme_header .close {
    color: #fff;
    opacity: .8;
    outline: 0;
}


/*popup body*/

.mytheme_body {
    padding: 1rem 2rem;
    font-size: 14px;
}

#myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

    #myCarousel .carousel-indicators > li {
        width: initial;
        height: initial;
        text-indent: initial;
    }

.carousel-indicators li {
    opacity: 1;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.5;
}

#myCarousel .carousel-inner .carousel-item img {
    margin: 0 auto;
    display: table;
    max-height: 285px;
}

#myCarousel a.carousel-control-prev {
    color: #038803;
}

#myCarousel a.carousel-control-next {
    color: #038803;
}

table.product_details_list {
    margin-top: 20px;
}

    table.product_details_list td {
        padding: 10px;
    }

        table.product_details_list td.product_lable {
            font-weight: bold;
            width: 120px;
        }

.description_head {
    font-weight: bold;
    padding: 10px 0;
    font-size: 14px;
}

.mytheme_footer {
    justify-content: unset;
    display: unset;
}

.product_postby {
    float: left;
}

ul.product_buy {
    float: right;
    list-style: none;
    margin-bottom: 0;
}

    ul.product_buy li {
        float: left;
        padding-right: 20px;
    }

.quantiy_input {
    padding: 4px 10px;
}

/* ---------------------------------------------------
  popup products edit section
----------------------------------------------------- */
.edit_viewImg img {
    margin: 0 auto;
    display: table;
}

.edit_viewImg {
    padding: 20px 0;
    border: 1px solid #e7e7e7;
}

table.product_edit_list {
    margin-top: 20px;
}

    table.product_edit_list td {
        padding: 10px;
    }

        table.product_edit_list td.product_lable {
            font-weight: bold;
            width: 120px;
        }

table.table_edit_bg {
    background: #f2f2f2;
    width: 100%;
}

table.table_edit_bg {
    margin-top: 20px;
}

    table.table_edit_bg td {
        padding: 10px;
    }

        table.table_edit_bg td.product_lable {
            font-weight: bold;
            width: 200px;
        }
/* ---------------------------------------------------
  popup post products section
----------------------------------------------------- */

table.post_product_field1 {
    width: 100%;
}

    table.post_product_field1 td {
        padding: 10px;
    }

table.post_product_field2 {
    width: 100%;
    background: #f2f2f2;
    margin-top: 15px;
}

div.post_product_field2 {
    width: 100%;
    background: #f2f2f2;
    margin-top: 15px;
    padding: 15px;
}

table.post_product_field2 td {
    padding: 10px;
}

.popup_textBox {
    border: 1px solid #d2d2d2 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    width: 100%;
    background: transparent;
}

.datepicker-container.datepicker-dropdown.datepicker-top-left {
    z-index: 2999 !important;
}

.popup_textBox:focus {
    outline: 0;
}

img.img-fluid_small {
    margin: 0 auto;
    display: table;
    max-width: 100%;
    height: auto;
}

.add_pictures {
    padding: 14px 0;
}

.add_pictures_set a i {
    color: #038803;
    font-size: 26px;
    padding: 10px 20px;
}

ul.product_post_button {
    list-style: none;
    margin-bottom: 0;
    margin: 0 auto;
    display: table;
}

    ul.product_post_button li {
        padding-right: 20px;
        float: left;
    }


/* ---------------------------------------------------
  category section
----------------------------------------------------- */

.category_title_top {
    display: inline-block
}

.category_fillter_top {
    float: right;
    padding-top: 12px;
    display: flex;
}

.padding_left {
    padding-left: 15px;
}

.no_margin_bottom {
    margin-bottom: 0;
}

.fillter_button {
    background: #fff;
    padding: 5px 15px;
    color: #111;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    display: block;
}

    .fillter_button:hover {
        background: #e8f8ff;
        padding: 6px 15px;
        color: #111;
        border: 1px solid #98dfff;
        border-radius: 5px;
        text-decoration: none;
        outline: none;
    }

    .fillter_button:focus {
        outline: none;
    }



/* ---------------------------------------------------
  admin section
----------------------------------------------------- */

.admin_list {
    width: 100%;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    margin-top: 25px;
    border-radius: 5px;
}

a.table_list_ic {
    color: #038803 !important;
    cursor: pointer;
}

    a.table_list_ic:hover {
        color: #026108 !important;
    }

    a.table_list_ic i {
        font-size: 26px;
    }

table td.green_text {
    color: #05ce30;
}

table td.red_text {
    color: #f51616;
}

.search_admin {
    position: relative;
    display: flex;
}

.page_title_name {
    font-size: 24px;
    color: #038803;
    padding-top: 18px;
    font-family: ProximaNova-Medium, ProximaNova-Regular;
    display: inline-block;
    margin-right: 30px;
}

/*track popup timeline*/

ul.timeline {
    list-style-type: none;
    position: relative;
}

    ul.timeline:before {
        content: ' ';
        background: #c9c9c9;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 95%;
        z-index: 400;
    }

    ul.timeline > li.track_list {
        margin: 20px 0;
        padding-left: 20px;
    }

    ul.timeline > li.track_done:before {
        content: "\2713";
        color: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        background: #99cd32;
        left: 18px;
        width: 24px;
        height: 24px;
        z-index: 400;
        text-align: center;
        line-height: 26px;
    }

    ul.timeline > li.track_current:before {
        content: "";
        color: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        background: #038803;
        left: 18px;
        width: 24px;
        height: 24px;
        z-index: 400;
        text-align: center;
        line-height: 26px;
    }

    ul.timeline > li.track_next:before {
        content: "";
        color: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        background: #c9c9c9;
        left: 18px;
        width: 24px;
        height: 24px;
        z-index: 400;
        text-align: center;
        line-height: 26px;
    }

    ul.timeline .timeline_title {
        color: #000;
        font-weight: bold;
    }

    ul.timeline li .time {
        color: #000;
    }

    ul.timeline p {
        color: #c9c9c9;
    }

li.track_list.track_next {
    padding-bottom: 15px;
}


/* ---------------------------------------------------
  product list view section
----------------------------------------------------- */

.product_listView {
    width: 100%;
}

    .product_listView .list_product_grp {
        display: flex;
    }

    .product_listView .list_product_grp2 {
        text-align: right;
        margin: 40px 0 20px 0;
    }

    .product_listView .product_img {
        padding: 5px;
        border: 1px solid #e7e7e7;
        margin-right: 25px;
        height: max-content;
        width: max-content;
        cursor: pointer;
    }

        .product_listView .product_img img {
            width: 100px;
            height: auto;
        }

    .product_listView .product_details {
        margin-right: 25px;
    }

    .product_listView .product_name {
        font-weight: bold;
        font-size: 18px;
        width: max-content;
        cursor: pointer;
    }

    .product_listView .product_dec {
        font-size: 14px;
        padding: 10px 0;
    }

    .product_listView .product_price {
        color: #038803;
        font-size: 14px;
    }

    .product_listView .product_qnt {
        display: inline-block;
        margin-right: 40px;
    }

    .product_listView .product_buy {
        display: inline-block;
        margin-right: 6px;
    }


/* ---------------------------------------------------
  orders section
----------------------------------------------------- */

.timeline_track {
    overflow-x: auto;
}

ol.progtrckr {
    margin: 0;
    padding-bottom: 30px;
    list-style: none;
    min-width: 850px;
}

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3.5em;
        font-size: 14px;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li {
        width: 49%;
    }

    ol.progtrckr[data-progtrckr-steps="3"] li {
        width: 33%;
    }

    ol.progtrckr[data-progtrckr-steps="4"] li {
        width: 24%;
    }

    ol.progtrckr[data-progtrckr-steps="5"] li {
        width: 19%;
    }

    ol.progtrckr[data-progtrckr-steps="6"] li {
        width: 16%;
    }

    ol.progtrckr[data-progtrckr-steps="7"] li {
        width: 14%;
    }

    ol.progtrckr[data-progtrckr-steps="8"] li {
        width: 12%;
    }

    ol.progtrckr[data-progtrckr-steps="9"] li {
        width: 11%;
    }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid #038803;
    }

    ol.progtrckr li.progtrckr-current {
        color: black;
        border-bottom: 4px solid #038803;
    }

    ol.progtrckr li.progtrckr-todo {
        color: #c9c9c9;
        border-bottom: 4px solid #c9c9c9;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }

    ol.progtrckr li:before {
        position: relative;
        bottom: -2.6em;
        float: left;
        left: 47%;
        line-height: 1em;
    }

    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: #99cd32;
        height: 1.8em;
        width: 1.8em;
        line-height: 2em;
        border: none;
        border-radius: 50%;
    }

    ol.progtrckr li.progtrckr-current:before {
        content: "";
        color: white;
        background-color: #038803;
        height: 1.8em;
        width: 1.8em;
        line-height: 2em;
        border: none;
        border-radius: 50%;
    }

    ol.progtrckr li.progtrckr-todo:before {
        content: "";
        color: white;
        background-color: #c9c9c9;
        height: 1.8em;
        width: 1.8em;
        line-height: 2em;
        border: none;
        border-radius: 50%;
    }


/*product list*/

.product_list {
    width: 100%;
}

    .product_list .list_product_grp {
        display: flex;
    }

    .product_list .product_img {
        padding: 5px;
        border: 1px solid #e7e7e7;
        margin-right: 25px;
        height: max-content;
        width: max-content;
    }

        .product_list .product_img img {
            width: 100px;
            height: auto;
        }

    .product_list .product_details {
        margin-right: 25px;
    }

    .product_list .product_name {
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
    }

    .product_list .product_dec {
        font-size: 14px;
        padding: 10px 0;
    }

    .product_list .product_price {
        margin-right: 15px;
        margin-top: 15px;
    }

        .product_list .product_price .quantiy {
            text-align: right;
        }

        .product_list .product_price .book_value {
            text-align: right;
        }

            .product_list .product_price .book_value span {
                color: #038803;
            }


/* ---------------------------------------------------
  cart section
----------------------------------------------------- */

.product_listCart {
    width: 100%;
}

    .product_listCart .list_product_grp {
        display: flex;
    }

    .product_listCart .list_product_grp2 {
        text-align: right;
        margin: 20px 0 20px 0;
    }

    .product_listCart .product_img {
        padding: 5px;
        border: 1px solid #e7e7e7;
        margin-right: 25px;
        height: max-content;
        width: max-content;
        cursor: pointer;
    }

        .product_listCart .product_img img {
            width: 100px;
            height: auto;
        }

    .product_listCart .product_details {
        margin-right: 25px;
        display: grid;
    }

    .product_listCart .product_name {
        font-weight: bold;
        font-size: 18px;
        width: auto;
        cursor: pointer;
    }

    .product_listCart .product_dec {
        font-size: 14px;
        padding: 10px 0;
    }

    .product_listCart .product_location {
        color: #000;
        font-size: 14px;
        font-weight: bold;
    }

    .product_listCart .product_qnt {
        margin-right: 8px;
    }

    .product_listCart .product_wishlist {
        margin-right: 8px;
        margin-top: 30px;
    }

.cardBodyPadding {
    padding: 8px;
}


/*no data*/

.no_data_set {
    font-size: 14px;
    margin: 0 auto;
}

    .no_data_set img {
        width: 500px;
        height: auto;
        margin: 0 auto;
        display: table;
    }

    .no_data_set .no_data_txt {
        font-size: 22px;
    }

/*alert message*/

.alert-primary {
    color: #fff !important;
    background-color: #038803 !important;
    border-color: #03274e !important;
}

ul.navbar-nav li .click_knowmore:hover {
    color: #026108;
}


/*form-page*/

.form_page_head {
    padding: 6px 15px;
    background: #038803;
    color: #fff;
}

.form_page_body {
    border: 1px solid #038803;
    padding-top: 15px;
}

.form_page_footer {
    padding: 15px 0;
    background: #eaeaea;
    border-top: 1px solid #038803;
}

.input_message {
    color: #b71f1f;
    height: 15px;
}


/*badge_menu*/

ul.main_menu li.active span.badge_menu {
    border-radius: 50%;
    background-color: #000;
    color: white;
    width: 20px;
    font-size: 14px;
    height: 20px;
    position: absolute;
    padding-left: 6px !important;
    padding-top: 1px;
    right: 0;
    margin: 2px 5px 0 0;
}

ul.main_menu li span.badge_menu {
    border-radius: 50%;
    background-color: #038803;
    color: white;
    width: 20px;
    font-size: 14px;
    height: 20px;
    position: absolute;
    padding-left: 6px !important;
    padding-top: 1px;
    right: 0;
    margin: 2px 5px 0 0;
}



/*header*/

.mr_serach {
    margin-right: 307px;
}

.mt_header {
    margin-top: 6px;
}

/*product gallery*/
ul.carousel-indicators li.list-inline-item a img {
    width: 50px;
    max-height: 50px;
}

ul.carousel-indicators li.list-inline-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.gallery_height {
    height: 285px;
}

    .gallery_height .carousel-item img {
        /* width:100%;*/
        max-width: 100%
    }

.product_wishlist span.totalbox {
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

.show_all span.totalbox {
    padding-right: 133px;
    font-weight: bold;
    font-size: 18px;
}

/*order draft*/
.product_listCart .school_name {
    font-size: 14px;
}

.value_set {
    float: right;
    font-size: 14px;
}

.value_draft {
    display: flex;
    margin-right: 20px;
}

.value_lable {
    width: 150px;
}

.value_data {
    font-weight: bold;
}

.draft_description {
    margin-top: 15px;
    padding: 10px;
}

.draft_grand_total {
    font-size: 18px;
}

.draft_bottom_total {
    padding-right: 29px;
    text-align: right;
    width: 100%;
}


/*date picker*/

.popover {
    z-index: 50;
}

.bs-popover-right {
    margin-left: -425px !important;
}

.popover .arrow {
    display: none;
}

a.editable-click {
    border-bottom: none !important;
}

    a.editable-click:hover {
        color: #007bff;
        border-bottom: none;
    }

    a.editable-click:focus {
        color: #007bff !important;
    }

/*date picker*/

.popover {
    z-index: 50;
}

.bs-popover-right {
    margin-left: -343px !important;
}

.popover .arrow {
    display: none;
}

a.editable-click {
    border-bottom: none !important;
}

    a.editable-click:hover {
        color: #007bff;
        border-bottom: none;
    }

    a.editable-click:focus {
        color: #007bff !important;
    }

.editable-buttons {
    margin: -44px 0px 0 -80px !important;
}

.editable-clear {
    padding-right: 10px;
}

.popover .icon-arrow-right {
    background: url(/Content/images/arrow_right.svg) no-repeat !important;
    width: 30px;
    height: 30px;
    display: block;
}

.popover .icon-arrow-left {
    background: url(/Content/images/arrow_left.svg) no-repeat !important;
    width: 24px;
    height: 24px;
    display: block;
}

/*Loader Spinner on form submit - Start*/
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 48%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px solid #fff;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #038803;
    border-bottom: 5px solid #038803;
    -webkit-animation: spin .8s linear infinite;
    animation: spin 1.2s linear infinite;
}
/*Loader Spinner on form submit - End*/

/*Image upload form plugin - Start*/
.imagePreview {
    width: 100%;
    height: 140px;
}
 

.btn-primary-upload {
    color: #fff !important;
    background-color: #038803;
    border-color: #038803;
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #038803;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

/*Data Table Fix */
.table-responsive-sm.data-table-fix {
    padding: 20px;
}

.out-of-stock {
    background-image: url(../Content/assets/images/sold.png);
    background-repeat: no-repeat;
    width: 60px !important;
    height: 60px !important;
    background-size: contain;
    position: absolute;
    text-indent: -1000px;
    /* background:#f00;

	color:#fff;
	padding: 3px 20px; 
	position: relative;
	top: 7px;
	transform: rotate(-45deg);
	font-size: 13px;
	text-align: left;
	left: -31px;
	width: 150px !important; */
}

/*****************************************************end**********************************************************/


/***************************************************  Start Of Non-IT*********************************************/


.add-new {
    float: left;
    height: 25px;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    line-height: 13px;
    color: #fff !important;
    background-color: #038803;
    border-color: #038803;
}


.more-images .file-input {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.more-images {
    overflow: hidden;
    max-height: 355px;
    overflow-y: auto;
}
/******************************************************** end ******************************************************/
