﻿@using Garage.ViewModels
@using Garage.Utils
@using Garage.Models
@model Garage.ViewModels.SearchAdminProductForm
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    bool HideBulkChecked = true;
    ViewBag.Title = "Approval Queue";
    List<Garage.Areas.Non_IT.ViewModels.NIApprovalRequest> approvalRequestList = null;
    var requestList = (List<Garage.Areas.Non_IT.ViewModels.NIApprovalRequest>)ViewBag.ApprovalRequestList;
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
    var currentUserRole = (AppEnumeration.NIDisposeUserRole)currentUser.user.NIRole;
    var searchString = ViewBag.SearchString;
    var approvalPageTitle = (currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.MSOASSISTANT) ? "Asset Posted" : "Reuse/Disposal Approval";
    var orderMenuName = (currentUser.user.NIRole == (int)AppEnumeration.NIDisposeUserRole.MSOASSISTANT) ? "Asset Purchase" : "Purchase Approval";
    if (currentUserRole == AppEnumeration.NIDisposeUserRole.MSOASSISTANT)
    {
        approvalRequestList = requestList;
    }
    else
    {
        if (currentUserRole == AppEnumeration.NIDisposeUserRole.GCOREALM || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.PROCUREMENT)
        {
            var posted = requestList.Where(l => l.Product.Status == (int)AppEnumeration.ProductStatus.Posted).ToList();
            var all = requestList.Where(l => l.Product.Status != (int)AppEnumeration.ProductStatus.Posted).ToList();
            approvalRequestList = new List<Garage.Areas.Non_IT.ViewModels.NIApprovalRequest>();
            if (posted.Count() > 0)
            {
                approvalRequestList.AddRange(posted);
            }
            if (all.Count() > 0)
            {
                approvalRequestList.AddRange(all);
            }
        }
        else
        {
            approvalRequestList = requestList.Where(l => l.Product.Status == (int)AppEnumeration.ProductStatus.Posted).ToList();
        }

    }

}
<div class="page_content">
    @using (Html.BeginForm("PostedProducts", "NIProduct", FormMethod.Post, new { role = "form", id = "searchAdminProduct" }))
    {
        <div class="page_title_name">@approvalPageTitle</div>
        if (currentUserRole == AppEnumeration.NIDisposeUserRole.HOS || currentUserRole == AppEnumeration.NIDisposeUserRole.GCOREALM
            || currentUser.user.NIRole.Value == (int)AppEnumeration.NIUserRole.PROCUREMENT
            )
        {
            HideBulkChecked = false;
            <div class="category_fillter_top">
                <div class="search_admin">
                    <button type="button" onclick="BulkApprove()" class="btn btn-primary bulk ">Bulk Approve</button>

                </div>

                @*<div class="padding_left">
                        @Html.HiddenFor(m => m.isOlderFirst, new { @value = false })
                        <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
                        <a class="fillter_button olderFirst" href="#" id="older-first"><i class="fa fa-chevron-circle-up"></i>Olders First</a>
                    </div>*@
            </div>
        }
    }
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        @if (!HideBulkChecked)
                        {
                            <th width="3%" class="th-sm">
                                @Html.CheckBox("checkboxall", new { @class = "checkboxall" })
                            </th>
                        }
                        <th width="20%" class="th-sm">
                            Asset
                        </th>
                        <th width="3%" class="th-sm">
                            School
                        </th>
                        <th width="3%" class="th-sm">
                            Quantity
                        </th>
                        <th width="3%" class="th-sm">
                            Type
                        </th>
                        <th width="7%" class="th-sm d-none d-md-table-cell">
                            Uploaded Date
                        </th>
                        <th width="7%" class="th-sm d-none d-md-table-cell">
                            Last Action Date
                        </th>
                        <th width="13%" class="th-sm d-none d-md-table-cell">
                            Status
                        </th>
                        <th class="th-sm text-center" width="3%">
                            Preview
                        </th>
                        <th class="th-sm text-center" width="3%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="3%">
                            @(currentUserRole == AppEnumeration.NIDisposeUserRole.MSOASSISTANT ? "Edit" : "Take Action")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (approvalRequestList.Count > 0)
                    {
                        foreach (var approvalRequest in approvalRequestList)
                        {
                            var isApproved = false;
                            var isReusable = approvalRequest.Product.AssetType == (int)AppEnumeration.AssetType.Reuse;
                            if (isReusable) { isApproved = (AppEnumeration.ProductStatus.Published == (AppEnumeration.ProductStatus)approvalRequest.Product.Status) ? true : false; }
                            else { isApproved = (AppEnumeration.ProductStatus.Approved == (AppEnumeration.ProductStatus)approvalRequest.Product.Status) ? true : false; }
                            var attr = isReusable ? "reuse" : "dispose";
                            <tr>
                                @if (!HideBulkChecked)
                                {
                                    <th style="width:3%" class="th-sm">
                                        @Html.CheckBox("checked", new { @class = "bulkchecked", @itemid = approvalRequest.Id, @itemref = attr })
                                    </th>
                                }
                                <td>@approvalRequest.ProductName</td>
                                <td>@approvalRequest.SchoolCode</td>
                                <td>@((int)approvalRequest.Product.Quantity) </td>
                                <td>
                                    <span class="@(isReusable ? "text-success" : "text-danger")">
                                        @(EnumHelper<AppEnumeration.AssetType>.GetDisplayValue((AppEnumeration.AssetType)approvalRequest.Product.AssetType))
                                    </span>
                                </td>
                                <td class="d-none d-md-table-cell">@(approvalRequest.CreatedDate.ToString("dd-MM-yyyy"))</td>
                                <td class="d-none d-md-table-cell">@(approvalRequest.PublishedDate.ToString("dd-MM-yyyy"))</td>
                                <td class="d-none d-md-table-cell">
                                    @if (isApproved && string.IsNullOrEmpty(approvalRequest.NextApprover))
                                    {<span class="text-success">Approved</span> }
                                    else
                                    { <span class="text-danger">Waiting For @(approvalRequest.NextApprover) Approval</span>}
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","NIProduct",new { id= approvalRequest.Id})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                                <td class="text-center">
                                    @if (isReusable)
                                    {
                                        <a class="table_list_ic product-track-pop" href="#" data-url="@Url.Action("Track","NIProduct",new { id= approvalRequest.Id})"><img src="~/Content/images/tack.svg" /></a>
                                    }
                                    else
                                    {
                                        <a class="table_list_ic asset-track" href="#" data-url="@Url.Action("AssetTrack","NIProduct",new { id= approvalRequest.Id})"><img src="~/Content/images/tack.svg" /></a>
                                    }
                                </td>
                                @if (isApproved)
                                {
                                    <td class="text-center">
                                        <a class="table_list_ic" href="#"><img class="notallowed" src="~/Content/images/not-allowed-to-edit.svg" /></a>
                                    </td>
                                }
                                else
                                {
                                    var reuseApprovalUrl = Url.Action("ApprovalView", "NIProduct", new { id = Garage.Security.DataProtection.Encrypt(approvalRequest.Id.ToString()) });
                                    var disposeApprovalUrl = Url.Action("AssetApproval", "NIProduct", new { id = Garage.Security.DataProtection.Encrypt(approvalRequest.Id.ToString()) });
                                    var approvalUrl = isReusable ? reuseApprovalUrl : disposeApprovalUrl;

                                    if (currentUserRole != AppEnumeration.NIDisposeUserRole.MSOASSISTANT && approvalRequest.NextApproverAsInt > 0 && currentUserRole != (AppEnumeration.NIDisposeUserRole)approvalRequest.NextApproverAsInt)
                                    {
                                        approvalUrl = "#";
                                    }

                                    if (isReusable)
                                    {
                                        if (approvalUrl == "#")
                                        {
                                            attr = "";
                                        }
                                        <td class="text-center">
                                            <a class="table_list_ic" href="@approvalUrl">
                                                @if (currentUserRole == AppEnumeration.NIDisposeUserRole.MSOASSISTANT)
                                                {<i class="fa fa-pencil" aria-hidden="true"></i> }
                                                else if (approvalRequest.NextApproverAsInt > 0 && currentUserRole == (AppEnumeration.NIDisposeUserRole)approvalRequest.NextApproverAsInt)
                                                {
                                                    <img src="~/Content/images/action.svg" />
                                                }
                                                else
                                                { <img class="notallowed" src="~/Content/images/not-allowed-to-edit.svg" />}
                                            </a>
                                        </td>

                                    }
                                    else
                                    {
                                        if (approvalRequest.Product.Status != (int)AppEnumeration.ProductStatus.Disposed && approvalRequest.Product.Status != (int)AppEnumeration.ProductStatus.Reject)
                                        {
                                            if (approvalUrl == "#")
                                            {
                                                attr = "";
                                            }
                                            <td class="text-center">
                                                <a class="table_list_ic" @attr href="@approvalUrl">
                                                    @if (currentUserRole == AppEnumeration.NIDisposeUserRole.MSOASSISTANT)
                                                    {
                                                        if (currentUser.user.Id == approvalRequest.Product.CreatedBy.Value)
                                                        {
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        }
                                                        else
                                                        {
                                                            <img class="notallowed" src="/Content/images/not-allowed-to-edit.svg">
                                                        }
                                                    }
                                                    else if (approvalRequest.NextApproverAsInt > 0 && currentUserRole == (AppEnumeration.NIDisposeUserRole)approvalRequest.NextApproverAsInt)
                                                    {
                                                        <img src="~/Content/images/action.svg" />
                                                    }
                                                    else
                                                    { <img class="notallowed" src="~/Content/images/not-allowed-to-edit.svg" />}
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <a class="table_list_ic" href="#"><img src="~/Content/images/action.svg" /></a>
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="11">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="RemarkModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header mytheme_header">
                Remark
                <div class="right_header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body mytheme_body">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <table class="post_product_field1">
                            <tr>
                                <td>

                                    @Html.TextArea("txtremarks", new { @class = "popup_textBox", id = "product_note", })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer mytheme_footer">
                <ul class="product_buy">

                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    <li><button type="button" class="btn btn-danger post">Approve</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script>


        $(document).ready(function () {

            var succeed = '@TempData["succeed"]';
            if (succeed == '1') {
                $.notify({
                    title: "<strong> Bulk Approval: </strong> ",
                    message: " Items approved successfully"
                },
                    {
                        type: "success",
                        placement: {
                            align: 'center'
                        }
                    });
            }


            $('.checkboxall').click(function () {

                if ($(this).is(':checked')) {
                    $('.bulkchecked:enabled').prop('checked', true);
                }
                else {
                    $('.bulkchecked:enabled').prop('checked', false);
                }
            });

            $('.notallowed').each(function () {
                $(this).closest('tr').find('.bulkchecked').attr('disabled', true);
            })

            $('.post').click(function ()
            {
                $('#cover-spin').show();
                var remarks = $('#product_note').val();
                debugger;
                var productIDs = [];
                var products = [];
                $('.bulkchecked:checkbox:checked').each(function () {
                    var productId = $(this).attr("itemid");
                    var _product = $(this).attr("itemref");

                    productIDs.push(productId);
                    products.push(_product);
                });

                $.ajax({
                    type: "POST",
                    url: "/NIProduct/BulkApproval?IDs=" + productIDs.join() + "&ProductRef=" + products.join() +"&Remarks=" + remarks,
                    success: function (result, status, xhr) {
                        if (result.toLowerCase() == 'true') {
                            window.location.href = "/NISchoolAdmin/ApprovalRequest"
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#cover-spin').hide();
                        alert(status);
                    }
                });
            });


            var productName = '@TempData["productName"]';
            var productApproved = '@TempData["approved"]';
            var productRejected = '@TempData["rejected"]';
            var message = "'" + productName + "' has been posted successfully";
            var alertType = "success";

            if (productName !== undefined && productName !== '' && productName !== null) {

                if (productApproved) {
                    message = "'" + productName + "' has been Approved successfully";
                }
                if (productRejected) {
                    message = "'" + productName + "' has been Rejected";
                    alertType = "danger";
                }
                $.notify({
                    title: "<strong>Asset Transfer : </strong> ",
                    message: message
                },
                {
                    type: alertType,
                    placement: {
                        align: 'center'
                    }
                });
            }
           
        });

        function BulkApprove()
        {
            var IsAnyChecked = $('.bulkchecked:checkbox:checked');
            if (IsAnyChecked.length > 0) {
                $('#RemarkModal').modal('show');
            }

        }


        $('#searchAdminProduct').submit(function () {
            if ($('#searchAdminProduct').valid()) {
                $('#cover-spin').show();
            }
        });
    </script>

}
