﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@using Garage.Models
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Completed Orders";
    var orderList = (List<NICompletedOrders>)ViewBag.OrderList;
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
}
<div class="page_content">
    <div class="page_title_name">
  
        @if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.GCOREALM || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.PROCUREMENT)
        {
            <span>Asset Transfered</span>
        }
        else
        {
            <span>Asset Purchased</span>
        }
    </div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a class="fillter_button" href="@Url.Action("Completed","NISchoolAdmin",new { print = true })"><i class="fa fa-print"></i> Export to PDF</a>
        </div>
    </div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20%" class="th-sm">
                            Order Details
                        </th>
                        <th width="10%" class="th-sm">
                            Transfered from
                        </th>
                        <th width="10%" class="th-sm">
                            Transfered to
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-right">
                            Quantity
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-right">
                            Value (AED)
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-center">
                            Order Date
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-center">
                            Purchase Date
                        </th>
                        <th width="10%" class="th-sm d-none d-md-table-cell text-center">
                            Pick Up Date
                        </th>
                        <th class="th-sm text-center">
                            Track
                        </th>
                        <th class="th-sm text-center">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (orderList.Count > 0)
                    {
                        foreach (var order in orderList)
                        {
                            <tr>
                                @{
                                    var isProcured = (AppEnumeration.OrderStatus.Procured == (AppEnumeration.OrderStatus)order.Order.OrderStatus) ? true : false;

                                }
                                <td>
                                    <span>
                                        @(order.Product.ProductName)
                                    </span>
                                    <br />
                                    <span>School : @(order.Product.Location)</span>
                                </td>
                                <td> @( Garage.Areas.Non_IT.Helper.NonIT_Helper.GetSchoolDetails(order.Product.SchoolId).SchoolCode)   </td>

                                <td>
                                    @( Garage.Areas.Non_IT.Helper.NonIT_Helper.GetSchoolDetails(order.Order.SchoolId).SchoolCode)
                                </td>
                                <td class="text-right th-sm d-none d-md-table-cell">@((int)order.ProductOrder.Quantity)</td>
                                <td class="text-right th-sm d-none d-md-table-cell">AED @(String.Format("{0:0.00}",order.ProductOrder.ProductValue))</td>
                                <td class="text-center th-sm d-none d-md-table-cell">@(order.Order.CreatedDate.HasValue ? order.Order.CreatedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                <td class="text-center th-sm d-none d-md-table-cell">@(order.PurchaseDate.ToString("dd-MM-yyyy"))</td>
                                <td class="text-center th-sm d-none d-md-table-cell">@(order.ScheduledDate.ToString("dd-MM-yyyy"))</td>
                                <td class="text-center">
                                    <a class="table_list_ic order-track-pop" href="#" data-url="@Url.Action("TrackStatus", "NIOrder", new { id= order.Order.Id })"><img src="~/Content/images/tack.svg" /></a>
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic" href="@Url.Action("Track","NIOrder",new { id= Garage.Security.DataProtection.Encrypt( order.Order.Id) , @IsSameSchool = Garage.Security.DataProtection.Encrypt(0), @LastApproval = Garage.Security.DataProtection.Encrypt(0), @ViewOnly = Garage.Security.DataProtection.Encrypt(1)})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>