﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@using Garage.Models
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Disposed Assets";
    var disposedProductList = (List<NIAssetDisposed>)ViewBag.DisposedProductList;
}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}
<div class="page_content">
    <div class="page_title_name">Asset Disposed</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a class="fillter_button" href="@Url.Action("DisposedAsset","NISchoolAdmin",new { print = true })"><i class="fa fa-print"></i> Export to PDF</a>
        </div>
    </div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Asset
                        </th>
                        <th class="th-sm">
                            School
                        </th>
                        <th class="th-sm text-right d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th class="th-sm text-right d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th class="th-sm text-center d-none d-md-table-cell">
                            Posted Date
                        </th>
                        <th class="th-sm text-center d-none d-md-table-cell">
                            Disposed Date
                        </th>
                        <th class="th-sm text-center">
                            Track
                        </th>
                        <th class="th-sm text-center">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (disposedProductList.Count > 0)
                    {
                        foreach (var disposedProduct in disposedProductList)
                        {
                    <tr>
                        <td>
                            @disposedProduct.Product.ProductName
                        </td>
                        <td>
                            @disposedProduct.School.SchoolCode
                        </td>
                        <td class="text-right d-none d-md-table-cell">
                            @((int)disposedProduct.Product.Quantity)
                        </td>
                        <td class="text-right d-none d-md-table-cell">
                            @(disposedProduct.Product.UnitValue)
                        </td>
                        <td class="text-center d-none d-md-table-cell">
                            @(disposedProduct.PostedDate.ToString("dd-MM-yyyy"))
                        </td>
                        <td class="text-center d-none d-md-table-cell">
                            @(disposedProduct.DisposedDate.ToString("dd-MM-yyyy"))
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic asset-track" href="#" data-url="@Url.Action("AssetTrack","NIProduct",new { id= disposedProduct.Product.Id})"><img src="~/Content/images/tack.svg" /></a>
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","NIProduct",new { id= disposedProduct.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="8">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


        });

    </script>
}