﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Asset Transfer";
    List<NISoldProductDetail> soldProducts;
    var soldProductsList = (List<NISoldProductDetail>)ViewBag.SoldProducts; 
     
}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}
<div class="page_content">
    <div class="page_title_name">Asset Transfer</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a class="fillter_button" href="@Url.Action("Dispatched","NISchoolAdmin",new { print = true })"><i class="fa fa-print"></i> Export to PDF</a>
        </div>
    </div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Asset
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            Transfered from
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            Transfered to
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-right">
                            Quantity
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-right">
                            Value (AED)
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-center">
                            Published Date
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-center">
                            Transfer Date
                        </th>
                        <th class="th-sm d-none d-md-table-cell text-center">
                            Pick Up Date
                        </th>
                        <th class="th-sm text-center">
                            Track
                        </th>
                        <th class="th-sm text-center">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProductsList.Count > 0)
                    {
                        foreach (var soldProduct in soldProductsList)
                        {
                    <tr>
                        <td>
                            @soldProduct.Product.ProductName
                        </td>
                        <td>
                            @soldProduct.SoldSchool.SchoolCode
                        </td>
                   
                        <td class="th-sm d-none d-md-table-cell">
                            @soldProduct.School.SchoolName
                        </td>
                        <td class="text-right th-sm d-none d-md-table-cell">
                            @((int)soldProduct.ProductOrder.Quantity)
                        </td>
                        <td class="text-right th-sm d-none d-md-table-cell">
                            @(soldProduct.ProductOrder.ProductValue)
                        </td>
                        <td class="text-center th-sm d-none d-md-table-cell">
                            @(soldProduct.PublishedDate.HasValue ? soldProduct.PublishedDate.Value.ToString("dd-MM-yyyy") : "")
                        </td>
                        <td class="text-center th-sm d-none d-md-table-cell">
                            @(soldProduct.OrderApprovedDate.HasValue ? soldProduct.OrderApprovedDate.Value.ToString("dd-MM-yyyy") : "")
                        </td>
                        <td class="text-center th-sm d-none d-md-table-cell">
                            @(soldProduct.PickUpDate.HasValue ? soldProduct.PickUpDate.Value.ToString("dd-MM-yyyy") : "")
                        </td>
                        <td class="text-center th-sm">
                            <a class="table_list_ic asset-transfer-track" href="#" data-url="@Url.Action("AssetTransferTrack","NIProduct",new { id= soldProduct.SoldProduct.Id})"><img src="~/Content/images/tack.svg" /></a>
                        </td>
                        <td class="text-center th-sm">
                            <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("DetailsWithOrder","NIProduct", new { id = soldProduct.ProductOrder.Id})"><img src="~/Content/images/preview.svg" /></a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="bookValueTransferModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Book Value Transfer
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Wish to transfer this book value ?</h5>
                    <p class="text-danger">You won't be able to undo this!</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li>
                            <a id="btnConfirm" href="#" class="btn btn-success">Yes, Proceed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.scheduledDate').editable({
                format: 'yyyy-mm-dd',
                placement: 'left',
                viewformat: 'dd-mm-yyyy',
                datepicker: {
                    weekStart: 1,
                    startDate: '0d'
                },
                success: function (response, newValue) {
                    var id = response.soldProduct.Id
                    $('#scheduledDate-' + id).editable('disable');
                    $('#productStatus-' + id).html('Scheduled');
                }
            });

        });

        function transferBookValue(obj) {
            var url = $(obj).attr('data-url');
            var id = $(obj).attr('id');
            $("#btnConfirm").attr("href", url);
            $('#bookValueTransferModal').modal('show');
        }</script>
}