﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@model Garage.ViewModels.SearchAdminProductForm

@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Asset Draft";
    var draftList = (List<Garage.Areas.Non_IT.ViewModels.NIDraftProduct>)ViewBag.DraftList;
    var searchString = ViewBag.SearchString;


}

<div class="page_content">
    @using (Html.BeginForm("DraftedProducts", "Product", FormMethod.Post, new { role = "form", id = "searchAdminProduct" }))
    {
    <div class="page_title_name">Asset Draft</div>
        <div class="category_fillter_top">

            @*<div class="search_admin">
                    @Html.TextBoxFor(m => m.seacrchString, new { @class = "searchData", type = "text", placeholder = "Enter keyword" })
                    <button type="submit" id="btn-search" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>*@

            <div class="padding_left">
                @Html.HiddenFor(m => m.isOlderFirst, new { @value = false })
                @*<button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>*@
                @*<a class="fillter_button olderFirst" href="@Url.Action("DraftedProducts","Product")" id="older-first"><i class="fa fa-chevron-circle-up"></i>Olders First</a>*@
                @*<a href="@Url.Action("Add", "Asset")" class="fillter_button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Asset to Dispose
                    </a>*@
            </div>


        </div>
    }

     <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20%" class="th-sm">
                            Asset
                        </th>
                        <th width="10%" class="th-sm d-none d-md-table-cell">
                            Type
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Created Date
                        </th>
                        <th class="th-sm text-center" width="5%">
                            Preview
                        </th>
                        <th class="th-sm text-center" width="5%">
                            Edit
                        </th>
                        <th class="th-sm text-center" width="5%">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (draftList.Count > 0)
                    {
                        foreach (var draft in draftList)
                        {
                            <tr>
                                <td id="@(draft.Id+"-ProductName")">@draft.ProductName</td>
                                <td class="d-none d-md-table-cell">
                                @{ 
                                    var draftType = EnumHelper<AppEnumeration.DraftType>.GetDisplayValue(draft.DraftType);
                                    if(AppEnumeration.DraftType.Product == draft.DraftType)
                                    {
                                        <span class="text-success">@draftType</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">@draftType</span>
                                    }
                                }
                                
                                </td>
                                <td class="d-none d-md-table-cell">@(draft.CreatedDate.ToString("dd-MM-yyyy"))</td>
                                <td class="text-center">
                                    <a class="table_list_ic product-view-pop" href="#" data-url="@Url.Action("Details","NIProduct",new { id= draft.Id})"><img src="~/Content/images/preview.svg"></a>
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic" href="@Url.Action("Edit","NIProduct",new { id=Garage.Security.DataProtection.Encrypt( draft.Id.ToString())})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                                <td class="text-center">
                                    <a id="@draft.Id" class="table_list_ic" href="#" data-url="@Url.Action("Delete","NIProduct",new { id= Garage.Security.DataProtection.Encrypt(draft.Id.ToString())})" onclick="deleteProduct(this)"><i class="fa fa-remove" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="6">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
     </div>

    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Delete
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure to delete <strong id="productName">Product</strong> ?</h5>
                    <p class="text-danger">You won't be able to undo this!</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li>
                            <a id="btnDelete" href="#" class="btn btn-danger">Yes,Delete</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


</div>

@section footerscript {
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script>

        $(document).ready(function () {
            var productName = '@TempData["productName"]';
            var productDeleted = '@TempData["deleted"]';

            if (!productDeleted && productName !== undefined && productName !== '' && productName !== null) {
                $.notify({
                    title: "<strong>Asset Transfer : </strong> ",
                    message: "'" + productName + "' saved as draft successfully"
                },
                {
                    type: "success",
                    placement: {
                        align: 'center'
                    }
                });

            }

            if (productDeleted && productName !== undefined && productName !== '' && productName !== null) {

                $.notify({
                    title: "<strong>Remove Asset : </strong> ",
                    message: "'" + productName + "' has been deleted successfully"
                },
                    {
                        type: "danger",
                        placement: {
                            align: 'center'
                        }
                    });
            }
        });

        function deleteProduct(obj) {
            var url = $(obj).attr('data-url');
            var id = $(obj).attr('id');
            var productName = $("#"+id +"-ProductName").html();
            $("#btnDelete").attr("href", url);
            $("#productName").html(productName);
            $('#deleteModal').modal('show');
        }

    </script>


}


