﻿@using Garage.Utils
@using Garage.Areas.Non_IT.ViewModels
@model Garage.Areas.Non_IT.ViewModels.NIProductForm
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Add Asset";
    var location = Garage.Areas.Non_IT.AppUtils.getCurrentUser().school.SchoolName;
    var noPreviewImage = Garage.Areas.Non_IT.AppUtils.noPreviewImage;

}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />
    <link rel="stylesheet" href="~/Areas/Non_IT/Assests/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
}
<style type="text/css">
    .file-input {
        width: 100%;
        height: 40px;
        overflow: visible;
    }
</style>
<div class="page_content">
    <div class="page_title_name">Add Asset Reuse / Disposal</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a href="@Url.Action("Draft", "NISchoolAdmin")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm("Add", "NIProduct", FormMethod.Post, new { role = "form", id = "NIProductAddForm", enctype = "multipart/form-data" }))
            {
                @Html.Hidden("isNewProduct", true)
                @Html.AntiForgeryToken()
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-xl-6 col-md-12">
                            <div class="row">
                                <div class="col-md-12 form-group">

                                    @Html.LabelFor(m => m.productViewModel.ProductName, "Name of the Asset")
                                    @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                    @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @{ var AssetTypes = (List<SelectListItem>)ViewBag.AssetTypes; }
                                    @Html.LabelFor(m => m.productViewModel.assetType, "Asset Type")
                                    @Html.DropDownListFor(model => model.productViewModel.assetType, AssetTypes, new { @class = "popup_textBox", id = "assetType" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                    @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @type = "number", step = "1" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                    @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                    @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @{ var subCategoryList = new List<SelectListItem>(); }
                                    @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                    @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @{ var ConditionsList = (List<SelectListItem>)ViewBag.Conditions; }
                                    @Html.LabelFor(m => m.productViewModel.Condition, "Condition")
                                    @Html.DropDownListFor(model => model.productViewModel.Condition, ConditionsList, new { @class = "popup_textBox", id = "condition_select" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                    @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox", rows = "3" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.DAXReference, "Dax Asset Item Tag")
                                    @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox", rows = "3" })
                                </div>
                                <div class="col-sm-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                    @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description" })
                                </div>
                                <div class="col-sm-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Note, "Remarks")
                                    @Html.TextAreaFor(m => m.productViewModel.Note, new { @class = "popup_textBox", id = "product_note", rows = "1" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <div class="row">
                                <div class="col-sm-4 imgUp">
                                    <img src="@noPreviewImage" class="imagePreview img-responsive" />
                                    <label class="btn btn-primary-upload">
                                        Upload<input type="file" name="productFileViewModel.ImageFile[0]" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                    </label>
                                    <div id="error_msg" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="row more-images">
                            </div>
                            <div class="m-2">
                                <button type="button" class="btn btn-primary add-new"><i class="fa fa-plus">&nbsp;</i>Add More Images</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="Files row d-none">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card card ml-4 mb-3">
                            <div class="card-body">
                                <table id="filetbl" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="80%">Name</th>
                                            <th width="20%" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.productFileViewModel.ReferenceFiles, new { id = "hdnref" })
                <div class="col-lg-6 col-12">

                    @Html.TextBox("fileupload", "", new { @type = "file", @multiple = "multiple", id = "input-id" })<br />
                    <div style="font-size:14px; color:red">Allow Files: @System.Configuration.ConfigurationManager.AppSettings["FileExtension"].ToString() </div>
                    <div>
                        <div class="editableform-loading" style="display: none;"></div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_post_button">
                        <li class="pb-2"><button type="button" itemref="Draft" class="btn btn-secondary post">Save as Draft</button></li>
                        <li><button type="button" itemref="Post" formaction="@Url.Action("Post","NIProduct")" formmethod="post" class="btn btn-primary post">Post your Asset</button></li>
                    </ul>
                </div>

            }
        </div>
    </div>
</div>
<div class="d-none image-templete">
    <div class="col-sm-4 imgUp" id="1">
        <img id="img-1" src="@noPreviewImage" class="imagePreview img-responsive">
        <label class="btn btn-primary-upload">
            Upload<input type="file" id="" name="" class="uploadFile file-input  img" value="Upload Photo">
        </label>
        <i class="fa fa-trash text-danger del"></i>
    </div>
</div>
@section footerscript {


    <script src="~/Scripts/js/fileinput.min.js"></script>
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script src="~/Scripts/js/datepicker.min.js"></script>

    <script src="~/Scripts/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            $("#category").change(function () {
                var parentCatrgoryId = $(this).val();
                var url = "/NICategory/sub-nicategory-list?parentCategoryId=" + parentCatrgoryId
                $.get(url, function (data) {

                    $("#sub_category").empty().append($("<option />").val("").text("Select Sub Category"));

                    $.each(data, function () {
                        $("#sub_category").append($("<option />").val(this.ID).text(this.SubCategoryName));
                    });
                });
            });

            $("#date-of-purchase").datepicker({
                format: "dd-MM-yyyy",
                endDate: new Date,
                autoHide: true
            });
        });

        $('.post').click(function () {

            var obj = new Array();
            $('#filetbl tbody a').each(function () {
                if ($(this).attr('item-id') != undefined)
                obj.push($(this).attr('item-id'));
            });
            $('#hdnref').val(JSON.stringify(obj));


            if ($(this).attr('itemref') == 'Draft') {
                $('#NIProductAddForm').attr('action', '/NIProduct/Save');
            }
            if ($(this).attr('itemref') == 'Post') {
                $('#NIProductAddForm').attr('action', '/NIProduct/Post');
            }
           $('#NIProductAddForm').submit();

        });

        $('#input-id').on('change', function (event) {
            $('.editableform-loading').show();
            var files = $("#input-id").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                    fileData.append("fileInput", files[i]);
            }
            $('.fileinput-remove').click();
            $.ajax({
                type: "POST",
                url: "/NIProduct/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    $.each(result, function (key, val) {
                        debugger;
                        $('.Files').removeClass('d-none');
                        $('#filetbl tbody').append('<tr> <td><a item-id="' + val.ID+'"  name="productFileViewModel.ReferenceFiles" href="@Url.Action("DownloadFile")?ID=' + val.ID + '">' + val.FileName + '</a></td> <td class="text-center"><span class="text-center"><i class="fa fa-trash"></i></span></td></tr>');
                    });
                    $("#input-id").val("");
                },
                complete: function (d) {
                    $('.editableform-loading').hide();
             
                },
                error: function (xhr, status, error) {
                    alert(status);
                    $('.editableform-loading').hide();
                }
            });



        });
        $("#input-id").fileinput({
            showPreview: false,
            dropZoneTitle: 'Add max 1 pictures',
            showClose: false,
            allowedFileExtensions: ['jpg', 'gif', 'png', 'svg'],
            maxFileSize: 3072,
            showUpload: false,
            hideThumbnailContent: false,
            allowedFileTypes: ['image'],    // allow only images
            browseOnZoneClick: true,
            minFileCount: 0,
            maxFileCount: 10,
            autoReplace: true,
            layoutTemplates: { actionZoom: '<button type="button" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="View Details"><i class="fa fa-search-plus"></i></button>' },
            previewZoomButtonIcons: {
                prev: '<i class="fa fa-arrow-left"></i>',
                next: '<i class="fa fa-arrow-right"></i>',
                toggleheader: '<i class="fa fa-arrows-v"></i>',
                fullscreen: '<i class="fa fa-arrows-alt"></i>',
                borderless: '<i class="fa fa-expand"></i>',
                close: '<i class="fa fa-close"></i>'
            }
        });
        $(document).on("click", "i.fa-trash", function () {


            $(this).closest('tr').remove();
            if ($('#filetbl tbody').find('tr').length == 0)
                $('.Files').addClass('d-none');
        });

        $("#NIProductAddForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                if (element.attr("name") == "productFileViewModel.ImageFile[0]") {
                    $("#error_msg").html(error);
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                "productViewModel.ProductName": {
                    required: true,
                    maxlength: 50
                },
                "productViewModel.CategoryId": {
                    required: true
                },
                "productViewModel.SubCategoryId": {
                    required: true
                },
                "productViewModel.Description": {
                    required: true,
                    maxlength: 1000
                },
                "productViewModel.Quantity": {
                    required: true,
                    number: true,
                    min: 1,
                    max: 999
                },
                "productViewModel.UnitValue": {
                    required: true,
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.City": {
                    required: true
                },
                "productViewModel.Location": {
                    required: true
                },
                "productViewModel.OriginalUnitValue": {
                    number: true,
                    min: 0
                },
                "productViewModel.DepreciationValue": {
                    number: true,
                    min: 0,
                    max: function (element) {
                        var maxValue = Number($("#original_value").val());
                        return maxValue;
                    }
                },
                "productViewModel.Condition": {
                    required: true
                },
                "productViewModel.Reference": {
                    required: true
                },
                "productViewModel.DAXReference": {
                    required: true
                },
                "productViewModel.ExpectedRealisable": {
                    number: true,
                    min: 0
                },
                "productViewModel.ActualValue": {
                    number: true,
                    min: 0
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: 500
                },
                "productFileViewModel.ImageFile[0]": {
                    required: true
                }
            },
            messages: {
                "productViewModel.ProductName": {
                    required: "Please Enter Product Name",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "productViewModel.CategoryId": {
                    required: "Please Select Category"
                },
                "productViewModel.SubCategoryId": {
                    required: "Please Select Sub Category"
                },
                "productViewModel.Description": {
                    required: "Please Enter Description / Specification",
                    maxlength: "Please Enter no more than 1000 Characters"
                },
                "productViewModel.Quantity": {
                    required: "Please Enter Quantity",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Quantity",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.UnitValue": {
                    required: "Please Enter Unit Value",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.City": {
                    required: "Please Select City"
                },
                "productViewModel.Location": {
                    required: "Please Select Location"
                },
                "productViewModel.OriginalUnitValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.DepreciationValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"

                },
                "productViewModel.Condition": {
                    required: "Please Select Condition"
                },
                "productViewModel.Reference": {
                    required: "Please Enter Asset Reference"
                },
                "productViewModel.DAXReference": {
                    required: "Please Enter Dax Asset Item Tag"
                },
                "productViewModel.ExpectedRealisable": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value "
                },
                "productViewModel.ActualValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: "Please Enter no more than 500 Characters"
                },
                "productFileViewModel.ImageFile[0]": {
                    required: "Please Upload Primary Image"
                }
            }
        });

        $("#input-id").fileinput({
            showPreview: false,
            dropZoneTitle: 'Add max 1 pictures',
            showClose: false,
            allowedFileExtensions: ['jpg', 'gif', 'png', 'svg'],
            maxFileSize: 3072,
            showUpload: false,
            hideThumbnailContent: false,
            allowedFileTypes: ['image'],    // allow only images
            browseOnZoneClick: true,
            minFileCount: 0,
            maxFileCount: 10,
            autoReplace: true,
            layoutTemplates: { actionZoom: '<button type="button" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="View Details"><i class="fa fa-search-plus"></i></button>' },
            previewZoomButtonIcons: {
                prev: '<i class="fa fa-arrow-left"></i>',
                next: '<i class="fa fa-arrow-right"></i>',
                toggleheader: '<i class="fa fa-arrows-v"></i>',
                fullscreen: '<i class="fa fa-arrows-alt"></i>',
                borderless: '<i class="fa fa-expand"></i>',
                close: '<i class="fa fa-close"></i>'
            }
        });



        $('#NIProductAddForm').submit(function () {
            if ($('#NIProductAddForm').valid()) {
                $('#cover-spin').show();
            }
        });





        var i = 1;
        var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

        $(document).on("click", "i.del", function () {

            $(this).parent().remove();
            @*var id = $(this).parent().attr('id');
            console.log(id);
            $("#img-" + id).attr("src", "@noPreviewImage");
            console.log("#img" + id);
            console.log("@noPreviewImage");
            $("#input-file-" + id).val('');*@
        });
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                //if (!filterType.test(uploadFile.type)) {
                if (/^image/.test(files[0].type)) {
                    var fileReader = new FileReader();
                    fileReader.readAsDataURL(files[0]);
                    fileReader.onloadend = function () {
                        var image = new Image();
                        image.src = this.result;
                        image.onload = function () {
                            var canvas = document.createElement("canvas");
                            var context = canvas.getContext("2d");
                            canvas.width = image.width;
                            canvas.height = image.height;
                            context.drawImage(image,
                                0,
                                0,
                                image.width,
                                image.height,
                                0,
                                0,
                                canvas.width,
                                canvas.height
                            );
                            uploadFile.closest(".imgUp").find('.imagePreview').attr("src", canvas.toDataURL());
                        }
                    }
                }

            });
        });

        $('.add-new').on("click", function () {

            var template = $('.image-templete').clone();
            var id = $('.more-images').find('.imgUp').length;
            id = id + 1;
            $('.imgUp', template).attr('id', id);
            $('img', template).attr('id', 'img-' + id);
            $('.file-input', template).attr('id', 'input-file-' + id);
            $('.file-input', template).attr('name', 'productFileViewModel.ImageFile['+id+']');
            $('.more-images').append(template.html());

        });

    </script>
}

