﻿@using Garage.Utils
@using Garage.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_HeaderAdmin.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuAdmin.cshtml")
}
@{
    bool HideBulkChecked = true;
    ViewBag.Title = "Posted Assets";
    var approvedAssets = (List<Garage.Areas.Non_IT.Models.NIProduct>)ViewBag.ApprovedAssets;
    var nextApproveNameMap = (Dictionary<int, string>)ViewBag.ApproverNameMap;
    var validApprovalMap = (Dictionary<int, bool>)ViewBag.ValidApprovalMap;
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
    var SchoolsName = (Dictionary<int, string>)ViewBag.SchoolNameMap;
    var currentUserRole = (AppEnumeration.NIDisposeUserRole)currentUser.user.NIRole;
}
<div class="page_content">
    <div class="title_name category_title_top">Disposal Approval</div>
    @if (currentUserRole == AppEnumeration.NIDisposeUserRole.SSCINTERNALAUDIT || currentUserRole == AppEnumeration.NIDisposeUserRole.SVPTreasury
        || currentUserRole == AppEnumeration.NIDisposeUserRole.CFO || currentUser.user.NIRole.Value == (int)AppEnumeration.NIUserRole.PROCUREMENT
    )
    {
        HideBulkChecked = false;
        <div class="category_fillter_top">
            <div class="search_admin">
                <button type="button" onclick="BulkApprove()" class="btn btn-primary bulk ">Bulk Approve</button>

            </div>

        </div>
    }

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        @if (!HideBulkChecked)
                        {
                            <th width="3%" class="th-sm">
                                @Html.CheckBox("checkboxall", new { @class = "checkboxall" })
                            </th>
                        }
                        <th width="40%" class="th-sm">
                            Asset
                        </th>
                        <th>
                            School
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Uploaded Date
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Status
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Preview
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Take Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (approvedAssets.Count > 0)
                    {
                        foreach (var asset in approvedAssets)
                        {
                            var isDisposed = (AppEnumeration.ProductStatus.Disposed == (AppEnumeration.ProductStatus)asset.Status) ? true : false;
                            var attr = "dispose";
                            <tr>
                                @if (!HideBulkChecked)
                                {
                                    <th width="3%" class="th-sm">
                                        @Html.CheckBox("checked", new { @class = "bulkchecked", @itemid = asset.Id, @itemref = attr })
                                    </th>
                                }
                                <td>@asset.ProductName</td>
                                <td class=" d-md-table-cell">
                                    @SchoolsName[asset.Id]

                                </td>
                                <td>@asset.Quantity</td>
                                <td class=" d-none d-md-table-cell">@(asset.UpdatedDate.HasValue ? asset.UpdatedDate.Value.ToString("dd-MM-yyyy") : "" )</td>
                                @if (!isDisposed)
                                {
                                    <td class="red_text d-none d-md-table-cell">
                                        Waiting For @nextApproveNameMap[asset.Id] Approval
                                    </td>
                                }
                                else
                                {
                                    <td class="green_text d-none d-md-table-cell">
                                        Disposed
                                    </td>
                                }
                                <td class="text-center">
                                    <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","NIProduct",new { id= asset.Id})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic asset-track" href="#" data-url="@Url.Action("AssetTrack","NIProduct",new { id= asset.Id})"><img src="~/Content/images/tack.svg" /></a>
                                </td>
                                @if (asset.Status != (int)AppEnumeration.ProductStatus.Disposed)
                                {
                                    if (validApprovalMap[asset.Id] == true)
                                    {
                                        <td class="text-center">
                                            <a class="table_list_ic" @attr href="@Url.Action("DisposeAsset","NIProduct",new { id=  Garage.Security.DataProtection.Encrypt(asset.Id.ToString()) })"><img src="~/Content/images/action.svg" /></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <a class="table_list_ic" href="#"><img class="notallowed" src="~/Content/images/not-allowed-to-edit.svg" /></a>
                                        </td>
                                    }
                                }
                                else if (asset.Status == (int)AppEnumeration.ProductStatus.Disposed && currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GCOREALM)
                                {
                                    <td class="text-center">
                                        <a class="table_list_ic" @attr href="@Url.Action("DisposeAsset","NIProduct",new { id= Garage.Security.DataProtection.Encrypt(asset.Id.ToString()) })"><img src="~/Content/images/action.svg" /></a>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <a class="table_list_ic" href="#"><img class="notallowed" src="~/Content/images/not-allowed-to-edit.svg" /></a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            @if (!HideBulkChecked)
                            {
                                <td class="text-center" colspan="9">No Records Available</td>
                            }
                            else
                            {
                                <td class="text-center" colspan="8">No Records Available</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="RemarkModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header mytheme_header">
                Remark
                <div class="right_header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body mytheme_body">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <table class="post_product_field1">
                            <tr>
                                <td>

                                    @Html.TextArea("txtremarks", new { @class = "popup_textBox", id = "product_note", })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer mytheme_footer">
                <ul class="product_buy">

                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    <li><button type="button" class="btn btn-danger post">Approve</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script>
        function BulkApprove() {
            var IsAnyChecked = $('.bulkchecked:checkbox:checked');
            if (IsAnyChecked.length > 0) {
                $('#RemarkModal').modal('show');
            }

        }
        $(document).ready(function () {

            var succeed = '@TempData["succeed"]';
             var productRejected = '@TempData["rejected"]';
            if (succeed == '1') {
                $.notify({
                    title: "<strong> Bulk Approval: </strong> ",
                    message: " Items approved successfully"
                },
                    {
                        type: "success",
                        placement: {
                            align: 'center'
                        }
                    });
            }


            $('.checkboxall').click(function () {

                if ($(this).is(':checked')) {
                    $('.bulkchecked:enabled').prop('checked', true);
                }
                else {
                    $('.bulkchecked:enabled').prop('checked', false);
                }
            });
            $('.notallowed').each(function () {
                $(this).closest('tr').find('.bulkchecked').attr('disabled', true);
            });

            $('.post').click(function () {
                $('#cover-spin').show();
                var remarks = $('#product_note').val();
                debugger;
                var productIDs = [];
                var products = [];
                $('.bulkchecked:checkbox:checked').each(function () {
                    var productId = $(this).attr("itemid");
                    var _product = $(this).attr("itemref");

                    productIDs.push(productId);
                    products.push(_product);
                });

                $.ajax({
                    type: "POST",
                    url: "/NIProduct/BulkApproval?IDs=" + productIDs.join() + "&ProductRef=" + products.join() + "&Remarks=" + remarks,
                    success: function (result, status, xhr) {
                        if (result.toLowerCase() == 'true') {
                            window.location.href = "/NIProduct/ApprovedAsset"
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(status);
                        $('#cover-spin').hide();
                    }
                });
            });
            var productName = '@TempData["productName"]';
            var published = '@TempData["published"]';
               var productRejected = '@TempData["rejected"]';
            var message = "'" + productName + "' has been Approved successfully for disposal";
            var alertType = "success";

            if (productName !== undefined && productName !== '' && productName !== null) {

                if (published) {
                    message = "'" + productName + "' has been successfully published for sale.";
                }
                if (productRejected) {
                    message = "'" + productName + "' has been Rejected";
                    alertType = "danger";
                }
                $.notify({
                    title: "<strong>Asset Dispose : </strong> ",
                    message: message
                },
                {
                    type: alertType,
                    placement: {
                        align: 'center'
                    }
                });
            }
        });
    </script>

}
