﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@model Garage.Areas.Non_IT.ViewModels.NIProductForm
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Asset Approval";
    var location = Garage.Areas.Non_IT.AppUtils.getCurrentUser().school.SchoolName;
    var city = Garage.Areas.Non_IT.Helper.NonIT_Helper.GetCityByID((Convert.ToInt32(Model.productViewModel.City)));
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
    var currentUserRole = currentUser.user.NIRole;
    var product = (Garage.Areas.Non_IT.Models.NIProduct)ViewBag.Product;
    var Files = (List<Garage.Areas.Non_IT.Models.ProductFile>)ViewBag.ReferenceFiles;
    var productTrack = (Garage.Areas.Non_IT.Models.NIProductPostTrack)ViewBag.ProductTrack;
    // var currentUserRoleId = (AppEnumeration.NIUserRole)productTrack.NextApprovalUserRole != AppEnumeration.NIUserRole.GCOREALM ? (AppEnumeration.NIUserRole)productTrack.UserRole : (AppEnumeration.NIUserRole)productTrack.NextApprovalUserRole;
    var currentUserRoleId = (AppEnumeration.NIUserRole)productTrack.NextApprovalUserRole;
    var isReadonly = currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO || currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT ? false : true;
    var updateRate = currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS ? true : false;
    var hideFinanceFields = !(currentUserRoleId == AppEnumeration.NIUserRole.ACCOUNTS || currentUserRoleId == AppEnumeration.NIUserRole.HOS || currentUserRoleId == AppEnumeration.NIUserRole.GCOREALM);
    var hideDaxCheck = "disabled=disabled";
    var headerText = currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT ? "Edit Asset Reuse / Disposal" : "Asset Approval";

}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />
    <link rel="stylesheet" href="~/Areas/Non_IT/Assests/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}
<style type="text/css">
    #input-id {
    }

    .file-input {
        width: 100%;
        height: 40px;
        overflow: visible;
    }
</style>
<div class="page_content">
    <div class="page_title_name">@headerText</div>
    <div class="category_fillter_top">
        @*<div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>*@
        <div class="padding_left">
            <a href="@Url.Action("ApprovalRequest", "NISchoolAdmin")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            @*<div class="modal-header mytheme_header">
                    Asset Approval Form
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>*@
            @using (Html.BeginForm("Approval", "NIProduct", FormMethod.Post, new { role = "form", id = "ProductEditForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-xl-6 col-md-12">
                            <div class="col-md-12 form-group">
                                @Html.HiddenFor(m => m.productViewModel.Id, new { id = "hdnProductID" })
                                @if (isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Product")
                                    @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Product")
                                    @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox" })
                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @if (isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                    @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                    @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description", placeholder = "Description / Specification" })
                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                @if (isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                    @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.productViewModel.CategoryId)

                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                    @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })

                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @{ var subCategoryList = (List<SelectListItem>)ViewBag.subCategoryList; }
                                @if (isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                    @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.productViewModel.SubCategoryId)
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                    @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @if (isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                    @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @readonly = "readonly", @type = "number", step = "1" })

                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                    @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @type = "number", step = "1" })

                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @{ var conditionList = (List<SelectListItem>)ViewBag.AllConditionsList; }
                                @Html.LabelFor(m => m.productViewModel.Condition, "Condition")
                                @Html.DropDownListFor(model => model.productViewModel.Condition, conditionList, new { @class = "popup_textBox", id = "condition_select" })
                            </div>
                            <div class="col-md-12 form-group">
                                @if (isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                    @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                    @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description" })
                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @if (updateRate || !isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                    @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                    @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox", @readonly = "readonly" })
                                }
                            </div>
                            <div class="col-md-12 form-group">
                                @if (updateRate || !isReadonly)
                                {
                                    @Html.LabelFor(m => m.productViewModel.DAXReference, "DAX Asset Item Tag")
                                    @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.DAXReference, "DAX Asset Item Tag")
                                    @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox", @readonly = "readonly" })
                                }
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12" id="slider">
                            <div id="myCarousel" class="carousel slide">
                                <!-- main slider carousel items -->
                                <div class="carousel-inner gallery_height">

                                    @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                    {
                                        <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                            <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid_small">
                                        </div>
                                    }
                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!-- main slider carousel nav controls -->

                                <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                                    @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                    {
                                        <li class="list-inline-item@(image.index==0?" active":"")">
                                            <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                                <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid_small">
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    @if (!hideFinanceFields)
                    {
                        <div class="row post_product_field2">
                            <div class="col-sm-12 col-md-4 form-group">
                                @if (updateRate)
                                {
                                    @Html.LabelFor(m => m.productViewModel.ActualValue, "Total Gross Value:")
                                    @Html.TextBoxFor(m => m.productViewModel.ActualValue, new { @class = "popup_textBox", id = "actual_value" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.ActualValue, "Total Gross Value:")
                                    @Html.TextBoxFor(m => m.productViewModel.ActualValue, new { @class = "popup_textBox", id = "actual_value", @readonly = "readonly" })
                                }
                            </div>
                            <div class="col-sm-12 col-md-4 form-group">
                                @if (updateRate)
                                {
                                    @Html.LabelFor(m => m.productViewModel.OriginalUnitValue, "Original unit price:")
                                    @Html.TextBoxFor(m => m.productViewModel.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.OriginalUnitValue, "Original unit price:")
                                    @Html.TextBoxFor(m => m.productViewModel.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value", @readonly = "readonly" })
                                }
                            </div>

                            <div class="col-sm-12 col-md-4 form-group">
                                @if (updateRate)
                                {
                                    @Html.LabelFor(m => m.productViewModel.DepreciationValue, "Per unit Acc. Depreciation:")
                                    @Html.TextBoxFor(m => m.productViewModel.DepreciationValue, new {  @class = "popup_textBox", id = "depreciation_value" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.DepreciationValue, "Per unit Acc. Depreciation:")
                                    @Html.TextBoxFor(m => m.productViewModel.DepreciationValue, new { @class = "popup_textBox", id = "depreciation_value", @readonly = "readonly" })
                                }
                            </div>
                            <div class="col-sm-12 col-md-4 form-group">
                                @if (updateRate)
                                {
                                    @Html.LabelFor(m => m.productViewModel.UnitValue, "Per Unit Net Book Value:")
                                    @Html.TextBoxFor(m => m.productViewModel.UnitValue, new { @class = "popup_textBox", @readonly = "readonly", @id = "unit_value" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.UnitValue, "Per Unit Net Book Value:")
                                    @Html.TextBoxFor(m => m.productViewModel.UnitValue, new { @class = "popup_textBox", @readonly = "readonly", @id = "unit_value" })
                                }
                            </div>
                            <div class="col-sm-12 col-md-4 form-group">
                                @if (updateRate)
                                {
                                    @Html.LabelFor(m => m.productViewModel.DateOfPurchase, "Date of Purchase:")
                                    @Html.TextBoxFor(m => m.productViewModel.DateOfPurchase, new { @class = "popup_textBox", id = "date-of-purchase", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.productViewModel.DateOfPurchase, "Date of Purchase:")
                                    @Html.TextBoxFor(m => m.productViewModel.DateOfPurchase, "{0:dd/MM/yyyy}", new { @class = "popup_textBox", @readonly = "readonly" })
                                }
                            </div>
                            <div class="col-sm-12 col-md-4 form-group">
                                @if (product.AssetType == (int)AppEnumeration.AssetType.Dispose)
                                {


                                    if (updateRate)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ExpectedRealisable, "Per Unit Expect Realizable Value:")
                                        @Html.TextBoxFor(m => m.productViewModel.ExpectedRealisable, new { @class = "popup_textBox" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ExpectedRealisable, "Per Unit Expect Realizable Value:")
                                        @Html.TextBoxFor(m => m.productViewModel.ExpectedRealisable, new { @class = "popup_textBox", @readonly = "readonly" })
                                    }
                                }



                            </div>

                        </div>
                    }

                </div>

                <div class="modal fade" id="RemarkModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header mytheme_header">
                                Remark
                                <div class="right_header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body mytheme_body">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <table class="post_product_field1">
                                            <tr>
                                                <td>
                                                    @{
                                                        switch ((AppEnumeration.NIUserRole)currentUserRole)
                                                        {

                                                            case AppEnumeration.NIUserRole.MSOASSISTANT:
                                                                @Html.LabelFor(m => m.productViewModel.Note, "Remarks")
                                                                @Html.TextAreaFor(m => m.productViewModel.Note, new { @class = "popup_textBox", id = "product_note", })
                                                                break;

                                                            case AppEnumeration.NIUserRole.ACCOUNTS:
                                                                @Html.LabelFor(m => m.Remarks, "Remarks")
                                                                @Html.TextAreaFor(m => m.productViewModel.FinanceNote, new { @class = "popup_textBox", id = "product_note", })
                                                                break;

                                                            case AppEnumeration.NIUserRole.MSO:
                                                                @Html.LabelFor(m => m.productViewModel.MsoNote, "Remarks")
                                                                @Html.TextAreaFor(m => m.productViewModel.MsoNote, new { @class = "popup_textBox", id = "product_note", })
                                                                break;
                                                            case AppEnumeration.NIUserRole.HOS:
                                                                @Html.LabelFor(m => m.productViewModel.PrincipalNote, "Remarks")
                                                                @Html.TextAreaFor(m => m.productViewModel.PrincipalNote, new { @class = "popup_textBox", id = "product_note", })
                                                                break;
                                                            case AppEnumeration.NIUserRole.GCOREALM:
                                                                @Html.LabelFor(m => m.productViewModel.ApprovalRemarks, "Remarks")
                                                                @Html.TextAreaFor(m => m.productViewModel.ApprovalRemarks, new { @class = "popup_textBox", id = "product_note", })
                                                                break;
                                                            case AppEnumeration.NIUserRole.PROCUREMENT:
                                                                @Html.LabelFor(m => m.productViewModel.ApprovalRemarks, "Remarks")
                                                                @Html.TextAreaFor(m => m.productViewModel.ApprovalRemarks, new { @class = "popup_textBox", id = "product_note", })
                                                                break;

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer mytheme_footer">
                                <ul class="product_buy">

                                    <li>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </li>
                                    <li><button type="button" class="btn btn-danger post">Approve</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="Files row  @(Files.Count > 0 ? " " : " d-none " )">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="card card ml-4 mb-3">
                                <div class="card-body">
                                    <table id="filetbl" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="80%">Name</th>
                                                <th width="20%" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var file in Files)
                                            {
                                                <tr><td><a item-id="@file.ID" name="productFileViewModel.ReferenceFiles" href="@Url.Action("DownloadFile")?ID=@file.ID">  @file.FileName </a></td> <td class="text-center"><span class="text-center"><i class="fa fa-trash"></i></span></td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.productFileViewModel.ReferenceFiles, new { id = "hdnref" })

                    <div class="col-lg-6 col-12">
                        @if (currentUserRoleId != AppEnumeration.NIUserRole.HOS && currentUserRoleId != AppEnumeration.NIUserRole.GCOREALM && currentUser.user.NIRole != (int)AppEnumeration.NIUserRole.PROCUREMENT)
                        {
                            @Html.TextBox("fileupload", "", new { @type = "file", @multiple = "multiple", id = "input-id" })<br />
                            <div style="font-size:14px; color:red">Allow Files: @System.Configuration.ConfigurationManager.AppSettings["FileExtension"].ToString() </div>
                        }
                        <div>
                            <div class="editableform-loading" style="display: none;"></div>
                        </div>

                    </div>
                </div>

                <!-- Modal footer   -->

                <div class="modal-footer mytheme_footer">

                    @if (currentUserRoleId == (AppEnumeration.NIUserRole)Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole)
                    {

                        <ul class="product_post_button">

                            <li style="margin-left:-15%">
                                @*@if ((AppEnumeration.NIUserRole)currentUser.user.Role == AppEnumeration.NIUserRole.ACCOUNTS)
                                    {
                                        @Html.CheckBoxFor(m => m.productViewModel.IsDAXUpdate, new { id = "checkDaxUpdate" })
                                        @Html.Label(" Dax update is done")
                                    }*@

                            </li>
                            <li><a href="#" onclick="rejectProduct(this)" class="btn btn-danger">Reject</a></li>
                            <li><button type="button" onclick="approveProduct(this)" class="btn btn-primary btnapprove">Approve</button></li>
                        </ul>
                    }
                    else if ((AppEnumeration.NIUserRole)Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == AppEnumeration.NIUserRole.MSOASSISTANT || currentUserRoleId == AppEnumeration.NIUserRole.ACCOUNTS)
                    {
                        <ul class="product_post_button">
                            <li><button type="submit" formaction="@Url.Action("Update","NIProduct")" formmethod="post" class="btn btn-primary">Update</button></li>
                            <li><a href="#" onclick="deleteProduct(this)" class="btn btn-danger">Delete</a></li>
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
    @using (Html.BeginForm("Reject", "NIProduct", FormMethod.Post, new { role = "form", id = "ProductRejectForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.productViewModel.Id)
        <div class="modal fade" id="ReasonModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header mytheme_header">
                        Reject
                        <div class="right_header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body mytheme_body">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <table class="post_product_field1">
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.productViewModel.ReasonForReject, "Reason for Reject")
                                            @Html.TextAreaFor(m => m.productViewModel.ReasonForReject, new { @class = "popup_textBox", id = "product_reason_for_reject" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer mytheme_footer">
                        <ul class="product_buy">
                            <li class="pb-2"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                            <li><button type="submit" class="btn btn-danger">Reject</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Delete
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure, Do you want to Delete ?</h5>
                    <p class="text-danger">You won't be able to undo this!</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li><a href="@Url.Action("Delete","NIProduct", new { id= Garage.Security.DataProtection.Encrypt( Model.productViewModel.Id)})" class="btn btn-danger">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script src="~/Scripts/js/datepicker.min.js"></script>
    <script src="~/Scripts/js/fileinput.min.js"></script>
    <script src="~/Scripts/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
            var isRateRequired = '@updateRate.ToString().ToLower()';

        $('.post').click(function () {

            var obj = new Array();
            $('#filetbl tbody a').each(function () {
                if ($(this).attr('item-id') != undefined)
                    obj.push($(this).attr('item-id'));
            });
            $('#hdnref').val(JSON.stringify(obj));


            $('#ProductEditForm').submit();

        });

        $(document).on("click", "i.fa-trash", function () {

           var FileID = $(this).closest('tr').find('a').attr('item-id');
            var row = $(this).closest('tr');

              $.ajax({
                type: "POST",
                  url: "/NIProduct/DeleteFile?ID=" + FileID,
                dataType: "json",
                  success: function (result, status, xhr) {
                      debugger;
                      $(row).remove();
                    if ($('#filetbl tbody').find('tr').length == 0) {
                        $('.Files').addClass('d-none');
                    }
                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
        });

        $('#input-id').on('change', function (event) {
            $('.editableform-loading').show();
            var files = $("#input-id").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInput", files[i]);
            }
            fileData.append("ProductID", $('#hdnProductID').val());
            $('.fileinput-remove').click();
            $.ajax({
                type: "POST",
                url: "/NIProduct/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    $.each(result, function (key, val) {

                        $('.Files').removeClass('d-none');
                        $('#filetbl tbody').append('<tr><td><a item-id="' + val.ID+'"  name="productFileViewModel.ReferenceFiles" href="@Url.Action("DownloadFile")?ID=' + val.ID + '">' + val.FileName + '</a></td> <td class="text-center"><span class="text-center"><i class="fa fa-trash"></i></span></td></tr>');
                    });
                    $("#input-id").val("");
                },
                complete: function (d) {
                    $('.editableform-loading').hide();
                },
                error: function (xhr, status, error) {
                    alert(status);
                    $('.editableform-loading').hide();
                }
            });
        });
        $("#input-id").fileinput({
            showPreview: false,
            dropZoneTitle: 'Add max 1 pictures',
            showClose: false,
            allowedFileExtensions: ['jpg', 'gif', 'png', 'svg'],
            maxFileSize: 3072,
            showUpload: false,
            hideThumbnailContent: false,
            allowedFileTypes: ['image'],    // allow only images
            browseOnZoneClick: true,
            minFileCount: 0,
            maxFileCount: 10,
            autoReplace: true,
            layoutTemplates: { actionZoom: '<button type="button" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="View Details"><i class="fa fa-search-plus"></i></button>' },
            previewZoomButtonIcons: {
                prev: '<i class="fa fa-arrow-left"></i>',
                next: '<i class="fa fa-arrow-right"></i>',
                toggleheader: '<i class="fa fa-arrows-v"></i>',
                fullscreen: '<i class="fa fa-arrows-alt"></i>',
                borderless: '<i class="fa fa-expand"></i>',
                close: '<i class="fa fa-close"></i>'
            }
        });
        $(".remarksReadOnly").prop("readonly", true);

        $("#ProductEditForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "productViewModel.ProductName": {
                    required: true,
                    maxlength: 50
                },
                "productViewModel.CategoryId": {
                    required: true
                },
                "productViewModel.SubCategoryId": {
                    required: true
                },
                "productViewModel.Description": {
                    maxlength: 1000
                },
                "productViewModel.Quantity": {
                    required: true,
                    number: true,
                    min: 1,
                    max: 999
                },
                "productViewModel.City": {
                    required: true
                },
                "productViewModel.Location": {
                    required: true
                },
                "productViewModel.OriginalUnitValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.UnitValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.DateOfPurchase": {
                    required: () => (isRateRequired == 'true')
                },
                "productViewModel.GrossPurchaseValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },


                "productViewModel.ExpectedRealisable": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.ActualValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.Reference": {
                    required: () => (isRateRequired == 'true'),
                    maxlength: 200
                },
                "productViewModel.DepreciationValue": {
                    number: true,
                    min: 0,
                    max: function (element) {
                        var maxValue = Number($("#original_value").val());
                        return maxValue;
                    }
                },
                "productViewModel.Condition": {
                    required: true
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: 500
                },
                "productViewModel.FinanceNote": {
                    maxlength: 250
                },
                "productViewModel.MsoNote": {
                    maxlength: 250
                },
                "productViewModel.PrincipalNote": {
                    maxlength: 250
                }
            },
            messages: {
                "productViewModel.ProductName": {
                    required: "Please Enter Product Name",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "productViewModel.CategoryId": {
                    required: "Please Select Category"
                },
                "productViewModel.SubCategoryId": {
                    required: "Please Select Sub Category"
                },
                "productViewModel.Description": {
                    maxlength: "Please Enter no more than 1000 Characters"
                },
                "productViewModel.Quantity": {
                    required: "Please Enter Quantity",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Quantity",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.UnitValue": {
                    required: "Please Enter Unit Value",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.City": {
                    required: "Please Select City"
                },
                "productViewModel.Location": {
                    required: "Please Select Location"
                },
                "productViewModel.OriginalUnitValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.DepreciationValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"

                },
                "productViewModel.Condition": {
                    required: "Please Select Condition"
                },
                "productViewModel.ExpectedRealisable": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value "
                },
                "productViewModel.ActualValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: "Please Enter no more than 500 Characters"
                },
                "productViewModel.FinanceNote": {
                    maxlength: "Please Enter no more than 250 Characters"
                },
                "productViewModel.MsoNote": {
                    maxlength: "Please Enter no more than 250 Characters"
                },
                "productViewModel.PrincipalNote": {
                    maxlength: "Please Enter no more than 250 Characters"
                }
            }
        });

 
        $('#checkDaxUpdate').change(function () {
            $('.btnapprove').prop('disabled', !($(this).is(':checked')));
        });

        $("#category").change(function () {
            var parentCatrgoryId = $(this).val();
            var url = "/NICategory/sub-nicategory-list?parentCategoryId=" + parentCatrgoryId
            $.get(url, function (data) {

                $("#sub_category").empty().append($("<option />").val("").text("Select Sub Category"));

                $.each(data, function () {
                    $("#sub_category").append($("<option />").val(this.Id).text(this.SubCategoryName));
                });
            });
        });

        $("#date-of-purchase").datepicker({
            //format: "dd-mm-yyyy",
            endDate: new Date(),
            autoHide: true
        });

        $("#date-of-purchase").change(function () {
            var isValid = $("#ProductEditForm").validate().element("#date-of-purchase");
        });

        function rejectProduct(obj) {
            $('#ReasonModal').modal('show');
        }

        function deleteProduct(obj) {
            $('#deleteModal').modal('show');
        }


        function approveProduct(obj) {
            $('#RemarkModal').modal('show');
        }

        $('#ProductEditForm').submit(function () {
            $('#RemarkModal').modal('hide');
            if ($('#ProductEditForm').valid()) {
                $('#cover-spin').show();
            }
        });

        $("#ProductRejectForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "productViewModel.ReasonForReject": {
                    required: true,
                    maxlength: 200
                }
            },
            messages: {
                "productViewModel.ReasonForReject": {
                    required: "Please Enter reason for Reject",
                    maxlength: "Please Enter no more than 200 Characters"
                }
            }


        });


        // A $( document ).ready() block.
        $(document).ready(function () {
            $("#depreciation_value").bind("blur", function () {
                if ($('#original_value').val() != '' && $('#depreciation_value').val() != '') {
                    $('#unit_value').val(parseFloat($('#original_value').val()) - parseFloat($('#depreciation_value').val()));
                }
            });
            

            $("#original_value").bind("blur", function () {
                if ($('#original_value').val() != '' && $('#depreciation_value').val() != '') {
                    $('#unit_value').val(parseFloat($('#original_value').val()) - parseFloat($('#depreciation_value').val()));
                }
            });
             
        });


    </script>
}