﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@model Garage.Areas.Non_IT.ViewModels.NIProductForm
@{

    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Edit Asset";
    var location = Garage.Areas.Non_IT.AppUtils.getCurrentUser().school.SchoolName;
    var city = (AppEnumeration.City)(Convert.ToInt32(Model.productViewModel.City));
    var product = (Garage.Areas.Non_IT.Models.NIProduct)ViewBag.Product;
    var rejectedUser = (UserRegistration)ViewBag.User;
    var Files = (List<Garage.Areas.Non_IT.Models.ProductFile>)ViewBag.ReferenceFiles;
}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />
    <style type="text/css">
        .file-input {
            width: 100%;
            height: 40px;
            overflow: visible;
        }

        .krajee-default .file-footer-caption {
            margin-bottom: 5px
        }

        .krajee-default.file-preview-frame .kv-file-content {
            width: 170px;
            height: 160px;
        }
    </style>

}
<div class="page_content">
    <div class="page_title_name">Edit Asset Reuse / Disposal</div>
    <div class="category_fillter_top">
        @*<div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>*@
        <div class="padding_left">
            <a href="@Url.Action("Draft", "NISchoolAdmin")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            @*<div class="modal-header mytheme_header">
            Edit Asset Reuse / Disposal
            <div class="right_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>*@
            @using (Html.BeginForm("Update", "NIProduct", FormMethod.Post, new { role = "form", id = "NIProductAddForm", enctype = "multipart/form-data" }))
            {
                @Html.Hidden("isNewProduct", false)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.productViewModel.Id, new { id = "hdnProductID" })
                @Html.HiddenFor(m => m.productViewModel.Id)
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-xl-6 col-md-12">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.HiddenFor(m => m.productViewModel.Id)
                                    @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Asset")
                                    @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                    @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                    @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                    @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @{ var subCategoryList = (List<SelectListItem>)ViewBag.subCategoryList; }
                                    @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                    @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @Html.LabelFor(m => m.productViewModel.assetType, "Asset Type")
                                    @Html.DropDownListFor(model => model.productViewModel.assetType, EnumHelper.GetSelectList(typeof(AppEnumeration.AssetType)), new { @class = "popup_textBox", id = "assetType" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                    @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @type = "number", step = "1" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @{ var ConditionsList = (List<SelectListItem>)ViewBag.Conditions; }
                                    @Html.LabelFor(m => m.productViewModel.Condition, "Condition")
                                    @Html.DropDownListFor(model => model.productViewModel.Condition, ConditionsList, new { @class = "popup_textBox", id = "condition_select" })
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                    @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox", rows = "3" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.DAXReference, "Dax Asset Item Tag")
                                    @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox", rows = "3" })
                                </div>
                                <div class="col-sm-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                    @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description" })
                                </div>
                                <div class="col-sm-12 form-group">
                                    @Html.LabelFor(m => m.productViewModel.Note, "Remarks")
                                    @Html.TextAreaFor(m => m.productViewModel.Note, new { @class = "popup_textBox", id = "product_note", rows = "1" })
                                </div>
                                @if ((AppEnumeration.NIUserRole)Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == AppEnumeration.NIUserRole.MSOASSISTANT && product.RejectedUserId != null)
                                {
                                    var role = (EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue((AppEnumeration.NIUserRole)rejectedUser.NIRole));

                                    <div class="col-sm-12 col-md-6 form-group">
                                        @Html.LabelFor(m => m.productViewModel.ReasonForReject, "Reson For Reject :")<br />
                                        <h5 class="text-danger"> @product.RejectReason</h5>
                                    </div>
                                    <div class="col-sm-12 col-md-6 form-group">
                                        @Html.LabelFor(m => m.productViewModel.ReasonForReject, "Rejected By :")<br />
                                        <h5 class="text-danger">@rejectedUser.FullName</h5>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-12" id="slider">
                            <div id="myCarousel" class="carousel slide">
                                <!-- main slider carousel items -->
                                <div class="carousel-inner gallery_height">
                                    @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                    {
                                        <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                            <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid">
                                        </div>
                                    }
                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!-- main slider carousel nav controls -->

                                <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                                    @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                    {
                                        <li class="list-inline-item@(image.index==0?" active":"")">
                                            <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                                <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid_small">
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="Files row  @(Files.Count > 0 ? " " : " d-none " )">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card card ml-4 mb-3">
                            <div class="card-body">
                                <table id="filetbl" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="80%">Name</th>
                                            <th width="20%" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var file in Files)
                                        {
                                            <tr><td><a item-id="@file.ID" name="productFileViewModel.ReferenceFiles" href="@Url.Action("DownloadFile")?ID=@file.ID">  @file.FileName </a></td> <td class="text-center"><span class="text-center"><i class="fa fa-trash"></i></span></td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.productFileViewModel.ReferenceFiles, new { id = "hdnref" })
                <div class="col-lg-6 col-12">
                    @Html.TextBox("fileupload", "", new { @type = "file", @multiple = "multiple", id = "input-id" })
                </div>
                <div style="font-size:14px; color:red">Allow Files: @System.Configuration.ConfigurationManager.AppSettings["FileExtension"].ToString() </div>
                var currentProductStatus = (AppEnumeration.ProductStatus)product.Status;

                <!-- Modal footer -->

                <div class="modal-footer mytheme_footer">
                    <ul class="product_post_button">
                        <li class="pb-2"><button type="button" itemref="Draft" class="btn btn-secondary post">Save as Draft</button></li>
                        @if (currentProductStatus == AppEnumeration.ProductStatus.SavedAsDraft)
                        {
                            <li><button type="button" itemref="Post" formmethod="post" class="btn btn-primary post">Post your Asset</button></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script src="~/Scripts/js/datepicker.min.js"></script>
    <script src="~/Scripts/js/fileinput.min.js"></script>
    <script type="text/javascript">
         $('#input-id').on('change', function (event) {
            var files = $("#input-id").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInput", files[i]);
             }
             fileData.append("ProductID", $('#hdnProductID').val());
            $('.fileinput-remove').click();
            $.ajax({
                type: "POST",
                url: "/NIProduct/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    $.each(result, function (key, val) {

                        $('.Files').removeClass('d-none');
                        $('#filetbl tbody').append('<tr><td><a item-id="' + val.ID+'"  name="productFileViewModel.ReferenceFiles" href="@Url.Action("DownloadFile")?ID=' + val.ID + '">' + val.FileName + '</a></td> <td class="text-center"><span class="text-center"><i class="fa fa-trash"></i></span></td></tr>');
                    });
                    $("#input-id").val("");
                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
        });
        $("#input-id").fileinput({
            showPreview: false,
            dropZoneTitle: 'Add max 1 pictures',
            showClose: false,
            allowedFileExtensions: ['jpg', 'gif', 'png', 'svg'],
            maxFileSize: 3072,
            showUpload: false,
            hideThumbnailContent: false,
            allowedFileTypes: ['image'],    // allow only images
            browseOnZoneClick: true,
            minFileCount: 0,
            maxFileCount: 10,
            autoReplace: true,
            layoutTemplates: { actionZoom: '<button type="button" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="View Details"><i class="fa fa-search-plus"></i></button>' },
            previewZoomButtonIcons: {
                prev: '<i class="fa fa-arrow-left"></i>',
                next: '<i class="fa fa-arrow-right"></i>',
                toggleheader: '<i class="fa fa-arrows-v"></i>',
                fullscreen: '<i class="fa fa-arrows-alt"></i>',
                borderless: '<i class="fa fa-expand"></i>',
                close: '<i class="fa fa-close"></i>'
            }
        });
        $(document).on("click", "i.fa-trash", function () {

            debugger;
            $(this).closest('tr').remove();
            if ($('#filetbl tbody').find('tr').length == 0)
                $('.Files').addClass('d-none');
        });
        $('.post').click(function () {
            debugger;
            var obj = new Array();
            $('#filetbl tbody a').each(function () {
                if ($(this).attr('item-id') != undefined)
                    obj.push($(this).attr('item-id'));
            });
            $('#hdnref').val(JSON.stringify(obj));


            if ($(this).attr('itemref') == 'Draft') {
                $('#NIProductAddForm').attr('action', '/NIProduct/Update');
            }
            if ($(this).attr('itemref') == 'Post') {
                $('#NIProductAddForm').attr('action', '/NIProduct/Post');
            }
            $('#NIProductAddForm').submit();

        });

        $("#NIProductAddForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "productViewModel.ProductName": {
                    required: true,
                    maxlength: 50
                },
                "productViewModel.CategoryId": {
                    required: true
                },
                "productViewModel.SubCategoryId": {
                    required: true
                },
                "productViewModel.Description": {
                    required: true,
                    maxlength: 1000
                },
                "productViewModel.Quantity": {
                    required: true,
                    number: true,
                    min: 1,
                    max: 999
                },
                "productViewModel.UnitValue": {
                    required: true,
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.City": {
                    required: true
                },
                "productViewModel.Location": {
                    required: true
                },
                "productViewModel.OriginalUnitValue": {
                    number: true,
                    min: 0
                },
                "productViewModel.DepreciationValue": {
                    number: true,
                    min: 0,
                    max: function (element) {
                        var maxValue = Number($("#original_value").val());
                        return maxValue;
                    }
                },
                "productViewModel.Condition": {
                    required: true
                },
                "productViewModel.Reference": {
                    required: true
                },
                "productViewModel.DAXReference": {
                    required: true
                },
                "productViewModel.ExpectedRealisable": {
                    number: true,
                    min: 0
                },
                "productViewModel.ActualValue": {
                    number: true,
                    min: 0
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: 500
                }
            },
            messages: {
                "productViewModel.ProductName": {
                    required: "Please Enter Product Name",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "productViewModel.CategoryId": {
                    required: "Please Select Category"
                },
                "productViewModel.SubCategoryId": {
                    required: "Please Select Sub Category"
                },
                "productViewModel.Description": {
                    required: "Please Enter Description / Specification",
                    maxlength: "Please Enter no more than 1000 Characters"
                },
                "productViewModel.Quantity": {
                    required: "Please Enter Quantity",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Quantity",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.UnitValue": {
                    required: "Please Enter Unit Value",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.City": {
                    required: "Please Select City"
                },
                "productViewModel.Location": {
                    required: "Please Select Location"
                },
                "productViewModel.OriginalUnitValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.DepreciationValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"

                },
                "productViewModel.Condition": {
                    required: "Please Select Condition"
                },
                "productViewModel.Condition": {
                    required: "Please Select Condition"
                },
                "productViewModel.Reference": {
                    required: "Please Enter Asset Reference"
                },
               
                "productViewModel.ExpectedRealisable": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value "
                },
                "productViewModel.ActualValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: "Please Enter no more than 500 Characters"
                }
            }
        });

        $("#category").change(function () {
            var parentCatrgoryId = $(this).val();
            var url = "/NICategory/sub-nicategory-list?parentCategoryId=" + parentCatrgoryId
            $.get(url, function (data) {

                $("#sub_category").empty().append($("<option />").val("").text("Select Sub Category"));

                $.each(data, function () {
                    $("#sub_category").append($("<option />").val(this.Id).text(this.SubCategoryName));
                });
            });
        });

        $("#date-of-purchase").datepicker({
            format: "dd-MM-yyyy",
            endDate: new Date,
            autoHide: true
        });

        $('#NIProductAddForm').submit(function () {
            if ($('#NIProductAddForm').valid()) {
                $('#cover-spin').show();
            }
        });

    </script>
}