﻿@using Garage.ViewModels
@using Garage.Models
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@using Garage.Utils
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_EcommerceLayout.cshtml";
    NICurrentUser currentUser = null;
    if (Garage.Areas.Non_IT.AppUtils.getCurrentUser() != null) { currentUser = (NICurrentUser)Garage.Areas.Non_IT.AppUtils.getCurrentUser(); }
}
@section header {
    @if (currentUser != null)
    {
        if (currentUser.isNISuperAdmin)
        {
            @RenderPage("~/Areas/Non_IT/Views/Shared/_HeaderAdmin.cshtml")
        }
        else
        {
            @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
        }
    }
    else
    {
        @RenderPage("~/Views/Shared/_HeaderVisitor.cshtml")
    }
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenu.cshtml")
}
@section footerscript {

}
@{
    ViewBag.Title = "Products";
    var productList = (List<Garage.Areas.Non_IT.ViewModels.NIProductListView>)ViewBag.ProductList;
    var currentCategory = (Garage.Areas.Non_IT.Models.Category)ViewBag.CurrentCategory;
    var subCategoryList = (List<Garage.Areas.Non_IT.Models.SubCategory>)ViewBag.SubCategoryList;
}

<script type="text/javascript">

    function getList(obj) {

        window.location.href = $(obj).val();
    }

</script>
<div class="page_content">
    <div class="title_name category_title_top">@currentCategory.CategoryName</div>
    <div class="category_fillter_top">
        <div class="form-group no_margin_bottom padding_left">
            <select class="form-control" id="sel1" onchange="getList(this)">
                <option value="">All Subcategories</option>
                @if (subCategoryList != null && subCategoryList.Count > 0)
                {
                    foreach (var subCategory in subCategoryList)
                    {
                        <option value="@Url.Action("List","NIProduct", new { categoryId =  Garage.Security.DataProtection.Encrypt(subCategory.CategoryID.ToString()), subCategoryId = Garage.Security.DataProtection.Encrypt(subCategory.ID.ToString()) })">
                            @subCategory.SubCategoryName
                        </option>
                    }
                }
            </select>
        </div>
        @*<div class="padding_left">
                <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Price low to High</button>
            </div>

            <div class="padding_left">
                <button class="fillter_button" onclick="myFunction()"><i class="fa fa-th-list"></i> List View</button>
            </div>*@
    </div>
    <div class="row">
        @if (productList != null && productList.Count > 0)
        {
            foreach (var productView in productList)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="product_box product-view-pop" data-url="@Url.Action("View","NIProduct",new { id = productView.Product.Id})">
                        <div class="product_gridView">
                            <div class="product_img">
                                <img class="img-fluid" src="@Url.Action("ProductImage","NIFileApi", new { productImageId = productView.imageIdList.FirstOrDefault() })" />
                            </div>
                            <div class="product_details">
                                <div class="product_name">
                                    @productView.Product.ProductName
                                </div>
                                <div class="product_price">
                                    <span>AED</span> @productView.Product.UnitValue
                                </div>
                            </div>
                            <div class="product_info">
                                <div class="product_info_line1">@productView.SchoolCode.ToUpper()</div>
                                <div class="product_info_line2">@(productView.PublishedDate.HasValue ? productView.PublishedDate.Value.ToString("dd-MM-yyyy") : "")</div>
                                <div class="product_info_line3"><img src="~/Content/images/stock.svg" /> @((int)productView.Product.InStock)</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @if (productList != null && productList.Count > 0)
    {
        //<div class="show_all"><a href="#">Show All</a></div>
    }
    else
    {
        <div class="no_data_set">
            <img src="~/Content/assets/images/no_category.svg" class="img-fluid">
            <div class="text-center no_data_txt">Sorry, no products to display!</div>
            <div class="text-center">Please try searching for something else</div>
        </div>
    }
</div>
