﻿@using Garage.Utils
@using Garage.ViewModels
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Asset Sale";
    List<Garage.Areas.Non_IT.ViewModels.NISoldProductDetail> soldProducts;
    var soldProductsList = (List<Garage.Areas.Non_IT.ViewModels.NISoldProductDetail>)ViewBag.SoldProducts;
    if (Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS)
    {
        soldProducts = soldProductsList.Where(sp => sp.SoldProduct.Status == (int)AppEnumeration.SoldProductStatus.WaitingForBookValueTransfer).ToList();

    }
    else
    {
        soldProducts = soldProductsList;
    }
}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
}
<div class="page_content">
    <div class="page_title_name">Asset Sale</div>
    @*<div class="category_fillter_top">
            <div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="padding_left">
                <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
            </div>
        </div>*@
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="25%" class="th-sm">
                            Asset
                        </th>
                        <th width="25%" class="th-sm">
                            Transfered from
                        </th>
                        <th width="25%" class="th-sm">
                            Transfered to
                        </th>
                        <th width="25%" class="th-sm d-none d-md-table-cell">
                            Purchase Details
                        </th>
                        <th width="5%" class="th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th width="10%" class="text-right th-sm d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Status
                        </th>
                        <th class="th-sm text-center" width="20%">
                            @{
                                var tableheader = Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS ? "Action" : "Schedule Dispatch";
                            }
                            @tableheader
                        </th>
                        <th class="th-sm text-center" width="20%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="20%">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProducts.Count > 0)
                    {
                        foreach (var soldProduct in soldProducts)
                        {
                            <tr>
                                <td> @soldProduct.Product.ProductName </td>
                                <td> @soldProduct.SoldSchool.SchoolCode </td>
                                <td> @soldProduct.School.SchoolCode </td>
                                <td class="d-none d-md-table-cell">
                                    Approved by :<strong>@soldProduct.School.SchoolName</strong> <br />
                                    @if (soldProduct.OrderApprovedDate.HasValue)
                                    {
                                        <span>Approved Date :<strong>@(soldProduct.OrderApprovedDate.HasValue ? soldProduct.OrderApprovedDate.Value.ToString("dd-MM-yyyy") : "" )</strong></span>
                                    }
                                </td>
                                <td class="text-right d-none d-md-table-cell">@((int)soldProduct.ProductOrder.Quantity)</td>
                                <td class="text-right d-none d-md-table-cell">
                                    <span id="productValue-@soldProduct.SoldProduct.Id">@(soldProduct.ProductOrder.ProductValue)</span>
                                </td>
                                <td class="d-none d-md-table-cell" id="productStatus-@soldProduct.SoldProduct.Id">
                                    @{
                                        var productStatus = EnumHelper<AppEnumeration.SoldProductStatus>.GetDisplayValue((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status);
                                    }

                                    <p>@productStatus</p>
                                </td>
                                <td class="text-center">
                                    @if ((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status == AppEnumeration.SoldProductStatus.WaitingForSchedule && (Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == (int)AppEnumeration.NIUserRole.MSO))
                                    {

                                        var scheduledDate = soldProduct.SoldProduct.ScheduledDate.HasValue ? soldProduct.SoldProduct.ScheduledDate.Value.ToString("dd-MM-yyyy") : "";

                                        <a href="#" class="scheduledDate" id="scheduledDate-@soldProduct.SoldProduct.Id" data-type="date" data-pk="@soldProduct.SoldProduct.Id" data-name="scheduledDate" data-value="@scheduledDate" data-url="@Url.Action("Scheduled","NIProduct")" data-title="Schedule Date">PickUp Date</a>

                                    }
                                    else if ((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status == AppEnumeration.SoldProductStatus.Scheduled)
                                    {
                                        var scheduledDate = soldProduct.SoldProduct.ScheduledDate.HasValue ? soldProduct.SoldProduct.ScheduledDate.Value.ToString("dd-MM-yyyy") : "";
                                        <p>@scheduledDate</p>
                                    }
                                    else if ((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status == AppEnumeration.SoldProductStatus.WaitingForBookValueTransfer && Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS)
                                    {


                                        if (soldProduct.ProductFile != null && soldProduct.ProductFile.Count() > 0)
                                        {
                                            @Html.Hidden("fileid-" + soldProduct.SoldProduct.Id, Newtonsoft.Json.JsonConvert.SerializeObject(soldProduct.ProductFile));

                                        }
                                        <a class="table_list_ic" href="#" data-id="@soldProduct.SoldProduct.Id" data-url="@Url.Action("BookValueTransfer","NIProduct",new { id = soldProduct.SoldProduct.Id, })" dax="@soldProduct.Product.DAXAssestItemTag" reference="@soldProduct.Product.Reference" onclick="transferBookValue(this,@soldProduct.ProductOrder.Quantity.ToString(), @soldProduct.Product.OriginalUnitValue.ToString())">Book Value Transfer</a>
                                    }
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic asset-transfer-track" href="#" data-url="@Url.Action("AssetTransferTrack","NIProduct",new { id= soldProduct.SoldProduct.Id})"><img src="~/Content/images/tack.svg" /></a>
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("SoldDetails","NIProduct",new { id= soldProduct.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="bookValueTransferModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Book Value Transfer
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5 class="d-none">Transfer the Book Value of Ordered Assets?</h5>
                    <p class="d-none text-success">Amount of Asset being transferred : AED  <input id="popup-amount" type="text" />  </p>



                    <div class="row">
                        <div class="col-sm-6 mb-2">
                            Number of unit transferred: <input type="text" class="form-control" disabled id="unittransferred" />
                        </div>
                        <div class="col-sm-6 mb-2">
                            Original unit Value: <input type="text" class="form-control" disabled id="unitpurchase" />
                        </div>
                        <div class="col-sm-12 mb-2">
                            Per unit Acc. Dep Value at the time of transfer: <input type="text" class="form-control" id="unitdepvalue" />
                        </div>
                        <div class="col-sm-6 mb-2">
                            Per Unit Net Book Value: <input type="text" class="form-control" disabled id="unitnetbook" />
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6 mb-2">
                            Total Acc Depreciation Value: <input type="text" class="form-control" disabled id="totaldepreciation" />
                        </div>
                        <div class="col-sm-6 mb-2">
                            Total Net Book Value: <input type="text" class="form-control" disabled id="totalnetbook" />
                        </div>
                        <div class="col-sm-6 mb-2"></div>

                    </div>

                    <div class="row mb-2 d-none">
                        <div class="col-sm-6 mb-2">

                            Asset Ref/Tag(PO No.): <input type="text" class="form-control" disabled id="reference" />
                        </div>
                        <div class="col-sm-6 mb-2">

                            DAX Asset Item Tag: <input type="text" class="form-control" disabled id="daxasset" />
                        </div>
                    </div>

                    <div class="row  d-none mb-2">
                        <div class="col-sm-9 mb-2 filedetails  mb-2">


                        </div>


                    </div>


                    <div class="row">
                        <div class="col-sm-12 mb-2">
                            Voucher Numbers : <textarea class="form-control" rows="4" maxlength="200" id="Voucher"></textarea>
                        </div>
                        <div class="col-sm-12 mb-2">
                            Details of Transfer/Narration :  <textarea class="form-control" rows="4" maxlength="200" id="Narration"></textarea>
                        </div>
                    </div>


                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li class="pt-1">
                            <input type="checkbox" id="daxupdate" title="DAX entries completed" alt="DAX entries completed" /> DAX entries completed
                        </li>
                        <li>
                            <input type="button" id="btnConfirm" disabled="disabled" onclick="proceed()" value="Proceed" class="btn btn-success" />
                            <div class="editableform-loading" style="display: none;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {


            $('#daxupdate').change(function () {

                if (this.checked) {
                    $('#btnConfirm').prop('disabled', false);

                }
                else {
                    $('#btnConfirm').prop('disabled', true);
                }

            });
            $('.scheduledDate').editable({
                format: 'yyyy-mm-dd',
                placement: 'left',
                viewformat: 'dd-mm-yyyy',
                datepicker: {
                    weekStart: 1,
                    startDate: '0d'
                },
                success: function (response, newValue) {
                    var id = response.soldProduct.Id
                    $('#scheduledDate-' + id).editable('disable');
                    $('#productStatus-' + id).html('Scheduled');
                }
            });

        });
        var processurl = '';
        var itemid = '';
        function transferBookValue(obj, quantity, original) {

            debugger;
            $('textarea').each(function () {
                $(this).on('keypress', function (e) {
                    if (e.which === 60 || e.which === 62 || e.which === 59 || e.which === 58 ||
                        e.which === 47 || e.which === 92 || e.which === 46 || e.which === 42 ||
                        e.which === 37 || e.which === 36) {
                        e.preventDefault();
                    }
                });
            });


            $('#unitnetbook').val('');
            $('#totaldepreciation').val('');
            $('#totalnetbook').val('');
            $('#totalpurchase').val('');
            $('#Voucher').val('');
            $('#Narration').val('');
            //$('#daxasset').val(dax);
            //$('#reference').val(reference);
            orderid = $(obj).data('id');
            var amount = $('#productValue-' + orderid).text();

            $("#popup-amount").val(amount);

            var linkurl = $(obj).attr('data-url');
            processurl = linkurl;
            linkurl += '?bookvalue=' + $('#popup-amount').val() + '&daxupdate=' + $('#daxupdate').is(':checked');



            $('#unittransferred').val(quantity);
            $('#unitpurchase').val(original);


            $('#totalpurchase').val(parseFloat(original) * parseFloat(quantity));



            // $("#btnConfirm").attr("href", url);
            $('#bookValueTransferModal').modal('show');

        }

        function proceed() {
            if ($('#unitdepvalue').val().trim() == '' || $('#Voucher').val().trim() == '' || $('#Narration').val().trim() == '') {
                return false;
            }


            $('.editableform-loading').show();

            var postData = null;

            if ($('#Voucher').val() != '' && $('#Narration').val() != '') {
                postData = { 'UnitDepValue': parseInt($('#unitdepvalue').val().trim()), 'OrderId': parseInt(orderid), 'VouchersNumber': $('#Voucher').val(), 'Narration': $('#Narration').val() };
            }



            $('#btnConfirm').prop('disabled', true);
            processurl += '?bookvalue=' + $('#popup-amount').val() + '&daxupdate=' + $('#daxupdate').is(':checked');

            $.ajax({
                url: processurl,
                headers: {
                    'detail': JSON.stringify(postData)
                },
                success: function (data) {
                    location.reload();
                },
                error: function (err) {
                    $('.editableform-loading').hide();
                    $('#btnConfirm').prop('disabled', false);
                }
            });

        }
        $(document).ready(function () {
            $("#unitdepvalue").bind("blur", function () {

                if ($('#unitdepvalue').val().trim() == '') {
                    $('#unitnetbook').val('');
                    $('#totaldepreciation').val('');
                    $('#totalnetbook').val('');
                }
                if (!($.isNumeric($('#unitdepvalue').val()))) {
                    $('#unitdepvalue').val('');
                    return false;
                }
                if (parseInt($('#unitdepvalue').val()) > parseInt($('#unitpurchase').val())) {
                    return false;
                }
                $('#unitnetbook').val(parseFloat($('#unitpurchase').val()) - parseFloat($('#unitdepvalue').val()));
                $('#totaldepreciation').val(parseFloat($('#unitdepvalue').val()) * parseFloat($('#unittransferred').val()));
                $('#totalnetbook').val(parseFloat($('#unitnetbook').val()) * parseFloat($('#unittransferred').val()));

            });
        });
    </script>
}