﻿@using Garage.Areas.Non_IT
@model Garage.Areas.Non_IT.Service.Email.EmailModels.OrderApproval
<html>
<body style="background: #f2f2f2;">
    <table style="min-width: 580px;
    max-width: 960px;
    overflow-x: scroll;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;">
        <thead>
            <tr>
                <td colspan="3" style="padding: 10px 0;">
                    @{
                        var baseUrl = AppUtils.baseUrl;
                        var logoUrl = baseUrl + "/Content/assets/images/garage_logo.svg";
                        var btnUrl = baseUrl + "/NIOrder/Orders";
                    }
                    <img src="@logoUrl" width="190px" height="50px" />
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 30px 0;">Following products has been requested by your ICT enginner to post / procure to / from Gems Garage Portal</td>
            </tr>
        </thead>
        <tbody style="-webkit-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        -moz-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #e7e7e7;">
            @foreach (var productDetail in Model.ProductDetailList)
            {

                var productQuantity = Model.ProductOrderList.Where(p => p.ProductId == Convert.ToInt32(productDetail.Id)).FirstOrDefault().Quantity;
                var imgUrl = baseUrl + "/NIFileApi/ProductImage?productImageId=" + productDetail.imageIdList.FirstOrDefault();

                <tr>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="padding: 5px;
                            border: 1px solid #e7e7e7;
                            margin-right: 15px;
                height: max-content;
                width: max-content;">
                            <img src="@imgUrl" style="width: 100px;
                            height: auto;">
                        </div>
                    </td>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="margin-right: 20px;">
                            <div style="font-weight: bold;
                                font-size: 18px;
                width: max-content;">@productDetail.ProductName</div>
                <div style="font-size: 14px;
                                padding: 10px 0;">
                    @productDetail.Description
                </div>
            </div>
        </td>
        <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
            <div style="padding-bottom: 10px;
                            text-align: right;
                            padding-right: 15px;">
                Quantiy @productQuantity
            </div>
            <div style="color: #000;
                            width: 160px;
                            text-align: right;
                            padding-right: 15px;">
                Book Value <span style="color: #0096fa;
                                padding-left: 5px;">AED@productDetail.UnitValue</span>
                            </div>
                        </td>
                    </tr>
                }

            @*<tr>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="padding: 5px;
                                border: 1px solid #e7e7e7;
                                margin-right: 15px;
                                height: max-content;
                                width: max-content;">
                            <img src="http://www.grandzar.com/garage/assets/images/products/product1.png" style="width: 100px;
                                height: auto;">
                        </div>
                    </td>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="margin-right: 20px;">
                            <div style="font-weight: bold;
                                    font-size: 18px;
                                    width: max-content;">Dell XPS 13” laptop</div>
                            <div style="font-size: 14px;
                                    padding: 10px 0;">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                            </div>
                        </div>
                    </td>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="padding-bottom: 10px;
                                text-align: right;
                                padding-right: 15px;">
                            Quantiy 4
                        </div>
                        <div style="color: #000;
                                width: 160px;
                                text-align: right;
                                padding-right: 15px;">
                            Book Value <span style="color: #0096fa;
                                    padding-left: 5px;">AED 800</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="padding: 5px;
                        border: 1px solid #e7e7e7;
                        margin-right: 15px;
                        height: max-content;
                        width: max-content;">
                            <img src="http://www.grandzar.com/garage/assets/images/products/product1.png" style="width: 100px;
                        height: auto;">
                        </div>
                    </td>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="margin-right: 20px;">
                            <div style="font-weight: bold;
                            font-size: 18px;
                            width: max-content;">Dell XPS 13” laptop</div>
                            <div style="font-size: 14px;
                            padding: 10px 0;">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                            </div>
                        </div>
                    </td>
                    <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                        <div style="padding-bottom: 10px;
                        text-align: right;
                        padding-right: 15px;">
                            Quantiy 4
                        </div>
                        <div style="color: #000;
                        width: 160px;
                        text-align: right;
                        padding-right: 15px;">
                            Book Value <span style="color: #0096fa;
                            padding-left: 5px;">AED 800</span>
                        </div>
                    </td>
                </tr>*@
            <tr style="background: #e7e7e7;height: 55px;">
                <td colspan="2"></td>
                <td>
                    @*<a href="@btnUrl"style="background: #0096fa;
                        padding: 10px 30px;
                        border-radius: 5px;
                        color: #fff;
                        outline: none;
                        border: 0;
                        cursor: pointer;" class="btn">View Order</a>*@
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>