﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models

@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Completed Orders";
}

<div class="page_content">

    <div class="page_title_name">Asset Purchased</div>
    @*<div class="category_fillter_top">
            <div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="padding_left">
                <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
            </div>
        </div>*@

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="order-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="15%" class="th-sm">
                            Order No
                        </th>
                        <th width="10%" class="th-sm">
                            Order Date
                        </th>
                        @*<th width="20%" class="th-sm">
                            Order Details
                        </th>
                        <th width="10%" class="th-sm">
                            Order Value
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Track
                        </th>*@
                    </tr>
                </thead>
             
            </table>
        </div>
    </div>

</div>


@section footerscript {
    <script src="~/Scripts/js/datatables.min.js"></script>
    <script src="~/Scripts/js/moment.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

             $('#order-table').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("CompletedOrders", "Order")",
                    type: 'POST',
                    datatype: "json"
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                 },
               "columns": [
                    { "data": "Order.OrderNo" },
                    {
                        "render": function (data, type, full, meta) {
                            
                            var jsDate = moment(full.Order.CreatedDate).format('DD-MM-YYYY');
                            var result = jsDate;
                            return result;
                        }
                    }

                ]
            } );

        });

    </script>
}