﻿@using Garage.Utils
@using Garage.Models
@{

    var sellerSchool = (School)ViewBag.SellerSchool;
    var order = (Order)ViewBag.Order;
    var orderTrackList = (List<OrderTrack>)ViewBag.OrderTrack;

    var product = (Product)ViewBag.Product;
    var productOrder = (ProductOrder)ViewBag.ProductOrder;
    var publishedDate = (DateTime)ViewBag.PublishedDate;
    var buyerSchool = (School)ViewBag.BuyerSchool;
    var transferredDate = orderTrackList.Where(ot => ot.UserRole == (int)AppEnumeration.UserRole.Finance && ot.IsDifferentSchool == Convert.ToBoolean(AppEnumeration.YNStatue.No)).FirstOrDefault();

    var currentUserRole = AppUtils.getCurrentUser().user.Role;
    var lastRoleId = orderTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().UserRole;
    var currentRoleEnum = (AppEnumeration.UserRole.ICTEngineer);
    switch ((AppEnumeration.UserRole)lastRoleId)
    {
        case AppEnumeration.UserRole.ICTEngineer:
            currentRoleEnum = (AppEnumeration.UserRole.MSO);
            break;
        case AppEnumeration.UserRole.Finance:
            currentRoleEnum = (AppEnumeration.UserRole.Finance);
            break;
        case AppEnumeration.UserRole.MSO:
            currentRoleEnum = (AppEnumeration.UserRole.Principal);
            break;
        case AppEnumeration.UserRole.Principal:
            currentRoleEnum = (AppEnumeration.UserRole.Finance);
            break;
        default:
            currentRoleEnum = (AppEnumeration.UserRole.Finance);
            break;
    }

}



@functions {

    public static HtmlString trackStatusHtml(AppEnumeration.UserRole role, List<OrderTrack> orderTrackList, AppEnumeration.UserRole currentApproverRoleEnum)
    {

        var trackEntry = orderTrackList.Where(ot => ot.UserRole == (int)role).FirstOrDefault();
        var listItem = new TagBuilder("li");
        var titleDiv = new TagBuilder("div");
        titleDiv.AddCssClass("timeline_title");
        var dateDiv = new TagBuilder("div");
        dateDiv.AddCssClass("float-right");
        var timeDiv = new TagBuilder("div");
        timeDiv.AddCssClass("time");

        listItem.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());

        if (trackEntry != null)
        {
            listItem.AddCssClass("track_list track_done");
            titleDiv.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());
            var approvedDate = trackEntry.CreatedDate.ToLongDateString();
            var approvedTime = trackEntry.CreatedDate.ToShortTimeString();
            dateDiv.SetInnerText(approvedDate);
            timeDiv.SetInnerText(approvedTime);
            listItem.InnerHtml =  titleDiv.ToString(TagRenderMode.Normal) + dateDiv.ToString(TagRenderMode.Normal) +  timeDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }
        else if (role == currentApproverRoleEnum)
        {
             listItem.AddCssClass("track_list track_current");
             titleDiv.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());
             listItem.InnerHtml =  titleDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }
        else
        {
             listItem.AddCssClass("track_list track_next");
             titleDiv.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());
             listItem.InnerHtml =  titleDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }

    }

}

<style type="text/css">
    .no-drop {
        cursor: no-drop;
    }
</style>

<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @order.OrderNo
            <div class="right_header">
                <a class="btn btn-danger"  style="display:none" href="@Url.Action("TrackStatus", "Order", new { id= order.Id , print = true})">Export</a>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body mytheme_body">

            <div class="alert alert-primary" id="mail-send-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong id="message">Email has been send Successfully.</strong>
            </div>
            <div class="card bg-light p-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div>Product Name : <b>@(product.ProductName)</b></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>Quantity : <b>@((int)productOrder.Quantity)</b></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>Value : <b>AED @(productOrder.ProductValue)</b></div>
                    </div>
                    @if (publishedDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Published Date : <b>@(publishedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }

                    @if (transferredDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Transferred Date : <b>@(transferredDate.CreatedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }
                    <div class="col-md-12 col-sm-12">
                        <div>Transferred School : <b>@(buyerSchool.SchoolName)</b></div>
                    </div>
                </div>
            </div>
            <ul class="timeline">

                @trackStatusHtml(AppEnumeration.UserRole.ICTEngineer, orderTrackList, currentRoleEnum)
                @trackStatusHtml(AppEnumeration.UserRole.MSO, orderTrackList, currentRoleEnum)
                @trackStatusHtml(AppEnumeration.UserRole.Principal, orderTrackList, currentRoleEnum)
                @trackStatusHtml(AppEnumeration.UserRole.Finance, orderTrackList, currentRoleEnum)
                @{
                    var bookValueEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.UserRole.Finance).FirstOrDefault();

                    if (bookValueEntry != null)
                    {
                        var bookValueApprovedDate = bookValueEntry.CreatedDate.ToLongDateString();
                        var bookValueApprovedTime = bookValueEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Book Value Transfer, @(sellerSchool.SchoolName.ToUpper())</div>
                            <div class="float-right">@bookValueApprovedDate</div>
                            <div class="time">@bookValueApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Book Value Transfer, @(sellerSchool.SchoolName.ToUpper())</div>
                        </li>
                    }
                }

                @{
                    var scheduleEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.UserRole.ICTEngineer).FirstOrDefault();

                    if (scheduleEntry != null)
                    {
                        var scheduleApprovedDate = scheduleEntry.CreatedDate.ToLongDateString();
                        var scheduleApprovedTime = scheduleEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Gate Pass, Pickup Schedule, @(sellerSchool.SchoolName.ToUpper())</div>
                            <div class="float-right">@scheduleApprovedDate</div>
                            <div class="time">@scheduleApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Gate Pass, Pickup Schedule, @(sellerSchool.SchoolName.ToUpper())</div>
                        </li>
                    }

                    if (scheduleEntry != null && order.OrderStatus == (int)AppEnumeration.OrderStatus.Completed)
                    {

                        var completedDate = order.UpdatedDate.Value.ToLongDateString();
                        var completedTime = order.UpdatedDate.Value.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Order Completed</div>
                            <div class="float-right">@completedDate.</div>
                            <div class="time">@completedTime</div>
                        </li>
                    }
                    else if (scheduleEntry != null && order.OrderStatus == (int)AppEnumeration.OrderStatus.Procured && currentUserRole == (int)AppEnumeration.UserRole.ICTEngineer)
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Order Completed</div>
                            <a href="@Url.Action("Completed","Order", new { id = order.Id})">Asset picked up. Reached School</a>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Order Completed</div>
                        </li>
                    }
                }



            </ul>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".product-approval-mail").click(function (e) {
            e.preventDefault();
            //prevent click url
            $("#sendRemainderButton").removeClass("product-approval-mail");
            $("#sendRemainderButton").addClass("no-drop");

            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.isSend) {
                    //alert("Email has been sent");
                    $("#sendRemainderButton").addClass("product-approval-mail");
                    $("#sendRemainderButton").removeClass("no-drop");

                    $("#mail-send-alert").hide();
                    $("#mail-send-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#mail-send-alert").slideUp(500);
                    });

                }
                //restore click url
            });
        });

    });
</script>
