﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models

@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml") 
}

@{
    ViewBag.Title = "Orders";
    var orderList = (List<OrderDetails>)ViewBag.OrderList;
 
    var currentUser = AppUtils.getCurrentUser();
    var orderHeader = (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer) ? "Asset Order" : "Order Approval";
}

<div class="page_content">

    <div class="page_title_name">@orderHeader</div>
    @*<div class="category_fillter_top">
            <div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="padding_left">
                <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
            </div>
        </div>*@

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="8%" class="th-sm d-none d-md-table-cell">
                            No
                        </th>
                        <th width="15%" class="th-sm">
                            Asset
                        </th>
                        <th width="15%" class="th-sm">
                            School
                        </th>
                        <th width="5%" class="th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th width="10%" class="th-sm text-right d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th width="10%" class="th-sm d-none d-md-table-cell">
                            Date
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Status
                        </th>
                        <th class="th-sm text-center" width="5%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Action / Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (orderList.Count > 0)
                    {
                        foreach (var order in orderList)
                        {
                    <tr>
                        @{
                            var isProcured = (AppEnumeration.OrderStatus.Procured == (AppEnumeration.OrderStatus)order.Order.OrderStatus) ? true : false;

                        }

                        <td class="d-none d-md-table-cell">
                            <a href="@Url.Action("Track","Order",new { id= Garage.Security.DataProtection.Encrypt(order.Order.Id) })">@order.Order.OrderNo</a>
                        </td>
                        <td>@(order.Product.ProductName)</td>
                        <td>@(order.SchoolCode)</td>
                        <td class="text-right d-none d-md-table-cell">@((int)order.ProductOrder.Quantity)</td>
                        <td class="text-right d-none d-md-table-cell">@(order.ProductOrder.ProductValue)</td>
                        <td class="d-none d-md-table-cell">@(order.Order.CreatedDate.HasValue ? order.Order.CreatedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                        <td class="d-none d-md-table-cell">
                            @{
                                var orderStatusEnum = (AppEnumeration.OrderStatus)order.Order.OrderStatus;
                                var orderStatus = EnumHelper<AppEnumeration.OrderStatus>.GetDisplayValue(orderStatusEnum);
                                var orderStatusClass = isProcured ? "text-success" : "text-info";
                            }
                            <span><span class="@orderStatusClass">@orderStatus</span></span><br />
                            @if (orderStatusEnum == AppEnumeration.OrderStatus.OrderPlaced || orderStatusEnum == AppEnumeration.OrderStatus.InProgress)
                            {
                                <span><span class="text-danger">Waiting for @(order.NextApprover) Approval</span></span>
                            }
                            @if (order.PickUpScheduled.HasValue)
                            {
                                <span>Pick Up Date : @order.PickUpScheduled.Value.ToString("dd-MM-yyyy")</span>
                            }
                            @if (order.Order.OrderStatus == (int)AppEnumeration.OrderStatus.Procured && !order.PickUpScheduled.HasValue)
                            {
                                <span><span class="text-danger"> Book Value Transfer</span></span>
                            }
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic order-track-pop" href="#" data-url="@Url.Action("TrackStatus", "Order", new { id= order.Order.Id })"><img src="~/Content/images/tack.svg" /></a>
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic" href="@Url.Action("Track","Order",new { id=  Garage.Security.DataProtection.Encrypt(order.Order.Id.ToString()) })">
                                @if (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer)
                                {
                                    <img src="~/Content/images/preview.svg" />
                                }
                                else
                                {
                                    <img src="~/Content/images/action.svg" />
                                }
                            </a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="9">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>