﻿@using Garage.Utils
@using Garage.ViewModels
@{
    ViewBag.Title = "Sold Products";
    var soldProducts = (List<SoldProductDetail>)ViewBag.SoldProducts;
}
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
</head>
<style type="text/css">
    .no-drop {
        cursor: no-drop;
    }
</style>

<div class="page_content">

    <div class="page_title_name">Asset Dispatched</div>

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="*" class="text-left">
                            Asset
                        </th>
                        <th class="text-left">
                            Transfered From
                        </th>
                        <th class="text-left">
                            Transfered to
                        </th>
                        <th class="text-right">
                            Quantity
                        </th>
                        <th class="text-right">
                            Value (AED)
                        </th>
                        <th class="text-center">
                            Published Date
                        </th>
                        <th class="text-center">
                            Transfer Date
                        </th>
                        <th class="text-center">
                            Pick Up Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProducts.Count > 0)
                    {
                        foreach (var soldProduct in soldProducts)
                        {
                    <tr>
                        <td class="text-left">
                            @soldProduct.Product.ProductName
                        </td>
                        <td class="text-left">
                            @soldProduct.SoldSchool.SchoolName
                        </td>
                        <td class="text-left">
                            @soldProduct.School.SchoolName
                        </td>
                        <td class="text-right">
                            @((int)soldProduct.ProductOrder.Quantity)
                        </td>
                        <td class="text-right">
                            @(soldProduct.ProductOrder.ProductValue)
                        </td>
                        <td class="text-center">
                            <p>@(soldProduct.PublishedDate.Value.ToString("dd-MM-yyyy"))</p>
                        </td>
                        <td class="text-center">
                            <p>@(soldProduct.OrderApprovedDate.Value.ToString("dd-MM-yyyy"))</p>
                        </td>
                        <td class="text-center">
                            <p>@(soldProduct.PickUpDate.Value.ToString("dd-MM-yyyy"))</p>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="6">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- javaScript libraries -->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script src="~/Content/assets/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/js/bootstrap-notify.min.js"></script>
<script src="~/Scripts/js/js.cookie.js"></script>
<!-- main js -->
<script src="~/Content/assets/js/main.js"></script>

