﻿@using Garage.Utils
@model Garage.ViewModels.SchoolForm

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "School Add";
}

<div class="page_content">

    <div class="title_name category_title_top">School</div>

    <div class="category_fillter_top">

        <div class="padding_left">
            <a href="@Url.Action("List", "School")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>

    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Add", "School", FormMethod.Post, new { role = "form", id = "schoolAddForm" }))
            {
                @Html.AntiForgeryToken()

                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    School Add Form
                </div>

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="post_product_field1">
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.SchoolCode, "School Code")
                                        @Html.TextBoxFor(m => m.SchoolCode, new { @class = "popup_textBox" })
                                    </td>
                                    <td>
                                        @Html.LabelFor(m => m.SchoolName, "School Name")
                                        @Html.TextBoxFor(m => m.SchoolName, new { @class = "popup_textBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.Location, "Location")
                                        @Html.DropDownListFor(m => m.Location, EnumHelper.GetSelectList(typeof(AppEnumeration.City)), "Location", new { @class = "popup_textBox" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Active) Active
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_post_button">
                        <li><button type="reset" class="btn btn-secondary">Reset</button></li>
                        <li><button type="submit" class="btn btn-primary">Add School</button></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@section footerscript {

    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script type="text/javascript">
        $("#schoolAddForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "SchoolCode": {
                    required: true,
                    maxlength: 50
                },
                "SchoolName": {
                    required: true,
                    maxlength: 100
                },
                "Location": {
                    required: true
                }
            },
            messages: {
                "SchoolCode": {
                    required: "Please Enter School Code",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "SchoolName": {
                    required: "Please Enter School Name",
                    maxlength: "Please Enter no more than 100 Characters"
                },
                "Location": {
                    required: "Please Select School Location",
                }
            }
        });

        $('#schoolAddForm').submit(function () {
            if ($('#schoolAddForm').valid()) {
                $('#cover-spin').show();
            }
        });

    </script>
}
