﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models

@{
    Layout = null;
}

@{
    ViewBag.Title = "Disposed Assets";
    var disposedProductList = (List<AssetDisposed>)ViewBag.DisposedProductList;
}

@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
</head>

<div class="page_content">

    <div class="page_title_name">Asset Disposed</div>

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Asset
                        </th>
                        <th class="th-sm text-right">
                            Quantity
                        </th>
                        <th class="th-sm text-right">
                            Value (AED)
                        </th>
                        <th class="th-sm text-center">
                            Posted Date
                        </th>
                        <th class="th-sm text-center">
                            Disposed Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (disposedProductList.Count > 0)
                    {
                        foreach (var disposedProduct in disposedProductList)
                        {
                            <tr>
                                <td>
                                    @disposedProduct.Product.ProductName
                                </td>
                                <td class="text-right">
                                    @((int)disposedProduct.Product.Quantity)
                                </td>
                                <td class="text-right">
                                    @(disposedProduct.Product.UnitValue)
                                </td>
                                <td class="text-center">
                                    @(disposedProduct.PostedDate.ToString("dd-MM-yyyy"))
                                </td>
                                <td class="text-center">
                                    @(disposedProduct.DisposedDate.ToString("dd-MM-yyyy"))
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="5">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- javaScript libraries -->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script src="~/Content/assets/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/js/bootstrap-notify.min.js"></script>
<script src="~/Scripts/js/js.cookie.js"></script>
<!-- main js -->
<script src="~/Content/assets/js/main.js"></script>
