﻿@using Garage.Utils
@using Garage.ViewModels

@{
    Layout = null;
}

@*@section header {
        @RenderPage("~/Views/Shared/_Header.cshtml")
    }

    @section sidemenu {
        @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
    }*@

@{
    ViewBag.Title = "Asset Transfer";
    List<SoldProductDetail> soldProducts;
    var soldProductsList = (List<SoldProductDetail>)ViewBag.SoldProducts;
    if (AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.UserRole.Finance)
    {
        soldProducts = soldProductsList.Where(sp => sp.SoldProduct.Status == (int)AppEnumeration.SoldProductStatus.WaitingForBookValueTransfer).ToList();

    }
    else
    {
        soldProducts = soldProductsList;
    }
}

@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
</head>

<div class="page_content">

    <div class="page_title_name">Asset Transfer</div>
    

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm text-left">
                            Asset
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            Transfered from
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            Transfered to
                        </th>
                        <th class="th-sm text-right">
                            Quantity
                        </th>
                        <th class="th-sm text-right">
                            Value (AED)
                        </th>
                        <th class="th-sm">
                            Published Date
                        </th>
                        <th class="th-sm">
                            Transfer Date
                        </th>
                        <th class="th-sm">
                            Pick Up Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProducts.Count > 0)
                    {
                        foreach (var soldProduct in soldProducts)
                        {
                    <tr>
                        <td>
                            @soldProduct.Product.ProductName
                        </td>
                        <td class="th-sm d-none d-md-table-cell">
                            @soldProduct.SoldSchool.SchoolCode
                        </td>
                        <td class="th-sm d-none d-md-table-cell">
                            @soldProduct.School.SchoolName
                        </td>
                        <td class="text-right th-sm">
                            @((int)soldProduct.ProductOrder.Quantity)
                        </td>
                        <td class="text-right th-sm">
                            @(soldProduct.ProductOrder.ProductValue)
                        </td>
                        <td class="text-center th-sm">
                            @(soldProduct.PublishedDate.Value.ToString("dd-MM-yyyy"))
                        </td>
                        <td class="text-center th-sm">
                            @(soldProduct.OrderApprovedDate.Value.ToString("dd-MM-yyyy"))
                        </td>
                        <td class="text-center th-sm">
                            @(soldProduct.PickUpDate.Value.ToString("dd-MM-yyyy"))
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="7">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- javaScript libraries -->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script src="~/Content/assets/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/js/bootstrap-notify.min.js"></script>
<script src="~/Scripts/js/js.cookie.js"></script>
<!-- main js -->
<script src="~/Content/assets/js/main.js"></script>
