﻿@using Garage.Models
@using Garage.Areas.Non_IT.ViewModels.ShoppingCart
@using Garage.Utils
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Cart";
    var cartItems = (List<NISchoolCartItem>)ViewBag.SchoolCartItems;
}
<div class="page_content">
    <div class="title_name category_title_top">Order Draft</div>
    @if (cartItems != null && cartItems.Count > 0)
    {
        foreach (var cartItem in cartItems)
        {
            <div class="card box-shadow mt-4 mb-4">
                <div class="card-body cardBodyPadding">
                    <div class="product_listCart">
                        <div class="row">
                            <div class="col-md-12 col-lg-8 list_product_grp">
                                <div class="product_img" data-toggle="modal" data-target="#myModal"><img src="@Url.Action("ProductImage", "NIFileApi", new { productImageId = cartItem.ImageIdList.FirstOrDefault() })"></div>
                                <div class="product_details">
                                    <div class="product_name" data-toggle="modal" data-target="#myModal">@cartItem.Product.ProductName</div>
                                    <div class="school_name">
                                        Product School Name: <b>@cartItem.Product.Location</b>
                                    </div>
                                    <div class="school_name">
                                        Location / City: <b>@(EnumHelper<AppEnumeration.City>.GetDisplayValue((AppEnumeration.City)cartItem.Product.City))</b>
                                    </div>
                                    <div class="product_location">
                                          Name: @cartItem.IctName
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4 pt-4">
                                <div class="value_set">
                                    <div class="value_draft">
                                        <div class="value_lable">Order Quantity: </div>
                                        <div class="value_data">@cartItem.OrderQuantity</div>
                                    </div>
                                    <div class="value_draft">
                                        <div class="value_lable">Unit Value: </div>
                                        <div class="value_data">@cartItem.Product.UnitValue AED</div>
                                    </div>
                                    <div class="value_draft">
                                        <div class="value_lable">Order Value: </div>
                                        <div class="value_data">@cartItem.OrderValue AED</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="draft_description">
                            <div class="draft_description_lable">Description :</div>
                            <div class="draft_description_data">@cartItem.Product.Description</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="draft_bottom_total">
            <div class="draft_grand_total">Grand Total: <b>@(cartItems.Sum(c => c.OrderValue))</b></div>
        </div>
    }
    else
    {
        <div class="no_data_set">
            <img src="~/Content/assets/images/no_cart.svg" class="img-fluid">
            <div class="text-center no_data_txt">Sorry, no products to display!</div>
            @*<div class="text-center">Please try searching for something else</div>*@
        </div>
    }
</div>
@section footerscript {
    <script type="text/javascript">

        var orderUrl = '@Url.Action("Checkout","NIOrder")';

        function submitOrder() {
            var productItems = [];
            $(".cart-quantity").each(function () {
                var productId = $(this).attr("dataproductid");
                var quantity = $(this).val();
                var productItem = {
                    productId,
                    quantity
                }
                productItems.push(productItem);
            });
           // console.log(productItems);

            jQuery.ajax({
                url: orderUrl,
                type: "POST",
                data: { productOrderForm: productItems },
                beforeSend: function (x) {
                    //if (x && x.overrideMimeType) {
                    //    x.overrideMimeType("application/j-son;charset=UTF-8");
                    //}
                },
                success: function (result) {
                    //if (!result.isValid) { alert("Somthing went wrong"); }
                    window.location.href = "/NIOrder/Orders";
                    //Write your code here
                }
            });
        }

        function updateValue(obj) {
            var quantity = $(obj).val();
            var productId = $(obj).attr("dataproductid");
            var maxQuantity = Number($(obj).attr("max"));
            var unitValue = $("#unitValue" + productId).text();
            if (quantity == undefined || quantity == '' || quantity == null) {
                quantity = 0;
                $(obj).val(quantity);
            } else if (quantity > maxQuantity) {
                quantity = maxQuantity;
                $(obj).val(quantity);
            } else {

            }
            var subTotal = Number(quantity) * Number(unitValue);
            $("#subTotal" + productId).text(subTotal);
            var grandTotal = 0;
            $(".subtotal").each(function () {
                grandTotal = grandTotal + Number($(this).text());
            });
            $("#grandTotal").text(grandTotal);
        }

    </script>
}