﻿@using System
@using Garage.Utils
@using Garage.Areas.Non_IT.ViewModels
@using Garage.Models
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_EcommerceLayout.cshtml";
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
}
@section header {
    @if (currentUser != null)
    {
        if (currentUser.isNISuperAdmin)
        {
            @RenderPage("~/Areas/Non_IT/Views/Shared/_HeaderAdmin.cshtml")
        }
        else
        {
            @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
        }
    }
    else
    {
        @RenderPage("~/Areas/Non_IT/Views/Shared/_HeaderVisitor.cshtml")
    }

}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenu.cshtml")
}
<style>
    .out-of-stock {
        background-image: url(../Content/assets/images/sold.png);
        background-repeat: no-repeat;
        width: 60px !important;
        height: 60px !important;
        background-size: contain;
        position: absolute;
        text-indent: -10000px;
    }
</style>
@section footerscript {
    <script>
        (function (global) {

            if (typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";


                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            // Earlier we had setInerval here....
            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {

                noBackPlease();

                // disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                        e.preventDefault();
                    }
                    // stopping event bubbling up the DOM tree..
                    e.stopPropagation();
                };

            };

        })(window);</script>
}
@{
    ViewBag.Title = "Home Page";
    var recentProducts = (List<NIProductListView>)ViewBag.RecentProducts;
    var mostWatchedProducts = (List<NIProductListView>)ViewBag.MostWatchedProducts;
}
<div class="page_content">
    @*<div class="banner_image">
            <img class="img-fluid" src="~/Content/assets/images/1200x150.png" alt="">
        </div>*@
    <div class="title_name">Recently Added Assets</div>
    @if (recentProducts != null && recentProducts.Count > 0)
    {
        <div class="row">
            @foreach (var productView in recentProducts)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="product_box product-view-pop" data-toggle="modal" data-url="@Url.Action("View","NIProduct",new { id= productView.Product.Id})">
                        @if (productView.Product.InStock == 0)
                        {
                            <div class="out-of-stock">Out of Stock</div>
                        }
                        <div class="product_img">
                            <img class="img-fluid" src="@Url.Action("ProductImage","NIFileApi", new { productImageId = productView.imageIdList.FirstOrDefault() })" />
                        </div>
                        <div class="product_details">
                            <div class="product_name">
                                @productView.Product.ProductName
                            </div>
                            <div class="product_price">
                                <span>AED</span> @productView.Product.UnitValue
                            </div>
                        </div>
                        <div class="product_info">
                            <div class="product_info_line1">@productView.SchoolCode.ToUpper()</div>
                            <div class="product_info_line2">@(productView.PublishedDate.HasValue ? productView.PublishedDate.Value.ToString("dd-MM-yyyy") : "")</div>
                            <div class="product_info_line3"><img src="~/Content/images/stock.svg" /> @((int)productView.Product.InStock)</div>
                        </div>
                    </div>
                </div>
            }
        </div>
        if (recentProducts.Count > 0)
        {
            <div class="show_all"><a href="@Url.Action("RecentProducts","NILanding")">Show All</a></div>
        }

    }
    else
    {

        <div class="no_data_set">
            <img src="~/Content/assets/images/no_category.svg" class="img-fluid">
            <div class="text-center no_data_txt">Sorry, no products to display!</div>
            <div class="text-center">Please try searching for something else</div>
        </div>
    }
    <div class="title_name">Most Watched Assets</div>
    <div class="row">
        @foreach (var productView in mostWatchedProducts)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="product_box product-view-pop" data-toggle="modal" data-url="@Url.Action("View","NIProduct",new { id= productView.Product.Id})">
                    <div class="product_img">
                        <img class="img-fluid" src="@Url.Action("ProductImage","NIFileApi", new { productImageId = productView.imageIdList.FirstOrDefault() })" />
                    </div>
                    <div class="product_details">
                        <div class="product_name">
                            @productView.Product.ProductName
                        </div>
                        <div class="product_price">
                            <span>AED</span> @productView.Product.UnitValue
                        </div>
                    </div>
                    <div class="product_info">
                        <div class="product_info_line1">@productView.SchoolCode.ToUpper()</div>
                        <div class="product_info_line2">@(productView.PublishedDate.HasValue ? productView.PublishedDate.Value.ToString("dd-MM-yyyy") : "")</div>
                        <div class="product_info_line3"><img src="~/Content/images/stock.svg" /> @((int)productView.Product.InStock)</div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (mostWatchedProducts.Count > 0)
    {
        <div class="show_all"><a href="@Url.Action("MostWatchedProducts","NILanding")">Show All</a></div>
    }
</div>