﻿@using Garage.Utils
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gems Garage</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">


        .grid {
            position: relative;
            margin: 0 auto;
            padding: 1em 0 4em;
            max-width: 1000px;
            list-style: none;
            text-align: center;
        }

        body {
            font-weight: normal;
            font-style: normal;
            font-family: 'feathericons';
            src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
            src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
        }

        /* Common style */
        .grid figure {
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 1%;
            min-width: 292px;
            max-width: 544px;
            max-height: 560px;
            max-height: 299px;
            width: 45%;
            text-align: center;
            cursor: pointer;
        }

            .grid figure img {
                position: relative;
                display: block;
                min-height: 100%;
                max-width: 100%;
                opacity: 0.8;
            }

            .grid figure figcaption {
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

                .grid figure figcaption::before,
                .grid figure figcaption::after {
                    pointer-events: none;
                }

                .grid figure figcaption,
                .grid figure figcaption > a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                    /* Anchor will cover the whole item by default */
                    /* For some effects it will show as a button */
                    .grid figure figcaption > a {
                        z-index: 1000;
                        text-indent: 200%;
                        white-space: nowrap;
                        font-size: 0;
                        opacity: 0;
                    }

            .grid figure h2 {
                word-spacing: -0.15em;
                font-weight: 300;
            }

                .grid figure h2 span {
                    font-weight: 800;
                }

            .grid figure h2,
            .grid figure p {
                margin: 0;
            }

            .grid figure p {
                letter-spacing: 1px;
                font-size: 68.5%;
            }

        /* Individual effects */

        /*---------------*/
        /***** Lily *****/
        /*---------------*/

        figure.effect-lily img {
            max-width: none;
            width: -webkit-calc(100% + 50px);
            width: calc(100% + 50px);
            opacity: 0.7;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-40px,0, 0);
            transform: translate3d(-40px,0,0);
        }

        figure.effect-lily figcaption {
            text-align: left;
        }

            figure.effect-lily figcaption > div {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 2em;
                width: 100%;
                height: 50%;
            }

        figure.effect-lily h2,
        figure.effect-lily p {
            -webkit-transform: translate3d(0,40px,0);
            transform: translate3d(0,40px,0);
        }

        figure.effect-lily h2 {
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
        }

        figure.effect-lily p {
            color: rgba(255,255,255,0.8);
            opacity: 0;
            -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
            transition: opacity 0.2s, transform 0.35s;
        }

        figure.effect-lily:hover img,
        figure.effect-lily:hover p {
            opacity: 1;
        }

        figure.effect-lily:hover img,
        figure.effect-lily:hover h2,
        figure.effect-lily:hover p {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        figure.effect-lily:hover p {
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
            -webkit-transition-duration: 0.35s;
            transition-duration: 0.35s;
        }
    </style>
</head>
<body>
    
     
        <a href="/NIAuth/Login" class="dropdown-item" style="
    /* float: right; */
    text-align: right;">Back To Login</a>
   
    <!--main-->
        <div class="wrapper">
            <br />
            <!-- Page Content Holder -->
            @if (Request.QueryString["Email"]  == "True")
            {
                <div>
                    <br />
                    Email is Invalid
                </div>
            }
            @if (Request.QueryString["Password"] == "True")
            {
                <div>
                    <br />
                    Password is Invalid
                </div>
            }
        </div>
    <div>

        <strong>
            <p>You have no rights to access this <br />
            Contact to your administrator!</p>

        </strong>

    </div>
    <!-- javaScript libraries -->
    <script src="~/Content/assets/bootstrap/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/popper.min.js"></script>
    <script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/js/js.cookie.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>
