﻿@using Garage.Models
@using Garage.ViewModels.ShoppingCart
@using Garage.Utils
@model Garage.ViewModels.AddToCartForm

@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";

}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Wish List";
    Garage.Areas.Non_IT.ViewModels.ShoppingCart.NIShoppingCart wishList = null;
    if (Garage.Areas.Non_IT.AppUtils.getWishList() != null) { wishList = Garage.Areas.Non_IT.AppUtils.getWishList(); }
}
<div class="page_content">
    <div class="title_name category_title_top">Wish List</div>
    @if (wishList != null && wishList.CartItems.Count > 0)
    {
        foreach (var wishListItem in wishList.CartItems.Values)
        {
            var city = Garage.Areas.Non_IT.Helper.NonIT_Helper.GetCityByID(Convert.ToInt32(wishListItem.Product.City));


            <div class="card box-shadow mt-4 mb-4">
                <div class="card-body cardBodyPadding">
                    <div class="product_listCart">
                        <div class="row">
                            <div class="col-md-12 col-lg-8 list_product_grp">
                                <div class="product_img" data-toggle="modal" data-target="#myModal"><img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = wishListItem.ProductImageId })"></div>
                                <div class="product_details">
                                    <div class="product_name" data-toggle="modal" data-target="#myModal"> @wishListItem.Product.ProductName </div>
                                    <div class="product_dec">
                                        @wishListItem.Product.Description
                                    </div>
                                    <div class="product_location">
                                        @wishListItem.Product.Location, @city.DISPLAY
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4 list_product_grp2">
                                @{ var formId = "AddToCartForm" + wishListItem.Product.Id; }
                                @using (Html.BeginForm("AddToCart", "NIOrder", FormMethod.Post, new { role = "form", id = formId }))
                                {
                                    @Html.HiddenFor(m => m.ProductId, new { @Value = wishListItem.Product.Id })
                                    @Html.Hidden("removeFromWishList", true)
                                    @Html.Hidden("returnUrl", this.Request.RawUrl)

                                    <div class="product_qnt">
                                        Quantity
                                        @Html.TextBoxFor(m => m.UserQuantity, new { @class = "quantiy_input", type = "number", @Value = wishListItem.ProductOrderQuantity, min = "1", max = "5" })
                                    </div>
                                }
                                @{ var removeFormId = "RemoveFromWishListForm" + wishListItem.Product.Id; }
                                @using (Html.BeginForm("RemoveFromWishList", "NIOrder", FormMethod.Post, new { role = "form", id = removeFormId }))
                                {
                                    @Html.Hidden("productId", wishListItem.Product.Id)
                                }
                                <div class="product_wishlist">
                                    <span class="pr-5"><a class="wish_list" href="#" onclick="document.getElementById('@removeFormId').submit();">Remove</a></span>
                                    @if (wishListItem.Product.InStock == 0)
                                    {
                                        <a class="wish_list text-danger">Out of Stock</a>
                                    }
                                    else
                                    {
                                        <a class="wish_list" href="#" onclick="document.getElementById('@formId').submit();">Add to cart</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="no_data_set">
            <img src="~/Content/assets/images/no_wishlist.svg" class="img-fluid">
            <div class="text-center no_data_txt">Sorry, no products to display!</div>
            <div class="text-center">Please try searching for something else</div>
        </div>
    }
</div>
