﻿@using Garage.Utils
@using Garage.Models
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@{

    var order = (NIOrder)ViewBag.Order;
    var product = (NIProduct)ViewBag.Product;
    var userListMap = (Dictionary<int, NIUserRegistration>)ViewBag.UserListMap;
    var orderTrackList = (List<NIOrderTrack>)ViewBag.OrderTrack;
    var productTrackList = (List<NIProductPostTrack>)ViewBag.ProductTrack;
    var soldSchool = (NISchool)ViewBag.SoldSchool;
    var procuredSchool = (NISchool)ViewBag.ProcuredSchool;
    var soldProduct = (NISoldProduct)ViewBag.SoldProduct;
    var productOrder = (NIProductOrder)ViewBag.ProductOrder;

    var transferredDate = orderTrackList.Where(ot => ot.UserRole == (int)AppEnumeration.NIUserRole.ACCOUNTS && ot.IsDifferentSchool == Convert.ToBoolean(AppEnumeration.YNStatue.No)).FirstOrDefault();
    var publishedDate = productTrackList.Where(pt => pt.UserRole == (int)AppEnumeration.NIUserRole.HOS).FirstOrDefault();
}
<style type="text/css">

    .approver-name-track {
        color: #808080;
    }
</style>

@functions {

    public static HtmlString orderTrackStatusHtml(AppEnumeration.NIUserRole role, List<NIOrderTrack> orderTrackList, Dictionary<int, NIUserRegistration> userListMap)
    {

        var trackEntry = orderTrackList.Where(ot => ot.UserRole == (int)role).FirstOrDefault();
        var listItem = new TagBuilder("li");
        var titleDiv = new TagBuilder("div");
        var span = new TagBuilder("span");
        span.AddCssClass("approver-name-track");
        titleDiv.AddCssClass("timeline_title");
        var dateDiv = new TagBuilder("div");
        dateDiv.AddCssClass("float-right");
        var timeDiv = new TagBuilder("div");
        timeDiv.AddCssClass("time");

        listItem.SetInnerText(EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper());

        if (trackEntry != null)
        {
            listItem.AddCssClass("track_list track_done");
            span.SetInnerText("- " + userListMap[trackEntry.UserId].FullName);
            titleDiv.InnerHtml = (EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper() + span.ToString());
            var approvedDate = trackEntry.CreatedDate.ToLongDateString();
            var approvedTime = trackEntry.CreatedDate.ToShortTimeString();
            dateDiv.SetInnerText(approvedDate);
            timeDiv.SetInnerText(approvedTime);
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal) + dateDiv.ToString(TagRenderMode.Normal) + timeDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }
        //else if (role == currentApproverRoleEnum)
        //{
        //    listItem.AddCssClass("track_list track_current");
        //    titleDiv.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());
        //    listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal);
        //    return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        //}
        else
        {
            listItem.AddCssClass("track_list track_next");
            titleDiv.SetInnerText(EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper());
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }

    }

}
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
</head>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName
            @*<div class="right_header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>*@
        </div>
        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="card bg-light p-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div>Quantity : <b>@((int)productOrder.Quantity)</b></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>Value : <b> AED @(productOrder.ProductValue)</b></div>
                    </div>
                    @if (publishedDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Published Date : <b>@(publishedDate.CreatedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }
                    @if (transferredDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Transferred Date : <b>@(transferredDate.CreatedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }
                    <div class="col-md-12 col-sm-12">
                        <div>Transferred School : <b>@(procuredSchool.SchoolName)</b></div>
                    </div>
                </div>
            </div>
            <ul class="timeline">
                @if (productTrackList != null)
                {

                    var ictTrackEntry = productTrackList.Where(t => t.UserRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT).FirstOrDefault();
                    if (ictTrackEntry != null)
                    {
                        var ictApprovedDate = ictTrackEntry.CreatedDate.ToLongDateString();
                        var ictApprovedTime = ictTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                POSTED BY @soldSchool.SchoolName.ToUpper() -<span class="approver-name-track">@(" " + userListMap[ictTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@ictApprovedDate</div>
                            <div class="time">@ictApprovedTime</div>
                        </li>
                    }

                    foreach (var productTrack in productTrackList)
                    {
                        var role = EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue((AppEnumeration.NIUserRole)productTrack.UserRole);
                        var approvedDate = productTrack.CreatedDate.ToLongDateString();
                        var approvedTime = productTrack.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                @role.ToUpper() -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@approvedDate</div>
                            <div class="time">@approvedTime</div>
                        </li>
                    }


                    var principalTrackEntry = productTrackList.Where(t => t.UserRole == (int)AppEnumeration.NIUserRole.HOS).FirstOrDefault();
                    if (principalTrackEntry != null)
                    {
                        var principalApprovedDate = principalTrackEntry.CreatedDate.ToLongDateString();
                        var principalApprovedTime = principalTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                PUBLISHED BY @soldSchool.SchoolName.ToUpper()-<span class="approver-name-track">@(" " + userListMap[principalTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@principalApprovedDate</div>
                            <div class="time">@principalApprovedTime</div>
                        </li>
                    }

                }
                @{
                    var ictOrderTrackEntry = orderTrackList.Where(t => t.UserRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT).FirstOrDefault();
                    if (ictOrderTrackEntry != null)
                    {
                        var ictOrderApprovedDate = ictOrderTrackEntry.CreatedDate.ToLongDateString();
                        var ictOrderApprovedTime = ictOrderTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                ORDER PLACED BY @procuredSchool.SchoolName.ToUpper() -<span class="approver-name-track">@(" " + userListMap[ictOrderTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@ictOrderApprovedDate</div>
                            <div class="time">@ictOrderApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_done">
                            <div class="timeline_title">ORDER PLACED</div>
                        </li>
                    }

                }
                @if (orderTrackList.Exists(p => p.UserRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT))
                {
                    @orderTrackStatusHtml(AppEnumeration.NIUserRole.MSOASSISTANT, orderTrackList, userListMap)
                }
                @orderTrackStatusHtml(AppEnumeration.NIUserRole.MSO, orderTrackList, userListMap)
                @orderTrackStatusHtml(AppEnumeration.NIUserRole.HOS, orderTrackList, userListMap)
                @orderTrackStatusHtml(AppEnumeration.NIUserRole.GCOREALM, orderTrackList, userListMap)
                @*@{
            var financeOrderTrackEntry = orderTrackList.Where(t => t.UserRole == (int)AppEnumeration.NIUserRole.ACCOUNTS).FirstOrDefault();
            if (financeOrderTrackEntry != null)
            {
                var financeOrderApprovedDate = financeOrderTrackEntry.CreatedDate.ToLongDateString();
                var financeOrderApprovedTime = financeOrderTrackEntry.CreatedDate.ToShortTimeString();

                <li class="track_list track_done">
                    <div class="timeline_title">
                        ORDER APPROVED BY @procuredSchool.SchoolName.ToUpper() -<span class="approver-name-track">@(" " + userListMap[financeOrderTrackEntry.UserId].FullName)</span>
                    </div>
                    <div class="float-right">@financeOrderApprovedDate</div>
                    <div class="time">@financeOrderApprovedTime</div>
                </li>
            }
            else
            {
                <li class="track_list track_next">
                    <div class="timeline_title">ORDER APPROVED</div>
                </li>
            }
        }*@
                @{
                    var bookValueEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.NIUserRole.ACCOUNTS).FirstOrDefault();

                    if (bookValueEntry != null)
                    {
                        var bookValueApprovedDate = bookValueEntry.CreatedDate.ToLongDateString();
                        var bookValueApprovedTime = bookValueEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                BOOK VALUE TRANSFER -<span class="approver-name-track">@(" " + userListMap[bookValueEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@bookValueApprovedDate</div>
                            <div class="time">@bookValueApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">BOOK VALUE TRANSFER</div>
                        </li>
                    }
                }
                @{
                    var bookValueAccepted = orderTrackList.Where(ot => ot.IsDifferentSchool == false && ot.UserRole == (int)AppEnumeration.NIUserRole.ACCOUNTS).FirstOrDefault();

                    if (bookValueAccepted != null)
                    {
                        var bookValueAcceptedDate = bookValueAccepted.CreatedDate.ToLongDateString();
                        var bookValueAcceptedTime = bookValueAccepted.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                BOOK VALUE TRANSFER ACCEPETED -<span class="approver-name-track">@(" " + userListMap[bookValueAccepted.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@bookValueAcceptedDate</div>
                            <div class="time">@bookValueAcceptedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">BOOK VALUE TRANSFER ACCEPETED</div>
                        </li>
                    }
                }
                @{
                    var scheduleEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.NIUserRole.MSO).FirstOrDefault();

                    if (scheduleEntry != null)
                    {
                        var scheduleApprovedDate = scheduleEntry.CreatedDate.ToLongDateString();
                        var scheduleApprovedTime = scheduleEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                GATE PASS, PICK UP SCHEDULED -<span class="approver-name-track">@(" " + userListMap[scheduleEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@scheduleApprovedDate</div>
                            <div class="time">@scheduleApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">GATE PASS, PICK UP SCHEDULED</div>
                        </li>
                    }

                    var scheduleCompleted = orderTrackList.Where(ot => ot.IsDifferentSchool == false && ot.UserRole == (int)AppEnumeration.NIUserRole.MSO).OrderByDescending(p => p.CreatedDate).FirstOrDefault();
                    if (scheduleCompleted != null && order.OrderStatus == (int)AppEnumeration.OrderStatus.Completed)
                    {

                        var completedDate = scheduleCompleted.CreatedDate.ToLongDateString();
                        var completedTime = scheduleCompleted.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                ORDER COMPLETED -<span class="approver-name-track">@(" " + userListMap[scheduleCompleted.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@completedDate.</div>
                            <div class="time">@completedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">ORDER COMPLETED</div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!-- javaScript libraries -->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script src="~/Content/assets/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/js/bootstrap-notify.min.js"></script>
<script src="~/Scripts/js/js.cookie.js"></script>
<!-- main js -->
<script src="~/Content/assets/js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
