﻿@using Garage.Utils
@using Garage.Models
@{
    var assetTrackList = (List<AssetTrack>)ViewBag.AssetTrack;
    var trackUserRoles = assetTrackList.Select(t => t.UserRole).ToList();
    var asset = (Asset)ViewBag.Asset;
    var currentUserRole = AppUtils.getCurrentUser().user.Role;
    var lastRoleId = assetTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().UserRole;
    var currentRoleEnum = ((AppEnumeration.Role)lastRoleId) + 1;
    var currentRole = Enum.IsDefined(typeof(AppEnumeration.Role), (int)currentRoleEnum) ? EnumHelper<AppEnumeration.Role>.GetDisplayValue(currentRoleEnum) : "";
}
<style type="text/css">
    .no-drop {
        cursor: no-drop;
    }
</style>

<div class="modal-dialog modal-md">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @asset.ProductName
            <div class="right_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <ul class="timeline">

                @foreach (AppEnumeration.Role userRoleValue in Enum.GetValues(typeof(AppEnumeration.Role)))
                {
                    var assetTrack = assetTrackList.Where(t => t.UserRole == (int)userRoleValue).FirstOrDefault();
                    if (assetTrack != null)
                    {

                        var role = EnumHelper<AppEnumeration.Role>.GetDisplayValue(userRoleValue);
                        var approvedDate = assetTrack.CreatedDate.ToLongDateString();
                        var approvedTime = assetTrack.CreatedDate.ToShortTimeString();

                        if (userRoleValue == AppEnumeration.Role.ICTEngineer)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">POST</div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }
                        <li class="track_list track_done">
                            <div class="timeline_title">@role.ToUpper()</div>
                            <div class="float-right">@approvedDate</div>
                            <div class="time">@approvedTime</div>
                        </li>
                        if (userRoleValue == AppEnumeration.Role.CFO)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">DISPOSAL</div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }
                    }
                    else
                    {
                        var role = EnumHelper<AppEnumeration.Role>.GetDisplayValue(userRoleValue);
                        if (userRoleValue == currentRoleEnum)
                        {
                            <li class="track_list track_current">
                                <div class="timeline_title">@role.ToUpper()</div>
                                @if (currentUserRole == (int)AppEnumeration.Role.ICTEngineer)
                                {
                                    var userRoleValueId = (int)userRoleValue;
                                    <a href="#" class="product-approval-mail" id="sendRemainderButton" data-url="@Url.Action(" ApprovalMail","Product", new { productId=asset.Id, userRole=userRoleValueId})">Send Reminder</a>
                                }
                            </li>
                            if (userRoleValue == AppEnumeration.Role.CFO)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">DISPOSAL</div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="track_list track_next">
                                <div class="timeline_title">@role.ToUpper()</div>
                            </li>
                            if (userRoleValue == AppEnumeration.Role.CFO)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">DISPOSAL</div>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".product-approval-mail").click(function (e) {
            e.preventDefault();
            //prevent click url
            $("#sendRemainderButton").removeClass("product-approval-mail");
            $("#sendRemainderButton").addClass("no-drop");

            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.isSend) {
                    //alert("Email has been sent");
                    $("#sendRemainderButton").addClass("product-approval-mail");
                    $("#sendRemainderButton").removeClass("no-drop");
                }
                //restore click url
            });
        });

    });
</script>
