﻿@using Garage.Utils
@model Garage.ViewModels.AssetForm
@using Garage.ViewModels
@using Garage.Models
@{
    var location = AppUtils.getCurrentUser().school.SchoolName;
    var city = (AppEnumeration.City)AppUtils.getCurrentUser().school.Location;
    var ImageId = Model.ImageId;
    //var asset = (AssetForm)ViewBag.AssetDetail;
    //var assetImage = (AssetImage)ViewBag.AssetImage;
}

@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Asset View";

}

<div class="page_content">

    <div class="title_name category_title_top">View Asset Disposal</div>

    <div class="category_fillter_top">

        <div class="padding_left">
            <a href="@Url.Action("PostedAssets", "Asset")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header mytheme_header">
                View Asset Disposal
            </div>
            @Html.AntiForgeryToken()

            <!-- Modal body -->
            <div class="modal-body mytheme_body">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <table class="post_product_field1">
                            <tr>
                                <td colspan="2">
                                    @Html.TextBoxFor(m => m.ProductName, new { @class = "popup_textBox", placeholder = "Title of the Product" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "popup_textBox", id = "product_description", placeholder = "Description / Specification" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                    @Html.DropDownListFor(m => m.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })

                                </td>
                                <td>
                                    @{ var subCategoryList = new List<SelectListItem>(); }
                                    @Html.DropDownListFor(m => m.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(m => m.Quantity, new { @class = "popup_textBox", @type = "number", placeholder = "Quantity", id = "quantity_select" })
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => m.City)
                                    @Html.TextBox("city_select", @city, new { @class = "popup_textBox", @readonly = "true" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Location, new { @class = "popup_textBox", @Value = location, id = "location_select", placeholder = "Location/Office", @readonly = "true" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xl-6 col-md-12" id="slider">
                        <div id="myCarousel" class="carousel slide">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active carousel-item" data-slide-number="0">
                                    <img src="@Url.Action("AssetImage","FileApi", new { productImageId = ImageId })" class="img-fluid">
                                </div>
                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-xl-6 col-md-12" id="slider">

                        @Html.TextBoxFor(m => m.ImageFiles, new { @type = "file", @multiple = "multiple" })
                    </div>*@

                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <table class="post_product_field2">
                            <tr>
                                <td>
                                    @Html.TextBoxFor(m => m.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value", placeholder = "Original Unit Value (AED)" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Value, new { @class = "popup_textBox", id = "unit_value", placeholder = "Book Value (AED)" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.DateOfPurchase, new { @class = "popup_textBox", id = "DateOfPurchase", placeholder = "Date of Purchase", @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.ExpectedRealisable, new { @class = "popup_textBox", id = "expected_realisable", placeholder = "Expected Realisable (AED)" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    @Html.TextAreaFor(m => m.ReasonForSelling, new { @class = "popup_textBox", id = "product_description", placeholder = "Reason for selling / why can’t re-use within this organisation" })
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <table class="post_product_field1">
                            <tr colspan="12">
                                <td>
                                    @Html.TextAreaFor(m => m.Note, new { @class = "popup_textBox", id = "product_note", placeholder = "Remarks" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section footerscript {

    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script type="text/javascript">
        $("#categoryAddForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "CategoryName": {
                    required: true,
                    maxlength: 50
                }
            },
            messages: {
                "CategoryName": {
                    required: "Please Enter Category Name",
                    maxlength: "Please Enter Less than 50 Characters"
                }
            }
        });

    </script>
}
