﻿@using Garage.Utils
@using Garage.Models

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "Posted Assets";
    var postedAssets = (List<Asset>)ViewBag.PostedAssets;
}

<div class="page_content">

    <div class="title_name category_title_top">Posted Assets</div>

    @*<div class="category_fillter_top">

            <div class="padding_left">
                <a href="@Url.Action("Add", "Asset")" class="fillter_button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add
                </a>
            </div>

        </div>*@

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%" class="th-sm">
                            Product Name
                        </th>
                        <th width="15%" class="th-sm">
                            Uploaded Date
                        </th>
                        <th width="15%" class="th-sm">
                            Status
                        </th>
                        <th width="15%" class="th-sm">
                            Published Date
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Pictures
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Approval
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (postedAssets.Count > 0)
                    {
                        foreach (var asset in postedAssets)
                        {
                            var isPosted = (AppEnumeration.AssetStatus.Posted == (AppEnumeration.AssetStatus)asset.Status) ? true : false;

                    <tr>
                        <td>@asset.ProductName</td>
                        <td>@(asset.UpdatedDate?.ToString("dd-MM-yyyy"))</td>
                        <td>@((AppEnumeration.AssetStatus)asset.Status)</td>
                        @if (!isPosted)
                        {
                            <td class="green_text">
                                @asset.CreatedDate
                            </td>
                        }
                        else
                        {
                            <td class="red_text">
                                Waiting For Approval
                            </td>
                        }
                        <td class="text-center">
                            <a class="table_list_ic" href="@Url.Action("View","Asset",new { id= asset.Id})"><img src="~/Content/images/preview.svg"></a>
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic asset-track" href="#" data-url="@Url.Action("Track","Asset",new { id= asset.Id})"><i class="fa fa-truck" aria-hidden="true"></i></a>
                        </td>
                        @if (asset.Status != (int)AppEnumeration.AssetStatus.Disposed && asset.Status != (int)AppEnumeration.AssetStatus.Reject)
                        {
                            <td class="text-center">
                                <a class="table_list_ic" href="@Url.Action("AssetApproval","Asset",new { id= asset.Id})"><i class="fa fa-check" aria-hidden="true"></i></a>
                            </td>
                        }
                        else
                        {
                            <td class="text-center">
                                <a class="table_list_ic" href="#"><i class="fa fa-ban" aria-hidden="true"></i></a>
                            </td>
                        }

                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="6">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
