﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    @RenderSection("headerlink", false)
</head>
<body>
    <div id="cover-spin"></div>
    @RenderSection("header")
    <!--main-->
    <div class="wrapper">
        @RenderSection("sidemenu")
        <!-- Page Content Holder -->
        <div id="content">
            @RenderBody()
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>

    <div class="modal fade" id="product-view-modal">
    </div>
    <div class="modal fade" id="product-details-view-modal">
    </div>
    <div class="modal fade" id="asset-transfer-track-modal">
    </div>
    <div class="modal fade" id="asset-track-modal">
    </div>

    <!-- javaScript libraries -->
    <script src="~/Content/assets/bootstrap/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/popper.min.js"></script>
    <script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/js.cookie.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>
    <script>

        $(document).ready(function () {

            $(".product-view-pop").click(function (e) {
                e.preventDefault();
                var viewUrl = $(this).attr('data-url');
                $.get(viewUrl, function (data) {
                    $('#product-view-modal').html(data);
                    $('#product-view-modal').modal('show');
                });
            });

            $(".product-details-view-pop").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#product-details-view-modal').html(data);
                    $('#product-details-view-modal').modal('show');
                });
            });

            $(".asset-track").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#asset-track-modal').html(data);
                    $('#asset-track-modal').modal('show');
                });
            });

            $(".asset-transfer-track").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#asset-transfer-track-modal').html(data);
                    $('#asset-transfer-track-modal').modal('show');
                });
            });

        });
    </script>
    @RenderSection("footerscript", false)
</body>
</html>
