﻿@using Garage.Utils
@using Garage.ViewModels.ShoppingCart
<!--header-->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $('textarea').each(function () {
                $(this).on('keypress', function (e) {
                      if (e.which === 60 || e.which === 62 || e.which === 59 || e.which === 58 ||
                        e.which === 47 || e.which === 92 || e.which === 46 || e.which === 42 ||
                        e.which === 37 || e.which === 36) {
                        e.preventDefault();
                    }
                });
               
            });
        });
</script>
<div class="header_set">

    @{
        var currentUser = AppUtils.getCurrentUser();
        var isAuthenticated = currentUser == null ? false : true;
    }

    <div class="header_logo">
        @if (isAuthenticated)
        {
            <a href="@Url.Action("HomePage","Landing")"><img src="~/Content/assets/images/garage_logo.svg"></a>
        }
        else
        {
            <a href="@Url.Action("","")"><img src="~/Content/assets/images/garage_logo.svg"></a>
        }
    </div>

    <div class="account_set">
        <!--Profile-->
        <nav class="navbar navbar-expand-sm">
            <!-- Links -->
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    @using (Html.BeginForm("SearchProducts", "Landing", FormMethod.Post))
                    {
                        <div class="search">
                            <input type="text" class="searchTerm" name="SearchString" placeholder="Enter keyword">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    }
                </li>
                <li class="nav-item">
                    &nbsp;
                    @*<a class="nav-link click_knowmore" href="#">Know more</a>*@
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="margin-top: -5px;">
                        <img src="~/Content/assets/images/profile_img.svg">
                    </a>
                    @{
                        var adminMenuName = (currentUser.user.Role == (int)AppEnumeration.AdminRole.CorpIT) ? "Administration" : "Approvals";
                    }
                    <div class="dropdown-menu in-down">
                        <div class="username">@currentUser.user.FullName</div>
                        @Html.ActionLink(adminMenuName, "ApprovedAsset", "Product", null, new { @class = "dropdown-item" })
                        @if ((
                        currentUser.user.Role == (int)AppEnumeration.Role.ICTEngineer ||
                        currentUser.user.Role == (int)AppEnumeration.Role.Finance ||
                        currentUser.user.Role == (int)AppEnumeration.Role.MSO ||
                        currentUser.user.Role == (int)AppEnumeration.Role.Principal ||
                        currentUser.user.Role == (int)AppEnumeration.Role.CorpIT ||
                        currentUser.user.Role == (int)AppEnumeration.Role.VPCorpIT ||
                        currentUser.user.Role == (int)AppEnumeration.Role.CorpFinance ||
                        currentUser.user.Role == (int)AppEnumeration.Role.CorpInternalAudit ||
                        currentUser.user.Role == (int)AppEnumeration.Role.SVPTreasury ||
                        currentUser.user.Role == (int)AppEnumeration.Role.CFO ||
                        currentUser.user.NIRole == (int)AppEnumeration.NIAdminRole.GEMSADMINROLE
                        ) && currentUser.user.NIRole.HasValue && currentUser.user.IsNonITAccess)
                        {
                            @Html.ActionLink("Switch To Furnitures/Appliances", "Selection", "NILanding", null, new { @class = "dropdown-item" })
                        }
                        @Html.ActionLink("Help", "HelpPage", "Landing", null, new { @class = "dropdown-item" })
                        <a href="/Auth/Logout" class="dropdown-item">Sign Out</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>