﻿@using Garage.Utils
@using Garage.ViewModels.ShoppingCart
<!--header-->
<div class="header_set">

    <div class="header_logo">
            <a href="@Url.Action("HomePage","Landing")"><img src="~/Content/assets/images/garage_logo.svg"></a>
    </div>

    <div class="account_set">
        <!--Profile-->
        <nav class="navbar navbar-expand-sm">
            <!-- Links -->
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    @using (Html.BeginForm("SearchProducts", "Landing", FormMethod.Post))
                    {
                        <div class="search">

                            <input type="text" class="searchTerm" name="SearchString" placeholder="Enter keyword">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>
                    }
                </li>
                <li class="nav-item">
                    &nbsp;
                    @*<a class="nav-link click_knowmore" href="#">Know more</a>*@
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="margin-top: -5px;">
                        <img src="~/Content/assets/images/profile_img.svg">
                    </a>
                <div class="dropdown-menu in-down">
                    <a href="/Auth/Logout" class="dropdown-item">Sign Out</a>
                </div>
                </li>
            </ul>
        </nav>
    </div>
</div>