﻿@using Garage.ViewModels
@using Garage.Utils
@using Garage.Models
@model Garage.ViewModels.ProductForm


@{
    var location = AppUtils.getCurrentUser().school.SchoolName;
    var city = (AppEnumeration.City)(Convert.ToInt32(Model.productViewModel.City));
    var currentUser = AppUtils.getCurrentUser();
    var product = (Product)ViewBag.Product;
    var productTrack = (ProductPostTrack)ViewBag.ProductTrack;
    var currentUserRoleId = (AppEnumeration.UserRole)productTrack.UserRole == AppEnumeration.UserRole.Principal ? (AppEnumeration.UserRole)productTrack.UserRole : (AppEnumeration.UserRole)productTrack.UserRole + 1;
    var isReadonly = currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer ? false : true;
    var updateRate = currentUser.user.Role == (int)AppEnumeration.UserRole.Finance ? true : false;
}


<link rel="stylesheet" href="~/Content/css/datepicker.min.css" />

<div class="modal-dialog modal-xl">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            Product Approval Form
            <div class="right_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        @using (Html.BeginForm("Approval", "Product", FormMethod.Post, new { role = "form", id = "ProductEditForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!-- Modal body -->
            <div class="modal-body mytheme_body">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <table class="post_product_field1">
                            <tr>
                                <td colspan="2">
                                    @Html.HiddenFor(m => m.productViewModel.Id)
                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Product")
                                        @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Product")
                                        @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                        @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                        @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description", placeholder = "Description / Specification" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                        @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.productViewModel.CategoryId)

                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                        @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })

                                    }
                                </td>
                                <td>
                                    @{ var subCategoryList = (List<SelectListItem>)ViewBag.subCategoryList; }
                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                        @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.productViewModel.SubCategoryId)
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                        @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                        @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @readonly = "readonly" })

                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                        @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select" })

                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => m.productViewModel.City)
                                    @Html.LabelFor(m => m.productViewModel.City, "City")
                                    @Html.TextBox("city_select", @city, new { @class = "popup_textBox", @readonly = "true" })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.productViewModel.Location, "Location / Office")
                                    @Html.TextBoxFor(m => m.productViewModel.Location, new { @class = "popup_textBox", @Value = location, id = "location_select", @readonly = "true" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @{ var ConditionsList = (List<SelectListItem>)ViewBag.Conditions; }
                                    @Html.LabelFor(m => m.productViewModel.Condition, "Condition")
                                    @Html.DropDownListFor(model => model.productViewModel.Condition, ConditionsList, new { @class = "popup_textBox", id = "condition_select" })
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-xl-6 col-md-12" id="slider">

                        <div id="myCarousel" class="carousel slide">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                @*<div class="active carousel-item" data-slide-number="0">
                                        <img src="~/Content/assets/images/products/product1.png" class="img-fluid_small">
                                    </div>
                                    <div class="carousel-item" data-slide-number="1">
                                        <img src="~/Content/assets/images/products/product2.png" class="img-fluid_small">
                                    </div>
                                    <div class="carousel-item" data-slide-number="2">
                                        <img src="~/Content/assets/images/products/product1.png" class="img-fluid_small">
                                    </div>
                                    <div class="carousel-item" data-slide-number="3">
                                        <img src="~/Content/assets/images/products/product2.png" class="img-fluid_small">
                                    </div>*@

                                @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                {
                                    <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                        <img src="@Url.Action("ProductImage","FileApi", new { productImageId = image.id })" class="img-fluid_small">
                                    </div>
                                }

                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                            <!-- main slider carousel nav controls -->


                            <ul class="carousel-indicators list-inline mx-auto px-2">
                                @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                {
                                    <li class="list-inline-item@(image.index==0?" active":"")">
                                        <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                            <img src="@Url.Action("ProductImage","FileApi", new { productImageId = image.id })" class="img-fluid_small">
                                        </a>
                                    </li>
                                }

                                @*<li class="list-inline-item active">
                                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                            <img src="~/Content/assets/images/products/product1.png" class="img-fluid_small">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                            <img src="~/Content/assets/images/products/product2.png" class="img-fluid_small">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                            <img src="~/Content/assets/images/products/product1.png" class="img-fluid_small">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                                            <img src="~/Content/assets/images/products/product2.png" class="img-fluid_small">
                                        </a>
                                    </li>*@
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <table class="post_product_field1">
                            <tr>
                                <td>

                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Note, "Remarks")
                                        @Html.TextAreaFor(m => m.productViewModel.Note, new { @class = "popup_textBox", id = "product_note", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Note, "Remarks")
                                        @Html.TextAreaFor(m => m.productViewModel.Note, new { @class = "popup_textBox", id = "product_note" })
                                    }
                                </td>
                                <td>
                                    @if (isReadonly)
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                        @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                        @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description" })
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <table class="post_product_field2">
                    <tr>
                        <td>
                            @if (updateRate)
                            {
                                @Html.LabelFor(m => m.productViewModel.OriginalUnitValue, "Purchase Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.OriginalUnitValue, "Purchase Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value", @readonly = "readonly" })
                            }
                        </td>
                        <td>
                            @if (updateRate)
                            {
                                @Html.LabelFor(m => m.productViewModel.DateOfPurchase, "Date of Purchase")
                                @Html.TextBoxFor(m => m.productViewModel.DateOfPurchase, new { @class = "popup_textBox", id = "date-of-purchase", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.DateOfPurchase, "Date of Purchase")
                                @Html.TextBoxFor(m => m.productViewModel.DateOfPurchase, new { @class = "popup_textBox", @readonly = "readonly" })
                            }
                        </td>
                        <td>
                            @if (updateRate)
                            {
                                @Html.LabelFor(m => m.productViewModel.UnitValue, "Unit Book Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.UnitValue, new { @class = "popup_textBox", id = "unit_value" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.UnitValue, "Unit Book Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.UnitValue, new { @class = "popup_textBox", id = "unit_value", @readonly = "readonly" })
                            }
                        </td>
                    </tr>
                </table>

            </div>

            <!-- Modal footer -->

            <div class="modal-footer mytheme_footer">
                @if (currentUserRoleId == (AppEnumeration.UserRole)AppUtils.getCurrentUser().user.Role)
                {
                    <ul class="product_post_button">
                        <li><a href="@Url.Action("Reject","Product", new { id = Model.productViewModel.Id})" class="btn btn-danger">Reject</a></li>
                        <li><button type="submit" class="btn btn-primary">Approve</button></li>
                    </ul>
                }
                else if ((AppEnumeration.UserRole)AppUtils.getCurrentUser().user.Role == AppEnumeration.UserRole.ICTEngineer && currentUserRoleId == AppEnumeration.UserRole.Finance)
                {
                    <ul class="product_post_button">
                        <li><button type="submit" formaction="@Url.Action("Update","Product")" formmethod="post" class="btn btn-primary">Update</button></li>
                        <li><a href="@Url.Action("Delete","Product", new { id= Model.productViewModel.Id})" class="btn btn-danger">Delete</a></li>
                    </ul>
                }

            </div>
        }
    </div>
</div>
<script src="~/Scripts/js/jquery.validate.min.js"></script>
<script src="~/Scripts/js/additional-methods.min.js"></script>
<script src="~/Scripts/js/datepicker.min.js"></script>
<script type="text/javascript">
    $("#ProductEditForm").validate({
        ignore: 'input[type=hidden]', // ignore hidden fields
        errorClass: 'text-danger',
        successClass: 'success',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        },
        rules: {
            "productViewModel.ProductName": {
                required: true,
                maxlength: 50
            },
            "productViewModel.CategoryId": {
                required: true
            },
            "productViewModel.Description": {
                maxlength: 1000
            },
            "productViewModel.Quantity": {
                required: true,
                number: true,
                min: 0,
                max: 999
            },
            "productViewModel.UnitValue": {
                required: true,
                number: true,
                min: 0,
                max: 1000000
            },
            "productViewModel.City": {
                required: true
            },
            "productViewModel.Location": {
                required: true
            },
            "productViewModel.OriginalUnitValue": {
                required: true,
                number: true,
                min: 0
            },
            "productViewModel.DepreciationValue": {
                number: true,
                min: 0,
                max: function (element) {
                    var maxValue = Number($("#original_value").val());
                    return maxValue;
                }
            },
            "productViewModel.DateOfPurchase": {
                required: true
            },
            "productViewModel.Condition": {
                required: true
            },
            "productViewModel.ExpectedRealisable": {
                number: true,
                min: 0
            },
            "productViewModel.ActualValue": {
                number: true,
                min: 0
            },
            "productViewModel.ReasonForSelling": {
                maxlength: 500
            }
        },
        messages: {
            "productViewModel.ProductName": {
                required: "Please Enter Product Name",
                maxlength: "Please Enter no more than 50 Characters"
            },
            "productViewModel.CategoryId": {
                required: "Please Select Category"
            },
            "productViewModel.Description": {
                maxlength: "Please Enter no more than 1000 Characters"
            },
            "productViewModel.Quantity": {
                required: "Please Enter Quantity",
                number: "Please Enter Valid Number",
                min: "Please Enter Minimum Quantity",
                max: "Please Enter Lesser Value"
            },
            "productViewModel.UnitValue": {
                number: "Please Enter Valid Number",
                min: "Please Enter Minimum Value",
                max: "Please Enter Lesser Value"
            },
            "productViewModel.City": {
                required: "Please Select City"
            },
            "productViewModel.Location": {
                required: "Please Select Location"
            },
            "productViewModel.OriginalUnitValue": {
                number: "Please Enter Valid Number",
                min: "Please Enter Minimum Value",
                max: "Please Enter Lesser Value"
            },
            "productViewModel.DepreciationValue": {
                number: "Please Enter Valid Number",
                min: "Please Enter Minimum Value"

            },
            "productViewModel.Condition": {
                required: "Please Select Condition"
            },
            "productViewModel.ExpectedRealisable": {
                number: "Please Enter Valid Number",
                min: "Please Enter Minimum Value "
            },
            "productViewModel.ActualValue": {
                number: "Please Enter Valid Number",
                min: "Please Enter Minimum Value"
            },
            "productViewModel.ReasonForSelling": {
                maxlength: "Please Enter no more than 500 Characters"
            }
        }
    });

    $("#category").change(function () {
        var parentCatrgoryId = $(this).val();
        var url = "/Category/sub-category-list?parentCategoryId=" + parentCatrgoryId
        $.get(url, function (data) {

            $("#sub_category").empty().append($("<option />").val("").text("Select Sub Category"));

            $.each(data, function () {
                $("#sub_category").append($("<option />").val(this.Id).text(this.CategoryName));
            });
        });
    });

    $("#date-of-purchase").datepicker({
        format: "dd-MM-yyyy",
        endDate: new Date,
        autoHide: true
    });
</script>

