﻿@using Garage.Utils
@using Garage.Models
@{
    var productTrackList = (List<ProductPostTrack>)ViewBag.ProductTrack;
    var userListMap = (Dictionary<int, UserRegistration>)ViewBag.UserListMap;
    var trackUserRoles = productTrackList.Select(t => t.UserRole).ToList();
    var product = (Product)ViewBag.Product;
    var currentUserRole = AppUtils.getCurrentUser().user.Role;
    var publisheduser = (UserRegistration)ViewBag.PublishedUser;
    var publishedUserRole = publisheduser.Role;
    var lastRoleId = productTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().UserRole;
    var currentRoleEnum = ((AppEnumeration.UserRole)lastRoleId) + 1;
    var currentRole = Enum.IsDefined(typeof(AppEnumeration.UserRole), (int)currentRoleEnum) ? EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(currentRoleEnum) : "";
}
<style type="text/css">
    .no-drop {
        cursor: no-drop;
    }
    .approver-name-track {
        color: #808080;
    }
</style>

<div class="modal-dialog modal-md">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName
            <div class="right_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body mytheme_body">

            <div class="alert alert-primary" id="mail-send-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong id="message">Email has been send Successfully.</strong>
            </div>

            <ul class="timeline">

                @foreach (AppEnumeration.UserRole userRoleValue in Enum.GetValues(typeof(AppEnumeration.UserRole)))
                {
                    var productTrack = productTrackList.Where(t => t.UserRole == (int)userRoleValue).FirstOrDefault();
                    if (productTrack != null)
                    {

                        var role = EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(userRoleValue);
                        var approvedDate = productTrack.CreatedDate.ToLongDateString();
                        var approvedTime = productTrack.CreatedDate.ToShortTimeString();

                        if (userRoleValue == AppEnumeration.UserRole.ICTEngineer)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">
                                    POST -<span class="approver-name-track">@(" "+userListMap[productTrack.UserId].FullName)</span>
                                </div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                @role.ToUpper() -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@approvedDate</div>
                            <div class="time">@approvedTime</div>
                        </li>
                        if (userRoleValue == AppEnumeration.UserRole.Principal)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">
                                    PUBLISHED -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                                </div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }
                    }
                    else
                    {
                        var role = EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(userRoleValue);
                        if (userRoleValue == currentRoleEnum)
                        {
                            <li class="track_list track_current">
                                <div class="timeline_title">@role.ToUpper()</div>
                                @if (currentUserRole == (int)AppEnumeration.UserRole.ICTEngineer)
                                {
                                    var userRoleValueId = (int)userRoleValue;
                                    <a href="#" class="product-approval-mail" id="sendRemainderButton" data-url="@Url.Action("ApprovalMail","Product", new { productId = product.Id, userRole = userRoleValueId})">Send Reminder</a>
                                }
                            </li>
                            if (userRoleValue == AppEnumeration.UserRole.Principal)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">PUBLISHED</div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="track_list track_next">
                                <div class="timeline_title">@role.ToUpper()</div>
                            </li>
                            if (userRoleValue == AppEnumeration.UserRole.Principal)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">PUBLISHED</div>
                                </li>
                            }
                        }
                    }
                }
            </ul>

            @if (product.Status == (int)AppEnumeration.ProductStatus.Published && publishedUserRole == (int)(AppEnumeration.AdminRole.CorpIT))
            {
                <div>
                    <label class="text-danger">
                        Approved For Disposal : This Asset has been moved to Reuse
                    </label>
                </div>
            }

        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".product-approval-mail").click(function (e) {
            e.preventDefault();
            //prevent click url
            $("#sendRemainderButton").removeClass("product-approval-mail");
            $("#sendRemainderButton").addClass("no-drop");

            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.isSend) {
                    //alert("Email has been sent");
                    $("#sendRemainderButton").addClass("product-approval-mail");
                    $("#sendRemainderButton").removeClass("no-drop");
                    $("#sendRemainderButton").text("Reminder Email Sent");

                    $("#mail-send-alert").hide();
                    $("#mail-send-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#mail-send-alert").slideUp(500);
                    });

                }
                //restore click url
            });
        });

         $("#sendRemainderButton").on("contextmenu",function(){
	       return false;
	    });

    });
</script>
