﻿@using Garage.Utils
@{
    var currentUser = AppUtils.getCurrentUser();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    @RenderSection("headerlink", false)
</head>
<body>
    <div id="cover-spin"></div>
    @RenderSection("header")
    <!--main-->
    <div class="wrapper">
        @RenderSection("sidemenu")
        <!-- Page Content Holder -->
        <div id="content">
            @RenderBody()
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>

    <div class="modal fade" id="product-view-modal">
    </div>
    <div class="modal fade" id="product-edit-modal">
    </div>
    <div class="modal fade" id="product-post-modal">
    </div>
    <div class="modal fade" id="product-track-modal">
    </div>
    <div class="modal fade" id="product-approval-modal">
    </div>
    <div class="modal fade" id="product-details-view-modal">
    </div>
    <div class="modal fade" id="asset-track-modal">
    </div>
    <div class="modal fade" id="order-track-modal">
    </div>
    <div class="modal fade" id="asset-transfer-track-modal">
    </div>

    <!-- javaScript libraries -->
    <script src="~/Content/assets/bootstrap/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/popper.min.js"></script>
    <script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/js/js.cookie.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>
    <script>

        $(document).ready(function () {
            $('textarea').each(function () {
                $(this).on('keypress', function (e) {
                    if (e.which === 60 || e.which === 62 || e.which === 59 || e.which === 58 ||
                        e.which === 47 || e.which === 92 || e.which === 46 || e.which === 42 ||
                        e.which === 37 || e.which === 36) {
                        e.preventDefault();
                    }
                });
              
            });
            $("#older-first").click(function (e) {
                e.preventDefault();
                var olderFirst = true;
                $('input[name="isOlderFirst"]').val(olderFirst);
                $("#isOlderFirst").closest('form').submit();;
            });

            $("#btn-search").click(function (e) {
                e.preventDefault();
                var olderFirst = false;
                $('input[name="isOlderFirst"]').val(olderFirst);
                $("#isOlderFirst").closest('form').submit();;
            });

            $(".product-view-pop").click(function (e) {
                e.preventDefault();
                var viewUrl = $(this).attr('data-url');
                $.get(viewUrl, function (data) {
                    $('#product-view-modal').html(data);
                    $('#product-view-modal').modal('show');
                });
            });

            $(".product-edit-pop").click(function (e) {
                e.preventDefault();
                var editUrl = $(this).attr('data-url');
                $.get(editUrl, function (data) {
                    $('#product-edit-modal').html(data);
                    $('#product-edit-modal').modal('show');
                });
            });

            $(".product-add-pop").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#product-post-modal').html(data);
                    $('#product-post-modal').modal('show');
                });
            });

            $(".product-track-pop").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#product-track-modal').html(data);
                    $('#product-track-modal').modal('show');
                });
            });

            $(".asset-track").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#asset-track-modal').html(data);
                    $('#asset-track-modal').modal('show');
                });
            });

            $(".product-approval-pop").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#product-approval-modal').html(data);
                    $('#product-approval-modal').modal('show');
                });
            });

            $(".product-details-view-pop").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#product-details-view-modal').html(data);
                    $('#product-details-view-modal').modal('show');
                });
            });

            $(".order-track-pop").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#order-track-modal').html(data);
                    $('#order-track-modal').modal('show');
                });
            });

              $(".asset-transfer-track").click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#asset-transfer-track-modal').html(data);
                    $('#asset-transfer-track-modal').modal('show');
                });
              });

              var addedToCart = JSON.parse('@Json.Encode(TempData["AddedToCart"])');

                if (addedToCart) {
                    $.notify({
                            icon: "fa fa-shopping-cart",
                            message: "Product Added to Cart"
                        },
                        {
                            type: "success",
                            placement: {
                                align: 'center'
                        }
                    });
            }

              var addedToWishList = JSON.parse('@Json.Encode(TempData["AddedToWishList"])');

                if (addedToWishList) {
                    $.notify({
                            icon: "fa fa-star",
                            message: "Product Added to Wish List"
                        },
                        {
                            type: "success",
                            placement: {
                                align: 'center'
                        }
                    });
                }

        });


        var endpoint = '@Url.Action("cart-item-count","Landing")'

        var url = endpoint;

        $.ajax(url,
        {
            dataType: 'json',
            success: function (data, status, xhr) {   // success callback function

                $('#cartItemCount').text(data.cartItemCount);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                //Error catch
            }
            });

          @if (currentUser.user.Role != (int)AppEnumeration.UserRole.ICTEngineer)
             {
                  @:var endpoint = '@Url.Action("cart-item-count","Landing")'
             }

        if (endpoint !== undefined && endpoint !== null && endpoint !== '') {
            var url = endpoint;
            $.ajax(url,
            {
                dataType: 'json',
                success: function (data, status, xhr) {   // success callback function

                    $('#cartItemCount').text(data.cartItemCount);
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    //Error catch
                }
            });
        }

    </script>
    @RenderSection("footerscript", false)
</body>
</html>
