﻿@using Garage.Models
<nav id="sidebar">
    <div class="category_text">Browse by Category</div>
    <div class="toggle_button">
        <div id="sidebarCollapse">
            <img src="~/Content/assets/images/sidebar_menu1.svg" class="expanded_button">
            <img src="~/Content/assets/images/sidebar_menu2.svg" class="collapse_button">
        </div>
    </div>
    @{
        var parentCategories = (List<Category>)ViewBag.ParentCategories;
    }
    <ul class="main_menu">
        @if (parentCategories != null && parentCategories.Count > 0)
        {
            foreach (var category in parentCategories)
            {
                <li class="menu_li menu1">
                    <a class="sidemenu_hover" href="@Url.Action("List","Product",new { categoryId = Garage.Security.DataProtection.Encrypt( category.Id.ToString()) })" id="collapseli_hover1">
                        <img src="@Url.Action("CategoryImage", "FileApi", new { categoryId = category.Id })" />
                        <span>@category.CategoryName </span>
                    </a>
                </li>
            }
        }
        else
        {
            <li class="menu_li menu1 text-center">
                <a>No Category</a>
            </li>
        }
    </ul>

</nav>