﻿@using Garage.Utils
@{ 
    var currentUser = AppUtils.getCurrentUser();
    var approvalMenuName = (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer) ? "Asset Posted" : "Reuse/Disposal Approval";
    var orderMenuName = (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer) ? "Asset Order" : "Order Approval";
}
    <nav id="sidebar">
        
        <div class="toggle_button">
            <div id="sidebarCollapse">
                <img src="~/Content/assets/images/sidebar_menu1.svg" class="expanded_button">
                <img src="~/Content/assets/images/sidebar_menu2.svg" class="collapse_button">
            </div>
        </div>
        <ul class="main_menu">
            <li class="menu_li menu5" style="border-bottom:3px solid #f7f7f7">
                <a class="sidemenu_hover" href="@Url.Action("HomePage", "Landing")" id="collapseli_hover5" style="font-weight: bolder;"><img src="~/Content/images/asset-catalogue.svg"> <span>Asset Catalogue</span></a>
            </li>
            @if (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer)
            {
                <li class="menu_li menu1">
                    <a class="sidemenu_hover" href="@Url.Action("Draft", "SchoolAdmin")" id="collapseli_hover1"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Drafted products.svg"> <span>Asset Draft</span> @*<span class="badge_menu">9</span>*@</a>
                </li>
            }
            <li class="menu_li menu2">
                <a class="sidemenu_hover" href="@Url.Action("ApprovalRequest", "SchoolAdmin")" id="collapseli_hover2"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Posted products.svg"> <span>@approvalMenuName</span></a>
            </li>
            @if (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer || currentUser.user.Role == (int)AppEnumeration.UserRole.Finance)
            {
                <li class="menu_li menu5">
                    <a class="sidemenu_hover" href="@Url.Action("Sold", "Product")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Sale</span></a>
                </li>
            }
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("Orders", "Order")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>@orderMenuName</span></a>
            </li>

            @if (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer)
            {

                <li class="menu_li menu4">
                    <a class="sidemenu_hover" href="@Url.Action("Cart", "Landing")" id="collapseli_hover4"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Cart.svg"> <span>Cart</span></a>
                </li>

                <li class="menu_li menu5">
                    <a class="sidemenu_hover" href="@Url.Action("WishList", "Landing")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Wishlist.svg"> <span>Wish List</span></a>
                </li>
            }

            @if (currentUser.user.Role == (int)AppEnumeration.UserRole.ICTEngineer || currentUser.user.Role == (int)AppEnumeration.UserRole.Finance || currentUser.user.Role == (int)AppEnumeration.UserRole.MSO)
            {
                <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                    <a class="sidemenu_hover" href="@Url.Action("Dispatched", "SchoolAdmin")" id="collapseli_hover5"><img src="~/Content/images/admin_menu-ic-Transfered products.svg"> <span>Asset Transfer</span></a>
                </li>
                <li class="menu_li menu3">
                    <a class="sidemenu_hover" href="@Url.Action("DisposedAsset", "SchoolAdmin")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
                </li>
                <li class="menu_li menu5">
                    <a class="sidemenu_hover" href="@Url.Action("Completed", "SchoolAdmin")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Purchased</span></a>
                </li>
            }
        </ul>

    </nav>