﻿@using Garage.Utils
@{
    var currentUser = AppUtils.getCurrentUser();
}

<nav id="sidebar">
    <div class="toggle_button">
        <div id="sidebarCollapse">
            <img src="~/Content/assets/images/sidebar_menu1.svg" class="expanded_button">
            <img src="~/Content/assets/images/sidebar_menu2.svg" class="collapse_button">
        </div>
    </div>
    <ul class="main_menu">
        <li class="menu_li menu5" style="border-bottom:3px solid #f7f7f7">
            <a class="sidemenu_hover" href="@Url.Action("HomePage", "Landing")" id="collapseli_hover5" style="font-weight: bolder;"><img src="~/Content/images/asset-catalogue.svg"> <span>Asset Catalogue</span></a>
        </li>
        <li class="menu_li menu5">
            <a class="sidemenu_hover" href="@Url.Action("ApprovedAsset", "Product")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Disposal Approval</span></a>
        </li>


        @if (currentUser.user.Role == (int)AppEnumeration.AdminRole.CorpIT)
        {
            <li class="menu_li menu2">
                <a class="sidemenu_hover" href="@Url.Action("SoldProducts", "Product")" id="collapseli_hover2"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Sale</span></a>
            </li>
            <li class="menu_li menu3">
                <a class="sidemenu_hover" href="@Url.Action("List", "Category")" id="collapseli_hover3"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Manage categories.svg"> <span>Manage Categories</span></a>
            </li>
            <li class="menu_li menu4">
                <a class="sidemenu_hover" href="@Url.Action("List", "UserRegistration")" id="collapseli_hover4"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Manage stakeholders.svg"> <span>Manage Stakeholders</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("List", "School")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-school.svg"> <span>Manage Schools</span></a>
            </li>
        }
        @if (currentUser.user.Role == (int)AppEnumeration.Role.CorpIT || currentUser.user.Role == (int)AppEnumeration.Role.VPCorpIT)
        {
            <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                <a class="sidemenu_hover" href="@Url.Action("DisposedAssets", "Product")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Dispatched", "Product")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Transferred</span></a>
            </li>
            @*<li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("CompletedOrders", "Order")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Purchased</span></a>
            </li>*@
        }
        else if (currentUser.user.Role == (int)AppEnumeration.Role.CorpInternalAudit || currentUser.user.Role == (int)AppEnumeration.Role.CorpIT)
        {
            <li class="menu_li menu5" style="border-top:3px solid #f7f7f7">
                <a class="sidemenu_hover" href="@Url.Action("DisposedAssets", "Product")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Asset disposal.svg"> <span>Asset Disposed</span></a>
            </li>
            <li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("Dispatched", "Product")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Sold products.svg"> <span>Asset Transferred</span></a>
            </li>
            @*<li class="menu_li menu5">
                <a class="sidemenu_hover" href="@Url.Action("CompletedOrders", "Order")" id="collapseli_hover5"><img src="~/Content/assets/images/menu/admin/admin_menu-ic-Orders.svg"> <span>Asset Purchased</span></a>
            </li>*@
        }
    </ul>

</nav>