@using Garage.Utils
@model Garage.ViewModels.EmailModels.EmailProductDetails

<html>

<body style="background: #f2f2f2;">

    @{
        @functions{
            string IsEmptyOrNull(string value)
            {
                if(!string.IsNullOrEmpty(value))
                {
                    return "AED " + value;
                }
                else
                {
                    return "";
                }

            }
        }
        var baseUrl = AppUtils.baseUrl;
        var logoUrl = baseUrl + "/Content/assets/images/garage_logo.svg";
        var primaryImageURL = baseUrl + "/FileApi/ProductImage?productImageId=" + Model.ProductDetail.imageIdList.FirstOrDefault();
    }


    <table style="min-width: 580px;
    max-width: 960px;
    overflow-x: scroll;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;">

        <thead>
            <tr>
                <td colspan="3" style="padding: 10px 0;"><img src=@logoUrl width="190px" height="50px" /></td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0;">  Sorry! your posed asset has been rejected and moved to draft. Please track on Gems Garage.</td>
            </tr>
        </thead>

        <tbody style="-webkit-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        -moz-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #e7e7e7;">
            <tr>
                <td colspan="3" style="padding: 9px;
                color: #fff;
                font-size: 18px;
                background: #038803;
                border-radius: 10px 10px 0 0;">
                    @Model.ProductDetail.ProductName
                </td>
            </tr>
            <tr>
                <td rowspan="8" style="width:36%;">
                    <div><img style="width: 200px;height: auto;margin: 0 auto;display: table;" src="@primaryImageURL"></div>
                </td>
                <td style="width:25%;font-weight: bold;padding-top: 25px;">Unit Book Value</td>
                <td style="width:25%;padding-top: 25px;">@IsEmptyOrNull(Model.ProductDetail.UnitValue)</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Quantity</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.Quantity</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Location</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.Location</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">City</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.City</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Age / Year</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.DateOfPurchase</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Condition</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.Condition</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Category</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.CategoryId</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Sub Category</td>
                <td style="width:25%;padding: 5px;">@Model.ProductDetail.SubCategoryId</td>
            </tr>
            <tr>
                <td colspan="3">
                    <br>
                </td>
            </tr>
            <tr>
                <td rowspan="8" style="padding: 0 10px 5px 25px;">
                    <div style="font-weight: bold;">Description / Specification</div>
                    <p style="color: #7f7a7a;">
                        @Model.ProductDetail.Description
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Original Unit Value</td>
                <td>@IsEmptyOrNull(Model.ProductDetail.OriginalUnitValue)</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Depreciation Value</td>
                <td>@IsEmptyOrNull(Model.ProductDetail.DepreciationValue)</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Date of Purchase</td>
                <td>@Model.ProductDetail.DateOfPurchase</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Expected Realisable</td>
                <td>@Model.ProductDetail.ExpectedRealisable</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Actual Value</td>
                <td>@IsEmptyOrNull(Model.ProductDetail.ActualValue)</td>
            </tr>
            <tr>
                <td colspan="2" style="width:25%;font-weight: bold;padding: 5px;">Reason</td>
            </tr>
            <tr>
                <td colspan="2" style="color: #7f7a7a; padding: 2px 10px 20px 5px;">
                    @Model.ProductDetail.ReasonForSelling
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-weight: bold;padding: 10px 10px 5px 25px;">Remarks (Finance)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 2px 10px 20px 25px;">@Model.ProductDetail.FinanceNote</td>
            </tr>
            <tr>
                <td colspan="3" style="font-weight: bold;padding: 10px 10px 5px 25px;">Remarks (MSO)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 2px 10px 20px 25px;">@Model.ProductDetail.MsoNote</td>
            </tr>
            <tr>
                <td colspan="3" style="font-weight: bold;padding: 10px 10px 5px 25px;">Remarks (Prinicipal)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 2px 10px 20px 25px;">@Model.ProductDetail.PrinicipalNote</td>
            </tr>
            <tr>
                <td colspan="3" style="font-weight: bold;padding: 10px 10px 5px 25px;">Reason For Reject</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 2px 10px 20px 25px;">@Model.ProductDetail.RejectReason</td>
            </tr>
            <tr style="background: #e7e7e7;height: 55px;">
                <td colspan="3">
                    <ul style="list-style: none;
                    margin-bottom: 0;
                    margin: 0 auto;
                    display: table;">
                        <li style="padding-right: 20px;
                        float: left;">
                            <p>Posted by: @Model.ProductDetail.UserName / @Model.ProductDetail.Location &#64; @Model.ProductDetail.City</p>
                        </li>
                        <li style="padding-right: 20px;
                        float: left;padding-top: 10px;">
                            <a href="@baseUrl" style="background: #038803;
                            padding: 10px 30px;
                            border-radius: 5px;
                            color: #fff;
                            outline: none;
                            text-decoration: none;
                            border: 0;
                            cursor: pointer;">Take Action</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>

    </table>

</body>

</html>