﻿@using Garage.Models
@using Garage.ViewModels.ShoppingCart
@using Garage.Utils

@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Cart";
    ShoppingCart cart = null;
    if (AppUtils.getCart() != null) { cart = AppUtils.getCart(); }
}

<div class="page_content">

    <div class="title_name category_title_top">Cart</div>

    @if (cart != null && cart.CartItems.Count > 0)
    {
        decimal grandTotal = 0;

        foreach (var cartItem in cart.CartItems.Values)
        {
            var city = (AppEnumeration.City)(Convert.ToInt32(cartItem.Product.City));
            <div class="card box-shadow mt-4 mb-4">
                <div class="card-body cardBodyPadding">
                    <div class="product_listCart">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 list_product_grp">
                                <div class="product_img" data-toggle="modal" data-target="#myModal"><img src="@Url.Action("ProductImage", "FileApi", new { productImageId = cartItem.ProductImageId })"></div>
                                <div class="product_details">
                                    <div class="product_name" data-toggle="modal" data-target="#myModal"> @cartItem.Product.ProductName </div>
                                    <div class="product_dec">
                                        @cartItem.Product.Description
                                    </div>
                                    <div class="product_location">
                                        @cartItem.Product.Location, @city
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 list_product_grp2">
                                @{ var formId = "AddToWishListForm" + cartItem.Product.Id; }
                                @using (Html.BeginForm("AddToWishList", "Order", FormMethod.Post, new { role = "form", id = formId }))
                                {
                                    @Html.Hidden("ProductId", cartItem.Product.Id)
                                    @Html.Hidden("removeFromCart", true)
                                    @Html.Hidden("returnUrl", this.Request.RawUrl)

                                    <div class="product_qnt">
                                        Quantity
                                        @Html.TextBox("UserQuantity", cartItem.ProductOrderQuantity, new { @class = "quantiy_input cart-quantity", type = "number", min = "1", max = cartItem.Product.InStock, dataproductid = cartItem.Product.Id, onkeyup="updateValue(this)" })
                                    </div>
                                }

                                @{ var removeFormId = "RemoveFromCartForm" + cartItem.Product.Id; }
                                @using (Html.BeginForm("RemoveFromCart", "Order", FormMethod.Post, new { role = "form", id = removeFormId }))
                                {
                                    @Html.Hidden("productId", cartItem.Product.Id)
                                }
                                <div class="product_wishlist">
                                    @{ 
                                        var subTotal = cartItem.ProductOrderQuantity * cartItem.Product.UnitValue;
                                        grandTotal = grandTotal + (subTotal??0);
                                    }
                                    <span class="d-none" id="unitValue@(cartItem.Product.Id)">@cartItem.Product.UnitValue</span>
                                    <span class="totalbox">Sub-total: AED <span class="subtotal" id="subTotal@(cartItem.Product.Id)">@subTotal</span> </span>
                                    <span class="pr-3"><a class="wish_list" href="#" onclick="document.getElementById('@removeFormId').submit();">Remove</a></span>
                                    <a class="wish_list" href="#" onclick="document.getElementById('@formId').submit();">Move to wish list</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

        <div class="show_all">
            <span class="totalbox">Total: AED <span id="grandTotal">@grandTotal</span></span>
            <a class="btn btn-primary" href="#" onclick="submitOrder();">CHECK OUT</a>
        </div>

    }
    else
    {
        <div class="no_data_set">
            <img src="~/Content/assets/images/no_cart.svg" class="img-fluid">
            <div class="text-center no_data_txt">Sorry, no products to display!</div>
            <div class="text-center">Please try searching for something else</div>
        </div>
    }

</div>
@section footerscript {

    <script type="text/javascript">

        var orderUrl = '@Url.Action("Checkout","Order")';

        function submitOrder() {
            var productItems = [];
            $(".cart-quantity").each(function () {
                var productId = $(this).attr("dataproductid");
                var quantity = $(this).val();
                var productItem = {
                    productId,
                    quantity
                }
                productItems.push(productItem);
            });
           // console.log(productItems);

            jQuery.ajax({
                url: orderUrl,
                type: "POST",
                data: { productOrderForm: productItems },
                beforeSend: function (x) {
                    //if (x && x.overrideMimeType) {
                    //    x.overrideMimeType("application/j-son;charset=UTF-8");
                    //}
                },
                success: function (result) {
                    //if (!result.isValid) { alert("Somthing went wrong"); }
                    window.location.href = "/Order/Orders";
                    //Write your code here
                }
            });
        }

        function updateValue(obj) {
            var quantity = $(obj).val();
            var productId = $(obj).attr("dataproductid");
            var maxQuantity = Number($(obj).attr("max"));
            var unitValue = $("#unitValue" + productId).text();
            if (quantity == undefined || quantity == '' || quantity == null) {
                quantity = 0;
                $(obj).val(quantity);
            } else if (quantity > maxQuantity) {
                quantity = maxQuantity;
                $(obj).val(quantity);
            } else {

            }
            var subTotal = Number(quantity) * Number(unitValue);
            $("#subTotal" + productId).text(subTotal);
            var grandTotal = 0;
            $(".subtotal").each(function () {
                grandTotal = grandTotal + Number($(this).text());
            });
            $("#grandTotal").text(grandTotal);
        }

    </script>

}