﻿@using System
@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@{
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
    CurrentUser currentUser = AppUtils.getCurrentUser();
}
@section header {
    @if (currentUser.isSuperAdmin)
    {
        @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
    }
    else
    {
        @RenderPage("~/Views/Shared/_Header.cshtml")
    }
}
@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenu.cshtml")
}
@section footerscript {

}
@{
    ViewBag.Title = "Help";
}
<div class="page_content">

    <div class="title_name" style="margin-bottom:20px;">User Guide: Asset Reuse Workflow</div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>School ICT Engineer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/fe618838-dfec-43e7-89db-0728e65b3e1b?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>School Accounts Officer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/e0480a5c-b345-4930-bc11-9ac25933163d?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Manager School Operations Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/9d959fea-1c82-4af4-974b-2fcfd3fd3acc?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Principal Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/c74fe9ba-0e12-4030-b1c5-8f4a574a3d2d?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>
    </div>

    <div class="title_name" style="margin:40px 0px 20px;">User Guide: Asset Disposal Workflow</div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:15px 0px">
            <p>School ICT Engineer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/e80bc3ae-45c6-4fe6-a2f1-1865351d5db5?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:15px 0px">
            <p>School Accounts Officer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/dbed3879-f8e1-4fc6-a1c6-8cd8978510b0?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:15px 0px">
            <p>Manager School Operations Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/9154ae0b-8919-4672-ac8a-b318d5c16ef3?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:15px 0px">
            <p>Principal Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/9545804a-781d-4041-a485-5585d0800553?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:15px 0px">
            <p>SSC IT Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/48d9630f-ca89-454e-bff1-d4b515982699?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>SSC IT VP of Technology Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/e6c829c7-ea55-4cae-8316-27cd22a9c9a7?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>SSC Finance Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/e1a4a9d0-d8de-4368-bf6d-d6772cbf8b1c?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>SSC Internal Audit Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/5d6043da-8a3f-4f02-8856-fe320e954224?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Senior VP for School Treasury and Operations Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/b1d2bbec-3cf0-454a-9ce7-b8680429fa01?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>


        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>CFO Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/cfdf3cac-503c-4f40-8b09-d762ffe84543?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>
    </div>

    <div class="title_name" style="margin:40px 0px 20px;">User Guide: Asset Purchase and Transfer</div>

    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>School ICT Engineer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/16c9cd61-3fbd-4ac3-9a4a-85d9dd6cb3dc?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Manager School Operations Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/19a1445c-f06e-4294-a1d7-736cc1de2e37?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Principal Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/75a81ab9-3799-436a-9c00-a5afa4fcf93e?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>School Accounts Officer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/dff3af35-a33b-4bae-b969-e8446467bb9c?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Selling School Accounts Officer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/1d6d151c-41bb-47af-a241-08b9a6fb7517?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" style="margin:20px 0px">
            <p>Selling and Buying School ICT Engineer Role</p>
            <div style='max-width: 640px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/3038da32-3bc6-475b-8b6b-d09045ef6b94?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe></div></div>
        </div>

    </div>

</div>