﻿

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEMS Garage</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    <!-- javaScript libraries -->
    <script src="~/Content/assets/bootstrap/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/popper.min.js"></script>
    <script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
    <!-- main js -->

    <script src="~/Content/assets/js/main.js"></script>
     
    <link href="~/Content/assets/home-banner/css/superslides.css" rel="stylesheet" />

</head>

<body style="margin:0; ">

    <div id="slides">
        <div class="slides-container">
            <span class="garage1"><div class="con"><img src="~/Content/assets/home-banner/images/logo_new.png" class="logo"></div></span>
            <span class="garage2"><img src="~/Content/assets/home-banner/images/innovation.png" class="innovative"><div class="initiative">A Green GEMS initiative</div></span>
            <span class="garage3"><img src="~/Content/assets/home-banner/images/g3-words.png" class="env"><div class="initiative white">A Green GEMS initiative</div></span>
        </div>

        <nav class="slides-navigation">
            <a href="#" class="next">Next</a>
            <a href="#" class="prev">Previous</a>
        </nav>
    </div>

    <div class="enter">
        @if (!Request.IsAuthenticated)
        {
            <a style="font-size:30px; padding:10px 30px; !important" href="@Url.Action("SignIn","NIAuth")"><img src="~/Content/assets/home-banner/images/enter.svg" href="#" style=" width:175px"></a>

        }
        else
        {
            <a style="font-size:30px; padding:10px 30px; !important" href="@Url.Action("Selection","NILanding")"><img src="~/Content/assets/home-banner/images/enter.svg" href="#" style=" width:175px"></a>
         }
    </div>
     

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Content/assets/home-banner/javascripts/jquery.easing.1.3.js"></script>
    <script src="~/Content/assets/home-banner/javascripts/jquery.animate-enhanced.min.js"></script>
    <script src="~/Content/assets/home-banner/javascripts/hammer.min.js"></script>
    <script src="~/Content/assets/home-banner/javascripts/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(function () {
            $('#slides').superslides({
                hashchange: true,
                play: 4000
            });

            $('#slides').on('mouseenter', function () {
                // $(this).superslides('stop');
                //console.log('Stopped')
            });
            $('#slides').on('mouseleave', function () {
                // $(this).superslides('start');
                //console.log('Started')
            });

            var remH = $(window).height() - ($(window).height() / 10) - 70;
            var innH = $(".innovative").width() * 0.83;
            $(".innovative").css("margin-top", remH / 2 - innH / 2);



        });
    </script>

</body>

</html>