﻿@using Garage.ViewModels
@using Garage.Models
@using Garage.Utils

@{
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
    CurrentUser currentUser = null;
    if (AppUtils.getCurrentUser() != null) { currentUser = (CurrentUser)AppUtils.getCurrentUser(); }
}

@section header {

    @if (currentUser != null)
    {
        if (currentUser.isSuperAdmin)
        {
            @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
        }
        else
        {
            @RenderPage("~/Views/Shared/_Header.cshtml")
        }
    }
    else
    {
        @RenderPage("~/Views/Shared/_HeaderVisitor.cshtml")
    }
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenu.cshtml")
}

@section footerscript {


}

@{
    ViewBag.Title = "Most Watched Assets";
    var mostWatchedProducts = (List<ProductListView>)ViewBag.MostWatchedProducts;
}

<div class="page_content">

    @*<div class="banner_image">
            <img class="img-fluid" src="~/Content/assets/images/1200x150.png" alt="">
        </div>*@

    <div class="title_name">Most Watched Assets</div>
    @if (mostWatchedProducts.Count > 0)
    {
        <div class="row">

            @foreach (var productView in mostWatchedProducts)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="product_box product-view-pop" data-toggle="modal" data-url="@Url.Action("View","Product",new { id= productView.Product.Id})">
                        <div class="product_img">
                            <img class="img-fluid" src="@Url.Action("ProductImage","FileApi", new { productImageId = productView.imageIdList.FirstOrDefault() })" />
                        </div>
                        <div class="product_details">
                            <div class="product_name">
                                @productView.Product.ProductName
                            </div>
                            <div class="product_price">
                                <span>AED</span> @productView.Product.UnitValue
                            </div>
                        </div>
                        <div class="product_info">
                            <div class="product_info_line1">@productView.SchoolCode.ToUpper()</div>
                            <div class="product_info_line2">@(productView.PublishedDate.Value.ToString("dd-MM-yyyy"))</div>
                            <div class="product_info_line3"><img src="~/Content/images/stock.svg" /> @((int)productView.Product.InStock)</div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <div class="no_data_set">
            <img src="~/Content/assets/images/no_category.svg" class="img-fluid">
            <div class="text-center no_data_txt">Sorry, no products to display!</div>
            <div class="text-center">Please try searching for something else</div>
        </div>
    }

</div>