 
@using Garage.Areas.Non_IT 
@model Garage.Areas.Non_IT.ViewModels.Email.NIEmailNIOrderDetails
@{
    @functions{
        string IsEmptyOrNull(string value)
        {
            if (!string.IsNullOrEmpty(value))
            {
                return "AED " + value;
            }
            else
            {
                return "";
            }

        }
    }
    var baseUrl = AppUtils.baseUrl;
    var logoUrl = baseUrl + "/Content/assets/images/garage_logo.svg";
    var primaryImageURL = baseUrl + "/NIFileApi/ProductImage?productImageId=" + Model.ProductDetail.imageIdList.FirstOrDefault();
}
<html>
<body style="background: #f2f2f2;">
    <table style="width: 650px;
    overflow-x: scroll;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;">
        <thead>
            <tr>
                <td colspan="3" style="padding: 10px 0;"><img src=@logoUrl width="190px" height="50px" /></td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0;">Asset has been ordered for approval on Gems Garage</td>
            </tr>
        </thead>
        <tbody style="-webkit-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        -moz-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #e7e7e7;">
            <tr>
                <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                    <div style="padding: 5px;
                            border: 1px solid #e7e7e7;
                            margin-right: 15px;
                            height: max-content;
                            width: max-content;">
                        <img src="@primaryImageURL" style="width: 100px;
                            height: auto;">
                    </div>
                </td>
                <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                    <div style="margin-right: 20px;">
                        <div style="font-weight: bold;
                                font-size: 18px;
                                width: max-content;">@Model.ProductDetail.ProductName</div>
                                <div style="font-size: 14px;
                                padding: 10px 0;">
                                    @Model.ProductDetail.Description
                                </div>
                            </div>
                        </td>
                        <td style="padding: 5px;border-bottom: 1px solid #e7e7e7;">
                            <div style="padding-bottom: 10px;
                            text-align: right;
                            padding-right: 15px;">
                                Quantiy @Model.ProductOrder.Quantity
                            </div>
                            <div style="color: #000;
                            width: 160px;
                            text-align: right;
                            padding-right: 15px;">
                                Unit Value <span style="color: #038803;
                                padding-left: 5px;">@Model.ProductDetail.UnitValue</span>
                            </div>
                            <div style="color: #000;
                            width: 160px;
                            text-align: right;
                            padding-right: 15px;">
                                Order Value <span style="color: #038803;
                                padding-left: 5px;">@Model.ProductOrder.ProductValue</span>
                            </div>
                        </td>
                    </tr>
                    <tr style="background: #e7e7e7;height: 55px;">
                        <td colspan="2"></td>
                        <td>
                            <a href="@baseUrl" style="background: #038803;
                    padding: 10px 30px;
                    border-radius: 5px;
                    color: #fff;
                    outline: none;
                    border: 0;
                    text-decoration: none;
                    cursor: pointer;">Take Action</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>
    </html>