 
@model Garage.Areas.Non_IT.ViewModels.Email.NIEmailNIProductDetails
<html>
<body style="background: #f2f2f2;">
    @{
        @functions{
            string IsEmptyOrNull(string value)
            {
                if (!string.IsNullOrEmpty(value))
                {
                    return "AED " + value;
                }
                else
                {
                    return "";
                }

            }
        }
        var baseUrl = Garage.Areas.Non_IT.AppUtils.baseUrl;
        var logoUrl = baseUrl + "/Content/assets/images/garage_logo.svg";
        var primaryImageURL = baseUrl + "/NIFileApi/ProductImage?productImageId=" + Model.NIProductDetail.imageIdList.FirstOrDefault();
    }

    <table style="min-width: 580px;
    max-width: 960px;
    overflow-x: scroll;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;">
        <thead>
            <tr>
                <td colspan="3" style="padding: 10px 0;"><img src=@logoUrl width="190px" height="50px" /></td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0;"> Congratulation! Your Asset has been published for sale on Gems Garage</td>
            </tr>
        </thead>
        <tbody style="-webkit-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        -moz-box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        box-shadow: 0px 0px 12px 0px rgba(187, 182, 182);
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #e7e7e7;">
            <tr>
                <td colspan="3" style="padding: 9px;
                color: #fff;
                font-size: 18px;
                background: #038803;
                border-radius: 10px 10px 0 0;">
                    @Model.NIProductDetail.ProductName
                </td>
            </tr>
            <tr>
                <td rowspan="8" style="width:36%;">
                    <div><img style="width: 200px;height: auto;margin: 0 auto;display: table;" src="@primaryImageURL"></div>
                </td>
                <td style="width:25%;font-weight: bold;padding-top: 25px;">Unit Book Value</td>
                <td style="width:25%;padding-top: 25px;">@IsEmptyOrNull(Model.NIProductDetail.UnitValue)</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Quantity</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.Quantity</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Location</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.Location</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">City</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.City</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Age / Year</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.DateOfPurchase</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Condition</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.Condition</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Category</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.CategoryId</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Sub Category</td>
                <td style="width:25%;padding: 5px;">@Model.NIProductDetail.SubCategoryId</td>
            </tr>
            <tr>
                <td colspan="3">
                    <br>
                </td>
            </tr>
            <tr>
                <td rowspan="8" style="padding: 0 10px 5px 25px;">
                    <div style="font-weight: bold;">Description / Specification</div>
                    <p style="color: #7f7a7a;">
                        @Model.NIProductDetail.Description
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Original Unit Value</td>
                <td>@IsEmptyOrNull(Model.NIProductDetail.OriginalUnitValue)</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Depreciation Value</td>
                <td>@IsEmptyOrNull(Model.NIProductDetail.DepreciationValue)</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Date of Purchase</td>
                <td>@Model.NIProductDetail.DateOfPurchase</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Expected Realisable</td>
                <td>@Model.NIProductDetail.ExpectedRealisable</td>
            </tr>
            <tr>
                <td style="width:25%;font-weight: bold;padding: 5px;">Actual Value</td>
                <td>@IsEmptyOrNull(Model.NIProductDetail.ActualValue)</td>
            </tr>
            <tr>
                <td colspan="2" style="width:25%;font-weight: bold;padding: 5px;">Reason</td>
            </tr>
            <tr>
                <td colspan="2" style="color: #7f7a7a; padding: 2px 10px 20px 5px;">
                    @Model.NIProductDetail.ReasonForSelling
                </td>
            </tr>
            <tr style="background: #e7e7e7;height: 55px;">
                <td colspan="3">
                    <ul style="list-style: none;
                    margin-bottom: 0;
                    margin: 0 auto;
                    display: table;">
                        <li style="padding-right: 20px;
                        float: left;">
                            <p>Posted by: @Model.NIProductDetail.UserName / @Model.NIProductDetail.Location &#64; @Model.NIProductDetail.City</p>
                        </li>
                        <li style="padding-right: 20px;
                        float: left;padding-top: 10px;">
                            <a href="@baseUrl" style="background: #038803;
                            padding: 10px 30px;
                            border-radius: 5px;
                            color: #fff;
                            outline: none;
                            text-decoration: none;
                            border: 0;
                            cursor: pointer;">Take Action</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>