﻿@using Garage.Utils
@using Garage.ViewModels.ShoppingCart
@using Garage.ViewModels
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
}
@section header {
    @if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || currentUser.user.Role == (int)AppEnumeration.Role.CorpIT)
    {
        @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")}
    else
    {
        @RenderPage("~/Areas/Non_IT/Views/Shared/_HeaderAdmin.cshtml")
    }

}
@section sidemenu {
    @if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT || currentUser.user.Role == (int)AppEnumeration.Role.CorpIT)
    {
          @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")}
    else
    {
        @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuAdmin.cshtml")
    }

}
@{
    ViewBag.Title = "Non IT Category List";
    var subcategoryList = (List<Garage.Areas.Non_IT.Models.SubCategory>)ViewBag.subcategoryList;
    var categoryMap = (Dictionary<int, string>)ViewBag.categorymap;

}
<style type="text/css">
    .file-input {
        width: 50%;
        height: 0px;
        overflow: visible;
    }
</style>
<div class="page_content">
    <div class="title_name category_title_top">Manage Categories</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a href="@Url.Action("Add", "NICategory")" class="fillter_button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
            </a>
        </div>
    </div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%" class="th-sm">
                            SubCategory
                        </th>
                        <th width="20%" class="th-sm">
                            Category
                        </th>
                        <th width="15%" class="th-sm">
                            Active
                        </th>
                        <th class="text-center" width="10%" class="th-sm">
                            Edit
                        </th>
                        <th class="text-center" width="10%" class="th-sm">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (subcategoryList.Count > 0)
                    {
                        foreach (var subcategory in subcategoryList)
                        {
                            <tr>
                                <td>
                                    @subcategory.SubCategoryName
                                </td>
                                <td>
                                    @categoryMap[subcategory.CategoryID ?? 0]
                                </td>
                                <td>
                                    @{
                                        bool active = subcategory.Active ?? false;
                                    }
                                    @(active ? "Yes" : "No")
                                </td>
                                <td class="text-center"><a class="table_list_ic" href="@Url.Action("Edit","NICategory", new { id = Garage.Security.DataProtection.Encrypt(subcategory.ID.ToString()) })"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td class="text-center"> <a class="table_list_ic" href="#" data-url="@Url.Action("Delete","NICategory",new { id= Garage.Security.DataProtection.Encrypt(subcategory.ID.ToString())})" onclick="deleteRecord(this)"><i class="fa fa-remove" aria-hidden="true"></i></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="5">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Delete
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure ?</h5>
                    <p class="text-danger">You won't be able to undo this!</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li>
                            <a id="btnDelete" href="#" class="btn btn-danger">Yes, Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section footerscript {
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script>

        $(document).ready(function () {
            @*var productName = '@TempData["productName"]';
            if (productName !== undefined && productName !== '' && productName !== null) {
                $.notify({
                    title: "<strong>Asset Transfer : </strong> ",
                    message: "'" + productName + "' saved as draft successfully"
                },
                {
                    type: "success",
                    placement: {
                        align: 'center'
                    }
                });

            }*@
        });

        function deleteRecord(obj) {
            var url = $(obj).attr('data-url');
            $("#btnDelete").attr("href", url);
            $('#deleteModal').modal('show');
        }

    </script>

}