﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@using Garage.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuAdmin.cshtml")
}
@{
    ViewBag.Title = "Completed Orders";
    var orderList = (List<NICompletedOrders>)ViewBag.OrderList;
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
    var orderHeader = (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT) ? "Asset Order" : "Purchase Approval";
}
<div class="page_content">
    <div class="page_title_name">@orderHeader</div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="15%" class="th-sm">
                            Order No
                        </th>
                        <th width="20%" class="th-sm">
                            Order Details
                        </th>
                        <th width="5%" class="th-sm">
                            Quantity
                        </th>
                        <th width="10%" class="th-sm">
                            Order Value
                        </th>
                        <th width="10%" class="th-sm">
                            Order Date
                        </th>
                        <th class="th-sm text-center" width="5%">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (orderList.Count > 0)
                    {
                        foreach (var order in orderList)
                        {
                            <tr>
                                @{
                                    var isProcured = (AppEnumeration.OrderStatus.Procured == (AppEnumeration.OrderStatus)order.Order.OrderStatus) ? true : false;

                                }

                                <td>
                                    <a href="#">@order.Order.OrderNo</a>
                                </td>
                                <td>
                                    <span>
                                        Product Name :
                                    </span>@(order.Product.ProductName)
                                    <br />
                                    <span>Order Quantity : </span>@((int)order.ProductOrder.Quantity)
                                </td>
                                <td class="text-right">@((int)order.ProductOrder.Quantity)</td>
                                <td>@(order.ProductOrder.ProductValue)</td>
                                <td>@(order.Order.CreatedDate.HasValue ? order.Order.CreatedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                <td class="text-center">
                                    <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","NIProduct",new { id= order.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="6">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>