﻿@using Garage.Utils
@using Garage.Models
@using Garage.ViewModels
@using Garage.Areas.Non_IT.Models;
@using Garage.Areas.Non_IT.ViewModel;
@using System.Web.Mvc
@using System.Text
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Track Order";
    var order = (NIOrder)ViewBag.Order;
    var productDetails = (List<NIProductDetail>)ViewBag.ProductDetails;
    var product = productDetails.FirstOrDefault();
    var orderTrackList = (List<NIOrderTrack>)ViewBag.OrderTrack;
    var productOrderList = (List<NIProductOrder>)ViewBag.ProductOrder;
    var productOrder = productOrderList.FirstOrDefault();
    var currentUserRole = Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole;
    var lastRoleId = orderTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().NextApprovalUserRole;
    var Product = (NIProduct)ViewBag.Product;



    var NIVoucher = new NIOrderVouchersDetail();
    if (ViewBag.NIVoucher != null)
    {
        NIVoucher = (NIOrderVouchersDetail)ViewBag.NIVoucher;
    }
    var ViewOnly = ViewBag.ViewOnly;

    //var currentRoleEnum = ((AppEnumeration.UserRole)lastRoleId) == AppEnumeration.UserRole.Principal ? ((AppEnumeration.UserRole)lastRoleId) : ((AppEnumeration.UserRole)lastRoleId) + 1;
    var currentRole = (new Garage.Areas.Non_IT.Services.NIUserService()).GetMasterRoleIDByID(lastRoleId.Value);

    var isOrderPlaced = orderTrackList.Exists(p => p.NextApprovalUserRole == 0);

    var lastupdated = orderTrackList.OrderByDescending(p => p.CreatedDate).First();
    var ShowActionsBtn = false;
    if (lastupdated.NextApprovalUserRole.HasValue)
    {
        if (currentUserRole == lastupdated.NextApprovalUserRole && lastupdated.IsDifferentSchool == false)
        {
            ShowActionsBtn = true;
        }
    }

    var isRejected = order.OrderStatus == (int)AppEnumeration.OrderStatus.Cancelled || order.OrderStatus == (int)AppEnumeration.OrderStatus.Removed;

    var PurchaseValue = 0;
    var TotalAccDep = 0;
    var NetBook = 0;
    var TotalNetBook = 0;
    var Realized = 0;
    if (NIVoucher.UnitDepValue.HasValue)
    {
        // PurchaseValue = Decimal.ToInt32(productOrder.Quantity.Value) * Convert.ToInt32(Math.Round(Convert.ToDouble(product.UnitValue)));
        //  TotalAccDep = Decimal.ToInt32(NIVoucher.UnitDepValue.Value) * Convert.ToInt32(Math.Round(Convert.ToDouble(productOrder.Quantity)));
        NetBook = Convert.ToInt32(Math.Round(Convert.ToDouble(product.OriginalUnitValue))) - Convert.ToInt32(NIVoucher.UnitDepValue);

        TotalNetBook = NetBook * Convert.ToInt32(productOrder.Quantity);
        if (string.IsNullOrEmpty(product.ExpectedRealisable))
        {
            product.ExpectedRealisable = "0";
        }
        Realized = Convert.ToInt32(productOrder.Quantity) * Convert.ToInt32(Math.Round(Convert.ToDouble(product.ExpectedRealisable)));
    }
}

@section headerlink {
    <style>

        table.product_details_list td {
            padding: 5px;
            vertical-align: top;
        }

        .fix-carousel-container {
            margin-top: 10px;
        }

        .product_details_list {
            margin-top: 0px !important;
        }
    </style>
}
<div class="page_content">
    <div class="title_name mb-3">Order</div>
    <div class="text-right mb-3"> <a class="btn btn-primary" href="@ViewBag.ReturnUrl">Back</a></div>

    <div class="card box-shadow mb-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="text-left">
                    @order.OrderNo
                </span>
            </li>
            <li class="list-group-item">
                <!-- The Modal product detail -->
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header mytheme_header">
                            @product.ProductName
                            <div class="right_header">
                            </div>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body mytheme_body">
                            <div class="row">
                                <div class="col-xl-6 col-md-12 fix-carousel-container" id="slider">
                                    <div id="myCarousel" class="carousel slide">
                                        <!-- main slider carousel items -->
                                        <div class="carousel-inner gallery_height">
                                            @foreach (var image in product.imageIdList.Select((id, index) => new { index, id }))
                                            {
                                                <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                                    <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid">
                                                </div>
                                            }
                                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <!-- main slider carousel nav controls -->

                                        <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                                            @foreach (var image in product.imageIdList.Select((id, index) => new { index, id }))
                                            {
                                                <li class="list-inline-item@(image.index==0?" active":"")">
                                                    <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                                        <img src="@Url.Action("ProductImage","NIFileApi", new { productImageId = image.id })" class="img-fluid_small">
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-12">
                                    <table class="product_details_list">
                                        <tr>
                                            <td class="product_lable">Unit Book Value </td>
                                            <td>AED @product.UnitValue</td>
                                        </tr>
                                        @*@if (currentUser.school.Id == product.SchoolId)
                                            {
                                                <tr>
                                                    <td class="product_lable">Quantity</td>
                                                    <td>@product.Quantity</td>
                                                </tr>
                                            }*@
                                        @*<tr>
                                                <td class="product_lable">In Stock</td>
                                                <td>@product.InStock</td>
                                            </tr>*@
                                        <tr>
                                            <td class="product_lable">Location</td>
                                            <td>@product.Location</td>
                                        </tr>
                                        <tr>
                                            <td class="product_lable">City</td>
                                            <td>@product.City</td>
                                        </tr>
                                        <tr>
                                            <td class="product_lable">Age / Year</td>
                                            <td>
                                                @if (product.age != null && product.age.Equals("0", StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <span>Less than a year</span>
                                                }
                                                else if (product.age == null)
                                                {
                                                    <span> </span>
                                                }
                                                else
                                                {
                                                    <span>@product.age</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product_lable">Condition</td>
                                            <td>@product.Condition</td>
                                        </tr>
                                        <tr>
                                            <td class="product_lable">Category</td>
                                            <td>@product.CategoryId</td>
                                        </tr>
                                        <tr>
                                            <td class="product_lable">Sub Category</td>
                                            <td>@product.SubCategoryId</td>
                                        </tr>
                                        @if (product.PublishedDate.HasValue)
                                        {
                                            <tr>
                                                <td class="product_lable">Published Date</td>
                                                <td>@(product.PublishedDate.HasValue ? product.PublishedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>

                            <div class="description_head">Description / Specification</div>
                            <p>@product.Description</p>
                            @if (order.OrderStatus.HasValue && order.OrderStatus == Convert.ToInt32(Garage.Utils.AppEnumeration.OrderStatus.Completed))
                            {
                                <div class="col-xl-6 col-md-12 @((product.UnitValue.Length>0)? "":"hide_finance_fields")">
                                    <table class="table_edit_bg">
                                        <tr>
                                            <td class="product_lable">Date of Purchase</td>
                                            <td>
                                                @if (product.DateOfPurchase.HasValue)
                                                {
                                                    <span>@product.DateOfPurchase.Value.ToString("dd-MMM-yyyy")</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product_lable">Asset Transferred Quantity</td>


                                            <td>  @Decimal.ToInt32(Convert.ToDecimal(productOrder.Quantity.Value))  </td>
                                        </tr>




                                        <tr>
                                            <td class="product_lable">Original unit price:</td>
                                            <td>AED @Decimal.ToInt32(Convert.ToDecimal(product.OriginalUnitValue))  </td>

                                            @*<td class="product_lable">Total Purchase Value:</td>
                                                <td>AED  @PurchaseValue</td>*@
                                        </tr>
                                        <tr>
                                            <td class="product_lable">Per unit Acc. Dep Value at the time of transfer</td>
                                            <td>
                                                AED  @(NIVoucher.UnitDepValue.HasValue ? @NIVoucher.UnitDepValue.Value.ToString() : "0")
                                            </td>

                                            @*<td class="product_lable">Total Acc.Dep Value:(Amount at the transfer date)</td>
                                                <td>AED @TotalAccDep</td>*@
                                        </tr>

                                        <tr>

                                            <td class="product_lable">Per unit Net Book Value</td>
                                            <td>AED @NetBook</td>


                                        </tr>
                                        <tr>
                                            <td class="product_lable">Total Net Book Value</td>
                                            <td>AED @TotalNetBook</td>
                                        </tr>
                                        @if (Product.AssetType == (int)AppEnumeration.AssetType.Dispose)
                                        {
                                            <tr>
                                                <td class="product_lable">Realized Unit Value:(Amount at the Sale/Disposal date)</td>
                                                <td>AED @product.ExpectedRealisable</td>
                                            </tr>
                                            <tr>
                                                <td class="product_lable">Realized Unit Value:(Amount at the Sale/Disposal date)</td>
                                                <td>AED @Realized</td>
                                            </tr>
                                        }

                                        @*<tr>
                                                <td class="product_lable">Gross Purchase Value</td>
                                                <td>AED @product.GrossPurchaseValue</td>
                                            </tr>*@
                                    </table>
                                    <br />
                                </div>
                                if (NIVoucher != null)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Voucher Numbers</th>
                                                <th scope="col">Details of Transfer/Narration</th>
                                                <th scope="col">New Asset Tag ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@NIVoucher.VouchersNumber</td>
                                                <td>@NIVoucher.Narration</td>
                                                <td>@NIVoucher.NewAssetTagID</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer mytheme_footer">
                            <div class="product_postby">Posted by: @product.SchoolName</div>


                            <ul class="product_buy">
                                <li>Order Value (AED): @productOrder.ProductValue</li>
                                <li>Quantity : @((int)productOrder.Quantity)</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="card-footer text-right">
            @if (order.OrderStatus == (int)AppEnumeration.OrderStatus.OrderPlaced || order.OrderStatus == (int)AppEnumeration.OrderStatus.InProgress)
            {
                <div class="text-left">
                    <div id="counterMessage">Kindly note failing to complete the process on time, will result in the order to be cancelled <br />and will be restored back in store - <span id="countTimer" class="text-danger"></span></div>
                </div>
            }
            @if (!isOrderPlaced && !isRejected)
            {
                if (ShowActionsBtn && order.OrderStatus != (int)AppEnumeration.OrderStatus.Procured)
                {
                    <a class="btn btn-danger" href="#" onclick="cancelOrder(this)" data-url="@Url.Action("Reject", "NIOrder", new { id = order.Id })">Reject</a>
                    <a class="btn btn-primary" href="@Url.Action("Approval", "NIOrder", new { id = Garage.Security.DataProtection.Encrypt( order.Id)})">Approve</a>
                }
            }
            else if (isOrderPlaced)
            {
                <div class="text-success">Order is scheduled for pick up</div>
            }
        </div>
    </div>
    <div class="modal fade" id="removeProductOrderModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Remove Product From Order
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure !</h5>
                    <p class="text-danger">Do You want to remove this Product from Order ?</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li>
                            <a id="btnRemoveProductOrder" href="#" class="btn btn-danger">Yes,Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeProductOrderModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Remove Product From Order
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure !</h5>
                    <p class="text-danger">Do You want to remove this Product from Order ?</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li>
                            <a id="btnRemoveProductOrder" href="#" class="btn btn-danger">Yes,Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancelOrder">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Cancel Order
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure !</h5>
                    <p class="text-danger">Do You want to cancel this Order ?</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </li>
                        <li>
                            <a id="btnCancelOrder" href="#" class="btn btn-danger">Yes,Cancel Order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var countDownDate = new Date('@order.CreatedDate.Value.AddDays(7).ToLongDateString()');

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
    var countTimer = days + " Days, " + hours + " Hrs and " + minutes + "Mins " + seconds+ " Seconds";
    $("#countTimer").text(countTimer);

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
      $("#counterMessage").text("Order has been cancelled. Products are returned to store.");
  }
    }, 1000);

    function removeProductOrder(obj) {
        var url = $(obj).attr('data-url');
        $("#btnRemoveProductOrder").attr("href", url);
        $("#removeProductOrderModal").modal('show');
    }
    function cancelOrder(obj) {
        var url = $(obj).attr('data-url');
        $("#btnCancelOrder").attr("href", url);
        $("#cancelOrder").modal('show');
    }
</script>
