﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models

@using Garage.Areas.Non_IT.Models;
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_SchoolAdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_Header.cshtml")
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}
@{
    ViewBag.Title = "Orders";
    var orderList = (List<Garage.Areas.Non_IT.ViewModel.NIOrderDetails>)ViewBag.OrderList;
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
    var orderHeader = (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT) ? "Asset Order" : "Order Approval";
    var ViewOnly = true;
}
@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}
<style>

    .transferaccept:hover {
        text-decoration: underline;
    }
</style>
<div class="page_content">
    <div class="page_title_name">@orderHeader</div>
    @*<div class="category_fillter_top">
            <div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="padding_left">
                <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
            </div>
        </div>*@
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="8%" class="th-sm d-none d-md-table-cell">
                            No
                        </th>
                        <th width="15%" class="th-sm">
                            Asset
                        </th>
                        <th width="15%" class="th-sm">
                            School
                        </th>
                        <th width="5%" class="th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th width="10%" class="th-sm text-right d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th width="10%" class="th-sm d-none d-md-table-cell">
                            Date
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Status
                        </th>
                        <th class="th-sm text-center" width="5%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Action / Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (orderList.Count > 0)
                    {
                        foreach (var order in orderList)
                        {
                            <tr>
                                @{
                                    var isProcured = (AppEnumeration.OrderStatus.Procured == (AppEnumeration.OrderStatus)order.Order.OrderStatus) ? true : false;

                                }

                                <td class="d-none d-md-table-cell">
                                    @if (order.IsSameSchool == false)
                                    {
                                        <a href="@Url.Action("Track","NIOrder",new { @id=  Garage.Security.DataProtection.Encrypt(order.Order.Id.ToString()) , @IsSameSchool= Garage.Security.DataProtection.Encrypt(order.IsSameSchool == true ? "1" : "0") , @OrderID =Garage.Security.DataProtection.Encrypt( order.Order.Id), @LastApproval = Garage.Security.DataProtection.Encrypt(order.LastApproval), @ViewOnly = Garage.Security.DataProtection.Encrypt(ViewOnly == true ? "1" : "0") }) ">@order.Order.OrderNo</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Track","NIOrder",new { @id=  Garage.Security.DataProtection.Encrypt(order.Order.Id.ToString()) , @IsSameSchool= Garage.Security.DataProtection.Encrypt(order.IsSameSchool == true ? "1" : "0") , @OrderID =Garage.Security.DataProtection.Encrypt( order.Order.Id), @LastApproval = Garage.Security.DataProtection.Encrypt(order.LastApproval), @ViewOnly = Garage.Security.DataProtection.Encrypt(ViewOnly == true ? "1" : "0") }) ">@order.Order.OrderNo</a>
                                    }

                                </td>
                                <td>@(order.Product.ProductName)</td>
                                <td>@(order.SchoolCode)</td>
                                <td class="text-right d-none d-md-table-cell">@((int)order.ProductOrder.Quantity)</td>
                                <td class=" productvalue text-right d-none d-md-table-cell">
                                    @(order.ProductOrder.ProductValue)

                                </td>
                                <td class="d-none"> <span itemid="@Garage.Security.DataProtection.Encrypt(order.Order.Id)" id="isdaxupdated">@(order.ProductOrder.DaxUpdated) </span></td>

                                <td class="d-none d-md-table-cell">@(order.Order.CreatedDate.HasValue ? order.Order.CreatedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                <td class="d-none d-md-table-cell">
                                    @{
                                        var orderStatusEnum = (AppEnumeration.OrderStatus)order.Order.OrderStatus;
                                        var orderStatus = EnumHelper<AppEnumeration.OrderStatus>.GetDisplayValue(orderStatusEnum);
                                        var orderStatusClass = isProcured ? "text-success" : "text-info";
                                    }
                                    <span><span class="@orderStatusClass">@orderStatus</span></span><br />
                                    @if (orderStatusEnum == AppEnumeration.OrderStatus.OrderPlaced || orderStatusEnum == AppEnumeration.OrderStatus.InProgress)
                                    {
                                        <span><span class="text-danger">Waiting for @(order.NextApprover) Approval</span></span>
                                    }
                                    @if (order.PickUpScheduled.HasValue)
                                    {
                                        <span>Pick Up Date : @order.PickUpScheduled.Value.ToString("dd-MM-yyyy")</span>
                                    }
                                    @if (currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.ACCOUNTS && order.Order.OrderStatus == (int)AppEnumeration.OrderStatus.Procured && !order.PickUpScheduled.HasValue && !order.ProductOrder.DaxUpdatedAccepted)
                                    {
                                        if (order.NIOrderProductVoucher != null)
                                        {

                                            @Html.Hidden("vouchers-" + Garage.Security.DataProtection.Encrypt(order.Order.Id), (new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(order.NIOrderProductVoucher))

                                        }
                                        <span class="transferaccept" style="cursor: pointer; " onclick="transferBookValue(this, '@Garage.Security.DataProtection.Encrypt(order.Order.Id)',@order.ProductOrder.Quantity,@order.Product.OriginalUnitValue)"><span class="text-danger"> Book Value Transfer Accept</span></span>
                                    }
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic order-track-pop" href="#" data-url="@Url.Action("TrackStatus", "NIOrder", new { id= order.Order.Id })"><img src="~/Content/images/tack.svg" /></a>
                                </td>
                                <td class="text-center">
                                    <a class="table_list_ic"
                                       href="@Url.Action("Track","NIOrder",new { @id=  Garage.Security.DataProtection.Encrypt(order.Order.Id.ToString()) , @IsSameSchool= Garage.Security.DataProtection.Encrypt(order.IsSameSchool == true ? "1" : "0") , @OrderID =Garage.Security.DataProtection.Encrypt( order.Order.Id), @LastApproval = Garage.Security.DataProtection.Encrypt(order.LastApproval), @ViewOnly = Garage.Security.DataProtection.Encrypt(ViewOnly == true ? "1" : "0") }) ">
                                        @if (currentUser.user.NIRole != order.NextApproverRole || (order.PickUpScheduled.HasValue && currentUser.user.NIRole == (int)AppEnumeration.NIUserRole.MSO) || (order.Order.OrderStatus == (int)AppEnumeration.OrderStatus.Procured && !order.PickUpScheduled.HasValue))
                                        {
                                            <img src="~/Content/images/preview.svg" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/action.svg" />
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="bookValueTransferModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header mytheme_header">
                Book Value Transfer Accept
                <div class="right_header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body mytheme_body">
                <h5 class="d-none">Transfer the Book Value of Ordered Assets?</h5>
                <p class="d-none text-success">Amount of Asset being transferred : AED  <span id="popup-amount" />  </p>

                <div class="row">
                    <div class="col-sm-6 mb-2">
                        Number of unit transferred: <input type="text" class="form-control" disabled id="unittransferred" />
                    </div>
                    <div class="col-sm-6 mb-2">
                        Original Unit Price: <input type="text" disabled class="form-control" id="unitpurchase" />
                    </div>
                    <div class="col-sm-12 mb-2">
                        Per unit Acc. Dep Value at the time to transfer: <input type="text" class="form-control" disabled id="unitdepvalue" />
                    </div>
                    <div class="col-sm-6 mb-2">
                        Per unit Net Book Value: <input type="text" class="form-control" disabled id="unitnetbook" />
                    </div>
                    <div class="col-sm-6 mb-2">
                        Total Purchase Value: <input type="text" class="form-control" disabled id="totalpurchase" />
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6 mb-2">
                        Total Acc Depreciation Value: <input type="text" class="form-control" disabled id="totaldepreciation" />
                    </div>
                    <div class="col-sm-6 mb-2">
                        Total Net Book Value: <input type="text" class="form-control" disabled id="totalnetbook" />
                    </div>
                    <div class="col-sm-6 mb-2"></div>

                </div>

                <div class="row">
                    <div class="col-sm-12 mb-2">
                        Voucher Numbers : <textarea class="form-control" rows="4" maxlength="200" id="Voucher"></textarea>
                    </div>

                    <div class="col-sm-12 mb-2">
                        Details of Transfer/Narration :  <textarea class="form-control" rows="4" maxlength="200" id="Narration"></textarea>
                    </div>
                    <div class="col-sm-12 mb-2">
                        New Asset Tag ID :  <textarea class="form-control" rows="4" maxlength="200" id="NewAssetTagID"></textarea>
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer mytheme_footer">
                <ul class="product_buy">
                    <li class="pt-1">
                        <input type="checkbox" id="daxupdate" title="DAX entries completed" alt="DAX entries completed" /> DAX entries completed
                    </li>
                    <li>
                        <input type="button" id="btnConfirm" disabled="disabled" onclick="proceed()" value="Proceed" class="btn btn-success" />
                        <div class="editableform-loading" style="display: none;"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/bootstrap-editable.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#daxupdate').change(function () {
            debugger;
            if (this.checked) {
                $('#btnConfirm').prop('disabled', false);

            }
            else {
                $('#btnConfirm').prop('disabled', true);
            }
        });
    });

    function proceed() {

        if ($('#Voucher').val().trim() == '' || $('#Narration').val().trim() == '' || $('#NewAssetTagID').val().trim() == '') {
            return false;
        }

        $('.editableform-loading').show();

        debugger;
        //$('.narration tbody tr').each(function (index, tr) {
        //    var Vouchers = $(tr).find('[name="Vouchers"]').val();
        //    var NewTagID = $(tr).find('[name="NewTagID"]').val();
        //    var Narration = $(tr).find('[name="Narration"]').val();
        //    var ID = $(tr).find('[name="Id"]').val();
        //    if (Vouchers != '' && Narration != '' & NewTagID != '') {
        //        obj.push({ 'Id': ID, 'VouchersNumber': Vouchers, 'Narration': Narration, 'NewAssetTagID': NewTagID });
        //    }
        //});
        $('#btnConfirm').prop('disabled', true);
        var linkurl = '/NIOrder/Approval/' + itemid + '?IsDaxUpdated=' + $('#daxupdate').is(':checked');
        var postData = '';
        if ($('#Voucher').val() != '' && $('#Narration').val() != '') {
            postData = {
                'UnitDepValue': parseInt($('#unitdepvalue').val().trim()), 'OrderId':  0, 'VouchersNumber': $('#Voucher').val().trim(), 'Narration': $('#Narration').val().trim(), 'NewAssetTagID': $('#NewAssetTagID').val().trim()
            };
        }

        $.ajax({
            url: linkurl,
            headers: {
                'detail': JSON.stringify(postData),
            },
            success: function (data) {
                location.reload();
            },
            error: function (err) {
                $('.editableform-loading').hide();
                $('#btnConfirm').prop('disabled', false);
            }
        });

    }
    var itemid = '';
    function transferBookValue(obj, orderid, quantity, original_value) {
        debugger;
        $('textarea').each(function () {
            $(this).on('keypress', function (e) {
                if (e.which === 60 || e.which === 62 || e.which === 59 || e.which === 58 ||
                    e.which === 47 || e.which === 92 || e.which === 46 || e.which === 42 ||
                    e.which === 37 || e.which === 36) {
                    e.preventDefault();
                }
            });
            //$(this).bind('paste', function (e) {
            //    e.preventDefault(); //disable cut,copy,paste
            //});
        });

        $('#unittransferred').val('');
        $('#unitpurchase').val('');
        $('#unitdepvalue').val('');
        $('#totalpurchase').val('');
        $('#unitnetbook').val('');
        $('#totaldepreciation').val('');
        $('#totalnetbook').val('');
        $('#Voucher').val('');
        $('#NewAssetTagID').val('');
        $('#Narration').val('');

        var vouchers = $('#vouchers-' + orderid).val();
        if (vouchers != '' && vouchers != undefined) {
            var parsevouchers = JSON.parse(vouchers);
            $('#unittransferred').val(quantity);
            $('#unitpurchase').val(original_value);
            $('#unitdepvalue').val(parsevouchers.UnitDepValue);
            $('#totalpurchase').val(parseFloat(original_value) * parseFloat(quantity));
            $('#unitnetbook').val(parseFloat($('#unitpurchase').val()) - parseFloat($('#unitdepvalue').val()));
            $('#totaldepreciation').val(parseFloat($('#unitdepvalue').val()) * parseFloat($('#unittransferred').val()));
            $('#totalnetbook').val(parseFloat($('#unitnetbook').val()) * parseFloat($('#unittransferred').val()));

        }

        var amount = $(obj).closest('tr').find('.productvalue').text();

        $("#popup-amount").text(amount);

        //if ($(obj).closest('tr').find('#isdaxupdated').text().trim() == 'True')
        //    $('#daxupdate').prop('checked', true);
        //else
        //    $('#daxupdate').prop('checked', false);
        itemid = $(obj).closest('tr').find('#isdaxupdated').attr('itemid');




        $('#bookValueTransferModal').modal('show');

    }
</script>