﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Areas.Non_IT.Models
@using Garage.Areas.Non_IT.ViewModels
@using Garage.Models
@{
    Layout = null;
}
@{
    ViewBag.Title = "Completed Orders";
    var orderList = (List<NICompletedOrders>)ViewBag.OrderList;
    var currentUser = Garage.Areas.Non_IT.AppUtils.getCurrentUser();
}
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
</head>
<div class="page_content">
    <div class="page_title_name">Asset Purchased</div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20%" class="th-sm">
                            Order Details
                        </th>
                        <th width="10%" class="th-sm">
                            Transfered from
                        </th>
                        <th width="10%" class="th-sm">
                            Transfered to
                        </th>
                        <th class="th-sm text-right">
                            Quantity
                        </th>
                        <th class="th-sm text-right">
                            Value (AED)
                        </th>
                        <th class="th-sm text-center">
                            Order Date
                        </th>
                        <th class="th-sm text-center">
                            Purchase Date
                        </th>
                        <th width="10%" class="th-sm text-center">
                            Pick Up Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (orderList.Count > 0)
                    {
                        foreach (var order in orderList)
                        {
                    <tr>
                        @{
                            var isProcured = (AppEnumeration.OrderStatus.Procured == (AppEnumeration.OrderStatus)order.Order.OrderStatus) ? true : false;

                        }
                        <td>
                            <span>
                                @(order.Product.ProductName)
                            </span>
                            <br />
                            <span>School : @(order.Product.Location)</span>
                        </td>
                        <td> @( Garage.Areas.Non_IT.Helper.NonIT_Helper.GetSchoolDetails(order.Order.SchoolId).SchoolCode)   </td>

                        <td>
                            @( Garage.Areas.Non_IT.Helper.NonIT_Helper.GetSchoolDetails(order.Product.SchoolId).SchoolCode)
                        </td>
                        <td class="text-right">@((int)order.ProductOrder.Quantity)</td>
                        <td class="text-right">AED @(order.ProductOrder.ProductValue)</td>
                        <td class="text-center">@(order.Order.CreatedDate.HasValue ? order.Order.CreatedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                        <td class="text-center">@(order.PurchaseDate.ToString("dd-MM-yyyy"))</td>
                        <td class="text-center">@(order.ScheduledDate.ToString("dd-MM-yyyy"))</td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="9">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- javaScript libraries -->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script src="~/Content/assets/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/js/bootstrap-notify.min.js"></script>
<script src="~/Scripts/js/js.cookie.js"></script>
<!-- main js -->
<script src="~/Content/assets/js/main.js"></script>
