﻿@using Garage.Models
@model Garage.ViewModels.CategoryViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "Category Edit";
}

@section headerlink {
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />
    <style type="text/css">
        .krajee-default .file-footer-caption {
            margin-bottom: 5px
        }

        .krajee-default.file-preview-frame .kv-file-content {
            width: 170px;
            height: 160px;
        }
    </style>
}

<div class="page_content">

    <div class="title_name category_title_top">Product Category</div>

    <div class="category_fillter_top">

        <div class="padding_left">
            <a href="@Url.Action("List", "Category")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>

    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { role = "form", id = "categoryEditForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.EncryptedId)
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Category Edit Form
                </div>

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="post_product_field1">
                                <tr>
                                    <td colspan="2">
                                        @Html.TextBoxFor(m => m.ImageFile, new { @type = "file", @multiple = "multiple", id = "input-id" })<br />
                                        <span class="text-danger">
                                            (Please Upload If you want to replace old image)
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @Html.LabelFor(m => m.CategoryName, "Category Name")
                                        @Html.TextBoxFor(m => m.CategoryName, new { @class = "popup_textBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @{ var itemList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                        @Html.LabelFor(m => m.CategoryName, "Parent Category")
                                        @Html.DropDownListFor(m => m.ParentCategoryId, itemList, "Select Parent Category", new { @class = "popup_textBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Active) Active
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_post_button">
                        <li><button type="submit" class="btn btn-primary">Update Category</button></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@section footerscript {

    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script src="~/Scripts/js/fileinput.min.js"></script>
    <script type="text/javascript">
        $("#categoryEditForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "CategoryName": {
                    required: true,
                    maxlength: 50
                }
            },
            messages: {
                "CategoryName": {
                    required: "Please Enter Category Name",
                    maxlength: "Please Enter Less than 50 Characters"
                }
            }
        });

        $("#input-id").fileinput({
            showPreview: false,
            dropZoneTitle: 'Add max 1 pictures',
            showClose: false,
            allowedFileExtensions: ['jpg', 'gif', 'png', 'svg'],
            maxFileSize: 3072,
            showUpload: false,
            hideThumbnailContent: false,
            allowedFileTypes: ['image'],    // allow only images
            browseOnZoneClick: true,
            minFileCount: 0,
            maxFileCount: 1,
            autoReplace: true,
            layoutTemplates: { actionZoom: '<button type="button" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="View Details"><i class="fa fa-search-plus"></i></button>' },
            previewZoomButtonIcons: {
                prev: '<i class="fa fa-arrow-left"></i>',
                next: '<i class="fa fa-arrow-right"></i>',
                toggleheader: '<i class="fa fa-arrows-v"></i>',
                fullscreen: '<i class="fa fa-arrows-alt"></i>',
                borderless: '<i class="fa fa-expand"></i>',
                close: '<i class="fa fa-close"></i>'
            }
        });

        $('#categoryEditForm').submit(function () {
            if ($('#categoryEditForm').valid()) {
                $('#cover-spin').show();
            }
        });

    </script>
}
