﻿@using Garage.Utils
@using Garage.Models
@using Garage.Areas.Non_IT.Models

@{

    var sellerSchool = (NISchool)ViewBag.SellerSchool;
    var order = (NIOrder)ViewBag.Order;
    var orderTrackList = (List<NIOrderTrack>)ViewBag.OrderTrack;

    var product = (NIProduct)ViewBag.Product;
    var productOrder = (NIProductOrder)ViewBag.ProductOrder;
    var publishedDate = (DateTime)ViewBag.PublishedDate;
    var buyerSchool = (NISchool)ViewBag.BuyerSchool;
    var transferredDate = orderTrackList.Where(ot => ot.UserRole == (int)AppEnumeration.NIUserRole.MSO && ot.IsDifferentSchool == true).FirstOrDefault();

    var currentUserRole = Garage.Areas.Non_IT.AppUtils.getCurrentUser().user.NIRole;
    var lastRoleId = orderTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().UserRole;
    var currentRoleEnum = (AppEnumeration.NIUserRole)lastRoleId;
    }

 

@functions {

    public static HtmlString trackStatusHtml(AppEnumeration.NIUserRole role, List<NIOrderTrack> orderTrackList, AppEnumeration.NIUserRole currentApproverRoleEnum)
    {

        var trackEntry = orderTrackList.Where(ot => ot.UserRole == (int)role).FirstOrDefault();
        var listItem = new TagBuilder("li");
        var titleDiv = new TagBuilder("div");
        titleDiv.AddCssClass("timeline_title");
        var dateDiv = new TagBuilder("div");
        dateDiv.AddCssClass("float-right");
        var timeDiv = new TagBuilder("div");
        timeDiv.AddCssClass("time");

        listItem.SetInnerText(EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper());

        if (trackEntry != null)
        {
            listItem.AddCssClass("track_list track_done");
            titleDiv.SetInnerText(EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper());
            var approvedDate = trackEntry.CreatedDate.ToLongDateString();
            var approvedTime = trackEntry.CreatedDate.ToShortTimeString();
            dateDiv.SetInnerText(approvedDate);
            timeDiv.SetInnerText(approvedTime);
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal) + dateDiv.ToString(TagRenderMode.Normal) + timeDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }
        else if (role == currentApproverRoleEnum)
        {
            listItem.AddCssClass("track_list track_current");
            titleDiv.SetInnerText(EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper());
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }
        else
        {
            listItem.AddCssClass("track_list track_next");
            titleDiv.SetInnerText(EnumHelper<AppEnumeration.NIUserRole>.GetDisplayValue(role).ToUpper());
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }

    }

}
<head>
    <title>Gems Garage Admin - @ViewBag.title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/Content/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- bootstrap CSS file -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/bootstrap.min.css" />
    <!-- main stylesheet file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/style.css" />
    <link rel="stylesheet" href="~/Content/assets/stylesheet/responsive.css" />
    <!-- main animation file -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/animation.css" />
    <!-- bootstrap customize -->
    <link rel="stylesheet" href="~/Content/assets/stylesheet/bootstrap_customize.css" />
</head>
<style type="text/css">

    .no-drop {
        cursor: no-drop;
    }
</style>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @order.OrderNo
            <div class="right_header ">
                <a class="btn btn-danger"  style="display:none" href="@Url.Action("TrackStatus", "NIOrder", new { id= order.Id , print = true})">Export</a>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="alert alert-primary" id="mail-send-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong id="message">Email has been send Successfully.</strong>
            </div>
            <div class="card bg-light p-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div>Product Name : <b>@(product.ProductName)</b></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>Quantity : <b>@((int)productOrder.Quantity)</b></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>Value : <b>AED @(productOrder.ProductValue)</b></div>
                    </div>
                    @if (publishedDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Published Date : <b>@(publishedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }
                    @if (transferredDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Transferred Date : <b>@(transferredDate.CreatedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }
                    <div class="col-md-12 col-sm-12">
                        <div>Transferred School : <b>@(buyerSchool.SchoolName)</b></div>
                    </div>
                </div>
            </div>
            <ul class="timeline">
                @if (orderTrackList.Exists(ot => ot.UserRole == (int)AppEnumeration.NIUserRole.MSOASSISTANT))
                {
                    @trackStatusHtml(AppEnumeration.NIUserRole.MSOASSISTANT, orderTrackList, currentRoleEnum)
                }
                @trackStatusHtml(AppEnumeration.NIUserRole.MSO, orderTrackList, currentRoleEnum)
                @trackStatusHtml(AppEnumeration.NIUserRole.HOS, orderTrackList, currentRoleEnum)
                @trackStatusHtml(AppEnumeration.NIUserRole.GCOREALM, orderTrackList, currentRoleEnum)
                @*@trackStatusHtml(AppEnumeration.NIUserRole.ACCOUNTS, orderTrackList, currentRoleEnum)*@
                @{
                    var bookValueEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.NIUserRole.ACCOUNTS).FirstOrDefault();

                    if (bookValueEntry != null)
                    {
                        var bookValueApprovedDate = bookValueEntry.CreatedDate.ToLongDateString();
                        var bookValueApprovedTime = bookValueEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Book Value Transfer, @(sellerSchool.SchoolName.ToUpper())</div>
                            <div class="float-right">@bookValueApprovedDate</div>
                            <div class="time">@bookValueApprovedTime</div>
                        </li>



                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Book Value Transfer, @(sellerSchool.SchoolName.ToUpper())</div>
                        </li>
                    }

                    var bookValueAccepted = orderTrackList.Where(ot => ot.IsDifferentSchool == false && ot.UserRole == (int)AppEnumeration.NIUserRole.ACCOUNTS).FirstOrDefault();
                    if (bookValueAccepted != null)
                    {
                        var bookValueAcceptedDate = bookValueAccepted.CreatedDate.ToLongDateString();
                        var bookValueAcceptedTime = bookValueAccepted.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Book Value Transfer, @(sellerSchool.SchoolName.ToUpper())</div>
                            <div class="float-right">@bookValueAcceptedDate</div>
                            <div class="time">@bookValueAcceptedTime</div>
                        </li>



                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Book Value Transfer Accepted, @(buyerSchool.SchoolName.ToUpper())</div>
                        </li>
                    }
                }
                @{
                    var scheduleEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.NIUserRole.MSO).FirstOrDefault();

                    if (scheduleEntry != null)
                    {
                        var scheduleApprovedDate = scheduleEntry.CreatedDate.ToLongDateString();
                        var scheduleApprovedTime = scheduleEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Gate Pass, Pickup Schedule, @(sellerSchool.SchoolName.ToUpper())</div>
                            <div class="float-right">@scheduleApprovedDate</div>
                            <div class="time">@scheduleApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Gate Pass, Pickup Schedule, @(sellerSchool.SchoolName.ToUpper())</div>
                        </li>
                    }
                    var scheduleEntryCompleted = orderTrackList.Where(ot => ot.IsDifferentSchool == false && ot.UserRole == (int)AppEnumeration.NIUserRole.MSO).OrderByDescending(p => p.CreatedDate).FirstOrDefault();
                    if (scheduleEntryCompleted != null && order.OrderStatus == (int)AppEnumeration.OrderStatus.Completed)
                    {

                        var completedDate = scheduleEntryCompleted.CreatedDate.ToLongDateString();
                        var completedTime = scheduleEntryCompleted.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">Order Completed</div>
                            <div class="float-right">@completedDate.</div>
                            <div class="time">@completedTime</div>
                        </li>
                    }
                    else if (scheduleEntry != null && order.OrderStatus == (int)AppEnumeration.OrderStatus.Procured && currentUserRole == (int)AppEnumeration.NIUserRole.MSO)
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Order Completed</div>
                            <a href="@Url.Action("Completed","NIOrder", new { id = order.Id})">Asset picked up. Reached School</a>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">Order Completed</div>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
</div>
<!-- javaScript libraries -->
<script src="~/Content/assets/bootstrap/jquery.min.js"></script>
<script src="~/Content/assets/bootstrap/popper.min.js"></script>
<script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/js/bootstrap-notify.min.js"></script>
<script src="~/Scripts/js/js.cookie.js"></script>
<!-- main js -->
<script src="~/Content/assets/js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".product-approval-mail").click(function (e) {
            e.preventDefault();
            //prevent click url
            $("#sendRemainderButton").removeClass("product-approval-mail");
            $("#sendRemainderButton").addClass("no-drop");

            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.isSend) {
                    //alert("Email has been sent");
                    $("#sendRemainderButton").addClass("product-approval-mail");
                    $("#sendRemainderButton").removeClass("no-drop");

                    $("#mail-send-alert").hide();
                    $("#mail-send-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#mail-send-alert").slideUp(500);
                    });

                }
                //restore click url
            });
        });

    });
</script>
