﻿@model  Garage.Areas.Non_IT.Controllers.NILanding.NILandingController.EmailCustom
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#password').on('click', function () {
                $(this).attr('type', 'password');
            });
            @*$('#btnsubmit').click(function () {


                $.ajax({
                    url: '@Url.Action("CheckUser", "NIAuth")?Email=' + $('#email').val() + '&Password=' + $('#password').val(),
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        window.location.replace(data.responseText);
                    },
                    error: function (result) {
                        window.location.replace(result.responseText);
                    }
                });

            });*@
        });


    </script>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }
    </style>
    @using (Html.BeginForm("CheckUser", "NIAuth", FormMethod.Post, new { role = "form", id = "form1", enctype = "multipart/form-data" }))
    {
        <div id="login">
            <h3 class="text-center text-white pt-5"> </h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, "Email")
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, "Password")
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password" })
                                  
                                </div>
                                <div class="form-group">
                                    <label for="remember-me" class="text-info"> </label><br>
                                    <input type="submit" id="btnsubmit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
