﻿@using Garage.ViewModels
@using Garage.Models
@{
    Layout = "~/Areas/Non_IT/Views/Shared/_EcommerceLayout.cshtml";
}
@section header {
    <!--header-->
    <div class="header_set">
        <div class="header_logo">
            <a href="@Url.Action("","")"><img src="~/Content/assets/images/garage_logo.svg"></a>
        </div>
        <div class="account_set">
            <!--Profile-->
            <nav class="navbar navbar-expand-sm">
                <!-- Links -->
                @*<ul class="navbar-nav nav">
                        <li class="nav-item">
                            <div class="search">
                                <input type="text" class="searchTerm" placeholder="Enter keyword">
                                <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click_knowmore" href="#">Know more</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link post_button" data-toggle="modal" data-target="#postModal">Post your product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link wishCount" href="wish_list.html">
                                <img src="assets/images/favourite.svg">
                                <span class="badgeNo">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link notification" href="cart.html">
                                <img src="assets/images/cart.svg">
                                <span class="badgeNo">3</span>
                            </a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <img src="assets/images/profile_img.svg">
                            </a>
                            <div class="dropdown-menu in-down">
                                <a class="dropdown-item" href="#">My Profile</a>
                                <a class="dropdown-item" href="#">Messages</a>
                                <a class="dropdown-item" href="#">Sign Out</a>
                            </div>
                        </li>
                    </ul>*@
            </nav>
        </div>
    </div>
}
@section sidemenu {
    @RenderPage("~/Areas/Non_IT/Views/Shared/_SideMenu.cshtml")
}
@section footerscript {

}
@{
    ViewBag.Title = "Error";
}
<div class="page_content">
    <div class="no_data_set">
        <img src="~/Content/assets/images/no_error.svg" class="img-fluid">
        <div class="text-center no_data_txt">Page not found</div>
        <div class="text-center">Page you have requested is not available, Please try again later</div>
    </div>
</div>