﻿@using Garage.Utils
@model Garage.ViewModels.UserRegistrationForm

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "User Add";
}

<div class="page_content">

    <div class="title_name category_title_top">User Registration</div>

    <div class="category_fillter_top">

        <div class="padding_left">
            <a href="@Url.Action("List", "UserRegistration")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>

    </div>

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header mytheme_header">
                User Registration Form
            </div>
            @using (Html.BeginForm("Save", "UserRegistration", FormMethod.Post, new { role = "form", id = "userAddForm" }))
            {
                @Html.AntiForgeryToken()

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="post_product_field1">

                                <tr>
                                    <td colspan="2">
                                        @Html.LabelFor(m => m.UserId, "User ID")
                                        @Html.TextBoxFor(m => m.UserId, new { @class = "popup_textBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.FullName, "Full Name")
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "popup_textBox" })
                                    </td>
                                    <td>
                                        @Html.LabelFor(m => m.Email, "Email")
                                        @Html.TextBoxFor(m => m.Email, new { @class = "popup_textBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @{ var schoolList = (List<SelectListItem>)ViewBag.SchoolList; }
                                        @Html.LabelFor(m => m.School, "School")
                                        @Html.DropDownListFor(m => m.School, schoolList, "Select School", new { @class = "popup_textBox", id = "school" })
                                    </td>
                                    <td>
                                        @Html.LabelFor(m => m.Role, "Role")
                                        @Html.DropDownListFor(m => m.Role, EnumHelper.GetSelectList(typeof(AppEnumeration.Role)), "Select Role", new { @class = "popup_textBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Active) Active
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_post_button">
                        <li><button type="reset" class="btn btn-secondary">Reset</button></li>
                        <li><button type="submit" class="btn btn-primary">Add User</button></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@section footerscript {

    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script type="text/javascript">


        var adminRoleValues = JSON.parse('@Json.Encode(Enum.GetValues(typeof(AppEnumeration.AdminRole)))');

        $("#userAddForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "UserId": {
                    required: true,
                    maxlength: 200
                },
                "FullName": {
                    required: true,
                    maxlength: 50
                },
                "Email": {
                    required: true,
                    maxlength: 100,
                    email: true,
                    remote: {
                        url: '/UserRegistration/CheckEmailId',
                        type: 'post'
                    }

                },
                "School": {
                    required: () => !adminRoleValues.includes(Number($('#Role').val()))
                },
                "Role": {
                    required: true
                }
            },
            messages: {
                "UserId": {
                    required: "Please Enter User Id",
                    maxlength: "Please Enter no more than 200 Characters"
                },
                "FullName": {
                    required: "Please Enter Full Name",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "Email": {
                    required: "Please Enter Email",
                    maxlength: "Please Enter no more than 100 Characters",
                    email: "Please Enter Valid Email",
                    remote:"Email Id Already Exists"
                },
                "School": {
                    required: "Please Select School"
                },
                "Role": {
                    required: "Please Select Role"
                }
            }
        });

        $('#userAddForm').submit(function () {
            if ($('#userAddForm').valid()) {
                $('#cover-spin').show();
            }
        });

    </script>
}
