﻿@using Garage.Models
@using Garage.Utils
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}
@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}
@{
    ViewBag.Title = "User List";
    var userList = (List<UserRegistration>)ViewBag.UserList;
}
<div class="page_content">
    <div class="title_name category_title_top">Manage Stakeholders</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a href="@Url.Action("Add", "UserRegistration")" class="fillter_button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add New User
            </a>
        </div>
    </div>
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="35%" class="th-sm">
                            User Details
                        </th>
                        <th width="35%" class="th-sm">
                            Contact Deatils
                        </th>
                        <th class="th-sm text-center" width="15%">
                            Edit
                        </th>
                        <th class="th-sm text-center" width="15%">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (userList.Count > 0)
                    {
                        foreach (var user in userList.Where(p => p.Role != null && p.Role != 0))
                        {
                            <tr>
                                <td>
                                    <span>Name : <strong>@user.FullName </strong> </span> <br />
                                    <span>Role : <strong>@(EnumHelper<AppEnumeration.Role>.GetDisplayValue((AppEnumeration.Role)user.Role))</strong> </span>
                                </td>
                                <td>@user.Email</td>
                                <td class="text-center"><a class="table_list_ic" href="@Url.Action("Edit", "UserRegistration",new { id=  Garage.Security.DataProtection.Encrypt(user.Id.ToString()) })"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td class="text-center">
                                    <a id="@user.Id" class="table_list_ic" href="#" data-url="@Url.Action("Delete","UserRegistration",new { id= Garage.Security.DataProtection.Encrypt(user.Id.ToString())})" onclick="deleteUser(this)"><i class="fa fa-remove" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="4">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Delete
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Are You Sure, Do you want to delete this user ?</h5>
                    <p class="text-danger">You won't be able to undo this!</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        <li>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </li>
                        <li>
                            <a id="btnDelete" href="#" class="btn btn-danger">Yes,Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerscript {
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>
    <script>

        $(document).ready(function () {
            var productName = '@TempData["productName"]';
            if (productName !== undefined && productName !== '' && productName !== null) {
                $.notify({
                    title: "<strong>Asset Transfer : </strong> ",
                    message: "'" + productName + "' saved as draft successfully"
                },
                {
                    type: "success",
                    placement: {
                        align: 'center'
                    }
                });

            }
        });

        function deleteUser(obj) {
            var url = $(obj).attr('data-url');
            $("#btnDelete").attr("href", url);
            $('#deleteModal').modal('show');
        }

    </script>

}