/* ---------------------------------------------------
  animation section
----------------------------------------------------- */

@-webkit-keyframes fadeInDown {
    from {
        opacity: 1;
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
        -o-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@-moz-keyframes fadeInDown {
    from {
        opacity: 1;
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
        -o-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 1;
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
        -o-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
}