/**********responsive**********/

@media screen and (max-width: 1280px) {
    .category_fillter_top {
        float: unset;
    }

    ul.navbar-nav li .search {
        padding-right: 25px;
    }

    ul.navbar-nav li .click_knowmore {
        display: none;
    }

    ol.progtrckr li {
        font-size: 12px;
    }

    .mr_serach {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .searchTerm {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .header_set {
        height: 120px;
    }

        .header_set .account_set {
            margin: 0 auto;
            display: table;
            float: unset;
        }

    .header_logo {
        text-align: center;
        float: none;
        display: block;
        padding-left: 0px;
    }

    #sidebar {
        padding-top: 135px;
    }

    #content {
        margin-top: 140px;
    }

    ul.product_buy {
        float: none;
        display: inline-block;
        margin-top: 20px;
        padding-left: 0;
    }

    .product_list .product_price {
        margin-top: 0px;
    }

        .product_list .product_price .quantiy {
            display: inline-block;
            padding-right: 25px;
        }

        .product_list .product_price .book_value {
            display: inline-block;
        }

    .product_listView .list_product_grp2 {
        text-align: left;
        margin: 10px 0 20px 0;
    }

    .product_listCart .list_product_grp2 {
        text-align: left;
        margin: 10px 0 20px 10px;
    }

    .value_set {
        float: left;
    }
}

@media screen and (max-width: 768px) {
    #content {
        width: calc(100% - 92px);
    }

        #content.active {
            width: calc(100% - 92px);
        }

    .product_gridView .product_name {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .category_fillter_top {
        display: table-row;
    }

    ul.navbar-nav li a.nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    ul.navbar-nav li .search {
        display: none;
    }

    a#older-first {
        margin-top: 10px;
    }
    .bs-popover-right {
        margin-left: -130px !important;
    }
}

@media screen and (max-width: 480px) {
    .category_fillter_top .padding_left {
        margin-top: 20px;
    }

    .product_list .list_product_grp {
        display: unset;
    }

    .product_listView .list_product_grp {
        display: unset;
    }

    .product_listCart .list_product_grp {
        display: unset;
    }

    .product_listView .product_name {
        padding-top: 10px;
    }

    .product_listView .list_product_grp2 {
        text-align: left;
        margin: 10px 0 20px 0;
    }

    .product_listCart .list_product_grp2 {
        text-align: left;
        margin: 10px 0 20px 0;
    }

    ul.navbar-nav li a.post_button {
        margin-top: 6px;
    }

    .mobile_align {
        margin-top: -5px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 375px) {
    .bs-popover-right {
        margin-left: -175px !important;
    }
}

@media screen and (max-width: 350px) {
    .header_set {
        height: 165px;
    }

    #sidebar {
        padding-top: 180px;
    }

    #content {
        margin-top: 185px;
    }

}
