﻿@using Garage.Utils
@using Garage.Models
@{

    var order = (Order)ViewBag.Order;
    var product = (Product)ViewBag.Product;
    var userListMap = (Dictionary<int, UserRegistration>)ViewBag.UserListMap;
    var orderTrackList = (List<OrderTrack>)ViewBag.OrderTrack;
    var productTrackList = (List<ProductPostTrack>)ViewBag.ProductTrack;
    var soldSchool = (School)ViewBag.SoldSchool;
    var procuredSchool = (School)ViewBag.ProcuredSchool;
    var soldProduct = (SoldProduct)ViewBag.SoldProduct;
    var productOrder = (ProductOrder)ViewBag.ProductOrder;

    var transferredDate = orderTrackList.Where(ot => ot.UserRole == (int)AppEnumeration.UserRole.Finance && ot.IsDifferentSchool == Convert.ToBoolean(AppEnumeration.YNStatue.No)).FirstOrDefault().CreatedDate;
    var publishedDate = productTrackList.Where(pt => pt.UserRole == (int)AppEnumeration.UserRole.Principal).FirstOrDefault().CreatedDate;
}
<style type="text/css">
    .approver-name-track {
        color: #808080;
    }
</style>


@functions {

    public static HtmlString orderTrackStatusHtml(AppEnumeration.UserRole role, List<OrderTrack> orderTrackList , Dictionary<int, UserRegistration> userListMap)
    {

        var trackEntry = orderTrackList.Where(ot => ot.UserRole == (int)role).FirstOrDefault();
        var listItem = new TagBuilder("li");
        var titleDiv = new TagBuilder("div");
        var span = new TagBuilder("span");
        titleDiv.AddCssClass("timeline_title");
        span.AddCssClass("approver-name-track");
        var dateDiv = new TagBuilder("div");
        dateDiv.AddCssClass("float-right");
        var timeDiv = new TagBuilder("div");
        timeDiv.AddCssClass("time");

        listItem.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());

        if (trackEntry != null)
        {
            listItem.AddCssClass("track_list track_done");
            span.SetInnerText("- "+ userListMap[trackEntry.UserId].FullName);
            titleDiv.InnerHtml = (EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper()+ span.ToString());
            //titleDiv.InnerHtml =  (span.ToString());
            var approvedDate = trackEntry.CreatedDate.ToLongDateString();
            var approvedTime = trackEntry.CreatedDate.ToShortTimeString();
            dateDiv.SetInnerText(approvedDate);
            timeDiv.SetInnerText(approvedTime);
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal) + dateDiv.ToString(TagRenderMode.Normal) + timeDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }
        //else if (role == currentApproverRoleEnum)
        //{
        //    listItem.AddCssClass("track_list track_current");
        //    titleDiv.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());
        //    listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal);
        //    return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        //}
        else
        {
            listItem.AddCssClass("track_list track_next");
            titleDiv.SetInnerText(EnumHelper<AppEnumeration.UserRole>.GetDisplayValue(role).ToUpper());
            listItem.InnerHtml = titleDiv.ToString(TagRenderMode.Normal);
            return new HtmlString(listItem.ToString(TagRenderMode.Normal));
        }

    }

}

<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName
            <div class="right_header">
                <a class="btn btn-danger"  style="display:none" href="@Url.Action("AssetTransferTrack","Product",new { id= soldProduct.Id, print = true})">Export</a>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="card bg-light p-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div>Quantity : <b>@((int)productOrder.Quantity)</b></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>Value : <b> AED @(productOrder.ProductValue)</b></div>
                    </div>
                    @if (publishedDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Published Date : <b>@(publishedDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }

                    @if (transferredDate != null)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Transferred Date : <b>@(transferredDate.ToString("dd-MM-yyyy"))</b></div>
                        </div>
                    }
                    <div class="col-md-12 col-sm-12">
                        <div>Transferred School : <b>@(procuredSchool.SchoolName)</b></div>
                    </div>
                </div>
            </div>
            <ul class="timeline">
                @if (productTrackList != null)
                {

                    var ictTrackEntry = productTrackList.Where(t => t.UserRole == (int)AppEnumeration.UserRole.ICTEngineer).FirstOrDefault();
                    if (ictTrackEntry != null)
                    {
                        var ictApprovedDate = ictTrackEntry.CreatedDate.ToLongDateString();
                        var ictApprovedTime = ictTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                POSTED BY @soldSchool.SchoolName.ToUpper() -<span class="approver-name-track">@(" " + userListMap[ictTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@ictApprovedDate</div>
                            <div class="time">@ictApprovedTime</div>
                        </li>
                    }

                    foreach (var productTrack in productTrackList)
                    {
                        var role = EnumHelper<AppEnumeration.UserRole>.GetDisplayValue((AppEnumeration.UserRole)productTrack.UserRole);
                        var approvedDate = productTrack.CreatedDate.ToLongDateString();
                        var approvedTime = productTrack.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                @role.ToUpper() -<span class="approver-name-track">@(" " + userListMap[productTrack.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@approvedDate</div>
                            <div class="time">@approvedTime</div>
                        </li>
                    }


                    var principalTrackEntry = productTrackList.Where(t => t.UserRole == (int)AppEnumeration.UserRole.Principal).FirstOrDefault();
                    if (principalTrackEntry != null)
                    {
                        var principalApprovedDate = principalTrackEntry.CreatedDate.ToLongDateString();
                        var principalApprovedTime = principalTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                PUBLISHED BY @soldSchool.SchoolName.ToUpper()-<span class="approver-name-track">@(" " + userListMap[principalTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@principalApprovedDate</div>
                            <div class="time">@principalApprovedTime</div>
                        </li>
                    }

                }

                @{
                    var ictOrderTrackEntry = orderTrackList.Where(t => t.UserRole == (int)AppEnumeration.UserRole.ICTEngineer).FirstOrDefault();
                    if (ictOrderTrackEntry != null)
                    {
                        var ictOrderApprovedDate = ictOrderTrackEntry.CreatedDate.ToLongDateString();
                        var ictOrderApprovedTime = ictOrderTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                ORDER PLACED BY @procuredSchool.SchoolName.ToUpper() -<span class="approver-name-track">@(" " + userListMap[ictOrderTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@ictOrderApprovedDate</div>
                            <div class="time">@ictOrderApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_done">
                            <div class="timeline_title">ORDER PLACED</div>
                        </li>
                    }

                }

                @orderTrackStatusHtml(AppEnumeration.UserRole.ICTEngineer, orderTrackList, userListMap)
                @orderTrackStatusHtml(AppEnumeration.UserRole.MSO, orderTrackList, userListMap)
                @orderTrackStatusHtml(AppEnumeration.UserRole.Principal, orderTrackList, userListMap)
                @orderTrackStatusHtml(AppEnumeration.UserRole.Finance, orderTrackList, userListMap)

                @{
                    var financeOrderTrackEntry = orderTrackList.Where(t => t.UserRole == (int)AppEnumeration.UserRole.Finance).FirstOrDefault();
                    if (financeOrderTrackEntry != null)
                    {
                        var financeOrderApprovedDate = financeOrderTrackEntry.CreatedDate.ToLongDateString();
                        var financeOrderApprovedTime = financeOrderTrackEntry.CreatedDate.ToShortTimeString();

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                ORDER APPROVED BY @procuredSchool.SchoolName.ToUpper() -<span class="approver-name-track">@(" " + userListMap[financeOrderTrackEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@financeOrderApprovedDate</div>
                            <div class="time">@financeOrderApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">ORDER APPROVED</div>
                        </li>
                    }
                }

                @{
                    var bookValueEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.UserRole.Finance).FirstOrDefault();

                    if (bookValueEntry != null)
                    {
                        var bookValueApprovedDate = bookValueEntry.CreatedDate.ToLongDateString();
                        var bookValueApprovedTime = bookValueEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                BOOK VALUE TRANSFER -<span class="approver-name-track">@(" " + userListMap[bookValueEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@bookValueApprovedDate</div>
                            <div class="time">@bookValueApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">BOOK VALUE TRANSFER</div>
                        </li>
                    }
                }

                @{
                    var scheduleEntry = orderTrackList.Where(ot => ot.IsDifferentSchool == true && ot.UserRole == (int)AppEnumeration.UserRole.ICTEngineer).FirstOrDefault();

                    if (scheduleEntry != null)
                    {
                        var scheduleApprovedDate = scheduleEntry.CreatedDate.ToLongDateString();
                        var scheduleApprovedTime = scheduleEntry.CreatedDate.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                GATE PASS, PICK UP SCHEDULED -<span class="approver-name-track">@(" " + userListMap[scheduleEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@scheduleApprovedDate</div>
                            <div class="time">@scheduleApprovedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">GATE PASS, PICK UP SCHEDULED</div>
                        </li>
                    }


                    if (scheduleEntry != null && order.OrderStatus == (int)AppEnumeration.OrderStatus.Completed)
                    {

                        var completedDate = order.UpdatedDate.Value.ToLongDateString();
                        var completedTime = order.UpdatedDate.Value.ToShortTimeString();
                        <li class="track_list track_done">
                            <div class="timeline_title">
                                ORDER COMPLETED -<span class="approver-name-track">@(" " + userListMap[scheduleEntry.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@completedDate.</div>
                            <div class="time">@completedTime</div>
                        </li>
                    }
                    else
                    {
                        <li class="track_list track_next">
                            <div class="timeline_title">ORDER COMPLETED</div>
                        </li>
                    }
                }

            </ul>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
