﻿@model Garage.ViewModels.ProductForm
@using Garage.Utils
@using Garage.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}
@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}
@{
    ViewBag.Title = "Asset Approval";
    var city = (AppEnumeration.City)(Convert.ToInt32(Model.productViewModel.City));
    var currentUser = AppUtils.getCurrentUser();
    var currentUserRole = currentUser.user.Role;
    var product = (Product)ViewBag.Product;
    var assetTrack = (AssetTrack)ViewBag.AssetTrack;
    var currentUserRoleId = (int)assetTrack.UserRole == (int)AppEnumeration.AdminRole.CFO ? (AppEnumeration.AdminRole)assetTrack.UserRole : (AppEnumeration.AdminRole)assetTrack.UserRole + 1;
    var isReadonly = true;
    var updateRate = false;
    var Files = (List<ProductImage>)ViewBag.ReferenceFiles;
   

}
<div class="page_content">
    <div class="title_name category_title_top">Asset Approval</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a href="@Url.Action("ApprovedAsset", "Product")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm("DisposeAsset", "Product", FormMethod.Post, new { role = "form", id = "AssetApprovalForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <div class="row">
                        <div class="col-xl-6 col-md-12">
                            <div class="row post_product_field1">
                                <div class="col-md-12 form-group">
                                    @Html.HiddenFor(m => m.productViewModel.Id)
                                    @if (isReadonly)
        {
            @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Asset")
                                        @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Product")
                                        @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox" })
                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @if (isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                        @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                        @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description", placeholder = "Description / Specification" })
                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                    @if (isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                        @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.productViewModel.CategoryId)

                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                        @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })

                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @{ var subCategoryList = (List<SelectListItem>)ViewBag.subCategoryList; }
                                    @if (isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                        @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.productViewModel.SubCategoryId)
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                        @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @if (isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                        @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @readonly = "readonly", @type = "number", step = "1" })

                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                        @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @type = "number", step = "1" })

                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @{ var ConditionsList = (List<SelectListItem>)ViewBag.Conditions; }
                                    @Html.LabelFor(m => m.productViewModel.Condition, "Condition")
                                    @Html.DropDownListFor(model => model.productViewModel.Condition, ConditionsList, new { @class = "popup_textBox", id = "condition_select" })
                                </div>
                                <div class="col-md-12 form-group">
                                    @if (isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                        @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                        @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description" })
                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @if (updateRate || !isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                        @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                        @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox", @readonly = "readonly" })
                                    }
                                </div>
                                <div class="col-md-12 form-group">
                                    @if (updateRate || !isReadonly)
    {
        @Html.LabelFor(m => m.productViewModel.DAXReference, "Dax Asset Item Tag")
                                        @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(m => m.productViewModel.DAXReference, "Dax Asset Item Tag")
                                        @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox", @readonly = "readonly" })
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12" id="slider">
                            <div id="myCarousel" class="carousel slide">
                                <!-- main slider carousel items -->
                                <div class="carousel-inner gallery_height">
                                    @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                    {
                                        <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                            <img src="@Url.Action("ProductImage","FileApi", new { productImageId = image.id })" class="img-fluid_small">
                                        </div>
                                    }
                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!-- main slider carousel nav controls -->

                                <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                                    @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                    {
                                        <li class="list-inline-item@(image.index==0?" active":"")">
                                            <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                                <img src="@Url.Action("ProductImage","FileApi", new { productImageId = image.id })" class="img-fluid_small">
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row post_product_field2">
                        <div class="col-sm-12 col-md-4 form-group">
                            @if (updateRate)
    {
        @Html.LabelFor(m => m.productViewModel.OriginalUnitValue, "Purchase Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.OriginalUnitValue, "Purchase Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.OriginalUnitValue, new { @class = "popup_textBox", id = "original_value", @readonly = "readonly" })
                            }
                        </div>
                        <div class="col-sm-12 col-md-4 form-group">
                            @if (updateRate)
    {
        @Html.LabelFor(m => m.productViewModel.DateOfPurchase, "Date of Purchase")
                                @Html.TextBoxFor(m => m.productViewModel.DateOfPurchase, new { @class = "popup_textBox", id = "date-of-purchase", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.DateOfPurchase, "Date of Purchase")
                                @Html.TextBoxFor(m => m.productViewModel.DateOfPurchase, "{0:dd/MM/yyyy}", new { @class = "popup_textBox", @readonly = "readonly" })
                            }
                        </div>
                        <div class="col-sm-12 col-md-4 form-group">
                            @if (updateRate)
    {
        @Html.LabelFor(m => m.productViewModel.UnitValue, "Unit Book Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.UnitValue, new { @class = "popup_textBox", id = "unit_value" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.UnitValue, "Unit Book Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.UnitValue, new { @class = "popup_textBox", id = "unit_value", @readonly = "readonly" })
                            }
                        </div>
                        <div class="col-sm-12 col-md-4 form-group">
                            @if (updateRate)
    {
        @Html.LabelFor(m => m.productViewModel.ExpectedRealisable, "Expected Realisable (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.ExpectedRealisable, new { @class = "popup_textBox" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.ExpectedRealisable, "Expected Realisable (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.ExpectedRealisable, new { @class = "popup_textBox", @readonly = "readonly" })
                            }
                        </div>
                        <div class="col-sm-12 col-md-4 form-group">
                            @if (updateRate)
    {
        @Html.LabelFor(m => m.productViewModel.ActualValue, "Actual Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.ActualValue, new { @class = "popup_textBox" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.productViewModel.ActualValue, "Actual Value (AED)")
                                @Html.TextBoxFor(m => m.productViewModel.ActualValue, new { @class = "popup_textBox", @readonly = "readonly" })
                            }
                        </div>
                    </div>
                    <br />
                    @if (((AppEnumeration.AdminRole)currentUserRole == AppEnumeration.AdminRole.CorpFinance) && currentUserRoleId == (AppEnumeration.AdminRole)currentUserRole)
                    {
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                @Html.CheckBoxFor(m => m.productViewModel.ApprovalReq) <span class="text-danger">Required SVP Treasury and CFO Approval</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.productViewModel.ApprovalReq)
                    }
                </div>
                <div class="Files row  @(Files.Count > 0 ? " " : " d-none " )">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card card ml-4 mb-3">
                            <div class="card-body">
                                <table id="filetbl" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="80%">Name</th>
                                            <th width="20%" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var file in Files)
    {
                                            <tr><td><a item-id="@file.Id" name="productFileViewModel.ReferenceFiles" href="@Url.Action("DownloadFile")?ID=@file.Id">  @file.ImageName </a></td> <td class="text-center"><span class="text-center"><i class="fa fa-trash"></i></span></td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                if (product.Status == (int)(AppEnumeration.ProductStatus.Disposed) && currentUser.user.Role == (int)AppEnumeration.AdminRole.CorpIT)
    {
                    <div class="modal-footer mytheme_footer">
                        <ul class="product_post_button">
                            <li><a class="btn btn-info" href="#" onclick="reuseAsset()">Reuse</a></li>
                        </ul>
                    </div>
                }
                if (currentUserRoleId == (AppEnumeration.AdminRole)currentUser.user.Role && (AppEnumeration.AdminRole)currentUserRole != AppEnumeration.AdminRole.SVPTreasury && (AppEnumeration.AdminRole)currentUserRole != AppEnumeration.AdminRole.CFO)
    {
                    <!-- Modal footer -->
                    <div class="modal-footer mytheme_footer">
                        <ul class="product_post_button">
                            <li class="pb-2"><a href="#" onclick="rejectAsset(this)" class="btn btn-danger">Reject</a></li>
                            <li><button type="button" onclick="approveProduct(this)" class="btn btn-primary">Dispose</button></li>
                        </ul>
                    </div>
                }
                else if (currentUserRoleId == (AppEnumeration.AdminRole)currentUser.user.Role && product.ApprovalReq && ((AppEnumeration.AdminRole)currentUserRole == AppEnumeration.AdminRole.SVPTreasury || (AppEnumeration.AdminRole)currentUserRole == AppEnumeration.AdminRole.CFO))
                {
                    <div class="modal-footer mytheme_footer">
                        <ul class="product_post_button">
                            <li class="pb-2"><a href="#" onclick="rejectAsset(this)" class="btn btn-danger">Reject</a></li>
                            <li><button type="button" onclick="approveProduct(this)" class="btn btn-primary">Dispose</button></li>
                        </ul>
                    </div>
                }
                <div class="modal fade" id="RemarkModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header mytheme_header">
                                Remark
                                <div class="right_header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body mytheme_body">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <table class="post_product_field1">
                                            <tr>
                                                <td>
                                                    @{
                                                        @Html.LabelFor(m => m.Remarks, "Remarks")
                                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "popup_textBox", id = "product_note", })

                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer mytheme_footer">
                                <ul class="product_buy">
                                    <li>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </li>
                                    <li><button type="submit" class="btn btn-danger">Approve</button></li>
                                </ul>
                            </div>
                            <div>



                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    @using (Html.BeginForm("RejectAsset", "Product", FormMethod.Post, new { role = "form", id = "AssetRejectForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.productViewModel.Id)
        <div class="modal fade" id="ReasonModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header mytheme_header">
                        Reject
                        <div class="right_header">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        </div>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body mytheme_body">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <table class="post_product_field1">
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.productViewModel.ReasonForReject, "Reason for Reject")
                                            @Html.TextAreaFor(m => m.productViewModel.ReasonForReject, new { @class = "popup_textBox", id = "product_reason_for_reject" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer mytheme_footer">
                        <ul class="product_buy">
                            <li>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </li>
                            <li><button type="submit" class="btn btn-danger">Reject</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("Reuse", "Product", FormMethod.Post, new { role = "form", id = "AssetReuseForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.HiddenFor(m => m.productViewModel.Id)*@
        @Html.Hidden("ProductId", Model.productViewModel.Id)
        <div class="modal fade" id="ReuseModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header mytheme_header">
                        Reuse
                        <div class="right_header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body mytheme_body">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <table class="post_product_field1">
                                    <tr>
                                        <td>
                                            <label for="reuseQuantity">Reuse Quantity</label>
                                            @Html.TextBox("ReuseQuantity", "1", new { @class = "popup_textBox", id = "reuseQuantity" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer mytheme_footer">
                        <ul class="product_buy">
                            <li>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </li>
                            <li><button type="submit" class="btn btn-success">Reuse</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section footerscript {
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script src="~/Scripts/js/datepicker.min.js"></script>
    <script type="text/javascript">
        var isRateRequired = '@updateRate.ToString().ToLower()';
        function approveProduct(obj) {
            $('#RemarkModal').modal('show');
        }
        function reuseAsset() {
            $('#ReuseModal').modal('show');
        }

        function rejectAsset(obj) {
            $('#ReasonModal').modal('show');
        }

        $("#AssetApprovalForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "productViewModel.ProductName": {
                    required: true,
                    maxlength: 50
                },
                "productViewModel.CategoryId": {
                    required: true
                },
                "productViewModel.Description": {
                    maxlength: 1000
                },
                "productViewModel.Quantity": {
                    required: true,
                    number: true,
                    min: 0,
                    max: 999
                },
                "productViewModel.City": {
                    required: true
                },
                "productViewModel.Location": {
                    required: true
                },
                "productViewModel.OriginalUnitValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.UnitValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.DateOfPurchase": {
                    required: () => (isRateRequired == 'true')
                },
                "productViewModel.ExpectedRealisable": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.ActualValue": {
                    required: () => (isRateRequired == 'true'),
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.Reference": {
                    required: () => (isRateRequired == 'true'),
                    maxlength: 200
                },
                "productViewModel.DepreciationValue": {
                    number: true,
                    min: 0,
                    max: function (element) {
                        var maxValue = Number($("#original_value").val());
                        return maxValue;
                    }
                },
                "productViewModel.Condition": {
                    required: true
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: 500
                }
            },
            messages: {
                "productViewModel.ProductName": {
                    required: "Please Enter Product Name",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "productViewModel.CategoryId": {
                    required: "Please Select Category"
                },
                "productViewModel.Description": {
                    maxlength: "Please Enter no more than 1000 Characters"
                },
                "productViewModel.Quantity": {
                    required: "Please Enter Quantity",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Quantity",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.UnitValue": {
                    required: "Please Enter Unit Value",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.City": {
                    required: "Please Select City"
                },
                "productViewModel.Location": {
                    required: "Please Select Location"
                },
                "productViewModel.OriginalUnitValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.DepreciationValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"

                },
                "productViewModel.Condition": {
                    required: "Please Select Condition"
                },
                "productViewModel.ExpectedRealisable": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value "
                },
                "productViewModel.ActualValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: "Please Enter no more than 500 Characters"
                }
            }
        });

        $("#category").change(function () {
            var parentCatrgoryId = $(this).val();
            var url = "/Category/sub-category-list?parentCategoryId=" + parentCatrgoryId
            $.get(url, function (data) {

                $("#sub_category").empty().append($("<option />").val("").text("Select Sub Category"));

                $.each(data, function () {
                    $("#sub_category").append($("<option />").val(this.Id).text(this.CategoryName));
                });
            });
        });

        $(document).ready(function () {
            $("#date-of-purchase").datepicker({
                format: "dd-MM-yyyy",
                endDate: new Date,
                autoHide: true
            });
        });


         $("#date-of-purchase").change(function () {
             var isValid = $( "#AssetApprovalForm" ).validate().element( "#date-of-purchase");
        });

         $("#AssetReuseForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "ReuseQuantity": {
                    required: true,
                    number: true,
                    min: 1,
                    max: function (element) {
                        return Number('@Model.productViewModel.Quantity');
                    }
                }
            },
            messages: {
                "ReuseQuantity": {
                    required: "Please Enter Reuse Quantity",
                    number: "Please Enter Valid Quantity",
                }
            }
        });

        $("#AssetRejectForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "productViewModel.ReasonForReject": {
                    required: true,
                    maxlength: 200
                }
            },
            messages: {
                "productViewModel.ReasonForReject": {
                    required: "Please Enter reason for Reject",
                    maxlength: "Please Enter no more than 200 Characters"
                }
            }
        });

        $('#AssetApprovalForm').submit(function () {
            if ($('#AssetApprovalForm').valid()) {
                $('#cover-spin').show();
            }
        });

    </script>
}
