﻿@using Garage.Utils
@using Garage.Models
@{
    var assetTrackList = (List<AssetTrack>)ViewBag.AssetTrack;
    var trackUserRoles = assetTrackList.Select(t => t.UserRole).ToList();
    var product = (Product)ViewBag.Product;
    var userListMap = (Dictionary<int, UserRegistration>)ViewBag.UserListMap;
    var currentUserRole = AppUtils.getCurrentUser().user.Role;
    var lastRoleId = assetTrackList.OrderByDescending(p => p.CreatedDate).FirstOrDefault().UserRole;
    var currentRoleEnum = ((AppEnumeration.Role)lastRoleId) + 1;
    var currentRole = Enum.IsDefined(typeof(AppEnumeration.Role), (int)currentRoleEnum) ? EnumHelper<AppEnumeration.Role>.GetDisplayValue(currentRoleEnum) : "";

    var disposedDate = "";
    if (product.ApprovalReq)
    {
        var cfoEntry = assetTrackList.Where(at => at.UserRole == (int)AppEnumeration.AdminRole.CFO).FirstOrDefault();
        if (cfoEntry != null)
        {
            disposedDate = cfoEntry.CreatedDate.ToString("dd-MM-yyyy");
        }
    }
    else
    {
        var corpInternalAuditEntry = assetTrackList.Where(at => at.UserRole == (int)AppEnumeration.AdminRole.CorpInternalAudit).FirstOrDefault();
        if (corpInternalAuditEntry != null)
        {
            disposedDate = corpInternalAuditEntry.CreatedDate.ToString("dd-MM-yyyy");
        }
    }

}
<style type="text/css">
    .no-drop {
        cursor: no-drop;
    }
    .approver-name-track {
        color: #808080;
    }
</style>

<div class="modal-dialog modal-md">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header mytheme_header">
            @product.ProductName
            <div class="right_header">
                <a class="btn btn-danger"  style="display:none" href="@Url.Action("AssetTrack", "Product", new { id = product.Id, print = true})">Export</a>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body mytheme_body">
            <div class="card bg-light p-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div>Quantity : <b>@((int)product.Quantity)</b></div>
                    </div>
                    @if (!string.IsNullOrEmpty(disposedDate))
                    {
                        <div class="col-md-12 col-sm-12">
                            <div>Disposed Date : <b>@(disposedDate)</b></div>
                        </div>
                    }
                    <div class="col-md-12 col-sm-12">
                        <div>School : <b>@(product.Location)</b></div>
                    </div>
                </div>
            </div>
            <ul class="timeline">
                @foreach (AppEnumeration.Role userRoleValue in Enum.GetValues(typeof(AppEnumeration.Role)))
                {
                    var assetTrack = assetTrackList.Where(t => t.UserRole == (int)userRoleValue).FirstOrDefault();
                    if (assetTrack != null)
                    {

                        var role = EnumHelper<AppEnumeration.Role>.GetDisplayValue(userRoleValue);
                        var approvedDate = assetTrack.CreatedDate.ToLongDateString();
                        var approvedTime = assetTrack.CreatedDate.ToShortTimeString();

                        if (userRoleValue == AppEnumeration.Role.ICTEngineer)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">
                                    POST -<span class="approver-name-track">@(" " + userListMap[assetTrack.UserId].FullName)</span>
                                </div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }

                        <li class="track_list track_done">
                            <div class="timeline_title">
                                @role.ToUpper() -<span class="approver-name-track">@(" " + userListMap[assetTrack.UserId].FullName)</span>
                            </div>
                            <div class="float-right">@approvedDate</div>
                            <div class="time">@approvedTime</div>
                        </li>
                        if (!string.IsNullOrEmpty(product.MsoNote) && (userRoleValue == AppEnumeration.Role.MSO))
                        {
                            <div class=""><strong>Remarks : </strong>  @product.MsoNote</div>
                        }
                        if (!string.IsNullOrEmpty(product.FinanceNote) && (userRoleValue == AppEnumeration.Role.Finance))
                        {
                            <div class=""><strong>Remarks : </strong> @product.FinanceNote</div>
                        }
                        if (!string.IsNullOrEmpty(product.PrincipalNote) && (userRoleValue == AppEnumeration.Role.Principal))
                        {
                            <div class=""><strong>Remarks : </strong> @product.PrincipalNote</div>
                        }

                        if (!string.IsNullOrEmpty(assetTrack.Remarks) && ((int)userRoleValue == (int)AppEnumeration.AdminRole.CorpIT))
                        {
                            <div class=""><strong>Remarks : </strong> @assetTrack.Remarks</div>
                        }
                        if (!string.IsNullOrEmpty(assetTrack.Remarks) && ((int)userRoleValue == (int)AppEnumeration.AdminRole.VPCorpIT))
                        {
                            <div class=""><strong>Remarks : </strong> @assetTrack.Remarks</div>
                        }
                        if (!string.IsNullOrEmpty(assetTrack.Remarks) && ((int)userRoleValue == (int)AppEnumeration.AdminRole.CorpFinance))
                        {
                            <div class=""><strong>Remarks : </strong> @assetTrack.Remarks</div>
                        }
                        if (!string.IsNullOrEmpty(assetTrack.Remarks) && ((int)userRoleValue == (int)AppEnumeration.AdminRole.CorpInternalAudit))
                        {
                            <div class=""><strong>Remarks : </strong> @assetTrack.Remarks</div>
                        }
                        if (!string.IsNullOrEmpty(assetTrack.Remarks) && ((int)userRoleValue == (int)AppEnumeration.AdminRole.SVPTreasury))
                        {
                            <div class=""><strong>Remarks : </strong> @assetTrack.Remarks</div>
                        }
                        if (!string.IsNullOrEmpty(assetTrack.Remarks) && ((int)userRoleValue == (int)AppEnumeration.AdminRole.CFO))
                        {
                            <div class=""><strong>Remarks : </strong> @assetTrack.Remarks</div>
                        }
                        if (userRoleValue == AppEnumeration.Role.CFO)
                        {
                            <li class="track_list track_done">
                                <div class="timeline_title">
                                    DISPOSAL -<span class="approver-name-track">@(" " + userListMap[assetTrack.UserId].FullName)</span>
                                </div>
                                <div class="float-right">@approvedDate</div>
                                <div class="time">@approvedTime</div>
                            </li>
                        }
                    }
                    else
                    {
                        var role = EnumHelper<AppEnumeration.Role>.GetDisplayValue(userRoleValue);
                        if (userRoleValue == currentRoleEnum)
                        {
                            <li class="track_list track_current">
                                <div class="timeline_title">@role.ToUpper()</div>
                                @if (currentUserRole == (int)AppEnumeration.Role.ICTEngineer)
                                {
                                    var userRoleValueId = (int)userRoleValue;
                                    <a href="#" class="product-approval-mail" id="sendRemainderButton" data-url="@Url.Action("ApprovalMail","Product", new { productId=product.Id, userRole=userRoleValueId})">Send Reminder</a>
                                }
                            </li>
                            if (userRoleValue == AppEnumeration.Role.CFO)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">DISPOSAL</div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="track_list track_next">
                                <div class="timeline_title">@role.ToUpper()</div>
                            </li>
                            if (userRoleValue == AppEnumeration.Role.CFO)
                            {
                                <li class="track_list track_next">
                                    <div class="timeline_title">DISPOSAL</div>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".product-approval-mail").click(function (e) {
            e.preventDefault();
            //prevent click url
            $("#sendRemainderButton").removeClass("product-approval-mail");
            $("#sendRemainderButton").addClass("no-drop");

            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.isSend) {
                    //alert("Email has been sent");
                    $("#sendRemainderButton").addClass("product-approval-mail");
                    $("#sendRemainderButton").removeClass("no-drop");
                    $("#sendRemainderButton").text("Reminder Email Sent");
                }
                //restore click url
            });
        });

        
         $("#sendRemainderButton").on("contextmenu",function(){
	       return false;
	    });

    });
</script>
