﻿@using Garage.Utils
@using Garage.ViewModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "Sold Products";
    var soldProducts = (List<SoldProductDetail>)ViewBag.SoldProducts;
}

<div class="page_content">

    <div class="page_title_name">Asset Transferred</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a class="fillter_button" href="@Url.Action("Dispatched","Product",new { print = true })"><i class="fa fa-print"></i> Export to PDF</a>
        </div>
    </div>

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="*" class="th-sm">
                            Asset
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            Transferred From
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            Transferred to
                        </th>
                        <th class="text-right th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th class="text-right th-sm d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th class="text-center d-none d-md-table-cell">
                            Published Date
                        </th>
                        <th class="text-center th-sm d-none d-md-table-cell">
                            Transfer Date
                        </th>
                        <th class="text-center th-sm d-none d-md-table-cell">
                            Pick Up Date
                        </th>
                        <th class="th-sm text-center">
                            Track
                        </th>
                        <th class="th-sm text-center">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProducts.Count > 0)
                    {
                        foreach (var soldProduct in soldProducts)
                        {
                            <tr>
                                <td class="th-sm">
                                    @soldProduct.Product.ProductName <br />
                                </td>
                                <td class="th-sm d-none d-md-table-cell">
                                    @soldProduct.SoldSchool.SchoolName <br />
                                </td>
                                <td class="th-sm d-none d-md-table-cell">
                                    @soldProduct.School.SchoolName <br />
                                </td>
                                <td class="text-right th-sm d-none d-md-table-cell">
                                    @((int)soldProduct.ProductOrder.Quantity)
                                </td>
                                <td class="text-right th-sm d-none d-md-table-cell">
                                    @(soldProduct.ProductOrder.ProductValue)
                                </td>
                                <td class="text-center th-sm d-none d-md-table-cell">
                                    <p>@(soldProduct.PublishedDate.Value.ToString("dd-MM-yyyy"))</p>
                                </td>
                                <td class="text-center th-sm d-none d-md-table-cell">
                                    <p>@(soldProduct.OrderApprovedDate.Value.ToString("dd-MM-yyyy"))</p>
                                </td>
                                <td class="text-center th-sm d-none d-md-table-cell">
                                    <p>@(soldProduct.PickUpDate.Value.ToString("dd-MM-yyyy"))</p>
                                </td>
                                <td class="text-center th-sm">
                                    <a class="table_list_ic asset-transfer-track" href="#" data-url="@Url.Action("AssetTransferTrack","Product",new { id= soldProduct.SoldProduct.Id})"><img src="~/Content/images/tack.svg" /></a>
                                </td>
                                <td class="text-center th-sm">
                                    <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","Product",new { id= soldProduct.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>