﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "Disposed Assets";
    var disposedProductList = (List<AssetDisposed>)ViewBag.DisposedAssets;
}

<div class="page_content">

    <div class="page_title_name">Asset Disposed</div>
    <div class="category_fillter_top">
        <div class="padding_left">
            <a class="fillter_button" href="@Url.Action("DisposedAssets","Product",new { print = true })"><i class="fa fa-print"></i> Export to PDF</a>
        </div>
    </div>

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Asset
                        </th>
                        <th class="th-sm d-none d-md-table-cell">
                            School
                        </th>
                        <th class="text-right th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th class="text-right th-sm d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th class="text-center th-sm d-none d-md-table-cell">
                            Posted Date
                        </th>
                        <th class="text-center th-sm d-none d-md-table-cell">
                            Disposed Date
                        </th>
                        <th class="th-sm">
                            Track
                        </th>
                        <th class="th-sm">
                            Preview
                        </th>
                        @if (AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.AdminRole.CorpIT)
                        {
                            <th class="th-sm" width="10%">
                                Take Action
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (disposedProductList.Count > 0)
                    {
                        foreach (var disposedProduct in disposedProductList)
                        {
                            <tr>
                                <td class="th-sm">
                                    @disposedProduct.Product.ProductName
                                </td>
                                <td class="th-sm d-none d-md-table-cell">
                                    @disposedProduct.School.SchoolName
                                </td>
                                <td class="text-right th-sm d-none d-md-table-cell">
                                    @((int)disposedProduct.Product.Quantity)
                                </td>
                                <td class="text-right th-sm d-none d-md-table-cell">
                                    @(disposedProduct.Product.UnitValue)
                                </td>
                                <td class="text-center th-sm d-none d-md-table-cell">
                                    @(disposedProduct.PostedDate.ToString("dd-MM-yyyy"))
                                </td>
                                <td class="text-center th-sm d-none d-md-table-cell">
                                    @(disposedProduct.DisposedDate.ToString("dd-MM-yyyy"))
                                </td>
                                <td class="text-center th-sm">
                                    <a class="table_list_ic asset-track" href="#" data-url="@Url.Action("AssetTrack","Product",new { id= disposedProduct.Product.Id})"><img src="~/Content/images/tack.svg" /></a>
                                </td>
                                <td class="text-center th-sm">
                                    <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","Product",new { id= disposedProduct.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                                </td>
                                @if (disposedProduct.Product.Status == (int)AppEnumeration.ProductStatus.Disposed && AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.AdminRole.CorpIT)
                                {
                                    <td class="text-center th-sm">
                                        <a class="table_list_ic" href="@Url.Action("DisposeAsset","Product",new { id= Garage.Security.DataProtection.Encrypt( disposedProduct.Product.Id.ToString())})"><img src="~/Content/images/action.svg" /></a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        var colspan = "8";
                        if (AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.AdminRole.CorpIT)
                        {
                            colspan = "9";
                        }
                        <tr>
                            <td class="text-center" colspan="@colspan">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section footerscript {
    <script>
        $(document).ready(function () {


        });
    </script>


}
