﻿@using Garage.Utils
@using Garage.ViewModels
@using Garage.Models
@model Garage.ViewModels.ProductForm

@{

    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Edit Asset";
    var location = AppUtils.getCurrentUser().school.SchoolName;
    var city = (AppEnumeration.City)(Convert.ToInt32(Model.productViewModel.City));
    var product = (Product)ViewBag.Product;
    var rejectedUser = (UserRegistration)ViewBag.User;
}

@section headerlink {

    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />
    <style type="text/css">
        .krajee-default .file-footer-caption {
            margin-bottom: 5px
        }

        .krajee-default.file-preview-frame .kv-file-content {
            width: 170px;
            height: 160px;
        }
    </style>
}

<div class="page_content">

    <div class="page_title_name">Edit Asset Reuse / Disposal</div>
    <div class="category_fillter_top">
        @*<div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>*@

        <div class="padding_left">
            <a href="@Url.Action("Draft", "SchoolAdmin")" class="fillter_button">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>


    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            @*<div class="modal-header mytheme_header">
                Edit Asset Reuse / Disposal
                <div class="right_header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>*@
            @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { role = "form", id = "ProductEditForm", enctype = "multipart/form-data" }))
            {
                @Html.Hidden("isNewProduct", false)
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.productViewModel.Id)
                <!-- Modal body -->
            <div class="modal-body mytheme_body">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.HiddenFor(m => m.productViewModel.Id)
                                @Html.LabelFor(m => m.productViewModel.ProductName, "Title of the Asset")
                                @Html.TextBoxFor(m => m.productViewModel.ProductName, new { @class = "popup_textBox" })
                            </div>
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.productViewModel.Description, "Description / Specification")
                                @Html.TextAreaFor(m => m.productViewModel.Description, new { @class = "popup_textBox", id = "product_description" })
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                @{ var parentCategoryList = (List<SelectListItem>)ViewBag.ParentCategoryList; }
                                @Html.LabelFor(m => m.productViewModel.CategoryId, "Category")
                                @Html.DropDownListFor(m => m.productViewModel.CategoryId, parentCategoryList, "Select Category", new { @class = "popup_textBox", id = "category" })
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                @{ var subCategoryList = (List<SelectListItem>)ViewBag.subCategoryList; }
                                @Html.LabelFor(m => m.productViewModel.SubCategoryId, "Sub Category")
                                @Html.DropDownListFor(m => m.productViewModel.SubCategoryId, subCategoryList, "Select Sub Category", new { @class = "popup_textBox", id = "sub_category" })
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                @Html.LabelFor(m => m.productViewModel.assetType, "Asset Type")
                                @Html.DropDownListFor(model => model.productViewModel.assetType, EnumHelper.GetSelectList(typeof(AppEnumeration.AssetType)), new { @class = "popup_textBox", id = "assetType" })
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                @Html.LabelFor(m => m.productViewModel.Quantity, "Quantity")
                                @Html.TextBoxFor(m => m.productViewModel.Quantity, new { @class = "popup_textBox", id = "quantity_select", @type = "number", step = "1" })
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                @{ var ConditionsList = (List<SelectListItem>)ViewBag.Conditions; }

                                @Html.LabelFor(m => m.productViewModel.Condition, "Condition")
                                @Html.DropDownListFor(model => model.productViewModel.Condition, ConditionsList, new { @class = "popup_textBox", id = "condition_select" })
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                @Html.LabelFor(m => m.productViewModel.Reference, "Asset Reference / Tag (PO No.)")
                                @Html.TextBoxFor(m => m.productViewModel.Reference, new { @class = "popup_textBox", rows = "3" })
                            </div>
                            <div class="col-sm-12 form-group">
                                @Html.LabelFor(m => m.productViewModel.DAXReference, "Dax Asset Item Tag")
                                @Html.TextBoxFor(m => m.productViewModel.DAXReference, new { @class = "popup_textBox", rows = "3" })
                            </div>
                            <div class="col-sm-12 form-group">
                                @Html.LabelFor(m => m.productViewModel.ReasonForSelling, "Reason for selling / why can’t re-use within this organisation")
                                @Html.TextAreaFor(m => m.productViewModel.ReasonForSelling, new { @class = "popup_textBox", id = "product_description" })
                            </div>
                            <div class="col-sm-12 form-group">
                                @Html.LabelFor(m => m.productViewModel.Note, "Remarks")
                                @Html.TextAreaFor(m => m.productViewModel.Note, new { @class = "popup_textBox", id = "product_note", rows = "1" })
                            </div>
                            @if ((AppEnumeration.UserRole)AppUtils.getCurrentUser().user.Role == AppEnumeration.UserRole.ICTEngineer && product.RejectedUserId != null)
                            {
                                var role = (EnumHelper<AppEnumeration.Role>.GetDisplayValue((AppEnumeration.Role)rejectedUser.Role));

                                <div class="col-sm-12 col-md-6 form-group">
                                    @Html.LabelFor(m => m.productViewModel.ReasonForReject, "Reson For Reject :")<br />
                                    <h5 class="text-danger"> @product.RejectReason</h5>
                                </div>
                                <div class="col-sm-12 col-md-6 form-group">
                                    @Html.LabelFor(m => m.productViewModel.ReasonForReject, "Rejected By :")<br />
                                    <h5 class="text-danger">@rejectedUser.FullName</h5>
                                </div>
                            }
                        </div>
                    </div>


                    <div class="col-xl-6 col-md-12" id="slider">

                        <div id="myCarousel" class="carousel slide">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner gallery_height">

                                @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                {
                                    <div class="@(image.index==0?"active ":"")carousel-item" data-slide-number="@image.index">
                                        <img src="@Url.Action("ProductImage","FileApi", new { productImageId = image.id })" class="img-fluid">
                                    </div>
                                }

                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                            <!-- main slider carousel nav controls -->


                            <ul class="carousel-indicators list-inline mx-auto px-2 mt-2">
                                @foreach (var image in Model.imageIdList.Select((id, index) => new { index, id }))
                                {
                                    <li class="list-inline-item@(image.index==0?" active":"")">
                                        <a id="carousel-selector-@(image.index)" class="selected" data-slide-to="@image.index" data-target="#myCarousel">
                                            <img src="@Url.Action("ProductImage","FileApi", new { productImageId = image.id })" class="img-fluid_small">
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>

                    </div>

                </div>

              


            </div>

                var currentProductStatus = (AppEnumeration.ProductStatus)product.Status;

                <!-- Modal footer -->

                <div class="modal-footer mytheme_footer">
                    <ul class="product_post_button">
                        <li class="pb-2"><button type="submit" class="btn btn-secondary">Save as Draft</button></li>
                        @if (currentProductStatus == AppEnumeration.ProductStatus.SavedAsDraft)
                        {
                            <li><button type="submit" formaction="@Url.Action("Post","Product")" formmethod="post" class="btn btn-primary">Post your Asset</button></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

</div>

@section footerscript {
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/additional-methods.min.js"></script>
    <script src="~/Scripts/js/datepicker.min.js"></script>
    <script src="~/Scripts/js/fileinput.min.js"></script>

    <script type="text/javascript">
        $("#ProductEditForm").validate({
            ignore: 'input[type=hidden]', // ignore hidden fields
            errorClass: 'text-danger',
            successClass: 'success',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                "productViewModel.ProductName": {
                    required: true,
                    maxlength: 50
                },
                "productViewModel.CategoryId": {
                    required: true
                },
                "productViewModel.SubCategoryId": {
                    required: true
                },
                "productViewModel.Description": {
                    required: true,
                    maxlength: 1000
                },
                "productViewModel.Quantity": {
                    required: true,
                    number: true,
                    min: 1,
                    max: 999
                },
                "productViewModel.UnitValue": {
                    required: true,
                    number: true,
                    min: 0,
                    max: 1000000
                },
                "productViewModel.City": {
                    required: true
                },
                "productViewModel.Location": {
                    required: true
                },
                "productViewModel.OriginalUnitValue": {
                    number: true,
                    min: 0
                },
                "productViewModel.DepreciationValue": {
                    number: true,
                    min: 0,
                    max: function (element) {
                        var maxValue = Number($("#original_value").val());
                        return maxValue;
                    }
                },
                "productViewModel.Condition": {
                    required: true
                },
                "productViewModel.ExpectedRealisable": {
                    number: true,
                    min: 0
                },
                "productViewModel.ActualValue": {
                    number: true,
                    min: 0
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: 500
                }
            },
            messages: {
                "productViewModel.ProductName": {
                    required: "Please Enter Product Name",
                    maxlength: "Please Enter no more than 50 Characters"
                },
                "productViewModel.CategoryId": {
                    required: "Please Select Category"
                },
                "productViewModel.SubCategoryId": {
                    required: "Please Select Sub Category"
                },
                "productViewModel.Description": {
                    required: "Please Enter Description / Specification",
                    maxlength: "Please Enter no more than 1000 Characters"
                },
                "productViewModel.Quantity": {
                    required: "Please Enter Quantity",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Quantity",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.UnitValue": {
                    required: "Please Enter Unit Value",
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.City": {
                    required: "Please Select City"
                },
                "productViewModel.Location": {
                    required: "Please Select Location"
                },
                "productViewModel.OriginalUnitValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value",
                    max: "Please Enter Lesser Value"
                },
                "productViewModel.DepreciationValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"

                },
                "productViewModel.Condition": {
                    required: "Please Select Condition"
                },
                "productViewModel.ExpectedRealisable": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value "
                },
                "productViewModel.ActualValue": {
                    number: "Please Enter Valid Number",
                    min: "Please Enter Minimum Value"
                },
                "productViewModel.ReasonForSelling": {
                    maxlength: "Please Enter no more than 500 Characters"
                }
            }
        });

        $("#category").change(function () {
            var parentCatrgoryId = $(this).val();
            var url = "/Category/sub-category-list?parentCategoryId=" + parentCatrgoryId
            $.get(url, function (data) {

                $("#sub_category").empty().append($("<option />").val("").text("Select Sub Category"));

                $.each(data, function () {
                    $("#sub_category").append($("<option />").val(this.Id).text(this.CategoryName));
                });
            });
        });

        $("#date-of-purchase").datepicker({
            format: "dd-MM-yyyy",
            endDate: new Date,
            autoHide: true
        });

        $('#ProductEditForm').submit(function () {
            if ($('#ProductEditForm').valid()) {
                $('#cover-spin').show();
            }
        });

    </script>
}