﻿@using Garage.Models
@model Garage.ViewModels.SearchAdminProductForm

@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Drafted Products";
    var draftedProducts = (List<Product>)ViewBag.DraftedProducts;
    var searchString = ViewBag.SearchString;
    

}

<div class="page_content">
    @using (Html.BeginForm("RejectedProducts", "Product", FormMethod.Post, new { role = "form", id = "searchAdminProduct" }))
     {
        <div class="page_title_name">Drafted Products</div>
        <div class="category_fillter_top">

            <div class="search_admin">
                @Html.TextBoxFor(m => m.seacrchString, new { @class = "searchData", type = "text", placeholder = "Enter keyword" })
                <button type="submit" id="btn-search" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="padding_left">
                @Html.HiddenFor(m => m.isOlderFirst, new { @value = false })
                @*<button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>*@
                <a class="fillter_button olderFirst" href="@Url.Action("RejectedProducts","Product")" id="older-first"><i class="fa fa-chevron-circle-up"></i>Olders First</a>
            </div>


        </div>
     }
    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%" class="th-sm">
                            Product Name
                        </th>
                        <th width="15%" class="th-sm">
                            Created Date
                        </th>
                        <th class="th-sm text-center" width="10%">
                            View
                        </th>
                        <th class="th-sm text-center" width="10%">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (draftedProducts.Count > 0)
                    {
                        foreach (var product in draftedProducts)
                        {
                            <tr>
                                <td>@product.ProductName</td>
                                <td>@(product.CreatedDate.Value.ToString("dd-MM-yyyy"))</td>
                                <td class="text-center"><a class="table_list_ic product-view-pop" href="#" data-url="@Url.Action("Details","Product",new { id= product.Id})"><img src="~/Content/images/preview.svg"></a></td>
                                <td class="text-center"><a class="table_list_ic" href="@Url.Action("Delete","Product",new { id= product.Id})"><i class="fa fa-remove" aria-hidden="true"></i></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="4">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
