﻿@using Garage.Utils
@using Garage.ViewModels

@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_Header.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuSchoolAdmins.cshtml")
}

@{
    ViewBag.Title = "Asset Sale";
    List<SoldProductDetail> soldProducts;
    var soldProductsList = (List<SoldProductDetail>)ViewBag.SoldProducts;
    if (AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.UserRole.Finance)
    {
        soldProducts = soldProductsList.Where(sp => sp.SoldProduct.Status == (int)AppEnumeration.SoldProductStatus.WaitingForBookValueTransfer).ToList();

    }
    else
    {
        soldProducts = soldProductsList;
    }
}

@section headerlink {
    <link rel="stylesheet" href="~/Content/css/bootstrap-editable.css" />
}

<div class="page_content">

    <div class="page_title_name">Asset Sale</div>
    @*<div class="category_fillter_top">
            <div class="search_admin">
                <input type="text" class="searchData" placeholder="Enter keyword">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="padding_left">
                <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
            </div>
        </div>*@

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="25%" class="th-sm">
                            Asset
                        </th>
                        <th width="25%" class="th-sm">
                            Transfered from
                        </th>
                        <th width="25%" class="th-sm">
                            Transfered to
                        </th>
                        <th width="25%" class="th-sm d-none d-md-table-cell">
                            Purchase Details
                        </th>
                        <th width="5%" class="th-sm d-none d-md-table-cell">
                            Quantity
                        </th>
                        <th width="10%" class="text-right th-sm d-none d-md-table-cell">
                            Value (AED)
                        </th>
                        <th width="15%" class="th-sm d-none d-md-table-cell">
                            Status
                        </th>
                        <th class="th-sm text-center" width="20%">
                            @{
                                var tableheader = AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.UserRole.Finance ? "Action" : "Schedule Dispatch";
                            }

                            @tableheader
                        </th>

                        <th class="th-sm text-center" width="20%">
                            Track
                        </th>
                        <th class="th-sm text-center" width="20%">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProducts.Count > 0)
                    {
                        foreach (var soldProduct in soldProducts)
                        {
                    <tr>
                        <td> @soldProduct.Product.ProductName </td>
                        <td> @soldProduct.SoldSchool.SchoolCode </td>
                        <td> @soldProduct.School.SchoolCode </td>
                        <td class="d-none d-md-table-cell">
                            Approved by :<strong>@soldProduct.School.SchoolName</strong> <br />
                            @if (soldProduct.OrderApprovedDate.HasValue)
                            {
                                <span>Approved Date :<strong>@(soldProduct.OrderApprovedDate.Value.ToString("dd-MM-yyyy"))</strong></span>
                            }
                        </td>
                        <td class="text-right d-none d-md-table-cell">@((int)soldProduct.ProductOrder.Quantity)</td>
                        <td class="text-right d-none d-md-table-cell">
                            <span id="productValue-@soldProduct.SoldProduct.Id">@(soldProduct.ProductOrder.ProductValue)</span>
                        </td>
                        <td class="d-none d-md-table-cell" id="productStatus-@soldProduct.SoldProduct.Id">
                            @{
                                var productStatus = EnumHelper<AppEnumeration.SoldProductStatus>.GetDisplayValue((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status);
                            }


                            <p>@productStatus</p>

                        </td>
                        <td class="text-center">
                            @if ((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status == AppEnumeration.SoldProductStatus.WaitingForSchedule && AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.UserRole.ICTEngineer)
                            {

                                var scheduledDate = "";// (soldProduct.SoldProduct.ScheduledDate.HasValue ? soldProduct.SoldProduct.ScheduledDate.Value.ToString("dd-MM-yyyy") ? "");

                                <a href="#" class="scheduledDate" id="scheduledDate-@soldProduct.SoldProduct.Id" data-type="date" data-pk="@soldProduct.SoldProduct.Id" data-name="scheduledDate" data-value="@scheduledDate" data-url="@Url.Action("Scheduled","Product")" data-title="Schedule Date">PickUp Date</a>

                            }
                            else if ((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status == AppEnumeration.SoldProductStatus.Scheduled)
                            {
                                var scheduledDate = soldProduct.SoldProduct.ScheduledDate.Value.ToString("dd-MM-yyyy");
                                <p>@scheduledDate</p>
                            }
                            else if ((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status == AppEnumeration.SoldProductStatus.WaitingForBookValueTransfer && AppUtils.getCurrentUser().user.Role == (int)AppEnumeration.UserRole.Finance)
                            {
                                <a class="table_list_ic" href="#" data-id="@soldProduct.SoldProduct.Id" data-url="@Url.Action("BookValueTransfer","Product",new { id = soldProduct.SoldProduct.Id})" onclick="transferBookValue(this)">Book Value Transfer</a>
                            }

                        </td>
                        <td class="text-center">
                            <a class="table_list_ic asset-transfer-track" href="#" data-url="@Url.Action("AssetTransferTrack","Product",new { id= soldProduct.SoldProduct.Id})"><img src="~/Content/images/tack.svg" /></a>
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","Product",new { id= soldProduct.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="bookValueTransferModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header mytheme_header">
                    Book Value Transfer
                    <div class="right_header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="modal-body mytheme_body">
                    <h5>Transfer the Book Value of Ordered Assets?</h5>
                    <p class="text-success">Amount of Asset being transferred : AED <span id="popup-amount"></span></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer mytheme_footer">
                    <ul class="product_buy">
                        @*<li>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </li>*@
                        <li>
                            <a id="btnConfirm" href="#" class="btn btn-success">Proceed</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>

@section footerscript {
    <script src="~/Scripts/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.scheduledDate').editable({
                format: 'yyyy-mm-dd',
                placement: 'left',
                viewformat: 'dd-mm-yyyy',
                datepicker: {
                    weekStart: 1,
                    startDate: '0d'
                },
                success: function (response, newValue) {
                    var id = response.soldProduct.Id
                    $('#scheduledDate-' + id).editable('disable');
                    $('#productStatus-' + id).html('Scheduled');
                }
            });

        });

        function transferBookValue(obj) {
            var url = $(obj).attr('data-url');
            var id = $(obj).data('id');
            var amount = $('#productValue-' + id).text();

            $("#popup-amount").text(amount);
            $("#btnConfirm").attr("href", url);
            $('#bookValueTransferModal').modal('show');
        }

    </script>
}