﻿@using Garage.Utils
@using Garage.ViewModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    @RenderPage("~/Views/Shared/_HeaderAdmin.cshtml")
}

@section sidemenu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "Sold Products";
    var soldProducts = (List<SoldProductDetail>)ViewBag.SoldProducts;
}

<div class="page_content">

    <div class="page_title_name">Asset Sale</div>
    @*<div class="category_fillter_top">
        <div class="search_admin">
            <input type="text" class="searchData" placeholder="Enter keyword">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="padding_left">
            <button class="fillter_button" href="#"><i class="fa fa-chevron-circle-up"></i> Olders First</button>
        </div>
    </div>*@

    <div class="admin_list">
        <div class="table-responsive-sm">
            <table id="adminTableDisposal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%" class="th-sm">
                            Asset
                        </th>
                        <th width="40%" class="th-sm d-none d-md-table-cell">
                            Purchase Details
                        </th>
                        <th width="5%" class="th-sm">
                            Quantity
                        </th>
                        <th width="20%" class="th-sm">
                            Posted Date
                        </th>
                        <th width="20%" class="th-sm">
                            Track
                        </th>
                        <th class="th-sm text-center" width="20%">
                            Preview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (soldProducts.Count > 0)
                    {
                        foreach (var soldProduct in soldProducts)
                        {
                    <tr>
                        <td>
                            @soldProduct.Product.ProductName
                        </td>
                        <td class="d-none d-md-table-cell">
                            Sold By :<strong>@soldProduct.SoldSchool.SchoolName</strong> <br />
                            Procured By :<strong>@soldProduct.School.SchoolName</strong> <br />
                            Procured Date :<strong>@(soldProduct.SoldProduct.CreatedDate.ToString("dd-MM-yyyy"))</strong>
                        </td>
                        <td class="text-right">@((int)soldProduct.ProductOrder.Quantity)</td>
                        <td>
                            @{
                                //var productStatus = EnumHelper<AppEnumeration.SoldProductStatus>.GetDisplayValue((AppEnumeration.SoldProductStatus)soldProduct.SoldProduct.Status);
                                var postedDate = DateTime.Now.ToString("dd-MM-yyyy");
                                if (soldProduct.SoldProduct.UpdatedDate != null)
                                {
                                    postedDate = soldProduct.SoldProduct.UpdatedDate.Value.ToString("dd-MM-yyyy");
                                }
                            }

                            <p>@postedDate</p>
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic asset-transfer-track" href="#" data-url="@Url.Action("AssetTransferTrack","Product",new { id= soldProduct.SoldProduct.Id})"><img src="~/Content/images/tack.svg" /></a>
                        </td>
                        <td class="text-center">
                            <a class="table_list_ic product-details-view-pop" href="#" data-url="@Url.Action("Details","Product",new { id= soldProduct.Product.Id})"><img src="~/Content/images/preview.svg" /></a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="6">No Records Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>