
@font-face {
  font-family: 'Genius-Regular';
  src:  url('Genius-Regular.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADqcAA8AAAAAbGgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA6gAAAABoA
AAAcYi2/QUdERUYAADSEAAAAKQAAACwC4gHIR1BPUwAANPQAAAWKAAANrPCtGzZHU1VCAAA0sAAA
AEMAAABQ2kXcak9TLzIAAAHMAAAAUgAAAGBlwtg1Y21hcAAABAAAAAGXAAAB6gxCBvpnYXNwAAA0
fAAAAAgAAAAI//8AA2dseWYAAAdkAAApwwAAToRk3cYpaGVhZAAAAVgAAAA0AAAANhcf/YtoaGVh
AAABjAAAACAAAAAkBvEEM2htdHgAAAIgAAAB3QAAA5DdDjIDbG9jYQAABZgAAAHKAAAByjNmH9pt
YXhwAAABrAAAAB4AAAAgAS0AYW5hbWUAADEoAAABzwAABG6JNlrGcG9zdAAAMvgAAAGBAAACBbPg
G3N42mNgZGBgYGRwtFrW2RHPb/OVgZv5BVCE4RZLzC4Y/f/Nf34WHuZHQC4HAxNIFABiGgyqeNpj
YGRgYHr3n42Bk8Xj/xsGBhYeBqAICngCAHORBSx42mNgZGBgeMIQx8DOAAJMQMzIABJzAPMZACQU
AY8AAHjaY2BiPMI4gYGVgYVpD1MXAwNDD4RmvMtgxPCLgYGJAQYaGBj0gRQXjB8QGRTM4MCg8JuB
6d1/NgYGFnaG50BhQZAckxQzI5BSYGACAM4FDSoAAHjabZO9a5NRFIfPuW+gKYgWsaV2KBKXDJ1e
oRp8h1BK+tKgBG2MW/4CRRAsOllaCFJbHLqU7h2zWTpJBbvERbRDhWLRTdohlopKBX3uhzWEBB5+
556P3HPPSfRY3EdvwBiclapWJTHvYF6SaAB9KYm8lUTvO2Jt47uD3Q+viO1xjuAR51RiU5ZpU+D8
DK5BGa7DTaj6fPkueTPB+RxMSMkUueu5lE2L+sf4VmDZxTxNmKPuQCp6Qs49zhepyaJrcAhP4Ac8
8L2bRfKW0E/kvUG3OG9AQ1Kd9L2jJTNCrIVdR/uIj2EfOY3NAO9dRseJDXP/R2Ln/xzqL+yvUokE
v+0h5+tsja6T8w1snY3Zt+XQJLy3T6b0KfX7Uraqn7Hb9KHE0pBHn/IB3wzxBvXMQmfxFyQ1NbTm
/LEa5mjtmhTV5j6EY+Jn/JyJ2z5juzu3k23Ygbbvy827B5k8utIx/4BelbzjioxyV2y+hPnv9uB2
0KUueJseoLfCvHsQ1ck58vPv5PT+mPvrvP1Sx/y70N/Bnw05/7A7GAraDDtTqchrSTL4owVq5v0O
TzX8buzuzJ5ccP+FVTgh9hPNdvDiP+ayR+/6uzOp21Fq92TewyDfu8muExH7X/sLfieWjAAAAHja
Y2BgYGaAYBkGRgYQeALkMYL5LAwngLQegwKQxcdQx7CO4T+jPKMhYzBjImMFYx3jJKZjTHcURBSk
FOQUlBTUFAwUrBTWKCr9Zvj/H6hPgWEhwwZGOUYDxiDGOKD6Wqh6YQUJBRkFBbB6S5j6/4//H/x/
4P+i/5P+F/3P+B/03++/9T+Ov58f7H2w68HOBzsebH2w5sGSB8b397E+hLqTBMDIxgDXxMgEJJjQ
FQCDgIWVjZ2Dk4ubh5ePX0BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV0/fwNDI2MTUzNzC
0sraxtbO3sHRydnF1c3dw9PL28fXzz8gMCg4JDQsPCIyKjomNi4+IZGhpbW9c+K0OQsXLFqyeOny
lStWrV67Zt36jZs3bdm2ddfO3XtuFCSnZNwqm5+f9aAkk6FtBkMhA0NaKdh12VUMy3bUJ+UynGVg
yKm+zdDQPPXI0QsXr167dHk7w/5TDPfv3mNguFl+5fqdpq7G7o7evv6eyVMYJs2aPfPwufMgAyqA
GAARUI3jAAAAAAAAAAAAAAAAGAAsAF4AqAEIAVoBaAF8AZABrgHCAdAB3gHwAf4CPgJSAoACvALg
AxQDUgNoA6gD6AQGBB4ENARIBF4EmgUIBTgFdAWgBcgF6gYEBjoGUgZeBngGlgasBtQG9gcqB0gH
jAe4B/YICAgwCFgIngjQCPYJFAkmCTQJRglcCWoJeAm4CeYKDgo8CnAKkArMCvALCAsoC0gLVAuK
C64L1gwEDDIMUgyGDKIMxgzwDTYNYA2QDa4N1A3iDggOOg5SDoQOsA7sDx4PMg+ID6YP7hAuEFAQ
YBBuELAQzhDqERIRShFYEXYRkBGiEcAR1hH4EhoSUhKQEuoTJBNcE5IT0BQoFG4UthToFSQVThV4
FagV4hX2FgoWJBZIFngWwhb6FzIXchfMGBQYLBhyGKAYzhkCGUAZbBmQGdIaGBpaGqgbEBtiG7gc
GBxSHI4cyh0MHVgdbB2AHZodvh4GHkgeeB6mHtwfJB9iH4YfxB/uIBggSiCEILog4CEmIWwhuCHQ
IdwiIiJwIsAjCCNSI5Qj0CP6JCQkZCR4JKgktiTEJNIk4CTsJQAlFCUmJTwlWiVsJZQmHCYwJkQm
gCaqJuIm4idCAAB42tV8eXxb1ZXwO+/ZklfZ2hdrsSRLT95tPUnPiyxbtmVtdrwvWWxncUJWYxJI
nEIIEBJIgACFtiyBUFpCS+eDtpSWbQZK24+ZJnSmywBtvwGmv05DgaGldEqbiV++e+97kuU1+X2/
+edzIr0r6b1zzj33rPec9yiaGqYo6gUGKIbKpyheySllvoBXp5E5NiVHLRUWS8VT9Ojc1+/CIwtF
0VSQ1oGRnC+nKDUnd7Lo9b8H5R33Dco7Gfjwww8RQHweersfnVdC2SgKeE6OTiMvJ09ePEdeXBHN
8fCPnl7PoYJDZvRCozvQ68aCG83ohUYF5jvMtOn8+djjsffRHzrg8eMUoiB46Tt0lOmh7BRLVSMs
fk6r08vdrNLK6DUKRq51+t0sr9Mr3X5fAHysMgSg0SsVAPrE6FbDeLS6O8KCzFyzLpi4Zqdx88af
7YXOhzpHhC8ei7YyOZEOOdvllAm/L3T6k1Xq8lAdm9XRmd8aDeaDJ/BE3/a5f56oET6QR+G5zeWQ
lR+nqGwy718Q/qgRXfVUK0XZncBRjhraF6K9VlqjANoh02qstDdE+30r/gDV3UD3CN/s9pny8kw+
8eBPGLMKTW5TYRbcusIPDAj3WgLBviBvsfDoEABNe4PJ7dJoXG5Tw9zhlX+jRJ7+hT5I/w2tmofy
Y9pZmRORiBjIYy5yXp1WI5PrQ9AKelkReHlWAVqNjtFaAX3p97mdDhl9cCI+sbEs2lHRER6a6gxv
TUS/VuzIzWlmnZ90xJ/hAn02sNobQt7ySm/vWk1Fr69xPb9ld8/6Dd0tm5te0dQpFFWhqs7I6xVd
ZXyYVkN9pLKyu6KsJYhlC7AMUncTHhMJDA7mYMmTfrvUDEEmH0tnttxdzOtlxRCs/elPa5+7q+El
et1LDV+e+w0+z4vO84rn6dlAMRKT4k21zz1X+9MfNXyZtn654aW5MyI8OA3fQbgUCJec5VlejwSe
18v18r92t6+5QX8DPUKj9zXtdP7u+q2uvtpjx2r7XFvrybWIUhNtwprl8jv9HJJPTuvUgvzs2djZ
s8Efx8+ejf+Y0Hw79Qa1D89HjzQl2DgWn/0wNR+QwS3Qi38Du98OtwgvQhfI4iJ8inqMmsJzCEha
GyQ6a5HUVTwHXhd5xQEHQWgYFP6JgYuXsI6itW5CPDBi7cly1GT5faEsrzVLi5SHdigYjZXxhhhf
DQ3X7B4KuNRyudoVGJofbtjQ4dLJ5TpXR2qQZ23smhwL8GOTXY1WMuYDeEx/09W0bmh6cF2jy9W4
bnB6aF0TXgNEWwH9X1QOok2JmBvQaZU/WB94SOGlD6/3n1IqbHMsnkMC6VQRotNEUeXgcPMBPsDW
ABI0ORsCJJF6nVwmt9NFwmhpkfr5o3G3KuLxDqiiJQfjTbttTVtb/wkGqjQ/eHEm5mRbuMLBDU2B
fQ9s/ndJXv4Ccwh2OZIXJ7IWVkByEUByXInMiTRwyNlAM1gBSz55B7Pq1kSnMelWhYY3ttfXt6zt
9anX1HXGD6pHD/JV9a235+V+zlFZPRDsGIuPNvkig84b6L39/ITNelVw/MaUfRxF66KkNFjL/HaH
38cD0S8lEhKXXQmfdgs/rM2FHo1FY56aEp4FeJNVFsLZErNBGEwkYFOK/osIjgPR7yD0i1Q7HXJO
5vYrkcratXatpLhQELzOFjMkXcmxsd6eAOjKjEWwTXilyb/v5tvy2tqMHs/m+MCQIV9jhFCRKXle
ccs1O09QkqwUITxWwilHTTYiFzMf2Vu8EDK5hIFBH3QiCcDV9XAuTT7T7LguGuo3tnO1I8Yq2Zq1
Ww8d2NWwVpv1ZCQ5lGdkW1uG2qu+tynQau7UV7A91/rv2rrzOJyqd17aHEtMijJMZyObhOUEK4FX
J4fboUy4B75aopQLv6CfTpbp5sKS/fqMVqH11CILVkF4ssB0ietH7KwOE8kSSslHYKdua/atOzA5
MbvO13y786bJsZNjp4O9vbO9fbmfmwhPWcLTAwcPDkyHLVPhic/B3rH2loGBlvbHhpsC3d2BpmFq
CZ/Aa81GOBVIVpGBQVxBoovMKaZGjT7QThGx4Qr4xABiVHB4KaOEqXonJXJKkivqMWRz5FTRvFWg
F1qHDBsBP0+ZCnStB9mhF9C1Yiwg5/jUdZsaY/Ft5IJ9H34IG8VLsOx9ABfpOrwuoC0ELbiRCF8U
vg6jwoBKRdeNnjs3ClRhVSGh6wX4OTwoxg14EbXYmv1c2AFfwi/oj70XxfLcdekDWibCVPtBp5GD
39UFT6tUwgCMwi9HL2F4l6jRc5IOZaG1tiH/T7mcyHrRPHadWPhZcb0VtFxBa1PzAD5Z5NFa7Hb7
cHKyvXntkZkbtNUOq8lokGKdW0sq2WKNzsSXtoQilVM717uDdUaNUuNQCX9IMYqmkpceYcIIbxc1
gGeuEeW9hhFNJofcN3KOiizkN5m0RcXLzkpr79XR5AJwYN9JHy5Rm2oKy9tmPj/TVl6IB/H6Ia4s
R84yBTWNWxo3nOz1FheYG/sOPXSor9FcsLaxvFZTu2Zi/fqX1/95P6fy9flUMHSwWLOmlx3e0d/Q
0L9jeA0eKNQauRwZeItW1T55eFs9O7R9XU91dc+67UPstXuNRv+xLZtvu02YG++s7PR60RuaG7LJ
9APELpUgntplcmdAxSPr59XrVHqn22V3s8Qiyugc4cUSV59ptk3Xldela5s19emFM2Bu5OWqPJWc
vzD58D54+kxT0xlhYN/E7378JZXqS1g/EfwWBL8AwS/Hdt9O1BKbDhRKIneDGUlsLxnSlchlOTfv
7V9/aNPbb+caa51mg73KokBjXZXdZPM6VW8zsGfTngb+8NS1Caa4pJF1N5iLsxJ0kdFfVtmkz0nF
BX+hx9CamZFcaXRoPigyQPMgwReenRzPSnZi9tqiiWDjwM1Fvdcn3O7E9b1FNw80BieKrp2Fm297
MewfCc/c8egdV4dH/OEX03HuAJmPAc+GQ4Ecljono8RygCbgDH6w5kDE4YgcWHP6dHCdV6/3rgsy
0Hb10e6eo1e30d+buy8wvmP/9vFAyl/TMgRPK/q6lAF3WACbcQ1np2XCGa6lhYN1wpky2Cl8sQzW
Bb20yxtMlP028VlZBgwFpijzemUw4zr6PvES4eEUf/Yi/rixH1zEFqRBKCrFfrEFUBijRH7k6GIG
NY83mM0N481F4Y3f+OxE3jyb/OuvaW2b2eAPsd9NXKJ6Nkv0RRB9yMrYlXalE2UddvSCC8JdySTs
S8JW4WEUxj4NAyhMQef3Ic48LMUw6Ly+JIlfcAz3F3gFfV+I4ibJwPqVmLxfDw3XhFq6BpM35rU2
1w1HaHbulzuuT/MX4y7GXtfNOgl2LsBzyG3RkQ3feNCaTFre2Df5lefvffdu4fOIjBdeuf37f3cs
FUt9gq7NS60NwsXZ4RPhBW+w2wFRtAz3ze0pS+M5h87V4TkyMgfLIEzYCelLJC9P3/wrZMp+lTRo
bNr339faNAZ6Rgjp9fDa3D306yU2VvDBOdZWMteYgjdJ9JICJbYmLKQAgpKeNGjMJuFEEh9gPwNz
jeh6Oi4BmvsePZPyTd9Ea1yEMhMc72UmHuIak8yjBuBHj4qrKx7u3i8urnhIrW34anSYoU+kFti/
Yaat9Zr1kk7EEK25mFqi4Rqka0YcmeBwKgiVU4cOTb33XsvoSOg9Bk68eofwC9g/cWyc0Phd+p9I
rFdF4gyJRmwi9HKUcNTQrGwxtft756ndUrohOysru8A9VtJhXYnu3h/saSxRqlQqppB3VtBnF09B
mkMIzUGF7SCKzzDhiOF2Mf/RaUEpxVk0193b/GYS7Ftv8FcOC0Nvtg0Ntb0e7hb+joGDE60bTC3X
wB+F88lwezKlZ1Ep3nRLMovmwIoRCommyORALyax0HLLYePszMDuaL/3o5N7t1xn2DnCJV3Khmi1
d6S/DuSl/u15dCIaj3VWddjyvM+s213bVWkqZ1WVYVtuvtPfX6+taK8vo8R4m16L5iTHM1KimFPr
hF3Jj2n2Y/p7icS8nexH5xgkO0CEHNtLlNzhoYKGYUt0G29IDo1bWgdtSQO/LS+wcbodfiQ0T59M
7O7Cg/bpjQEqrQePi/bMjoTWTbOcSk3sr0rNyWi5DK6VvMemKeI4tmwmPqXpDDy9T9gjfKxSgQK+
tE8YONMkwWNuR/A8CLpXr9Z5URSq4jmaIQ7WzWKHj8MtmuF0KpQZeHk1vLSmYD9dwMj4Nco++xF1
q7la3sjSZXV58mpzq/qIvU+5hpcxBfR+elONUJqTo/kFjMwInwqxYKn5zaey73/FYy4NwvNQOCM8
9QtNTg68J84N8/MkogVHBZgOYkT0TryaDkQFcp28m+XQUsK4LKt2p6d/7ezBPf2BI6bsvGzTkUD/
noOza/s9O2vhe1mNz4298eUnPr7+p6bsbNNPr//4iS+/MfZco4TjVoRDTXAgO4VYJkeCiOaKZqiH
fo1saN/AkY2F6m514cYjA/uG4ETuoU+ED46r84WXoTNffRx0nxwi9MYQrKRoL0kelYql7XRS8LgN
anhC2AKvoYGwHp4NWuiJRNAy93hKLoyUIMqOHico6BV8bXb2PPN+/OJT8fRawy2inbY7GQ5u6f8v
7BopMa4zQo54fTb2IegFOQjAa+fjzEjqejgH79CfkXjSycqd6gAybu8MHD488GyhoxDO/exnUKlW
p+mhT17ajHFlo2nQJ+eepgfOx6X9gavBiXSMIXA4cMYf3UBffYr4a++lC3CWLhWzAxKfI1KwxEgp
gg1wZonCRxygu6UAvYBt8ZgVORAvHuQm1+/Zam1VFjP17R09lWvb2weBj3Z0+ehSdUkd2+q2Cb9f
Yw3sivXvKMqRx6P+hk7BvnOztsPr6RRt8AW4kIqvcMaGWanEmZQVkCFG6RMJJ1H2VMINFscxxu7t
lZXbu5PorzuRkAWsa5BTOmsN9M/eP9sP7x48cxD9F+URwX4Vzc0o6i74QjAf2qSCHrApkturqrYn
FaMJjucVGK6C57mEjABMcAEELsAlJF79cZ5WAhCn20qO8CyDVqVIY5riRALTK0IMWMF/8RLiSQat
Iux3EK0G7IuyxR0mMXiSOe04iUWk4lzS7sWZpL19o9+we7phpEbHVgp/Yvr64m3u7tnOiAyKcsKy
2v7xwLWnq2O9nkpXZKK8CaHakswJbZf2GDaI+oN3DCyAZRcbPw4hbAbYEC51HDkSn5iIdYTpF9my
4S6hCn7RNRzul/YxkdxeQHRacI6RTSQlzQckxgpAvEVmHAdHLGaFEzMFvoWYIHIZs4TetSl3ZKw0
Hslti3xR4k3emLSCaD3n/s+2A1WtruG7MtYS69LvRLvJzUuIFvt8MW84Go8rY1xsqjxmbJ8KG7FM
2Pz9swnhUyj0j7W2jvnT+eAj9BtI71C0pZLyIDkCGLR4zGaPMk4fx0fz4NzvUOZHX/oI6fmb6Pw8
5PkouRa7WIRTk8qgNGyiszxeQK59JGGoG22ky+feOsE4CBCJ7l+LcYodW0JJvHkO2UMd/Hqz/any
eLz8XtdV3EPcdeXPOP8bEd5hu7Oy8YGKHalY78GMWC8uxXrYj/wQrUMZ8V2Ez8gLK6VhEfbNoSzk
QElsRf8w3tBY25CTG2tssHO5uXFabilrc435AuMTG2DEv8atdbiFp2Ak0GMoKBBG4cUshbNE19Iy
O5Di/TmESzuPK40Aef5z8XiztaW4KM7klZV3uianYcTbbywoFNbCSwiOSXd9L5WW8T8iOIWUPkN/
iJ5nyIpSFBRRgxZoDnmLpoRiXhaJPoIICHs9HMNqQ6Ceh1myrD7SpZLECWcZQAop2OdhexHsP87D
JsLtVKbFPQO2clm7RJciQb54CfySWM/DFvm5k8CmQL6Am7Cz1OnJ4GULnd2uy2SlZOsvwHPoegfy
PemYia0B0WKLO1BaDQqYkPH48+gm88ZgffTm2OTuhHvCZIiFuMYd7kCbY6+M5jq9FeWtFmVvuCtu
KAzbym1tJbkaV5O7p4dK2Qr6q1jy7dghKNN7tkoNMRVdkYmJ+JEj7eH+dmiLnjgRFV5NSvSdQ9qj
xfvRSmITWxGblHgLwO0PLhYX2iQ8RQQGnhQi8wIjyngWgoOkpRSFSugf8vAkhsEbRxzeZYOxGbUF
We1ubVXAQCtoQ6BK263gW/RVsa8/Hxm+5zu8TMZ/557hyPPfbU7DxJpdkY6X0rBwEuFmaPGI2FkL
KXRq2NWdux6yIKfJauy2WniVttaroSMRWuOt1ar4QktuTrfR2pSDTlkPr3qEbzNM8a/37T25+yfu
qros0AofZtVVuX9Sd4h1793362IGiZtEC4VowZmyE9kEcX5ekR4UJqF8THa8RzHj6ImsibYADS3R
NZEex4yip214uOp1duLxe3sAeu59fIJ9verzU1NSHAA/RzBtIu85YrAW2uUWwGKsDMaPsLwpD1vj
vOExWzyS19ql6PaghRM+Pedpb3VCITHEobKR8JizHtSEf3hT6scIPomZaoDETFZAMRP8GOXRKGZy
Cb+GPjRAh1raZ4abYuhduEmkrRo66Us4B1STLQ4kq1hqWX8Ab0rqFfCH7u6KSkUkuXNnMqKorKCb
3+7pebu8SxE17Gn9WN+m/7h1Wh9VdCFYSWSX7xftIva/yTiKvC4aUrHQPB4f2QNG2qCV4USFxTUZ
3n1vJpbubroZ49BPSzj2GBCOcoSarNF/wBMwjfnpwgE10VaWWD69KNh6RRbUl7rVWnWeQS7vpOUG
I6te8Nnk/g+NVmcoKCzLyrfq1WhsLCgQx8QuoliQeiq1z4hnk/IuA1LN8Ty9ce4x+kVxxw3bvX+G
H9EJND8zzn4R52S4tkcMAC8V/Ri05Mg4NVbUcuFkYt3atesS8Q6u5jre64W3hF3yGi6cU1WjeHDH
9geLqitzwlyVcABOFl99z8x8nlJA/4myItn0SxsdGDyXip9I5KCV27VBS0lDw/5BxZ6hdq5b4e1+
7bUsiCd0BW/Hn+i9mv5caV8H90T8bUdCih+gi6aYPKTTyHqpWd7twzWkEOh5vVynkevlrMzNqmUa
ogc+t2Ovv87jqffXNZxoqMPDOl89GhorKsoPVFQMHYAu9Pk4+qneA2ydr67hzsZaX50HPKCrOFCO
zxqaz01w3oCiK8QiXH2SMgZdOovA88Evp//kk08+KWUPsnQ+8TX0130i7olLKURuKq1AX504Ia7j
PdRd6VowdvTodVcU/cEM3Hvxbrg7FUNFaAOKx6sovJWh05MEWtwRlYw5tnXpbfp0EqzT+9D3OAJH
ZikA7H9mme2Bm7fXX2dTTwwNJ9aH/kibrb4j29fvMEz21LTbizb8x3OtrtrprhaXF97kTpt7bL6e
gSlrUaQiyvKtBd5HTf1Wb+/A5opIhb7MqQy0/dtmV77G2RToKFSobCKt9DcgSeqCRfPx0nx1DYc5
95J3+nUS8oj/Kan28FdmgClE16qoWooKFAdKdcWyUoZ4hGKsSlKeMR+Va8Ww3ErrZcHzEDt/Xnj+
kX84cvTll48e+Qfozp8YH5/I70x466rym/3+5vzq2hylWpZ4F2K/+53w/Hm44+jf/z3kvfz3wn3H
tmy6Leyvm+iMTNTlqLSyMJG9J6GZyRZzHbXXmmVBUi1bnOqgIC0z2XnNUmksloOvrDoU7AipXHm5
jM3J+mXarPZqezVjqXazdiZbYTHXmA3fstjD3upEblZ2ebldbsmuEv61uaWgChkAwssY1QlztEfk
JeCaKevmXdIRIPDVrwZe0OngsDSgPYGXX+LfNJvflI6iXj5Gl8C3qWxcD7AjjxyEdxOwKyp8fFbK
GeXo93R9lC4R7PAuyFGqm0V54X0YRmupRB6njKrBHgIZX7Gmp0WeHQVzLHrXauSsVxJIxBlVuiT0
e12xyqwL6V0FxWG2pCS/aXSopWlsOG9bLLYtTrPVhoI8i9b89VhRQb3PZIRjI8HmkZHm4IjwadzL
xeOcF9dU6LXUrxbLkxsXnxAOjy/h8yVAV6rTldJ34bFvBx7r5nsoSuiNFN6xw/WNdDiixrWT3tjZ
s7Fz587hCd9yLnr2bFT4dozwpA0egRK07gaS87j5AJuqiOh1GkWWnIOSH+hyC76myrWzOp+jt9Wc
k6fXObRFt8Ij7rxvhIxc7sZGVbmrspTVFxEePwAGBI/FWk6UthlIrX9JjTS9l/8NublZWactk+mt
ToPdris1q3Lsmlp3KKe8xcG2wwN2u7WcLtEaSgM2rcpYYelsZmtsTm9VC8nftwMv5u9qJ8/dO3zf
dnr7V9J5PzyPfAfJL/wyBwl+laSYp+Tg+WjtPbXRaGhvKGpnWeGvKLn4Sn0yWQ/j4rWn4F/ov2Ff
nq0k3qMZB6JOJSg2XXPT9Jl47RQ8KL/2qmuuufgVRnPxI1H+LlCPwQS2cKoFVTTQSwUhDHcb9UMk
Xwpcv9fxSMSwcZcrwB1URJkOfb5P25wrr+cfqi9QFzMDlfkJNWcyZYl2Gh6l/pdY21SnauDXWV3d
eS54FPLt7mRBvlZ4IeVLHgQvWodcnM2qpFKSVuNOVzOFkz7fSd9gn9ncZ4YHNw0Nb948PPRmV7A5
EmkOpmSqEz5J6ySv1yHvzrukI9BYD18IfFX4ojSAPwWwQvIvvSwdsV5huTxO7H4ByotLcTQHHKSo
RzYGCUkr2eUmTpOVcw9F4KWIUCHO60zDjXpF3pcKVfnFVVUNa/B2xiPzUxU2j1sU51Sagm/zp7dL
dlWqSWF8riXYlhPwBfj+fYGwhywpYV+Md6noS3P9DuI5Q2mQD28VsauXmSJcoWb8EJOWu4gFwvrV
9QUnwRlsgayV1Yf42yKSR1hxNUfNYf9JcqNUFZpsONcwfrck0B8lXW6ro1p7w8yRtc3tk8lhu91u
0XqKCkRBn7nV5DJpjHVB9/qdU5WRUEspb9JpitnKkvOpmigj1Q1/QvJH2+qVQ7WT5S5XPXwt/uiG
5SqIUHaKWg4fb9fpOTedqk3KuYDLHpCwM8iGvAZd5foF6FzQLfw2he5Y/I4NF05NzKN7+OtpdClc
bxFcZZedm9zJB7z6y03wX9qam9t2ZJuyl5/l5OQTubnz8zxNcDdeBrcjM1yfj9YvR8ptHpuyKEcj
yw7Q2WqtrUj8mC0TPy5Ln9Ou0uTlWZhcg7ooY4h9LqH3IUKvk6pcfWXoRfHVZVbp3zLCr2VXK5YZ
kqVo+dk8LavWsxf55stxLSvDdy/Lo64l/hzRw3yE7JgRVwzwDnwL2OXOEmQxcIlWSQq8Os7uQgkR
85FwxhsU/vuhwb99V+OxwTeFI7BbuF9dDOvmJn71y6D3zgvwVWDNpoTw18RnxZq/wg7hAckXkTo3
3q0kvojHji6zxq1N7QQXAfFRUI+dlPrOexeUu8VCeO/ncjI8VzT/3dO9UvH7GK6GDzIW0ZPRUs35
J5QW7z4vX7lmsN4vU72eRrqeWcGm3z81H/9cBiYg3V4OpvBnpNFLgaZgvoVgWlehU9LhZQBvTOnt
QuBpfRXhP4TgW7CvWh4DtUjul53BYxnSnomMKViYeNC4FgZFiE8kD8O7ptjC7k+uQXzFjoPxSvxc
dJ5TiS3j95PZiFULzrPirhbEI+xvUVTiVPIpjvxD8vG2IJm/jFwB9eLEiZ2CMJo3zunVIvTF2v1O
clPGlMj1I4tyKHF9zpD6fCmO+Oc7KirxjprUU4HH2uDEe72znXZ752zve8kvpDorvvAebEjA+lR7
BWwQPpbaK4Q/JCT4k8Se1i5XSWdXsqELK+z3e2zFxfM2skj8mLKgy9Xf61awmKme21NoXYqQJ3Mu
U5kXS93YaeNq1kuPznY5nV2z4uHO/et8RqNvnXhwoyXPC8+ceOz4TDg8c/yxE7g+v+Hqm8Ta9k1X
bzhzahl8IlMJIlARtDQhAXCLNlhWwXc1Ep0rxfcWwee5zPxEOVt1kqaUCq6OWVLJNP7TBH/LqvhX
WP1VyZlauPhFC0VjVRqfWEkosiSaHyI0s1hWV1ylxWq26oIVZmjgqqT9eIFm4jxoN60Xe5lBT5aJ
5fRIOsZfvOq2Y1e9+OJVx267Cjreevjht946Nb/m+SgHdYidHPgSN/ZEiLE8R/owFTRD9nn0ajdD
ejlYRge72xvy+8wHEP29nXx+nyXYjIfNiPrkpxVefEz82ZNnMLTt+E0fIt5oDPuevqrvxEyYPosm
0Pb1EbpCO3cYd3KcGZ17U5Pqe+lH8m7A+4crdDVgk7m0s0GN9WnZ7gYmeIpaCptL1cvI/rObDK00
TmKhQYRtG2y1jA9h2KVYd1Kwu3YnTk4vD/stqUa6It2Syiwh3pXWkxVmkLLdIp6HEJ5SrJ8rzGKJ
nC2ZkTdTuJaf2cbFvkvcp/wJ8hl69BkXIpwqPSkxoyBR7ZTJsY+CrUu6HAKIe8t2OsDpU5IfAXxf
SxHeFeedpGGBE7WG5bx+XyV8sCWZ3BIcqlKrq4ZOb7n11i3PP8/A845ge19H0JE4fOP8vrAOwakn
dVhfZiYndSku6FdkSIR1W7LVe9emvQPrb9i4d2+uobZMbFrctClXW2U36azlJYV3qTT0fXWh6Y3T
jXVHp/aRzsXuBrMyK04XGQNlTs5UxBD3gH0r7lkg+a8T72Lhngb9FXYuHEQCbL2S7oWtp/79CvoX
MmmxY73Goi13yEnZVS8hxX3OWk7pq8lmJNr0CvhXtF5XbV5b2dPRXs80dW7ds34S1xEhR2H2tERb
fF0dUR4GMRmdDf5o3LqjP7YrYF0Depu7la0rUQv2To+3Q7t5Z4oG+q9UDpJWTuoVwSogv0KmHE4r
xpVwZpCoydtXwJ00f+g3UPTXgvttYAWPcqWkNi5xLpm5WfBK6J9c3sm0XsmEstLzwftF1VTD0j3x
K1r9GzIsQ/PlpeB4hpXouZw8ZKVlEtNYSzUt3We9Qm15JiOl01wJa49kpHhPXwk/iXww1XQpVUHx
VJvYASRbSpTYyICs1XwzjAvZl5RUKEDsi6GvCm238p/bPLF9U1lrYWF2fUsE0Te1v6rh2sbReiNb
Lvw+f01sTYunXygvbzbmebvbQjycbo/kgDEnJmupn97W3bWvSC4P9yFCx8cron0jrsRaTwMfhaoO
TuPqqqhuhQeYTYmc1qukutKlbaTHyJXa6xTzy2UajaT08h9xdqmZ3Li04ygylJuRXCbzH96VmO8/
imTbpU1SUafeITbHjPFi+6e+XMcQNnzcql1DyNZc/NuKnUPL4MW2jvHyZL1YO9lGE+/gQB4eOwWn
PQTvITM3vqXb3Rbv62NAUcnqakYapncb/Buro+Ec4RNZhKANNJVPRFyVnt5Y9elrA+P9tfDu9lBO
csu8DXmH2Dc76VJL2bfLTvq2lGFjVp+5aNLm6BVnnyXRIOq9B3u/xXp/OU7cmqHyNatzJFPd5+5a
jTepHBYW5roH4r24xc809zvE3WXOwzksi1bv1bgMrQ85z5Q8lc51NYjXy+S68dMpdopXNKbiJQyb
p3+QynXxVe5F3PnX+FRmrZBcv3Vx7BO89N/wW1Kfw16d5cnNqrxevEfJIQXLVtDX0KzcoQCNdG9X
DQ3uSpemszJir64qb3DueHOHoW6YZztMeSBzl4a9OCj2RjsKrQ10U4NFVdlYaXM02yJfu/3a06ev
5Sb669lSZY6px3lz69jOsdbZIU9nizMVM51Da67Fe2V2jnQ+KeginHhjSnRaZNFrAW8h86K1woVa
uQyOxKcnXR1VpfKcuEzXZm2OP2uozc8PaNRFSptnfggjvddrLda8fCECT8qKzf1eyHWqlBaPyi4d
JNn/I1k3sRNJ1PXlO6cOoUW3LdM9RVRsmQ4qail8otMrwH8XycruKwcvwSZ6q8O7F2m9XQkB3JkS
MNVyaFJausxMUrjwWjnx3ZvqZVdmJc7929L1KS62FSxHxOTCFZp7eFm+ZqXpwfaC9EousRcr0HI8
Q086lqNgoXVYju9B6gC8Cu+m9dHut6ewpu5mD8Ktwg33l7hLUv8hp6uPDD8h7/OyQfr+yN7dfM4K
Ys6K7ycDcscgSlTVpOdM7QZlS3X+sKcF0d2EBu4QId32ssWTTFpessiM6o7uG5FjM6jC3TclMNmD
vQHhVSU8cHCwm4eQMtUjcQHOkX5P47JdZFgRlnSSQT0xe0vbyeDLp5bAdBKY+N403NhHY6BY+o8u
Vt5JYiKFpyRlhZeEtaKyzsNEMk72T5enUxT6pcR2zJvTZSi+O3O/5oJkhyyi311K+eJkdMkschaY
32Vm86NMayz2Vv5cyrHErMapLCaxLE70kCSQVjKeZMWIAv87iEufxc95uhVdrXmRuG1sOG/TLjqe
Z+LZI8hAnBc+Ff6z3jkWHikLVR3YRpcJnzpb2z3n0j3FvyV9+Fqx/wnrLNmJVKqwSiDdCMYbBnft
2LFrjPv5PR0d93ScZ94Xzjecfv+0X/iAfnX2a7OzX0v1nOD+tzek2HdpdL76LA5ncOlHK80mUwEH
V58Xvofs21QuVUdyed6KkemZK7if7O3vtIQLqpuqC8L3rH5nGcPvVOrdbr3y4vAq95gxUj/rvyBa
WBy9ZFBzpT3cu9IkwWW7uelhiao5ftW+bpr0N39L2icn8UtKktcnRxbvi6fu8T9KeuXI2cE4jiVE
XjO4r8SJeV2O6Jce0xBiSO6Ayw0yqd6g4+zZXl6JnTngO4uYXwlnOktie/oORhya2sj2tj3xkg5c
eihWwS7hCypcY/r8nqbm3b07Kyt3ci3ha473tV6zLV4Z8iXUyt8mPlOq84bgV4MTd4yO3TEh5TQD
yG7iOzq9xG7iwNC3IIvRSUkM4OKzGCvCfB5z513B4PXTu3dP39DUcKhx1Gv0lAsfGG/vafH0CdZk
xNTBJbtMHXC6DWUuepS5TE8jVdi5k+QrX8HpCr1/yD/WemA4MNIKX2I2x9P5Cq6H4futAul85Uru
upJyl09J7rJvz6o3YFnqN4YXVMlyw6vdjaUpb6tzMVYxuSH0kd7m2qX0rdDhLNH2d5g2baJvhW7n
zbEFyZW8aqXW52i3zJFqR5F0OMr8RlpJvKlVw7BEsMjGbYoQWmwnkOvUnFzmqAVODy1d2/2lcqjr
H/FWRxuUriQ3stNw3Za9Jz/y9kd3D8zMGg+/QMz/jrbmvLL69gptfb/fmZ9rC1eq2HJTZVft7nXP
ePNsHVWdsXg0wXyA3METkynf+Bx5xgGKS/ViCJxaOl6SJp1et4SkP/fudbQF3DsauVDMYJpwJ3ZP
xm6O1gc3mjfdnaJE1tPjbnJpckvaEEvChYZ4V7hXaWktr/B2cky2RIJUh7+VuRHFF7iWvOxO5ZIN
0qW7lo8TFX+CvC+/e/nkgiSBlu7Z+g3yFTpkAXDfV8DtRGoNMh2k5rkP3hZ64Am1wS2E4BFhvdoA
vtT8EvSEJZiYe9wSZH4jzoYWe5qJ/5mHyYow07ybQQbhp+BSG8qEb+IeZ7XhTymQMbjJ7KNjAn6/
JMIESnPJSD+FYFbiPS+FvAgR52RkcuR1eOS65Tx2qTyp+8tpNqeoIC9PlpOVA6Z71PfsM+rYrqPq
mflvp+/QnLCJ39IvZBfm6wrNBdasTTGhf9IZjKW/gIdj1+EvxHu+xsHL0Ol7x8iWuDcdcYyL0QU+
7xEYR/bAsvLeHFALd9kWVffoR1Ys5Yn9iPBKxvNaXhEOwRHSjyj2Kr6c0av48txN9E2p32g7dU7q
eUOsuzXWOMrkf5B63s38b4iN+Dfanvrt0uepc9Qh0hcu/Tb9IeljtcMQuQbnv/j5S+TJMqOxNvRC
V6M/qd814zwgT3NiORiKRUd747ExcqJkFz4PQwSPXMSUwtZGMH74IaHlC3BevK872zl/8wT44s88
E3/22V10C352U4ruL5Jz1elz5x+Qk7qGXPXsszvh6thRfOXR1LXUC2CGBxc896Z9Q3v7hgsT4fBE
ONUzBufIs3GKcGUhsEg3Fz4v52DGe+YjMtLP0ZFjeFkFC57r1EuN/78+2ynrf/qhT1D6P/40qD+s
9qAoIL29POkjTHf2pjt60428ZK06oVI8Ty11GQYX9xam7jv+onhftNrPkbgwc1NRjswTCWfI83nE
Zze42WAoFNE+fEQKFCf3qoER/gvyhTn13knpOQ5HHtaCI2owRI+eQYHioSk83Hoo7B958qhYf6IV
8Euyd2zCmBFaJIC81om8iw34gA63TCOTyB5Kfit5osSWGw7n2kras4qzaMXbJSVvf//776pp1e23
q2j1u98/Lpena1rHiGyzy991mH25OxGhYsXbEqOL71H8//yZY/8XQGwDFwB42tWSP2/aUBTFzzP/
AoqQKjVSK2V46lCRSrGMRzZAcZY0RpRKWY15ASvGTo0NYutX6ifoliVbh479Il16cK7ahKFVxvrJ
7/7e9bn3PD8bwCv1FgoPVw9rYYU6vgpbaOC7cAUvlCVcRVu5wjXU1HvhOvOfhBvoqG/CB2hbr4Wb
ZE+4hZ51L3yIo4pLF1VtcpWXjjtWfPJF2EIbd8IVvMEP4SqO1UvhGlqqL1xn/oNwAyP1WfiA+Z/C
TRxbHeEWcuuj8CHeVeoYIsUttsgQYY4F96XRQYgTRhcOupw1plRoag3jAgUSrgas2FUlVEewmekj
5tCPeq3KlWE0jGvOMyoxTG+3WTRf5LoTnmjX6bp6utVDs10UiR5EWZSEka37caxL1UpnZmWytZmx
9pxNEhoUbIpzk0QF45jJOVMxAvpgbOZFHBA8+LjEBBfc24D/gE/2cIYrjMhjruD5l5OL/qDnT7yz
q5E/njy1ON3v/WB5+tuiyxdyyoGu7TjOM8sfizXjbg545xQHPC2DZVl4w1yK639+BTHQ0UoHOs+C
mVkG2Y1Or/ePF39thKfqZ4v/s59qUw6bpn82M93bSsiXWlK62dhh2XQqPcN0iV8Mg8xAAHjabdFH
bA4AAIbh5/+77L333qNK7VVt7Vl771KjpdSm9iZEwolYkSC2IgSJvUfsi5O9YsdKaLh6ky/v8Tu8
gv7yO0OU//EkcwFBIUKFCRcRCMoqm+xyyCmX3PLIK5/8CiiokMKKKKqY4kooqZTSyiirnPIqqKiS
yqqoqprqaqipltoi1cn8rqueaPU10FAjjTXRVDPNtdBSjFZixYnXWhtttdNeBx110lkXXXWToLse
euqltz766qe/AQYaZLAhhtpmoUVOWu+FxVZbYaOdtgdCLLfAOh99ssoGS5312Aeb7PLFZ19ttcdl
F+01zHBrjHDVSJdccdM1193wUqI7brltn1HeW+u+u+4Z7bW3lhkjyVjjjZNssxQTTZBqkjSTTTHV
K9PMMN1Ms81yzBbp5phrnjfeOe6b7354YL8DfvqVWeSpE555boeHHjnokCOOOuewDOfNd8YSu11w
yulAqJWBsEC4LBFpyUmRkVHR/xwTFxqflpoSTEwMxib8AUo7cLYAAAAAAAAB//8AAnjaY2BkYGDg
A2IVBhBgYmBmYGR4AMQPgZCJ4RHDYyCbBSzDAABRZgSrAAAAeNpjYGRgYOBikGPQYWDMSSzJY+Bg
YAGKMPz/zwCSYczJTE8EijFAeEA5FjDNAcRCUJqF4SEDE4MnkMXI4AkAV4YHYgB42o1XPWwcRRR+
ez77/tYQELGRsSIQVnBOwUKWZTuOnSIyJkY5ZAzYiR1HooAiRBQRzUkpUIRgCyoKhyJdorGEKBDS
XhG5iMUolijSbENFcbQpPC6iiC2Ob97M7s792ESjt7venXvve+97P2PyiKhMp+gseTc//+ZrKlIe
b6jVIv3F++qLW/odmb/wLcf3InmDZd55gb6nX+khHXg5z/de9Ua9be8gdz13O/d330rfjb7n+Vv5
2/k7+Qf5f/tf66/2Pxi4OHB54EnBL3xZeF7cKH5b/KX4V6lcWizdKP1Y+qn0c+lPrIPySHm+fL28
W25WRisTle8qjcrTyjP/7MBF/4J/2V/1b/p3/N+oRDOtJp2DnIfMQxYgy5B1yFXIZiuiPuy6j133
seN3GqQlvP8AcgnyIWQF8jFkFfIJ5FPIZ5A1yB5kH5KHDgEdAjoErESIxDCuI/jm8TVHJ3Edbv2B
aJZbIZ3G1ypkEjLdUvh9QLOMVtAc6wmgR9Ei3r3fkkAVAVUEVBE8kEAWAVEENBGQKHgU0hX2StAG
5Bqet/HtHu4N3HdxH6IxXE1MFMdjsRVDcwzNMTTH0BxDc0w19jeGvzEsxLAQw0IMCzEsxLAQ0xak
AT27kDfoBH4xhqfTuFch70ImIVMceeOHG9nlNLoK0VU2uspGVzFDxh8Ja5qpJj2yES+wH9PsyxOH
X8kRe93iUDQOqUIMFgUsR+FQx+K4mtpXsK9olArsrWRvx1OPH6YeT3Ns1REe986nzON2bx9DBtin
hLnzVvsy5G3GYqLfTPGcSTFFNIFdk8A6BdG4ZruikGTUi7IhgU+B+yZnlYszye3EemY5y2+Z5nc3
F+H/oBAWRYDclpzbifUcoqKYf4+fiohHZHNEwmoEq03+kuTJSRs1AZxBW2znWVM3g8exd4VzQzM1
ndZYYq/J9vodG+btNu6nUt6qTsWYjiBZR4Y7sh1Bo1JApYBKWe6e2ppVNmI6WtLhK0K9KvoBe3aY
O0Xv2MwJgSDokTmB5U6jAX/0MiwHsBzAcgDLgeUroMvQVuMaChCbACgCoAiAIkBsAnSPwPYnkfan
Te5RAqgEc2l4rHMW7WN/juOiK/dNB6dwcivg3jnFPIXAJYBLAJewERHAI4FHAo8AHgE8Angk8Ajg
idJqM/1FAovknmmwCItFwHNteZIt6U4sYUnCkraitUtol9CuNRutO3huQEzXLTh90WW4m0nTi1wW
26svyXcFbIrGOhiU3PHOcNeTHKH32GLCYgSLwmGwbhmsO8zVYbkOy/UO5kLLXGiZC1PmMtbq6L3a
1/ZulCBK+oHrf++ZsGrrat12nKzDKMz0MtdXYKftXe6CZqcCPsW9qWx36Zl8l3vNstPLDd+KK6Ji
dUme3IuWiYQFU0em6+9DfMd6aHuY4fAo/S85Xqpju4g+T6wj15IzRaen9Z42io6nYZenm9wPZ/ha
g24/7Ybz2N0Zfzf2DRvzThTBsfF2sTbtuaQ33qO9Om6H4h3D1t/Ei6jjdKT4dFRrmyQR4hylFcWx
xl1r3MF7fUJKOC45/ArOhtUuP5rgdQY7TN6E9hyVVXL7iSKrZm0jn7I1x7MmxCSaQZZmOdhZFUZf
rWsyNtPJuGbzdMvO5T3OVaM1TLlONNa6Ms/8arCtDnr54/qyZu3k2B9tY9B69uI6TDz0pM7yUuJE
npzRN/j8PMdz1T3LLzgnoH7kyz94OsQvDsHRIfg55Lp2Z7A5Gyw5MzPpLno2DrV1dt3Vs9mRdXcz
OyS6YWRzIeJcuMbTVTpdX2eTRDZJROcVnFcL+F8IlQRfTmD1gfEh+D2ChZMdVfF9ghZ0r6AlnAgu
0Uf0Fq3QFo3TNtY03cOaoQbWLO1inaNHtEdz9BhrniKshf8A9ZSlKAAAeNpjYGBgZACCY6nbT4Ho
s0+Yd8NoAFIuB4wAAA==) format('woff'), url('Genius-Regular.ttf')  format('truetype'), url('Genius-Regular.svg#Genius-Regular') format('svg');
  font-weight: normal;
  font-style: normal; src: local(Genius-Regular), url("Genius-Regular.ttf");
}

	
      .garage1 {background-image: url(../images/garage1.jpg); background-size: cover;display:table-cell; text-align: center;}
      .logo { width:580px;max-width: 90%; margin-top: 30vh}

      .garage2 {background-image: url(../images/garage2.jpg); background-size: cover;margin: 0 auto; width: 100%; background-position: center;  text-align: center;}

      .innovative {width:580px;display: inline-block; max-width: 95%;}

      .garage3 {background-image: url(../images/garage3.jpg); background-size: cover; background-position: center bottom; text-align: left; }

      .env { width:450px; margin-top: 43vh;display: inline-block; max-width: 90%; margin-left:15%;}

      .enter {position:fixed; bottom:10vh; width:100vw; color:#ff6600; text-align:center; z-index:1000;}
     
      .initiative {font-family: Genius-Regular, Genius, Arial !imporant; position:fixed; bottom:0; text-align:left; z-index:1000; font-size:22px; color:#038803; padding:10px;width:100%; margin-left:10px; font-family: "Genius-Regular", Arial, Genius;}
      .white {color:#fff;}

       .next { width: 30px; overflow: hidden; text-indent: 1000px; background: url(../images/next.png) no-repeat; height: 60px; background-size: cover ;margin-right: 1%; }
      .prev { width: 30px; overflow: hidden; text-indent: -1000px;background: url(../images/prev.png) no-repeat; height: 60px;background-size: cover; margin-left: 1%;}

@media screen and (max-width: 660px) {
      .initiative { position:fixed; bottom:20px;text-align:center; z-index:1000; font-size:18px;padding:5px;width:100%; margin-left:0; font-family: "Genius-Regular", Arial, Genius;}
      .env { width:450px; margin-top: 43vh; display: inline-block; max-width: 90%; margin-left:5%;}
      .next { width: 15px;height: 30px; opacity: 0.8 }
      .prev { width: 15px;height: 30px; opacity: 0.8} 
}

@media screen and (max-width: 1280px) {
      .innovative {width:500px; margin-top: 7vh;display: inline-block; max-width: 95%;}

}

@media screen and (max-width: 800px) {
      .innovative {width:500px; margin-top: 7vh;display: inline-block; max-width: 95%;}

}

@media screen and (max-width: 1920px) {
      .innovative {width:500px; margin-top: 15vh;display: inline-block; max-width: 95%;}

}

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #038803;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden; margin-bottom: 8px;
  text-indent: -200%; opacity: 0.5
}
.slides-pagination a.current {
  background: #038803;
}
